[2015-10-14 14:11] JuliusSweetland commented on #73
@ninehundred1 The difference was that the English string "Decrease Opacity" was translated as "Decrease Transparency" in German, and "Increase Opacity" as "Increase Transparency" in German. I swapped the German strings around so that everything is correct. You should see this in the latest pre-release and in the current 'master' branch. Let me know if you think there is a remaining problem with th

[2015-10-14 14:26] ninehundred1 commented on #73
I remember now, there was no clear word for opacity, so i swapped that
around... Forgot that, sorry.

Anyways, I made another pull request, it should all be fine now. I can't
tell about all the error strings, as I have not seen those inside the
Program, but as they are complete strings and not combined words, they
should be fine.

On Wed, Oct 14, 2015 at 10:11 AM, Julius <notifications@github.com>

[2015-10-14 14:31] JuliusSweetland commented on #73
@ninehundred1 Excellent. What about my new strings - are these correct:
Datastream Verarbeitungsmenge:
Kein
Mittel
Tief
Hoch
?

[2015-10-14 14:37] ninehundred1 commented on #73
They should be changed in that comit to:

Keine
Mittel
Niedrig
Hoch

you were close...

2015-10-14 10:32 GMT-04:00 Julius <notifications@github.com>:

[2015-10-14 14:42] fabioemcaldas commented on #73
yes!

On Wed, 14 Oct 2015 at 10:26 Julius <notifications@github.com> wrote:

[2015-10-14 14:48] JuliusSweetland commented on #73
And "Datastream Verarbeitungsmenge:" - is that ok?

[2015-10-14 14:50] ninehundred1 commented on #73
I translated it as rate/Rate, as that seems more indicative of speed and
performance,

Datastream Verarbeitungsrate:

On Wed, Oct 14, 2015 at 10:48 AM, Julius <notifications@github.com> wrote:

[2015-10-14 15:05] JuliusSweetland commented on #73
@ninehundred1 It's not really the speed/performance, it's the amount of post-processing that is being applied to the position data stream. In other words it's sort of the amount of smoothing that is being applied to the (x,y) coordinates that the tracker is producing.

[2015-10-14 15:43] ninehundred1 commented on #73
In that case use

Datastream Verarbeitungsstärke

which means the intensity of processing. Many words are hard to translate,
especially with a defined meaning. If the user would notice a change in
this setting as a smoother track, I think it could also be translated to
Datastream Smoothing or so, but I suppose that is always the question
between what the user experiences and what technically happe

[2015-10-14 15:46] JuliusSweetland commented on #73
Thanks Stephan - I'll make the change tonight.

On Wed, 14 Oct 2015 16:43 Stephan Meyer <notifications@github.com> wrote:

[2015-10-14 16:19] JuliusSweetland commented on #73
I'll also change the French translation to "Niveau de traitement appliqué au flux de données" as my attempt was terrible.

[2015-10-14 20:56] Ar2rZ commented on #73
sorted with tracker, i got exception on this method taskCompletionSource.SetResult(Resources.TOBII_EYEX_CALIBRATION_SUCCESS);
but just once.

[2015-10-14 20:58] Ar2rZ opened #144 "Not handled exception"
got exception while calibrating, but just once:
taskCompletionSource.SetResult(Resources.TOBII_EYEX_CALIBRATION_SUCCESS);

[2015-10-14 20:58] JuliusSweetland commented on #73
@Ar2rZ That's good. Do you know what the exception was?

[2015-10-14 21:00] Ar2rZ commented on #73
i just did screen shot, and then re run again app, did not appear. did not saved the message accidentally. tough will get it again. is just after calibration finished.

[2015-10-14 21:05] JuliusSweetland commented on #73
**French/German** A new pre-release has been created which includes all changes to translations suggested today and a fix that was causing crashes with "combined characters", which are a confusing beast! New version for testing here: https://github.com/JuliusSweetland/OptiKey/releases/tag/v2.2.0_master_pre_release_3

I'll wait a few days, but this is a release candidate now.

[2015-10-14 21:05] JuliusSweetland commented on #73
@Ar2rZ Ok no problem - if you get it again just let me know.

[2015-10-14 21:06] Ar2rZ commented on #73
ok. it probably was not required to create an issue for this exception?

[2015-10-14 21:10] JuliusSweetland commented on #73
@Ar2rZ With no exception details there's not much I could do about it, so don't worry. If you get it again then please open an issue.

[2015-10-14 21:14] Ar2rZ commented on #73
Ok, then remove issue created...

[2015-10-14 21:16] #144 closed

[2015-10-14 21:16] JuliusSweetland commented on #144
Not enough detail to replicate - closing.

[2015-10-14 21:25] Ar2rZ commented on #73
i probably give you a more job then help.. :hammer:

[2015-10-14 21:29] JuliusSweetland commented on #73
@Ar2rZ Actually I was just admiring your work on the Russian branch. I'll commit an update with current master changes merged in shortly.

[2015-10-14 21:43] ninehundred1 commented on #73
One thing I noticed, when I enter a long word (eg Sonntagsarbeit) the word
size decreases to fit the word in the prediction window. When i then start
a new word, it starts with that decreased size, so it doesn't reset to full
size. When i go on ABC key it resizes back, so maybe it missing a reset
size call after the word has been entered.

Also, the edits I made in the last edit aren't included in

[2015-10-14 21:56] Ar2rZ commented on #73
nice work. two sleep buttons on the keyboards.

[2015-10-14 21:58] JuliusSweetland commented on #73
@ninehundred1 I hadn't accepted the pull request. I'm looking at it now. I'll have to take a look into the long word issue tomorrow.

[2015-10-14 21:58] JuliusSweetland commented on #73
@Ar2rZ It's a work in progress. I will add the other keyboard keys tomorrow.

[2015-10-14 22:00] Ar2rZ commented on #73
aa... i see..
its looks ok now any way.

[2015-10-14 22:03] JuliusSweetland commented on #73
@Ar2rZ It will look better when German is released and I can focus on the Russian branch with you properly, but it looks very good already. Great work.

[2015-10-14 22:03] Ar2rZ commented on #73
Lithuanian layout will have similar amount of letters, one less.

[2015-10-14 22:06] JuliusSweetland commented on #73
**French/German** Latest pre-release (#4) including @ninehundred1 latest string fixes available here: https://github.com/JuliusSweetland/OptiKey/releases/tag/v2.2.0_master_pre_release_4

[2015-10-14 22:06] Ar2rZ commented on #73
i just was thinking may be there is sense to separate translation and keyboard layouts? but this probably is specific for non-latin languages only.

[2015-10-14 22:08] JuliusSweetland commented on #73
@Ar2rZ I thought they were separate? Translated strings are in the resource file and keyboards are in separate folders under Views\Keyboards controlled by the KeyboardHost class, no? I'm going to sleep in a minute so I'll have to reply in the morning. Exhausted! Night all.

[2015-10-14 22:13] Ar2rZ commented on #73
bad explanation - for example in the settings, you can choose English keyboard without changing translations on settings/menus/definitions ect. just thinking..

[2015-10-15 06:50] JuliusSweetland commented on #73
@Ar2rZ What would the real world use case for this be? I'm assuming you
mean the ability to specify the keyboard layout, word list language, and UI
prompt language separately.

On Wed, 14 Oct 2015 23:13 Ar2rZ <notifications@github.com> wrote:

[2015-10-15 08:43] Ar2rZ commented on #73
like for android, i can set in settings  which layouts i wanna use- Russian, English,Lithuanian ect, and then on keyboard i have button which is switching between those layouts.

[2015-10-15 08:56] JuliusSweetland commented on #73
So you mean you might have everything in Russian (keyboard layout, word
list, and UI strings), but want to switch to English keyboard layout and
word list only (keeping Russian UI strings) to be able to type an English
word, and then back to Russian?

On Thu, 15 Oct 2015 09:43 Ar2rZ <notifications@github.com> wrote:

[2015-10-15 08:56] Ar2rZ commented on #73
that's correct.

[2015-10-15 09:00] JuliusSweetland commented on #73
I'll have a think.

On Thu, 15 Oct 2015 09:56 Ar2rZ <notifications@github.com> wrote:

[2015-10-15 13:01] ninehundred1 commented on #73
All is fine, except there is are spaces in front of the make window smaller
strings from the auto indent. I can try to make another pull request, but
as that didn't work last time, maybe you can fix it manually in the file on
your master? search for VERKLEINERN and just remove the white space in the
lines below, it is 8 entries I think.

Eg:

<value>NACH
        UNTEN LINKS
VERKLEINERN</value>

Ot

[2015-10-15 13:05] JuliusSweetland commented on #73
Great. You can create a pull request if you have time? Your last pull
request was fine - I just had to manually merge it in. If you sync first,
then make the change I should be able to auto merge your fix.

On Thu, 15 Oct 2015 14:01 Stephan Meyer <notifications@github.com> wrote:

[2015-10-15 13:20] ninehundred1 commented on #73
ok, done

On Thu, Oct 15, 2015 at 9:05 AM, Julius <notifications@github.com> wrote:

[2015-10-15 13:25] JuliusSweetland commented on #73
@ninehundred1 Thank you - that's merged in now. I'll prepare a new pre-release this evening.

[2015-10-15 17:14] Ar2rZ opened #146 "Exception while using Mouse"
in class PontExtentions

return new Point(Convert.ToInt32(points.Average(p => p.X)), Convert.ToInt32(points.Average(p => p.Y)));
OverFlowException
details: {"Value was either too large or too small for an Int32."}

How to reproduce:

on Mouse menu ==> one click ==> try to look at the windows  task bar ==> not finished capture ,look at the somewhere at the main window, the look again on the task ba

[2015-10-15 18:05] Ar2rZ commented on #146
after some time plying with mouse functions is stop capturing(pie is not appearing any more ), although is still showing an arrow, but is doing nothing.. big arrow still following the look. and can be started new OptiKey, old one instance of OptiKey still showing on the screen.

[2015-10-15 18:40] JuliusSweetland commented on #146
Do you have the full stack trace of the exception so I can see exactly where the call is coming from?

[2015-10-15 18:42] Ar2rZ commented on #146
it will be simple fix - put into try and catch for getting x and y.
but i don't know whether is proper fix,
on my system is giving invalid values for mouse movement. in this method
public IObservable<TriggerSignal> Sequence

var pointAndKeyValueSubscription = pointAndKeyValueSource
                            .Where(_ => disposed == false)
                            .Where(tp => tp.Value != null)

[2015-10-15 18:44] Ar2rZ commented on #146
at System.Convert.ToInt32(Double value)
   at JuliusSweetland.OptiKey.Extensions.PointExtensions.CalculateCentrePoint(List`1 points) in F:\Development\GitHub\OptiKey\src\JuliusSweetland.OptiKey\Extensions\PointExtensions.cs:line 18

[2015-10-15 18:48] JuliusSweetland commented on #146
I see. Ok thanks Arthur. I'll take a look soon.

[2015-10-15 18:50] JuliusSweetland commented on #73
**French/German** Pre-release 5 available here for testing: https://github.com/JuliusSweetland/OptiKey/releases/tag/v2.2.0_master_pre_release_5

[2015-10-15 18:55] Ar2rZ commented on #73
how to make that my pointer stays steady?

[2015-10-15 21:16] JuliusSweetland commented on #73
**French/German** Pre-release 6 available here for testing: https://github.com/JuliusSweetland/OptiKey/releases/tag/v2.2.0_master_pre_release_6b

The only change from 5 is the string DIAKRITISCH has been changed to UMLAUTE

[2015-10-15 21:16] JuliusSweetland commented on #73
@Ar2rZ Please email me directly. This thread is getting long so I'd like to keep it only about localisation.

[2015-10-15 22:03] JuliusSweetland commented on #14
@chadkulesa Unit test project is great, thank you. I've already used it to solve that SubString problem with the KeyboardOutputService, so thank you.

[2015-10-15 22:04] JuliusSweetland commented on #88
Fixed in release v2.2.0

[2015-10-15 22:04] #88 closed

[2015-10-15 22:05] JuliusSweetland commented on #57
* Improve fixation triggers by holding onto user focus more deliberately
P218/219 of Gaze interaction and applications of eye tracking.

Virtual expansion of the area being selected.
Grab and hold - keep adding to fixation until a saccade is detected that would move focus away from the selection zone.

[2015-10-15 22:06] JuliusSweetland commented on #39
Adding as a general idea to https://github.com/JuliusSweetland/OptiKey/issues/57

[2015-10-15 22:06] #39 closed

[2015-10-15 22:07] JuliusSweetland commented on #27
Adding as a misc idea to https://github.com/JuliusSweetland/OptiKey/issues/57

[2015-10-15 22:07] #27 closed

[2015-10-15 22:08] JuliusSweetland commented on #69
From Arnaud (https://github.com/amartel/OptiKey)

Install and setup PRESAGE is very easy, especially for you as english is the default language database (English language is generated from single novel "The picture of Dorian Gray" by Oscar Wilde)
1) download the installer for Windows 32 bits (and not the 64bits version) at http://sourceforge.net/projects/presage/files/presage/0.9.1/win32/presage-0

[2015-10-15 22:15] JuliusSweetland commented on #87
Adding to general list of potential ideas (https://github.com/JuliusSweetland/OptiKey/issues/57)

[2015-10-15 22:15] #87 closed

[2015-10-15 22:15] JuliusSweetland commented on #57
Gaze gestures - https://github.com/JuliusSweetland/OptiKey/issues/87

[2015-10-15 22:16] JuliusSweetland commented on #53
I don't think this is a big deal. Closing.

[2015-10-15 22:16] #53 closed

[2015-10-15 22:17] JuliusSweetland commented on #57
tag elements near point-of-gaze w/ colors, IDs, and lines – project to large elements https://github.com/JuliusSweetland/OptiKey/issues/71

[2015-10-15 22:18] JuliusSweetland commented on #71
Adding to big list of potential tasks and closing this for the moment

[2015-10-15 22:18] #71 closed

[2015-10-15 22:18] JuliusSweetland commented on #57
Old and obsolete multi-key selection thought: batch submission of keyboard buttons – Variable dwell time necessary for activation https://github.com/JuliusSweetland/OptiKey/issues/72

[2015-10-15 22:18] JuliusSweetland commented on #72
Adding to big list of potential tasks and closing for now

[2015-10-15 22:19] JuliusSweetland commented on #57
Cross platform support (Linux, OSX) #105

[2015-10-15 22:19] JuliusSweetland commented on #105
Adding to big list of potential tasks and closing for now https://github.com/JuliusSweetland/OptiKey/issues/57

[2015-10-15 22:19] #105 closed

[2015-10-15 22:19] JuliusSweetland commented on #86
This is something that I need to consider and add back as a task later. Closing for now, but it's on my backlog list.

[2015-10-15 22:19] #86 closed

[2015-10-15 22:20] JuliusSweetland commented on #57
Allow cursor position in scratchpad to be controlled https://github.com/JuliusSweetland/OptiKey/issues/110

[2015-10-15 22:20] JuliusSweetland commented on #110
Moving to big list of potential tasks and closing this task for now.

[2015-10-15 22:20] #110 closed

[2015-10-15 22:23] JuliusSweetland commented on #73
**ALL** Question for you - when thinking about French and German I was wondering if a user might need the diacritic characters (accented letters etc) from the CONVERSATION keyboard. It is possible to use OptiKey in conversation only mode, so you never get back to the docked/floating keyboards where you can switch to the diacritic keyboard. If you're working only in the conversation keyboard would

[2015-10-15 22:38] Ar2rZ commented on #73
@JuliusSweetland sure, sorry for making this tread dirty.

[2015-10-15 22:42] ninehundred1 commented on #73
i think you do need umlaute if you want to keep a completely fluent
word flow. I am using a swype keyboard on my current phone without
umlaute and it usually is fine because autocomplete most of the time
suggests the version with the umlaut if needed.
It would be ideal to have the umlaute on the keyboard, they are only ä
ö ü for german, so that is three letters (I didn't want to call the
diacritic

[2015-10-16 08:20] JuliusSweetland commented on #73
@ninehundred1 I'll rename UMLAUT back to DIAKRITISCH - I agree that it's too specific. In terms of being able to quickly select an accented character and then continuing - I like your suggestion, but worry that it's quite a complicated concept for some people and it's technically quite difficult to achieve due to my existing design decisions.

I have an idea that a new setting could be added which

[2015-10-16 08:36] JuliusSweetland commented on #57
Add support for gamepads (so joystick/gamepad buttons can be used for selection) #70

[2015-10-16 08:36] #70 closed

[2015-10-16 08:40] JuliusSweetland commented on #57
BCI - eg "Communication by BCI based on EEG": http://youtu.be/k98_1jSnEv4 https://github.com/JuliusSweetland/OptiKey/issues/27

    http://neurosky.com/ $80
    Lucas Steuber suggested that MND/ALS affects the electrical patterns that can be detected on the surface of the skin, so this may be a dead end.

[2015-10-16 08:41] JuliusSweetland commented on #57
Add auditory trigger https://github.com/JuliusSweetland/OptiKey/issues/26

[2015-10-16 08:41] JuliusSweetland commented on #26
Adding to BACKLOG

[2015-10-16 08:41] #26 closed

[2015-10-16 08:41] JuliusSweetland commented on #57
Add blink trigger https://github.com/JuliusSweetland/OptiKey/issues/22

[2015-10-16 08:41] JuliusSweetland commented on #22
Adding to BACKLOG

[2015-10-16 08:41] #22 closed

[2015-10-16 08:43] JuliusSweetland commented on #57
Touch screen trigger and point source #23

[2015-10-16 08:43] JuliusSweetland commented on #23
Moving to BACKLOG

[2015-10-16 08:43] JuliusSweetland commented on #57
Clarify settings by adding previews, prompts, etc #54

[2015-10-16 08:43] JuliusSweetland commented on #54
Moving to BACKLOG

[2015-10-16 08:43] #54 closed

[2015-10-16 08:43] JuliusSweetland commented on #57
Old and obsolete multi-key selection thought: batch submission of keyboard buttons – Variable dwell time necessary for activation #72

[2015-10-16 08:44] #72 closed

[2015-10-16 08:44] JuliusSweetland commented on #57
Simplify the potentially confusing mental model for docking/window position #134

[2015-10-16 08:44] JuliusSweetland commented on #134
Moving to BACKLOG

[2015-10-16 08:44] #134 closed

[2015-10-16 08:54] JuliusSweetland commented on #146
I think I'll just need to filter out NaN on the point observable. You're using TheEyeTribe in this scenario aren't you? I guess it outputs NaN for x and/or y sometimes, which isn't ideal. I'll put something together for you to test.

[2015-10-16 09:00] Ar2rZ commented on #146
I am using Tobii Eyex,
i did not received EyeTribe yet.

[2015-10-16 09:21] JuliusSweetland commented on #146
TobiiEyeXPointService line 57 change the add logic to:
[code]

[2015-10-16 09:23] Ar2rZ commented on #146
ok, thanks, will try later this evening.

[2015-10-16 09:24] JuliusSweetland commented on #146
Ok. The difference is just the filtering of the NaN values out as they aren't useful.

[2015-10-16 12:01] JuliusSweetland commented on #146
I've checked in this fix (on EyeX and TET) to master so if you update from master you can test and let me know if it helps?

[2015-10-16 12:32] fabioemcaldas commented on #73
For German I am not sure how frequent it is to use diacritics, but in all
latin Languages it is very importante (French, Portuguese, Italian,
Spanish, Romanian). So I believe the diacritics should be included in the
keyboards, at least for this languages!

As for the solution you propose, I think yes, it can be used a "shortcut"
to use the diacritics, through conversation numbers and symbols. And

[2015-10-16 12:38] Ar2rZ commented on #146
looks good, just did a try.

[2015-10-16 13:11] ninehundred1 commented on #73
I checked the latest master build and it looks all fine. So from my side,
German is done.

For German, you only use those four letters, none of the c with the hook on
the bottom kind of stuff. So there isn't really a need to have a diacritic
keyboard at all, but rather just umlaute and those four ä, ö, ü, ß.

So I am not sure how you can rearrange the keyboard, but if you just add
one more row, yo

[2015-10-16 13:53] JuliusSweetland commented on #73
I agree. I'll try to add é, è, ç, à, ù to french and ä, ö, ü, ß to German. I'll post when I have made a new test version.

[2015-10-16 14:31] JuliusSweetland commented on #146
Great. I'll close this issue and include the fix in the next release. Thanks Arthur.

[2015-10-16 14:31] #146 closed

[2015-10-16 15:01] ninehundred1 commented on #73
It looks as if most international keyboards keep around 4 or so extra
letters (most often though with dual function keys), so if you were to
create another 4 or 5 keys, you might be able to fit all those on there
with single functions.
I assume those are the most commonly used ones?

http://kbd-intl.narod.ru/english/layouts

I also added the main conjugations of verbs with umlaute to the dictionar

[2015-10-16 15:18] JuliusSweetland commented on #73
@ninehundred1 Merged - I'll produce a release later if I can. Great website also.

[2015-10-16 15:25] ninehundred1 commented on #73
Ok, I will be on a trip from work from later today until Wednesday, so
won't be able to run any releases after today until then.

One other thing I was thinking, I am not sure how you demo your stuff, I
remember you have a video on the wiki site, but what about putting a little
applet (or how it is called) into a website?
When i first tried out the software it felt a little weird, but now after
tr

[2015-10-16 15:50] JuliusSweetland commented on #73
@ninehundred1 I agree that some sort of training or intro would be great, I just have time to do it. A video might be suitable and take much less time to produce than a working web demo of OptiKey itself. I imagine a short video showing how to download, how to try it out and write your first words using the mouse, and then attachine, calibrating and using an eye tracker would be REALLY useful. Any

[2015-10-16 15:53] ninehundred1 commented on #73
I could make a video, with subtitles I suppose, but i don;t have an eye
tracker camera.

On Fri, Oct 16, 2015 at 11:50 AM, Julius <notifications@github.com> wrote:

[2015-10-16 16:00] JuliusSweetland commented on #73
A demo of how to use OptiKey with a mouse might be useful. Only if you have time.

[2015-10-16 19:32] ninehundred1 commented on #73
I will look at that next week. Maybe you can message me what you want
included, so I know it has all you think it needs (just typing or also
demonstrate how to say browse the web, send an email, play some games, etc).

On Fri, Oct 16, 2015 at 12:00 PM, Julius <notifications@github.com> wrote:

[2015-10-16 19:42] JuliusSweetland commented on #73
Can you drop me an email and I'll work something out
optikeyfeedback@gmail.com

On Fri, 16 Oct 2015 20:32 Stephan Meyer <notifications@github.com> wrote:

[2015-10-16 23:49] DanielHutt commented on #14
I haven't forgotten about this. I just got incredibly sidetracked learning some python. I have a script right now that clones the project folders' structure, copies only the *.cs files, and then appends Test to the filenames while preserving any currently written unit tests.

I'm currently testing the script before I submit a pull request. Sorry for the awesome month long delay!

[2015-10-17 08:02] JuliusSweetland commented on #14
Hi Dan. Not at all. Any time you can give to OptiKey is greatly appreciated
and I don't expect anything from anyone.

Looking forward to seeing what you've learned and how it works.

On Sat, 17 Oct 2015 00:49 Dan Hutt <notifications@github.com> wrote:

[2015-10-17 21:00] JuliusSweetland commented on #73
I am adding the most common diacritics to the French and German keyboards. Here is the before/after of the French keyboard:
![image](https://cloud.githubusercontent.com/assets/4722561/10561270/5d5d8328-751a-11e5-803c-cf4b5a197084.png)
![image](https://cloud.githubusercontent.com/assets/4722561/10561271/6141050a-751a-11e5-8905-221421f5ab78.png)

![image](https://cloud.githubusercontent.com/assets/4

[2015-10-17 21:06] JuliusSweetland commented on #73
And German:
![image](https://cloud.githubusercontent.com/assets/4722561/10561289/3a98f204-751b-11e5-872c-8b32f71b4261.png)

![image](https://cloud.githubusercontent.com/assets/4722561/10561290/4063c718-751b-11e5-866d-6dbea81e4aa1.png)

[2015-10-17 21:32] ninehundred1 commented on #73
Nice

[2015-10-17 21:36] JuliusSweetland commented on #73
@ninehundred1 Thanks. I've just updated the German post above with the "after" screenshots

[2015-10-17 21:44] JuliusSweetland commented on #73
**French/German** New pre-release (number 7) available here: https://github.com/JuliusSweetland/OptiKey/releases/tag/v2.2.0_master_pre_release_7

Main change is the addition of any language specific "special" characters (diacritics) to main alpha and conversation alpha keyboards. Screenshots above in the last few posts.

[2015-10-17 21:59] ninehundred1 commented on #73
I'm out of town until Wednesday, I will run it when back

[2015-10-18 10:37] Ar2rZ commented on #73
once i change on setting pointing device form example: from mouse to TobiiEyex, after restart pointing device still a mouse. is required to set to TrbiiEyex second time. after second is sets to proper device.

[2015-10-18 11:11] JuliusSweetland commented on #73
User settings can be stored in different locations depending on the build,
so if you are running from visual studio and you restart after chasing a
setting, the restarted application may be recognised as a completely
different instance and default all your settings. Take a look at the user
settings directory (this page explains where it is
https://github.com/JuliusSweetland/OptiKey/wiki/Factory-re

[2015-10-18 14:08] Ar2rZ commented on #73
i deleted all settings for OptiKey from App/Roaming,
does not matter how do i run, from exe or from vs, is still required to do twice to apply settings.
will play around, maybe something else is wrong.

[2015-10-18 14:36] Ar2rZ commented on #73
VS was on, once switched off VS is doing as expected.

[2015-10-18 14:37] JuliusSweetland commented on #73
Good stuff. It's not at all obvious.

On Sun, 18 Oct 2015 15:36 Ar2rZ <notifications@github.com> wrote:

[2015-10-19 16:17] JuliusSweetland commented on #73
**ALL** Feedback is good on the German latest pre-release. I will wait for @ninehundred1 (and any other feedback if you have tested this release). If everything is stable I am aiming to create an official release as v2.2.0 at the end of the week and close this thread as it's getting a bit long. I will create a general "Localisation: General" thread for overall discussion, and then specific issues

[2015-10-19 16:36] ninehundred1 commented on #73
Sounds great, I will try it out when back in town Wednesday, and then it should be all ready.

[2015-10-19 16:53] JuliusSweetland commented on #73
Great thanks

On Mon, 19 Oct 2015 17:36 Stephan Meyer <notifications@github.com> wrote:

[2015-10-19 18:32] JuliusSweetland opened #148 "Localisation: General info"
This is a thread for the **general** discussion of localising OptiKey, e.g. the discussion of how the process works, which languages should be done now/next and branches should be created, etc. It is not the place to discuss specific languages - we can create new issues for those - just ask here.

A full guide has been written which explains the technical process of localising OptiKey into a new l

[2015-10-19 18:38] JuliusSweetland opened #149 "Localisation: Spanish"
**1.Transifex translation of UI strings:** 100%

**2.Keyboard layout:**
![image](https://cloud.githubusercontent.com/assets/4722561/13410154/1a9388b6-df2e-11e5-95fb-6e60996626d7.png)
http://ascii-table.com/keyboard.php/071-2

**3.Alphabet:**
a)Letters: 27 individual letters - https://en.wikipedia.org/wiki/Spanish_orthography#Alphabet_in_Spanish
a-z plus ñ (lower and upper case)

b)Diacritics that

[2015-10-19 18:47] JuliusSweetland opened #150 "Localisation: Russian"
**1.Transifex translation of UI strings:** Complete

**2.Keyboard layout:**
"Russian, Belarusian and Ukranian standard keyboards"...
![image](https://cloud.githubusercontent.com/assets/4722561/10587646/f41d7b30-7699-11e5-970c-865ed5b6d76d.png)

"Russian (Typewriter) keyboard"...
![image](https://cloud.githubusercontent.com/assets/4722561/10587659/0493cdc0-769a-11e5-8af9-f8faa78f1b27.png)

Special

[2015-10-20 09:08] Ar2rZ commented on #150
![belarusian](https://cloud.githubusercontent.com/assets/14283948/10602807/72a75598-7712-11e5-9d75-16ae2ae5cd04.png)
![ukranian](https://cloud.githubusercontent.com/assets/14283948/10602814/77d4fd0e-7712-11e5-8907-b9f443969151.png)

[2015-10-20 09:11] Ar2rZ commented on #150
3.Word list: included on the branch
will try to find dictionaries for Ukrainian and for Belorussian languages.

1.Transifex translation of UI strings: 96% - a few strings remain
left strings are not required to translate.. as per my understanding...or?

[2015-10-20 09:17] Ar2rZ commented on #150
functionality for changing layouts on the go? in this case we can leave for moment Ukrainian and Belorussian translation till some body will be able to translate, can be used Russian, as in those countries everybody is speaking Russian.

[2015-10-20 09:23] JuliusSweetland commented on #150
@Ar2rZ I've updated the UI string translation status to 'complete' as you're correct. The remaining strings should be left out.

At the moment I haven't thought of a way to change layouts on the fly (as you suggested that we also need a way to switch between Russian and English, for example). Let's leave that problem for the moment and we can return to it when we have a solution.

[2015-10-20 09:29] Ar2rZ commented on #150
translation for Russian will require to improve..
as i had no time to test this weekend, will try to this this weekend.
how we will deal with those changes made for other functionalities included into other languages layouts? as in Russian it will quiet difficult to add more columns..

[2015-10-20 09:53] JuliusSweetland commented on #150
@Ar2rZ No rush. I'll aim to merge in master at some point this week which will add 1 new column. Hopefully that doesn't make the keys too small, but we'll have to see. I'll post images on here and we can decide.

[2015-10-20 11:07] Ar2rZ commented on #150
what i am worrying about - how it will looks like and how  good eyetracker functionality is on smaller screens?
 as i am testing on 24" display....

[2015-10-20 11:12] JuliusSweetland commented on #150
I'll do my best and then we can review together. I test on a 15.6" screen
so if I can make it work we should be ok

On Tue, 20 Oct 2015 12:07 Ar2rZ <notifications@github.com> wrote:

[2015-10-20 11:56] Ar2rZ commented on #150
ok, thanks.

so, Ukrainian and Belorussian. what we will do about them?
once you finish merge with latest changes, i can include those layouts as well, but ether leave them disabled, or for general translation using Russian, as they will be quiet close, till we have those languages translated..

[2015-10-20 12:01] JuliusSweetland commented on #150
Let's leave them out and only include Russian for now. We can complete
Russian and then branch again to include these as there will be
accompanying changes.

On Tue, 20 Oct 2015 12:56 Ar2rZ <notifications@github.com> wrote:

[2015-10-21 08:50] JuliusSweetland commented on #65
Need to activate the window / set it to focused or foreground before scrolling? WM_MOUSEACTIVATE

[2015-10-21 08:56] JuliusSweetland commented on #57
Auto show/hide when text entry control has focus/is detected

[2015-10-21 08:56] JuliusSweetland commented on #57
Remember: Hide case specific settings for languages with no casing, e.g. Japanese/Chinese

[2015-10-21 09:24] JuliusSweetland commented on #57
Customise cursor with current action and whether magnify is going to be used, e.g. Cursor + Left click icon + Magnify icon

[2015-10-21 09:28] JuliusSweetland commented on #57
Move and resize OptiKey using a mouse at any time, allowing carers to manipulate OptiKey manually and help with setup

[2015-10-21 20:22] ninehundred1 commented on #73
I tried out the new German version with the Umlaute and it looks good. The
dictionary is much better that it now suggests the versions with umlaut
most of the time, and if not, if you click 'next' in the word suggestions,
it comes up. Typing the Umlaute works well also, so I think the whole think
should be pretty much completed.

On Mon, Oct 19, 2015 at 12:54 PM, Julius <notifications@github.com>

[2015-10-21 21:06] JuliusSweetland commented on #73
Excellent. If you can give me specific examples of the behaviour you are describing I can look to make this work better, but otherwise I think I'll release v2.2.0. with German tomorrow. Great work everyone and thank you. OptiKey is going tri-lingual...

[2015-10-21 21:13] ninehundred1 commented on #73
I think it works well and as it it supposed to. So I think you can release
it, and then see what the users will say.

On Wed, Oct 21, 2015 at 5:06 PM, Julius <notifications@github.com> wrote:

[2015-10-21 21:14] JuliusSweetland commented on #73
Ok great. I'll look to release tomorrow.

[2015-10-21 21:16] JuliusSweetland commented on #150
@Ar2rZ Are there any special characters in Russian beyond those on the ALPHA keyboard? I mean characters that should be first on the DIACRITICS keyboard so that they are easy to access.

[2015-10-21 21:34] Ar2rZ commented on #150
no. all letters are on main keyboard.

[2015-10-21 22:00] JuliusSweetland commented on #150
I've just submitted changes to the Russian branch to add keyboard keys to the ALPHA keyboard. The only obvious issue is that the text is now very small on all keys (possibly from how long the Russian string for "Multi-key selection" is. Also the text size between the top keys (e.g. CLEAR) and the bottom keys is out of alignment, but this might be down to something else - I'll investigate tomorrow.

[2015-10-22 09:57] Ar2rZ commented on #150
i did some changes in translation for alpha keyboard.
now they are aligned correctly. but font still smaller then in English..  i don't see the reason why is should be smaller,
one think more - i can't shorten other words, as it  will loose context meaning.

[2015-10-22 10:05] Ar2rZ commented on #150
![001](https://cloud.githubusercontent.com/assets/14283948/10662454/c16cdee6-78ac-11e5-88d9-290748c46acd.png)

[2015-10-22 10:11] Ar2rZ commented on #150
question:
 why on Alpha keyboard is button leading to Alpha?

[2015-10-22 10:12] JuliusSweetland commented on #150
@Ar2rZ It's a temporary issue. I have a new keyboard which I would like to create and add to all other keyboards, which will replace the key pointing to the current keyboard. Until I've created the new keyboard I've just included a self-reference key to keep the layout balanced. It will disappear soon.

[2015-10-22 10:14] JuliusSweetland commented on #150
@Ar2rZ Great thanks. I'll check it out and see if I can figure out what's causing the small text. The sizing of the text is a complicated beast - it relies on the SharedSizeGroup dependency property which attempts to keep grid column sizes in line with each other, as well as the zooming control called a ViewBox. Together they produce difficult to understand behaviour, but I'll dig into it and see

[2015-10-22 10:56] Ar2rZ commented on #150
another thing - capturing filling pie is not in the middle of the key just a bit left. is seems to be on other languages is same.
![002](https://cloud.githubusercontent.com/assets/14283948/10663505/efd7fce6-78b3-11e5-94c5-6b12ea36c9f9.png)
![003](https://cloud.githubusercontent.com/assets/14283948/10663508/f395bd14-78b3-11e5-8a02-3c995e53b3db.png)

[2015-10-22 10:57] JuliusSweetland commented on #150
Good spot - I've just fixed this on master of you want to update from
master?

On Thu, 22 Oct 2015 11:56 Ar2rZ <notifications@github.com> wrote:

[2015-10-22 11:06] Ar2rZ commented on #150
does not matter at the moment..

[2015-10-22 11:24] JuliusSweetland commented on #150
Ok, but in the GitHub application you can update from master at any point
with one click and everything should sync automatically at the moment.

On Thu, 22 Oct 2015 12:07 Ar2rZ <notifications@github.com> wrote:

[2015-10-22 11:26] Ar2rZ commented on #150
ok. thanks.

[2015-10-22 13:09] JuliusSweetland commented on #73
**ALL** v2.2.0 has been released (here: https://github.com/JuliusSweetland/OptiKey/releases/tag/v2.2.0) which includes general updates, updates to French, and the addition of German. Fantastic work everyone.

This thread is long and has served it's purpose so I'll be closing it and continuing in the new "Localisation: General" thread which is located here: https://github.com/JuliusSweetland/OptiKe

[2015-10-22 13:09] #73 closed

[2015-10-22 13:22] JuliusSweetland commented on #148
**Next language?** French & German have been released so we need to look to the next language. Currently Russian is in progress (on the 'Russian' branch), but I think we have capacity to also develop one more language. Here are the complete languages on Transifex:

Dutch (nl)
Portuguese (pt)
Spanish (es)
Italian (it)

My thinking would be to go for Spanish as I can't think of any potential problem

[2015-10-22 23:10] lukeses commented on #148
Hi,
@JuliusSweetland thank you for a great work.

I would like to contribute by creating polish version of OptiKey.
1. Polish project on transifex goes well. We have still 200 words to translate, but I promise Polish translation on transifex will be done in a week.
2. We have some special characters.
Polish keyboard:
![pl-programmers](https://cloud.githubusercontent.com/assets/4325715/10680606/912

[2015-10-23 09:35] JuliusSweetland commented on #148
@lukeses Sounds good, thanks. I can create a branch for Polish when the Transifex translation is complete. In the mean time the word list is probably the most important thing, followed by a new keyboard layout. The obvious issue with the sample keyboard layout is that there appear to be 18 special characters, which will add 4-6 columns to each row if we include them all. We need to consider if the

[2015-10-23 10:47] JuliusSweetland commented on #148
**Issue when publishing some keys where the OS language is set to a language other than English**

When I have been experimenting with OptiKey when I have my Windows language set to other languages, e.g. French, I have noticed that the output from OptiKey into other applications is wrong for keys such as ".". It doesn't matter what language OptiKey is set to, only the OS language as this affects h

[2015-10-23 11:05] Ar2rZ commented on #148
@JuliusSweetland i will install Russian windows on one my VM's. and will see what happening. as per reading on internet is using ctrl+p under ctrl+з. but this is on physical keyboard, which has all appropriate drivers.

[2015-10-23 11:19] JuliusSweetland commented on #148
You should be able to install the Russian language pack on your current
installation and then switch to it for testing. Saves you the trouble of
installing a whole new version

On Fri, 23 Oct 2015 12:05 Ar2rZ <notifications@github.com> wrote:

[2015-10-23 11:26] Ar2rZ commented on #148
you actually right. i have Russian installed on my system. so, it does not matter what language i am using even if Arabic, the short keys are still same. but in OptiKey there is no handling for those short keys cases.

[2015-10-23 11:52] JuliusSweetland commented on #148
It's easy enough for me to map the Russian keys back in, but I'd need to
know which Russian letter is which key in English as the virtual key codes
are all based on the Latin alphabet. For example which Russian character
would you expect to press with ctrl to print a document and would you be
looking for a Russian character in that example, or would your physical
keyboard also have a P which you w

[2015-10-23 12:31] Ar2rZ commented on #148
i understood your question. i will talk to users of Russian keyboard, as i never used Russian keyboard. i will give you an answer some time later.

[2015-10-23 12:34] JuliusSweetland commented on #148
No rush, it's an interesting problem that I'd like to address at some point.

On Fri, 23 Oct 2015 13:32 Ar2rZ <notifications@github.com> wrote:

[2015-10-23 16:01] amartel commented on #148
Hi Julius,
From my point of view, I think there are situations where we have to customize the keyboard layout to help a specific user. For example, my friend Cédric requested to have specific shortcuts like @ or / in the french alpha keyboard (to be able to enter an email address or a web site url without having to change the keyboard or to use the SHIFT key). As he suffered from ALS, his main use

[2015-10-23 17:14] JuliusSweetland commented on #148
@amartel Thanks for your input. FYI I intend to create a new "web browsing" keyboard (I'll create an issue in case anyone wants to help with that?).

In v2.2.0 I added the ability to switch between all keyboards with one key selection, rather than having to move via the menu every time. I've had a look at your 'cederic' branch and I think you can automatically/easily update from my master branch i

[2015-10-23 17:25] amartel commented on #148
Julius,

Well, merging my branch was very easy ;-). I’m looking right now to integrate the requests from my friend but your « web browsing keyboard » may be a good answer. In fact, I just added to the « collapsed mouse menu » the 3 following items:
- Calibrate
- sleep
- magnetic cursor (he found this option VERY useful)

I think that, now, I need some time to find the best customization for Cédric

[2015-10-23 19:55] JuliusSweetland opened #151 "Add support for EyeTech Digital Systems TM5 mini eye tracker"
Here is the link to the QuickLINK 2 API for Windows:
- Download the QuickLINK 2 API at http://www.eyetechds.com/uploads/4/7/3/0/47308795/eyetechquicklink2installer15.04.07.36.exe. Then go into the "C:\EyeTechDS\QuickLINK 2" folder and inside this folder you will see an html link with API documentation.
- Wrappers (including C#) are here: http://answers.eyetechds.com/questions/3/what-languages-and-

[2015-10-23 20:04] JuliusSweetland opened #152 "Add web browsing keyboard"
Add new keyboard with specific web browsing functions (see below).

Need to find somewhere for it on menu, but a key could be added to each keyboard where currently each keyboard includes a self reference (e.g. the ALPHA key on the ALPHA keyboard).

The original request I received outlined the below, but I think the keyboard should only contain specific web browsing functionality and the ability t

[2015-10-23 20:15] JuliusSweetland opened #153 "Split out selection times by groups of keys"
Allow key selection times to be specified for individual keys (or groups of keys for simplicity when setting the completion times). The idea is that the user might want a quick selection time for keys with letters, but slower selection times for suggestions, or when making selections in the menu, or for more impactful selections such as QUIT, or CLEAR.

[2015-10-23 20:31] JuliusSweetland opened #154 "Splash screen at start up is incorrectly sized"
When the splash screen dimensions are calculated at startup they are not calculated from the current window size, but instead seem to be based on the last size of the window (which can be when it closes).

Steps to reproduce:
1.Configure OptiKey to display splash screens at startup (from the management console)
2.Navigate to the MOUSE keyboard
3.If it is expanded then collapse the keyboard
4.Close

[2015-10-23 20:39] JuliusSweetland opened #155 "Animate multi-key selection match so the user doesn't need to look up"
I'm imagining a setting to turn this behaviour on/off and another setting or more to control the behaviour of the animation (how long it displays for, the transparency of it, etc).

When turned on the best match when a multi-key selection is complete will be flashed or animated somehow over the centre of OptiKey, or over the whole of the OptiKey keyboard in a way that allows the user to continue q

[2015-10-23 20:42] JuliusSweetland opened #156 "Auto learn dictionary entries"
New setting to enable/disable this behaviour

Currently the user must manually add new words or phrases to the dictionary. With this setting on OptiKey would identify new words and automatically add them to the dictionary.

Care is needed to ensure that mispelled or incomplete words are NOT added to the dictionary as they would then be suggested as auto-complete and multi-key selection suggestions

[2015-10-23 20:45] JuliusSweetland commented on #57
Support PhraseExpress Text Expander:

(PhraseExpress listens for known combinations of keys and expands them into full text. When used in conjunction with OptiKey this can speed up text entry into other applications, but OptiKey will be unaware of the text expansions and the scratchpad will fall out of step. Below are details from the developer of PhraseExpress on how it works internally so that O

[2015-10-23 20:49] JuliusSweetland opened #157 "Change some settings from within OptiKey"
Currently the management console is inaccessible to people exclusively using OptiKey for computer control as keystrokes on a physical keyboard and the use of a physical mouse are required.

This needs a lot of consideration, but some settings should be accessible from within OptiKey using, for example, an eye tracker. If you are interested in working on this please post your ideas on here for disc

[2015-10-23 21:21] JuliusSweetland commented on #148
Re-calibrate is available on the menu, so should always be one selection away. I'm glad the merge was easy.

I've added a new issue to create the web browsing keyboard: https://github.com/JuliusSweetland/OptiKey/issues/152

Out of interest what does he use to the magnetic cursor functionality for?

[2015-10-24 09:03] amartel commented on #148
Hi Julius,

Magnetic cursor is very useful to manage the eye tracker: When my friend moves sometime his head, the eyetribe looses precision. With magnetic cursor, Cedric knows exactly the gap between "where he looks" and "where the eyetribe thinks he looks". So he can move his head again to correct the precision or/and make a calibration before complely loosing control…
I was watching TV wednesday

[2015-10-24 09:21] JuliusSweetland opened #158 "Add home automation support"
Following a suggestion from @amartel home automation software could be integrated into OptiKey, for example SARAH which is also open source: http://jpencausse.github.io/SARAH-Documentation/?lang=en to command TV, WiFi smart plugs and full other things.

SARAH supports voice commands, but we could include a new keyboard (or keyboards) to trigger calls to SARAH.

[2015-10-24 09:24] JuliusSweetland commented on #148
@amartel I've added a new issue for home automation if you'd like to discuss this further: https://github.com/JuliusSweetland/OptiKey/issues/158

This was something I have had on my TODO list for a while.

[2015-10-24 13:33] JuliusSweetland commented on #69
A big concern is how do we bundle the install and startup/exit of Presage with OptiKey install, startup, and exit? I wouldn't want users to have to install and configure Presage to use it. Ideally OptiKey would include all language specific config which it would send to Presage on startup for the current language.

[2015-10-24 16:01] Ar2rZ commented on #150
i think, filling pie on arrow has to be on the arrow pointing not on the middle of the arrow.
is very distractive, from my point of view..

[2015-10-24 16:28] JuliusSweetland commented on #150
I agree, but it's not really possible as the corner of the pop-up has to be
at the point of interest. Imagine the point of interest is in the very
corner of the screen - the pie animation would be 3/4 cut off by the edge
of the screen.

On Sat, 24 Oct 2015 17:01 Ar2rZ <notifications@github.com> wrote:

[2015-10-24 16:30] Ar2rZ commented on #150
maybe is possible then make the pie more transparent?

[2015-10-24 16:34] JuliusSweetland commented on #150
I'll experiment and see how it looks

On Sat, 24 Oct 2015 17:30 Ar2rZ <notifications@github.com> wrote:

[2015-10-24 16:35] Ar2rZ commented on #150
may be you can point me where i can change the transparency of the pie animation?

[2015-10-24 17:30] amartel commented on #158
@JuliusSweetland : This could be easier as we can interact with SARAH using urls like:
http://[server IP address]:8888/?emulate=sarah+switch+off+light
My current implementation is to add a new action in OptiKey with the following code:
<pre>
                        if (!string.IsNullOrEmpty(keyboardOutputService.Text) && !string.IsNullOrEmpty(System.Configuration.ConfigurationManager.AppSettings["

[2015-10-24 18:13] JuliusSweetland commented on #158
I like the idea. If there is a default SARAH url we should include this in
the setting and have another setting to enable/disable this action (and
key).

So the workflow would be:
Clear the scratch pad
Enter a command
Menu
"Send text to SARAH" key

Is that what you're thinking?

On Sat, 24 Oct 2015 18:30 Arnaud Martel <notifications@github.com> wrote:

[2015-10-24 18:44] amartel commented on #158
Yes, exactly.

If SARAH and OptiKey are installed on the same computer then the url will be:
http://127.0.0.1:8888/?emulate=[text of my command to sarah]

but it will be more difficult to know it when Optikey is running on a computer and SARAH on another. Anyway, I don't think it will be a problem because SARAH is not really intended to be set up by a non experimented user (IMHO)...

Another great

[2015-10-24 18:50] JuliusSweetland commented on #150
In one of the theme resource files, (e.g. Android_Dark.xaml) you can edit the PointSelectionProgressStyle to set the opacity of the progress pie animation. This can be edited as below (the extra bold line):

[code]

and looks like this:

![image](https://cloud.githubusercontent.com/assets/4722561/10712118/5056593e-7a88-11e5-8c4b-6b1078290080.png)

[2015-10-24 18:55] Ar2rZ commented on #150
thanks.
will try.

[2015-10-24 18:55] JuliusSweetland commented on #158
I think this is a particularly powerful addition to OptiKey, but we need to figure out how to add this functionality in a way which looks good to users who will want SARAH integration, but is potentially hidden to other users, e.g. if the setting is enabled then there is a new key in the MENU, but nothing (not even a disabled key) if the setting is disabled. This will be difficult to achieve as th

[2015-10-24 20:56] JuliusSweetland commented on #108
A user (Udo) has recommended this British English (male) voice for 39 EUR (free 30 day trial available): http://harposoftware.com/en/british-english/140-brian-british-english-voice.html

[2015-10-25 13:38] Ar2rZ commented on #150
may be is worth to put information with OptiKey support email and website links and other relevant info on the last tab on 'Settings'?

[2015-10-25 16:05] JuliusSweetland commented on #150
Possibly. The website is on the splash screen.

On Sun, 25 Oct 2015 13:38 Ar2rZ <notifications@github.com> wrote:

[2015-10-26 12:48] JuliusSweetland opened #161 "Add Brain-Computer Interface (BCI) support"
- Look into http://openbci.com/
  $500 board + $500 for Ultracortex (Mark 3) EEG headset kit (or $200 for print it yourself)
- http://youtu.be/k98_1jSnEv4
- http://neurosky.com/ $80 - this may not be focussed enough to work with ALS patients
- Lucas Steuber suggested that MND/ALS affects the electrical patterns that can be detected on the surface of the skin, so this may be a dead end.

[2015-10-26 12:52] JuliusSweetland commented on #149
From an email discussion with Juan:

I find a very impressive Spanish word list made by a team of La Rioja University lead by Juan L. Varona. It is included at least in winedt: http://www.winedt.org/Dict/

247.049 words no less.

The problem is verb conjugation. I'm not sure if you speak Spanish. If it not the case, let me explain: we have 6 persons (as in English), each one with a suffix. Besides

[2015-10-26 20:54] ninehundred1 commented on #148
How to sign up for this threat?

[2015-10-26 20:59] JuliusSweetland commented on #148
You may receive notifications automatically, or you may have to subscribe
to this issue?

On Mon, 26 Oct 2015 20:54 Stephan Meyer <notifications@github.com> wrote:

[2015-10-27 00:50] jerrywaynewalden opened #163 "Add ACAT selection (facial gesture) support"
1. For information about ACAT see the following:
   https://01.org/acat
   https://github.com/01org/acat/releases
   http://blogs.msdn.com/b/cdndevs/archive/2015/08/14/intel-just-open-sourced-stephen-hawking-s-speech-system-and-it-s-a-net-4-5-winforms-app.aspx
2. First investigate referencing a built ACAT assembly to add a facial movement trigger to OptiKey

[2015-10-27 02:05] jerrywaynewalden commented on #161
This is a very complex subject.  BCI and the utility of various methods spans a massive field spanning decades of research. The comment made where Lucas Steuber is referred to has merit when discussing EEG and BCI as a complete and total solution for ALL ALS patients along every stage in decline to the totally locked in state.  However it has been shown in many studies (google "eeg bci als" and yo

[2015-10-27 02:44] jerrywaynewalden commented on #161
One last question regarding the reference as follows "Lucas Steuber suggested that MND/ALS affects the electrical patterns that can be detected on the surface of the skin, so this may be a dead end."

I am no expert so perhaps an expert can comment on my question which is - if those skin patterns were of any significance, they would be used as a diagnostic tool. I have never heard of it, and I rea

[2015-10-27 07:02] JuliusSweetland commented on #163
A reference to a compiled ACAT assembly is preferred/required instead of extracting source code due to the fact that ACAT is licensed under Apache v2.0.

[2015-10-27 09:43] JuliusSweetland commented on #161
@jerrywaynewalden From what you've told me on email you and your father (a patient with ALS) can reliably produce detectable alpha waves, so this is a viable trigger mechanism for OptiKey.

[2015-10-27 10:27] Ar2rZ commented on #150
Russian is ready. will create pull request for rexs files update later today.

[2015-10-27 10:27] Ar2rZ commented on #150
@JuliusSweetland  do you have any other issues/suggestions?

[2015-10-27 10:34] JuliusSweetland commented on #150
@Ar2rZ Thanks Arthur. I'll take a look this evening. Is there anyone who can act as a reviewer if I create a pre-release candidate?

The only other thing I can think of is that for Russian no "letter" keys are simulated as real key presses, so it is not currently possible to perform a CTRL+P type of key press. If you can give me the key mappings (from Russian character to English character) that m

[2015-10-27 11:00] Ar2rZ commented on #150
![russiankeyboard](https://cloud.githubusercontent.com/assets/14283948/10756103/ded6636c-7c99-11e5-9498-b8ab71ecc0bb.png)

[2015-10-27 11:01] Ar2rZ commented on #150
that what you was asking for?

[2015-10-27 11:07] Ar2rZ commented on #150
yop, there will some body, who will review.

[2015-10-27 12:13] JuliusSweetland commented on #150
Can you try an experiment and add mappings from the Russian letters to the
existing key code mapping method in the CharExtensions class and see how it
behaves when you perform ctrl+ key shortcuts? (Don't forget to release the
shift key when testing as it will probably be on by default.

On Tue, 27 Oct 2015 11:07 Ar2rZ <notifications@github.com> wrote:

[2015-10-27 15:24] Ar2rZ commented on #150
ok, i will try now.

[2015-10-27 15:43] Ar2rZ commented on #150
looks good. short keys are working as expected..

[2015-10-27 15:44] JuliusSweetland commented on #150
Great. If you add to the pull request I'll take a look this evening.

On Tue, 27 Oct 2015 15:43 Ar2rZ <notifications@github.com> wrote:

[2015-10-27 20:33] JuliusSweetland commented on #148
**Russian** Pre-release #1 available here: https://github.com/JuliusSweetland/OptiKey/releases/tag/v2.2.2_Russian_pre-release_1

[2015-10-27 20:33] JuliusSweetland commented on #150
**Russian** Pre-release #1 available here: https://github.com/JuliusSweetland/OptiKey/releases/tag/v2.2.2_Russian_pre-release_1

[2015-10-27 20:52] Ar2rZ commented on #150
thanks, will be reviewed in two-three days.

[2015-10-27 21:01] JuliusSweetland commented on #150
No rush.

I thought of a potential issue. If OptiKey is simulating physical key
presses (e.g. pressing the "S" key when the "ы" char is selected), but the
OS language is not Russian, then OptiKey will show "ы" in the scratchpad,
but type "S" into the other application. I might add another setting to be
able to enable/disable physical key simulation. If it is disabled the
actual string (e.g. "ы") w

[2015-10-27 21:16] Ar2rZ commented on #150
i see, i tested with mulitkey selection enabled. so, without multikey  is typing incorrect character..

[2015-10-27 21:21] Ar2rZ commented on #150
it will useful  only for non Latin char sets..

[2015-10-27 21:46] JuliusSweetland commented on #150
That's right, yes. I'll think more about the setting, but it might be
useful and it's an ready thing to add.

On Tue, 27 Oct 2015 21:21 Ar2rZ <notifications@github.com> wrote:

[2015-10-28 10:40] Ar2rZ commented on #150
so, what is the plan? or this fix is part some thing else?

[2015-10-28 10:51] JuliusSweetland commented on #150
Continue without it. I'll add it later.

On Wed, 28 Oct 2015 10:40 Ar2rZ <notifications@github.com> wrote:

[2015-10-28 22:02] AnyKey- commented on #150
it requires a language switch layout. otherwise little use. To change the input language you need to go into the settings.

[2015-10-28 22:07] JuliusSweetland commented on #150
@AnyKey- Do you mean OptiKey needs the ability to easily switch languages?

[2015-10-28 22:07] AnyKey- commented on #150
yes of course

[2015-10-28 22:09] JuliusSweetland commented on #150
What's the use case? To enter individual words in English while generally
typing in Russian (for example)?

On Wed, 28 Oct 2015 22:07 AnyKey- <notifications@github.com> wrote:

[2015-10-28 22:15] AnyKey- commented on #150
or make folder with english name and file in russian. or for people with disabilities. control only through the eyes of how to enter an address and Google search Russian? let's say if a person has no hands, how he pressed ALT+M?

[2015-10-28 22:38] JuliusSweetland opened #167 "Ability to input more than one language at a time/switch between languages for input"
* In order to retain the simulation of physical key presses (e.g. to allow the user to enter shortcuts) I think the virtual key code should be stored on the Key's KeyValue and passed through to the KeyboardOutputService for processing.

* Switching between language keyboards is non-trivial as the simulated key strokes are dependent on the current OS language. Potentially I could drop support for a

[2015-10-28 22:40] JuliusSweetland commented on #150
New issue with some initial thoughts here: https://github.com/JuliusSweetland/OptiKey/issues/167

I'm thinking of adding a new "LATIN"/"ENGLISH" keyboard which can be used to write english words. This keyboard would not support multi-key selection, or auto-complete, only one letter at a time typing (as this is the easiest thing to implement) and would only be available when the OptiKey language is

[2015-10-28 23:19] AnyKey- commented on #150
I propose to improve the product based on the vision of optimal usage. no urgent need. Only letter in English and Russian with auto-complete will be great.

[2015-10-28 23:21] Ar2rZ commented on #167
as per my dual(triple) language user experience it will be good to have some thing like choosing  the keyboard layouts (in settings for example) which can be switched between layouts from main keyboard or from menu. for non-latin language layouts will not require to support shortcuts.
just the opinion.

[2015-10-29 08:55] JuliusSweetland opened #168 "Allow user to switch between languages & handle complexity of OptiKey language being different from OS language/keyboard layout"
*Story 1:* User needs to switch between languages from within OptiKey

**Chosen solution:** New LANGUAGES keyboard?

*Story 2:* When injecting letter/symbol/number keystrokes (using SendInput) we can either:

  1.Output UNICODE characters, which are always received as the output character, but are not detected by applications as physical keystrokes. This means shortcuts etc will not work.
  2.Outp

[2015-10-29 08:56] JuliusSweetland commented on #150
Switching languages presents a few challenges. A method of switching language would be required (which is fine), but it introduces this issue: https://github.com/JuliusSweetland/OptiKey/issues/168

I'll have to think about this for the moment.

[2015-10-29 09:42] Ar2rZ commented on #150
so, if output of virtual keys are related to OS language, then win+space shortcut  will change output language, we can add English letter above Russian for example and will have proper English/Russian  output for the moment. and then later on can be add feature with multiple layouts...
i tested this on win 8.1. is working perfectly..

[2015-10-29 09:55] Ar2rZ commented on #150
English  letter "D" will be in some other place.
 other letters seems to be in same place as in ordinary English layout.

[2015-10-29 09:59] JuliusSweetland commented on #150
@Ar2rZ That's effective, but quite a complex approach. I need to do some experimenting so bear with me for a few days and I'll see what I can come up with. Ideally I'd like to add a new keyboard to the MENU called LANGUAGE which will allow you to switch the keyboard layout and output text, so a user could start OptiKey in Russian, switch to English UK to enter some english text, and then switch ba

[2015-10-31 15:01] JuliusSweetland commented on #167
This issue ties closely with https://github.com/JuliusSweetland/OptiKey/issues/168 - closing this issue and extending issue #168

[2015-10-31 15:01] #167 closed

[2015-11-03 12:15] Ar2rZ commented on #168
why don't leave as it is? as you said - there is no perfect solution for that any way.
1. add virtual key on and off function.
2. can be added additional chars to the foreign keyboards(to show english layout as it is on physical non-enlgish keyboards), and short keys will work perfectly, just will require to adjust virtual keys values  for each main language differently.
3. may be it will require

[2015-11-03 12:36] JuliusSweetland commented on #168
Hi Arthur. I might, but I'm experimenting at the moment. I think it's a little cleaner to ask Windows if there is a VirtualKeyCode combination that can achieve each character, and then output that combination. Also I'd like to detect the sent characters so I can update the scratchpad more correctly.

If it doesn't work well, or is too complicated then I'll go with your suggestion.

[2015-11-03 16:08] felipemaciel commented on #148
I want help you translate to portuguese.

[2015-11-03 17:02] willianfatec commented on #148
@felipemaciel Fiz boa parte da tradução das strings no transifex, você pode dar uma conferida. Se quiser trocar alguma idéia sobre Eye Tracking é só falar.

I had translated almost all string set in transifex. You can saw there and help to fix any errors that you find. If you want talk about Eye Tracking you can contact me.

[2015-11-03 17:15] JuliusSweetland commented on #148
Thanks @willianfatec

Regarding general progress - I have been quite busy recently with work and also applying for a grant to be able to dedicate more time to OptiKey. Russian is in progress on the 'Russian' branch and it has made me realise that I am doing a couple of things poorly, so I'm going to focus on getting those fixed and then we can press on.

[2015-11-03 17:20] felipemaciel commented on #148
@willianfatec it's pt_PT? Maybe I should translate in pt_BR, and make adjusts and minor changes based on yours.

[2015-11-03 17:23] JuliusSweetland commented on #148
Is it possible to cater for both Brazil and Portugal with one translation, or are the dialects too different? I'm generally hoping we can have only one version of each language, but it might not be possible.

[2015-11-03 17:24] willianfatec commented on #148
It's pt_BR, but feel free to make any changes. Contributions are always
welcome.

2015-11-03 15:20 GMT-02:00 felipemaciel <notifications@github.com>:

--
Willian
http://patomandarim.wordpress.com

[2015-11-03 17:25] willianfatec commented on #148
I believe the differences are few and quite small. What do you think
@felipemarciel?

2015-11-03 15:23 GMT-02:00 Julius <notifications@github.com>:

--
Willian
http://patomandarim.wordpress.com

[2015-11-05 12:11] JuliusSweetland commented on #150
@Ar2rZ I have updated the Russian branch with some new code which attempts to dynamically work out which physical keys to simulate when you type a character or word. Could you please pull the latest and test it out when you have a moment? It seems to work and will also deal with the OS keyboard language changing as OptiKey is running.

I think it works correctly, but I will also be adding a new se

[2015-11-05 12:58] Ar2rZ commented on #150
@JuliusSweetland will test this at some point during the day or then later this evening. depends on free time.
thanks.

[2015-11-05 16:21] Ar2rZ commented on #150
did some test on win 8.1.
1. short keys working with Russian general,
2. does not work properly with Russian mnemonic - short keys are doing completely incorrect work.
3. when is chosen English(or other language, i have Irish additionally installed) it outputs Russian chars, short keys does not work.

[2015-11-05 17:08] JuliusSweetland commented on #150
What are Russian mnemonics?

Could you give me a step by step to reproduce issues 2&3, including which
application you are typing into, what you are typing and what is being
output, and what your OptiKey and os keyboard language are set to? Thanks.

On Thu, 5 Nov 2015 16:21 Ar2rZ <notifications@github.com> wrote:

[2015-11-05 17:18] Ar2rZ commented on #150
Windows 8 has two Russian layouts - General and Mnemonic.
Mnemonic is when you type on english keyboard for example letter 'P' in Russian you will get russian "П". you can get a look on translit.ru to understand better.

[2015-11-05 17:26] JuliusSweetland commented on #150
Is that a keyboard layout that can be installed? I only saw and tested
Russian.

On Thu, 5 Nov 2015 17:18 Ar2rZ <notifications@github.com> wrote:

[2015-11-05 17:31] Ar2rZ commented on #150
so, stpes to reproduce:
- open notepad
2. -  install Russian mnemonic language pack.
    -  on OptiKey - win key + space so many times till it will choose  Russian Mnemonic
    -  click some short keys. ctrl+a('ф' on Russian layout),or ctrl+c( 'c' on Russian layout),
it will do some incorrect short keys functions. some letters will have outp put o the letter.

3. - on OptiKey _ win key + space til

[2015-11-05 17:33] Ar2rZ commented on #150
auto formatting on GitHub will kill me. :) i hope you will understand my horrible writing.

[2015-11-05 17:34] Ar2rZ commented on #150
![languages](https://cloud.githubusercontent.com/assets/14283948/10976380/6a19464c-83e3-11e5-92a8-28956f814773.png)
![russian](https://cloud.githubusercontent.com/assets/14283948/10976386/70439806-83e3-11e5-8f16-54b3610953ba.png)

[2015-11-05 19:03] JuliusSweetland commented on #150
@Ar2rZ I have just tried the Russian Mneumonic layout and here are my observations:

I think OptiKey is pressing the correct keys, but the letters are in different positions from the standard Russian keyboard. When OptiKey is set to Russian and you select the "a" key, OptiKey simulates a key press on whichever key produces an "a", based on your current keyboard layout. This is NOT based on the pos

[2015-11-05 20:30] JuliusSweetland opened #169 "Add support for Gazepoint GP3 Eye Tracker"
Website: http://www.gazept.com/
GP3 tracker ($495): http://www.gazept.com/product/gazepoint-gp3-eye-tracker/
GazePoint API: http://www.gazept.com/Publications/Gazepoint_API_v2.0.pdf

[2015-11-05 20:33] JuliusSweetland opened #170 "Add support for EyeTech Digital Systems TM5 tracker"
Tracker: http://www.eyetechds.com/tm5-mini-assistive-tech.html

QuickLINK 2 API for Windows (download link): http://www.eyetechds.com/uploads/4/7/3/0/47308795/eyetechquicklink2installer15.04.07.36.exe.

Then go into the C:drive/EyeTechDS/QuickLINK 2 folder and inside this folder you will see an html link with excellent documentation on our API. We also have various wrappers available to support yo

[2015-11-05 20:34] JuliusSweetland commented on #170
Duplicate

[2015-11-05 20:34] #170 closed

[2015-11-05 20:34] JuliusSweetland commented on #151
Tracker: http://www.eyetechds.com/tm5-mini-assistive-tech.html

[2015-11-05 21:37] Ar2rZ commented on #150
i am agree, as mnemonic layout is used by somebody like me, who does not use Russian layout. basically lives not in Russia.
what is about English typing when OS language choosen English?

[2015-11-05 21:56] JuliusSweetland commented on #150
If OptiKey is set to English and the OS keyboard layout is also English
then real keystrokes should be simulated for most characters. OptiKey
essentially does it's best to press keys on the OS keyboard layout. If you
can't create the character on the current OS keyboard layout then OptiKey
just send text (as Unicode characters).

On Thu, 5 Nov 2015 21:37 Ar2rZ <notifications@github.com> wrote:

[2015-11-05 21:59] Ar2rZ commented on #150
i talking about when is OptiKey set up to Russian.
as i am understanding, this set up want type in English - OptiKey - Russain, OS -English?

[2015-11-05 22:05] JuliusSweetland commented on #150
It shouldn't really matter which language the OS keyboard layout is set to,
OptiKey will do it's best, BUT it can only output simulated key presses for
characters which appear on the current OS keyboard layout. If you are
mainly typing Russian characters, and you think about shortcuts using
Russian letters, then the OS keyboard layout should be Russian, and OptiKey
should be set to Russian also. I

[2015-11-05 22:08] Ar2rZ commented on #150
ah. OK, you find other way. then question is invalid.

[2015-11-05 22:18] Ar2rZ commented on #150
probably we need to add English letters on the non-english layouts. some references to the short keys..

[2015-11-05 22:21] JuliusSweetland commented on #150
Agreed. The other approach I'm thinking about is adding the ability to
switch language within OptiKey, so you have full support for Russian, then
you can switch to English for a minute to type a few words, and then switch
back to Russian, for example.

On Thu, 5 Nov 2015 22:18 Ar2rZ <notifications@github.com> wrote:

[2015-11-06 18:48] JuliusSweetland commented on #150
@Ar2rZ Let me know once you've had a proper play with the new committed code on the Russian branch. Is there anything left to address before we can produce a pre-release with Russian for general testing?

[2015-11-06 18:54] Ar2rZ commented on #150
i will do it, tonight. will let you know later, as had no time this week.. have to spend some time to study as well...

[2015-11-06 19:04] JuliusSweetland commented on #150
Do it next week. I've head very little time recently also and wouldn't mind a weekend off. Shall we catch up on Monday (or later next week if you have exams coming up)?

[2015-11-06 19:30] Ar2rZ commented on #150
exams are next month. but i have two assignment to do, need to prepare for a lab, and actually start to prepare for exams.  i have time today, made some rest from the studies.

[2015-11-06 19:48] Ar2rZ commented on #150
question how do i perform alt+shift shirt key? (switching languages)

[2015-11-06 19:54] JuliusSweetland commented on #150
Start with SHIFT and ALT up, then lock down ALT and select SHIFT to press
it down, then lock it down, then release it. That's one ALT+ SHIFT. Keep
cycling through SHIFT selections for the next SHIFT up/down, etc

On Fri, 6 Nov 2015 19:48 Ar2rZ <notifications@github.com> wrote:

[2015-11-06 20:04] Ar2rZ commented on #150
on windows 7 have a problem to proper load of OptiKey. is if i choose Russian, it still showing english uk, and all menus apart the layout is self is in english.
![001](https://cloud.githubusercontent.com/assets/14283948/11007323/07d7ea68-84c1-11e5-865a-34a7ce8317bb.png)

[2015-11-06 20:04] Ar2rZ commented on #150
![002](https://cloud.githubusercontent.com/assets/14283948/11007407/8cee933c-84c1-11e5-83ed-64c8bd9770f5.png)
![003](https://cloud.githubusercontent.com/assets/14283948/11007409/90eed582-84c1-11e5-9810-1e9f341c619a.png)

[2015-11-06 20:10] Ar2rZ commented on #150
windows 7 - short keys does not work for general Russian at all, no output, and no short cut functions..

[2015-11-06 20:11] Ar2rZ commented on #150
is working incorrectly on Russian mnemonic, but is same as in Win 8 incorrect..

[2015-11-06 22:58] JuliusSweetland commented on #150
@Ar2rZ I split out the language into 2 settings; 'Keyboard language' (which controls the key layouts and dictionary to use), and 'UI language' (which controls the language used for all the Transifex strings). Is there a problem, or is this just unexpected behaviour as I forgot to mention that I'd done it?

The reason is so that you can set both languages to Russian, but then switch only the keyboa

[2015-11-06 22:59] JuliusSweetland opened #171 "Clean up old log4net log files"
At the moment OptiKey keeps an infinite number of log files. This is controlled by the log4net.config file in the root of the project. Logs are output to (on my computer): C:\Users\Julius\AppData\Roaming\JuliusSweetland\OptiKey\Logs

[2015-11-06 23:37] Ar2rZ commented on #150
sorry, so tired, that don't see anything...

[2015-11-06 23:45] JuliusSweetland commented on #150
Let's catch up when you're not tired. I thought the Russian mnemonic
problem was something we could ignore?

On Fri, 6 Nov 2015 23:37 Ar2rZ <notifications@github.com> wrote:

[2015-11-06 23:49] Ar2rZ commented on #150
so, looks good, but in case of use a bit tricky... as it will require assistance each time user will need to switch languages. is need to have possibility to switch output language without accessing settings.. ignore mnemonic, as just mentioned, while main keyboard short keys did not work. i actually reproduced this again. will write steps later.

[2015-11-06 23:51] JuliusSweetland commented on #150
Yes. I'll add a new keyboard on the menu for switching languages when I get
a chance, so you can do this without assistance.

On Fri, 6 Nov 2015 23:50 Ar2rZ <notifications@github.com> wrote:

[2015-11-07 00:00] Ar2rZ commented on #150
steps to reproduce issue with short keys.
1. open OptiKey, in my case short keys will work with Russian only,as my default is Russian.
2. open Settings
3. choose Keyboard Language other the is current(in my case it was Russian, and i switch to English), short keys want work for English
4. restart OptiKey, try Short Keys -  it will work with English only
5. open settings
6 choose your language, in

[2015-11-07 09:20] JuliusSweetland commented on #148
**NEW STRINGS** I have added a few new strings to the source (English) resource file. Could someone (on here or Transifex) please provide translations for the following new strings in French, German and Russian (the string is in quote marks, with my explanation straight after - you do not have to translate my explanation):

"Keyboard language: {0}" - *I have split out the language into two setting

[2015-11-07 09:34] JuliusSweetland commented on #150
@Ar2rZ I have tried to reproduce what you describe. Here are my findings:

1. Initial setup
OS keyboard layout = Russian (standard, NOT mneumonic)
OptiKey keyboard language = Russian
Result: Typing works as expected. Shortcuts work as expected, e.g. CTRL+ф = select all

2. With OptiKey still open I switch the keyboard language to English
OS keyboard layout = Russian (standard, NOT mneumonic)
OptiK

[2015-11-07 12:22] Ar2rZ commented on #150
so, is actually working as expected,
my system is set up so, that every app is using which i chose when last used, by default is English.(i think this is a default  Windows function for multilingual setups)
even when i chose OC language Russian, after restart OtpiKey uses English as OS language .
thats why short keys stopping working,as OS language for OptiKey becomes an English.

[2015-11-07 13:19] Ar2rZ commented on #150
i think there supposed to be way how to control OS language for OptiKey.

[2015-11-07 18:50] JuliusSweetland commented on #150
I don't think it's possible to change the OS language from C# I'm afraid.
It would annoy people if you could.

On Sat, 7 Nov 2015 13:19 Ar2rZ <notifications@github.com> wrote:

[2015-11-07 19:00] Ar2rZ commented on #150
the thing is if OS language as by me is an English, OptiKey will always have English by default. or you see other behavior on your system?

[2015-11-08 09:41] JuliusSweetland commented on #150
On my system the OS keyboard language is completely unaffected by OptiKey. If I set it to English then it stays as English unless I manually change it.

Beware of keyboard shortcuts changing the language. I have disabled these as they are easy to trigger accidentally. By default I think you change language with ALT+SHIFT, which is easy to accidentally press using OptiKey as SHIFT is down by defaul

[2015-11-08 09:52] Ar2rZ commented on #150
i will check on my system at work, as there is windows 8.1 installed, but i think it has same behavior as on windows 7.

[2015-11-08 10:00] Ar2rZ commented on #150
try to set OS language to Russian or other language. then start OptiKey or other program/app, i think your OS language for OptiKey(other program/app) will become English.

[2015-11-08 10:04] Ar2rZ commented on #150
where can i adjust code for unclick? as i have multiple screens, and is required to change my screens set up every time, if i want to test OptiKey properly.

[2015-11-08 10:26] JuliusSweetland commented on #150
What do you mean by "unclick"?

[2015-11-08 10:43] JuliusSweetland commented on #148
**Update on new strings** French has been updated. German and Russian still required.

[2015-11-08 10:59] Ar2rZ commented on #150
once you click on the mouse there are two functions even three functions involved- click, hold and unclick... unless OptiKey used some other way for mouse click function.

[2015-11-08 11:54] JuliusSweetland commented on #150
There are two keys for each mouse action; one presses down, or releases the
mouse button and so takes two selections to complete a click. This is
labeled "LEFT DOWN/UP". The other performs the whole click with one
selection and is labeled "LEFT CLICK"

On Sun, 8 Nov 2015 10:59 Ar2rZ <notifications@github.com> wrote:

[2015-11-08 12:30] ninehundred1 commented on #148
I can log into transifix Monday or I can send you translations by mail today, whatever you prefer.

[2015-11-08 12:34] JuliusSweetland commented on #148
Post them on here if that's convenient?

On Sun, 8 Nov 2015 12:30 Stephan Meyer <notifications@github.com> wrote:

[2015-11-08 13:53] ninehundred1 commented on #148
See below. I translated the last string more along the line of
"Simulate key combinations when typing letters"
As it sounded in German more of you simulating the sound and visuals of a physical keyboard.
If that is missing the meaning use the second translation which is true to the one you supplied.

Tastatursprache:

Menüsprache:

1
Simuliere Tastenkombinationen bei Buchstaben-Eingabe

2
Simulier

[2015-11-08 20:34] JuliusSweetland commented on #148
@ninehundred1 Thank you. I've updated master.

[2015-11-09 19:30] SamPlusPlus commented on #171
@JuliusSweetland I could probably take look at this, but can you elaborate on the desired behavior.

For example I tend to do something like 3 rolling files up to 5MB each. Do you have a preference?

[2015-11-09 23:23] JuliusSweetland commented on #171
Hi Samuel. Great, thanks. I think the desired behaviour would be one file
per run (which is what I was trying to achieve with the filename mask) and
a maximum of x files to correspond to the last a runs. For arguments sake
I'd say 10 log files should be stored. I don't think file size is
particularly important, but please advise if you have other ideas.

On Mon, 9 Nov 2015 19:30 Samuel Haddad <not

[2015-11-10 09:28] Ar2rZ commented on #150
dictionary is bind with interface layout?

[2015-11-10 09:32] JuliusSweetland commented on #150
@Ar2rZ No, resource language

[2015-11-10 09:33] JuliusSweetland commented on #150
@Ar2rZ Ignore my last response (deleted) - yes, dictionary is currently linked to UI language, which is the ResourceLanguage setting. This is wrong and needs to be fixed. I'll take a look tonight.

[2015-11-10 09:46] Ar2rZ commented on #150
ok. what is still to do? in terms of make pre-release.

[2015-11-10 09:50] JuliusSweetland commented on #150
I need to correct this small issue and then whatever else is still not
working or incomplete for Russian. Is there anything?

On Tue, 10 Nov 2015 09:46 Ar2rZ <notifications@github.com> wrote:

[2015-11-10 09:58] Ar2rZ commented on #150
switching languages from console only.

[2015-11-10 10:46] Ar2rZ commented on #150
but will continue to test, when will have time.

[2015-11-10 15:59] SamPlusPlus commented on #171
Just curious, why a log per a run?  Doesn't that make is harder on the user to send you a log file. For example. "Hi Julius, I keep getting an exception randomly but have no idea why it happens" if you ask the user for the log we won't know in which run it happened, or how many times they have run the application since their last crash"

Would it not be better to just have 3 rolling logs of  say 5

[2015-11-10 16:21] JuliusSweetland commented on #171
If OptiKey crashes the latest log is automatically emailed over. It needs
to be as small as possible really.

On Tue, 10 Nov 2015 15:59 Samuel Haddad <notifications@github.com> wrote:

[2015-11-10 16:23] SamPlusPlus commented on #171
@JuliusSweetland I figured you had a reason. Thanks for explaining, I will look into this.

[2015-11-10 20:23] davidanton1d commented on #148
Hi! It seems that the link https://www.transifex.com/optikey/ is not working. If it's just a temporary error, please ignore this. I'll check again tomorrow.

Anyhow, I would gladly contribute with Swedish localization if that could be of use. (It might not be a prioritized language, but it's the language i know best :)

I'm a junior programmer in VB.NET, but i would like to contribute with what I

[2015-11-10 20:27] JuliusSweetland commented on #148
Hi David,

The link is working for me now. I find their website a little hit and miss
sometimes.

It would be great to have you on board. Please make a request to translate
Swedish and I'll approve you.

Glad you like OptiKey!

Regards,
Julius

On Tue, 10 Nov 2015 20:23 davidanton1d <notifications@github.com> wrote:

[2015-11-10 20:39] davidanton1d commented on #148
Ok, great. I've made the request now!

2. Here's what a Swedish keyboard looks like:
![image](https://cloud.githubusercontent.com/assets/3294797/11074963/f33b081c-87f2-11e5-897a-53c30d63e06a.png)

3. I'll look around for a word list. I know I've seen a free one somewhere. I'll get back to you on that.

4. Please note the the only diacritics used in everyday words are å/Å, ä/Ä and ö/Ö. These are pr

[2015-11-10 20:42] JuliusSweetland commented on #148
Great info. Thank you. I'll copy this over to a Swedish issue when the
translation is ready to go.

On Tue, 10 Nov 2015 20:40 davidanton1d <notifications@github.com> wrote:

[2015-11-11 14:39] thomaskd commented on #148
Hi Julius, great work to you and everyone :) I'm working on the Danish translation.

1. Still working my way through the UI strings, they should be done before too long.

2. Here is a Danish keyboard layout, note that æ,ø, and å are considered letters by themselves and not letters with diacritics, which are not used in Danish words.
![2000px-kb_danish svg](https://cloud.githubusercontent.com/asset

[2015-11-11 16:39] Ar2rZ commented on #150
@JuliusSweetland  , according to mouse function(click, unclick) -
stock on code in class MouseOutputService, method Move and left click.
position before this line  publishService.MouseMouseToPoint(point); cursor position is correct. example :{X = 907 Y = 393}) and after this line is becomes {X = -693 Y = 393} any doubt? as i can't find where is leading to..

[2015-11-11 17:08] Ar2rZ commented on #150
ignore previous message(deleted),
i found where is problem...

[2015-11-11 23:47] Ar2rZ commented on #150
@JuliusSweetland
if you interested, fix for multiple screens.
* 1. For correct docking:
   * **WindowManipulationService.cs**
        * on line 1207 remove validation finalDockLeftInDp<0, as if screen attached on the left it gives  negative value for left screen width.
* 2. For correct mouse functioning:
   * **PublishService.cs**
   * **public void MouseMouseToPoint(Point point)**
      * **chang

[2015-11-12 07:58] JuliusSweetland commented on #150
Thanks Arthur. I'll take a look at this when I get a chance.

On Wed, 11 Nov 2015 23:47 Ar2rZ <notifications@github.com> wrote:

[2015-11-12 10:52] Ar2rZ commented on #150
fix for mouse function does not work for win 8.1

[2015-11-12 10:56] JuliusSweetland commented on #150
Can you describe the problem fully in a new issue?

On Thu, 12 Nov 2015 10:52 Ar2rZ <notifications@github.com> wrote:

[2015-11-12 11:13] Ar2rZ commented on #150
will do it later today.

[2015-11-12 12:37] Ar2rZ opened #175 "Running OptiKey on system with multiple screens"
- 1. **Mouse function is working incorrectly**
- 2. **OptiKey console appearing incorrectly, if run on non-primary screen.**
  Steps to reproduce:
- System setup: Two or more screens, primary screen is on the right hand side, or in the middle.
  - Run Optikey on primary screen
  - perform mouse left click => it clicking on secondary screen on the left hand side.
  - Run OptiKey on secondary screen

[2015-11-12 12:49] Ar2rZ commented on #175
Proposed solution to fix:

*  1. For correct docking:
   * **WindowManipulationService.cs**
      * on line 1207 remove validation finalDockLeftInDp<0, as if screen attached on the left it gives negative value for left screen width.
*  2. For correct mouse functioning:

    * **PublishService.cs**
        * public void MouseMouseToPoint(Point point)
          * change this inside try block:

[2015-11-12 12:52] Ar2rZ commented on #175
Tested on win8 multi screen environment.

[2015-11-12 16:38] Ar2rZ commented on #175
mouse function is working for primary screen, but does not work for secondary screen on windows 7.

[2015-11-14 03:43] SamPlusPlus commented on #171
Looks like I need to update my machine to support this. You using Visual Studio 2015 with .net 4.6?

[2015-11-14 08:53] JuliusSweetland commented on #171
.net 4.6, and either visual studio 2012, 2013, or 2015

On Sat, 14 Nov 2015 03:43 Samuel Haddad <notifications@github.com> wrote:

[2015-11-14 11:02] Ar2rZ commented on #175
"OptiKey console appearing incorrectly, if run on non-primary screen."
reason for this: in **WindowManipulationService.cs**
method : private void **SetAppBarSizeAndPosition(DockEdges dockPosition, Rect sizeAndPosition)**
on line 1207 is validation **finalDockLeftInDp<0**,
if screen attached on the left of primary screen for **finalDockLeftInDp**  gives negative value for left screen width.

[2015-11-14 11:15] Ar2rZ commented on #175
"Mouse function is working incorrectly"
reason for this: **PublishService.cs**
method: ** public void MouseMouseToPoint(Point point)**
**SystemParameters.VirtualScreenWidth** and **SystemParameters.VirtualScreenHeight ** gives value of all screens width, but is required to give only primary screen width. as point is calculated from primary screen dimensions.
instead of using **SystemParameters.Vir

[2015-11-14 11:18] Ar2rZ commented on #150
removed all messages related to the multiple screen issue.

[2015-11-19 16:53] Ar2rZ commented on #163
@JuliusSweetland
what are your views on this?

[2015-11-20 08:16] JuliusSweetland commented on #163
I think it could be very beneficial and is certainly worth investigating

[2015-11-20 11:33] JuliusSweetland commented on #163
I think it could be very beneficial and is certainly worth investigating

[2015-11-20 14:13] Ar2rZ commented on #163
i just looked at this a day ago.. looks like they have nice solutions and functions which can be implemented later..

[2015-11-20 14:15] JuliusSweetland commented on #163
Agree. So you know I'm taking a couple of weeks away from OptiKey, but will
pick it up at the start of December. First thing will be the language
selection keyboard and then we can release Russian.

On Fri, 20 Nov 2015 14:13 Ar2rZ <notifications@github.com> wrote:

[2015-11-20 14:35] Ar2rZ commented on #163
sure, take your time.

[2015-11-20 22:27] EddPorter commented on #154
ApplyAndPersistSizeAndPosition is dispatched on the UI thread (from SetAppBarSizeAndPosition) to set the keyboard rectangle, but ShowSplashScreen is already in progress, blocking the resize operation until it completes.

[2015-11-20 22:50] JuliusSweetland commented on #154
Sounds reasonable. Is there a straightforward fix? Also, I knew you'd contribute eventually. It was only a matter of time!

[2015-11-23 19:18] EddPorter commented on #154
I lied - nothing to do with threading. What is actually happening is multiple calls to `ApplyAndPersistSizeAndPosition`. The first originates from `CoerceSavedStateAndApply` within the `WindowManipulationService`. This uses the previously saved state, for example the `Collapsed` Mouse view, to set the size. Because the priority is `ApplicationIdle`, I think this event sits on some stack waiting to

[2015-11-23 19:20] JuliusSweetland commented on #154
Good catch. You're probably right as the dispatch priority call puts the
call on a queue.

On Mon, 23 Nov 2015 19:18 Edd <notifications@github.com> wrote:

[2015-11-27 07:53] NikitasKotsolakos commented on #171
Hello. First of all, just wanted you to know that you are running a great project and it is the one that finally inspired me to start contributing to open source.

The reason the logfiles are not limited to the number specified in maxSizeRollBackups  is because the date pattern in the filename makes the maxSizeRollBackups property to not work correctly. I removed the date file name and it works fi

[2015-11-27 17:03] EddPorter commented on #154
I've created two pull requests - a "global solution" using the screen size to determine the toast size (edf89ad) and another that suppresses the initial size event and ensures a second is always fired (615eef1).

[2015-11-27 17:30] EddPorter commented on #171
I think NBug should be fine with your change, as it just sends the current contents of the log file. This happens in the `AttachUnhandledExceptionHandlers` method in `App.xaml.cs` if you're interested..

As you mentioned, @NikitasKotsolakos, log4net doesn't support limiting the number of log files kept if you roll based on date/times: http://logging.apache.org/log4net/release/sdk/html/T_log4net_Ap

[2015-11-28 16:45] gulyalcin opened #179 "for a cerebral palsy patient from Turkey"
Hello,

My name is Gul Yalcin Cakmakli. I am a neurologist from Turkey and doing PhD in neuroscience. Currently I am in Atlanta  doing research studies in Emory University. My main area of interest is Parkinson's disease, dystonia and other movement disorders.

Actually I am contacting you because of a personal situation. I have a disabled brother, who is 45 now. He has cerebral palsy and he is di

[2015-11-30 17:09] JuliusSweetland commented on #179
Hi. Turkish is on the todo list, but I can't give you an accurate timeline at the moment. The translation of the user interface strings is a little more than half done. As well as that we need a good Turkish word list and some discussion of the standard Turkish keyboard layout and any special keys. Once we have all that there's a bit of effort involved along with testing. If you can locate a Turki

[2015-11-30 21:12] JuliusSweetland commented on #150
New (2nd) pre-release of OptiKey with Russian support available here: https://github.com/OptiKey/OptiKey/releases/tag/v2.2.2_Russian_pre-release_2

I have added a new keyboard to the menu called 'Language' which allows you to change the keyboard layout and dictionary to another language. N.B. changing language does NOT change the user interface language, so if you have OptiKey set up with UILangua

[2015-12-01 10:57] #171 closed

[2015-12-01 10:58] JuliusSweetland commented on #179
Closing this issue as a new issue will be created when Turkish is ready to start (i.e. when the translation on Transifex is complete). Please reopen if you want to publish a keyboard layout or discuss before the translation is ready.

[2015-12-01 10:58] #179 closed

[2015-12-01 11:03] Ar2rZ commented on #150
thanks, Julius.
will look at this tonight.

[2015-12-01 11:07] #154 closed

[2015-12-01 22:31] JuliusSweetland opened #181 "Localisation: Dutch"
**1.Transifex translation of UI strings:** 100% - Complete

**2.1.Netherlands Dutch Keyboard layout:**
![image](https://cloud.githubusercontent.com/assets/4722561/11516425/fbe794ce-987a-11e5-995d-345f32fe6f62.png)
**2.2.Belgian Dutch Keyboard Layout:**
![image](https://cloud.githubusercontent.com/assets/4722561/11516455/35feec20-987b-11e5-8449-cdea1a971747.png)

Special characters that need to be

[2015-12-02 11:04] petermorlion commented on #181
Great! I'll get on this.

I can not confirm the Netherlands QWERTY keyboard, but the Belgian is more or less correct. Mind you, it is an Apple keyboard which has some subtle differences:

 - It doesn't seem to include the Alt Gr key, which is necessary for certain characters. Although these are mostly keys not often used (maybe @ is an exception).
 - The top left key is usually ² and ³ (respective

[2015-12-03 19:50] Ar2rZ commented on #150
Hi Julius, i try on laptop with Windows 8.1 - installed pre-release version 2.2.2, is very very slow... checked on task manager performance Processor is just stable 18-20%, RAM just 46%, disc 0%. not able to work optikey, is just to slow.

[2015-12-03 19:56] Ar2rZ commented on #150
try on my machine, is looks ok. but i prefer to have written language function on main keyboard(i think is not critical at the moment, as we have one button on main keyboard unoccupied with function), another thing - once more languages will be introduced, it will be no space(and no need for user)to be displayed all languages.

[2015-12-03 21:17] JuliusSweetland commented on #150
Hi Arthur - can you try again with;
a) The new version (2.2.2 pre-release), but in the management screen go to the Other tab and turn OFF "Simulate physical keystrokes when typing characters"
b) The previous version

Can you let me know if either improves the performance of OptiKey.

I need to think about this further. For now I'd like to get to a point where the performance is ok and you think al

[2015-12-05 20:48] JuliusSweetland commented on #150
I'm keen to get Russian merged back into master and released with a few other new features and bug fixes this coming week. Could someone please let me know ff the Russian pre-release is useable in light of Arthur's performance feedback? Does anyone else have problems?

[2015-12-05 20:49] JuliusSweetland commented on #148
I have added some new settings (and so strings), so could anyone supply French, German, or Russian translations of the following (I will add these back to Transifex soon):

1."Suppress mouse magnification for scrolling actions"
2."Conversation keyboard thickness (left,top,right,bottom in px)"

[2015-12-05 21:59] ninehundred1 commented on #148
Will do when sober

[2015-12-06 08:38] feugy opened #184 "How to make a version ?"
The [Deployment file](https://github.com/OptiKey/OptiKey/blob/master/docs/Deployment.txt) mentioned two script (script 1 and script 3), but I did not found them in sources.

Is it possible to commit them ? Or the update the documentation ?

[2015-12-06 11:52] JuliusSweetland commented on #184
Hi, I'm afraid all the deployment stuff is local to my machine at the moment as you have to sign the assemblies and the certificate is assigned to me personally, rather than to OptiKey as an organisation. I'm slowly moving towards opening OptiKey fully (hence the new OptiKey organisation I invited you to), at which point I'll release all the deployment scripts.

[2015-12-06 11:52] #184 closed

[2015-12-06 16:14] ninehundred1 commented on #148
1. "Unterdrücke Mausvergrösserung für Scrollfunktionen"

2. "Dicke der Unterhaltungstastatur
(links, oben, rechts, unten in px)"

[2015-12-06 17:09] JuliusSweetland commented on #148
@ninehundred1 Great, thank you.

[2015-12-06 18:10] JuliusSweetland commented on #181
Hi Peter. I've merged your pull request into the new 'Dutch' OptiKey branch. Looks good. I believe the following are still 'in progress':

1.There is no Netherlands Dutch resource file so selecting this language for the UI results in OptiKey falling back to the English strings.
2.It looks like the use of the French layout for Dutch Belgium meets the Belgium layout above. I have extended this to al

[2015-12-06 19:09] petermorlion commented on #181
Cool! I'll get to work again this week.

Sent from my Windows Phone
________________________________
From: Julius<mailto:notifications@github.com>
Sent: ‎6/‎12/‎2015 19:10
To: OptiKey/OptiKey<mailto:OptiKey@noreply.github.com>
Cc: Peter Morlion<mailto:peter.morlion@live.be>
Subject: Re: [OptiKey] Localisation: Dutch (#181)

Hi Peter. I've merged your pull request into the new 'Dutch' OptiKey branc

[2015-12-07 15:30] Ar2rZ commented on #150
Hi Julius, sorry for delays. i had no really time to test on laptop, as have limited access to this laptop.
is looks better with new release.

[2015-12-07 15:35] JuliusSweetland commented on #150
No problem. So you're happy for me to release in its current state (pre
release 2.2.2 plus a couple of small bug fixes)?

On Mon, 7 Dec 2015, 15:30 Ar2rZ <notifications@github.com> wrote:

[2015-12-07 15:41] Ar2rZ commented on #150
Yop. i am happy with this release. thanks. :)

[2015-12-07 15:53] JuliusSweetland commented on #150
Great. I'll release tonight.

On Mon, 7 Dec 2015, 15:41 Ar2rZ <notifications@github.com> wrote:

[2015-12-07 19:36] JuliusSweetland commented on #148
Could someone please translate these two into French and/or Russian:

1."Suppress mouse magnification for scrolling actions"
2."Conversation keyboard thickness (left,top,right,bottom in px)"

[2015-12-07 19:37] JuliusSweetland commented on #150
Actually, I still need a couple of translations done. @Ar2rZ could you please translate the following 2 strings into Russian:

1."Suppress mouse magnification for scrolling actions"
2."Conversation keyboard thickness (left,top,right,bottom in px)"

[2015-12-07 20:56] JuliusSweetland commented on #181
I forgot:
4.Some of user interface strings (in the resource file) are a bit long. You'll notice that when you hover over the keys on the alpha keyboard (for example) the hover key text is small. This is caused by long text that could be broken over more lines. Effectively they are all scaled to the width of the widest string, so breaking "THIS LONG STRING" into
"THIS
LONG
STRING"
can increase the

[2015-12-07 21:16] JuliusSweetland commented on #150
3rd pre-release available for testing here: https://github.com/OptiKey/OptiKey/releases/tag/v2.2.2_Russian_pre-release_3

FYI This is hopefully the last release candidate. I just have to include the above 2 translations in Russian and French and then I'll release this.

[2015-12-07 21:17] JuliusSweetland commented on #148
**ALL** There is a new pre-release of 2.2.2 available here: https://github.com/OptiKey/OptiKey/releases/tag/v2.2.2_Russian_pre-release_3

It includes Russian and I think is nearly read (it is missing the above 2 strings in French and Russian, but is otherwise dev complete). If you could give it a quick test and let me know if there are any major problems that would be hugely appreciated!

[2015-12-07 21:20] ninehundred1 commented on #148
I will check it out tomorrow.
Also, a friend of mine works for this foundation
http://www.prize4life.org/
do you think it might be good to get you in touch with them or let them
know about what you are making?
Not sure how you handle all the outreach work.

On Mon, Dec 7, 2015 at 4:17 PM, Julius <notifications@github.com> wrote:

[2015-12-07 21:25] JuliusSweetland commented on #148
@ninehundred1 Please do. I've applyied to try and win their grant (details here: http://www.alsa.org/news/media/press-releases/assistive-technology-challenge.html). It's in 2 phases, but imagine how far and fast OptiKey could progress with full-time development. Cross your fingers!

[2015-12-07 21:28] ninehundred1 commented on #148
I am friends with Neta Zach actually.. So what do you want me to do?

On Mon, Dec 7, 2015 at 4:25 PM, Julius <notifications@github.com> wrote:

[2015-12-07 21:30] JuliusSweetland commented on #148
Ah I emailed her a couple of times to ask questions about the grant. Watched one of her talks on YouTube also. I think she's roughly aware of me and OptiKey, but if you can dance around her with some sort of "OptiKey for the win" banner it couldn't hurt.

[2015-12-07 21:34] ninehundred1 commented on #148
Ok, I will make sure to mention that what I think you do is great and how
smooth it all works, and maybe the fact that I helped with the translation
also adds to what I think of OptiKey and helps her remember it.

On Mon, Dec 7, 2015 at 4:31 PM, Julius <notifications@github.com> wrote:

[2015-12-07 21:35] JuliusSweetland commented on #148
That'd be amazing. Thanks Stephan!

[2015-12-08 05:45] feugy commented on #184
Fine !

[2015-12-08 09:37] JuliusSweetland commented on #148
@ninehundred1 Actually one of my strings was incorrect. Could you translate this instead: "Conversation keyboard border thickness (left,top,right,bottom in px)"?

**ALL** I realised one of my strings is wrong - could someone please translate these into French and/or Russian:

1."Suppress mouse magnification for scrolling actions"
2."Conversation keyboard border thickness (left,top,right,bottom in

[2015-12-08 12:53] Ar2rZ commented on #150
i will translate later today.

[2015-12-08 13:42] ninehundred1 commented on #148
"Rahmendicke der Unterhaltungstastatur
(links, oben, rechts, unten in px)"

Assuming frame thickness would also be ok to use.

On Tue, Dec 8, 2015 at 4:37 AM, Julius <notifications@github.com> wrote:

[2015-12-08 13:59] JuliusSweetland commented on #148
Perfect, thanks

On Tue, 8 Dec 2015, 13:42 Stephan Meyer <notifications@github.com> wrote:

[2015-12-08 16:46] #65 closed

[2015-12-09 12:02] petermorlion commented on #181
Ok, I'll work on it. You've already done number 2 of course. And I don't really know where we could get a comprehensive list of Dutch words. I'll keep that point for later and focus on 1 and 4 for now.

[2015-12-09 16:17] Ar2rZ commented on #150
Additional strings are  translated.

[2015-12-09 16:22] JuliusSweetland commented on #150
Thanks Arthur. I'll pull and release later on this evening. Beer permitting.

On Wed, 9 Dec 2015, 16:17 Ar2rZ <notifications@github.com> wrote:

[2015-12-09 23:16] JuliusSweetland commented on #150
Hi Arthur - where are the translated strings? I cannot see them.

[2015-12-10 10:08] Ar2rZ commented on #150
hi Julius,

can you check, whether my pool request is correct.
as seems to be there are some other unexpected changes included...

[2015-12-10 10:13] Ar2rZ commented on #181
@petermorlion  you can extract most used words from different type of books- scientific, classic, popular literature. may be from some other popular reading sources.

[2015-12-10 10:18] JuliusSweetland commented on #150
I'll take a look later, thank you.

On Thu, 10 Dec 2015, 10:08 Ar2rZ <notifications@github.com> wrote:

[2015-12-10 18:41] petermorlion commented on #181
I've created a [pull request](https://github.com/petermorlion/OptiKey/pull/1) for points 1 and 4.

@Ar2rZ You mention extracting words from books. Have you done this in an automated fashion? Do you have some script or application that can do this (based on an ebook, pdf, ...)?

[2015-12-10 22:53] JuliusSweetland commented on #150
Final version available here: https://github.com/OptiKey/OptiKey/releases/tag/v2.2.2

I will release this as a full release tomorrow unless anyone finds any problems with it. Closing this issue as Russian should hopefully be completed. Great work everyone and thank you.

[2015-12-10 22:53] #150 closed

[2015-12-11 08:57] petermorlion commented on #181
About the translations. When we change something in the resx file, should we update Transifex online accordingly? Or is Transifex just a starting point?

[2015-12-11 09:42] JuliusSweetland commented on #181
I'll upload the updated resx files to Transifex this evening. Thanks for
the reminder!

On Fri, 11 Dec 2015, 08:57 Peter Morlion <notifications@github.com> wrote:

[2015-12-11 09:51] Ar2rZ commented on #181
@petermorlion no, i don't have any scripts or app, but used somebodies work result to get Lithuanian dictionary. i can create an app after 16 December, as at the moment lack of time, if it still required.

[2015-12-11 21:19] kirstymcnaught opened #188 "Distracting flicker between icon/text while trying to dwell."
I use an EyeTribe tracker, which is often a bit flakey in accuracy and continuity. Quite often while attempting to dwell over a single key, the gaze position is wobbly enough that it rapidly moves on/off the key, resulting in a very distracting flicker between the icon and the text.

Example shown here, using the EyeTribe.
https://youtu.be/mLJbmiAzNfg

A less distracting approach could be if the i

[2015-12-13 17:45] Nicholas-Mitchell commented on #148
A french translation for the above could be:

1. "Supprimer le groississement lors du défilement"
2. "Épaisseur du cadre du clavier de discussion (gauche, haut, droite, bas, en pixles)"

I say 'could' because there is room for discussion. That will definitely get the point across though.

[2015-12-14 14:53] JuliusSweetland commented on #148
Hi Nicholas,

Thank you. I had the following translations supplied. Let me know if they
are ok:

Épaisseur de la bordure du clavier (gauche, haut, droite, bas en pixels)

Suppression de la loupe pendant l'utilisation de l'ascenseur

Regards,
Julius

On Sun, 13 Dec 2015, 19:45 Nicholas Mitchell <notifications@github.com>
wrote:

[2015-12-14 15:09] Nicholas-Mitchell commented on #148
Hi Julius,

both are fine, I think. I'd probably take my (1) and their (2). So:

pixels)"

The main difference in (1) is me using "groississement", which really means
'magnification', whereas their "loupe" means 'a magnifying glass'.

The other main difference in (2),  I said "cadre", which means
frame/border, they said "bordure" which is more directly 'border'. Similar
to the German translation I

[2015-12-15 06:30] JuliusSweetland commented on #148
Thanks for that Nicholas. I'll take your advice and swap in your first
sentence for the next release.

A bit of statistical analysis sounds like a good plan, but we'd need some
built in telemetry first. It's on my longer to-do list!

On Mon, 14 Dec 2015, 17:10 Nicholas Mitchell <notifications@github.com>
wrote:

[2015-12-16 17:05] #188 closed

[2015-12-17 18:15] JuliusSweetland commented on #168
New language keyboard and method of determining virtual key code released in v2.2.2

[2015-12-17 18:15] #168 closed

[2015-12-17 21:49] Ar2rZ commented on #181
http://wortschatz.uni-leipzig.de/Papers/top10000nl.txt

[2015-12-18 06:52] petermorlion commented on #181
Cool, I'll see if I can maybe write a script to consolidate different words into one file, removing duplicates. Chances are slim I'll still manage to do that this year though.

[2015-12-18 07:10] JuliusSweetland commented on #181
LinqPad or just Excel are good for this sort of task.

On Fri, 18 Dec 2015, 08:52 Peter Morlion <notifications@github.com> wrote:

[2015-12-18 09:08] petermorlion commented on #181
Cool, thanks for the tip.

Date: Thu, 17 Dec 2015 23:10:37 -0800
From: notifications@github.com
To: OptiKey@noreply.github.com
CC: peter.morlion@live.be
Subject: Re: [OptiKey] Localisation: Dutch (#181)

LinqPad or just Excel are good for this sort of task.

On Fri, 18 Dec 2015, 08:52 Peter Morlion <notifications@github.com> wrote:

—
Reply to this email directly or view it on GitHub.

[2015-12-21 18:02] JuliusSweetland commented on #149
Input from Gaspar: "The usage of “ ¿ and ¡” characters has been reduced to formal documents where proper writing is required. For everyday use, we don’t tend to use them (Facebook, chats, whatsapp, informal email), so I wouldn’t be very worried about giving them a very important location."

[2015-12-21 18:34] caspercba commented on #149
Julius, about áéíóúü: Spanish keyboards don't have separate keys for this accented vowels. This is how it works: The user presses the `accent key` + vowel. In other words, pressing the `accent key` nothing is written until the user presses a second key: aeiou; so two independent key presses produce one accented character. Here's an example of a keyboard layout:  https://www.terena.org/activities/m

[2015-12-21 18:37] JuliusSweetland commented on #149
Thanks. As this is a reasonably long winded process when using the fixation
selection method I would prefer to have dedicated keys for the accented
characters, but thank you for the clarification.

On Mon, 21 Dec 2015, 20:34 caspercba <notifications@github.com> wrote:

[2015-12-28 00:33] gwaynieb opened #197 "Keys always in front of calibration screen"
When recalibrating the OptiKey key screen stays in front of the calibration. Thanks for any guidance.

[2015-12-28 07:10] JuliusSweetland commented on #197
I am aware of this issue when using the new version (2.0.2.219) of the Tobii EyeX software - is this where you see the problem?

[2015-12-28 19:57] gwaynieb commented on #197
Yes. Is there a fix?

Sent from my iPhone

[2015-12-28 20:22] JuliusSweetland commented on #197
Not yet. I'll look into this soon. In the interim you can roll back to a
previous version of the Tobii software.

On Mon, 28 Dec 2015, 21:57 gwaynieb <notifications@github.com> wrote:

[2015-12-28 23:47] gwaynieb commented on #197
The tobii update solved the windows update problem that was shutting down the tobii.

Sent from my iPad

[2015-12-29 02:25] SamPlusPlus commented on #98
How do you reproduce this?

[2015-12-29 05:42] JuliusSweetland commented on #197
Could you provide more details on the Tobii problem? I'm out of the loop.

On Tue, 29 Dec 2015, 01:47 gwaynieb <notifications@github.com> wrote:

[2015-12-29 05:44] JuliusSweetland commented on #98
If you are docked then use the "Size & Position" keyboard to move away from
docked edge. OptiKey will break away from the edge and flicker while it
resized. Similarly it will flicker when resized while docked, or if you
move it back to an edge and cause it to dock again from floating.

On Tue, 29 Dec 2015, 04:25 Samuel Haddad <notifications@github.com> wrote:

[2015-12-29 07:38] feugy opened #199 "Help display"
With the addition of voice recognition, users will feel the need to easily access to some help pages.
The case I have in mind is to display the numerous vocal commands.

Currently, they are customizable from the Management Console, which is not accessible because inputs are suspended when it's open.

My first idea was to open on demand a popup with the list, something like the ToastNotification.
B

[2016-01-09 20:07] JuliusSweetland commented on #181
@petermorlion Hi Peter - any joy with the Dutch dictionaries?

[2016-01-12 18:50] petermorlion commented on #181
Haven't found the time, but I'll get to this ASAP. Sorry for the wait, and thanks for poking me back into action :)

[2016-01-12 18:57] JuliusSweetland commented on #181
No rush, I've been busy too.

On Tue, 12 Jan 2016, 18:50 Peter Morlion <notifications@github.com> wrote:

[2016-01-12 19:56] petermorlion commented on #181
Well now, my words were barely typed, and I decided to do a new search for a wordlist and found one. I created pull request #200.

[2016-01-12 22:52] JuliusSweetland commented on #181
@petermorlion It looks like Dutch Netherlands and Dutch Belgium are currently identical in terms of which keyboard layouts they use, UI strings (resource strings) and dictionaries. If that is correct then what do you think about just having Dutch Netherlands. If later we want to customise strings or dictionaries we can create Dutch Belgium - it just seems unnecessary at the moment. For example we

[2016-01-13 07:39] petermorlion commented on #181
I must have made an error when merging or something. The Netherlands should use a QWERTY keyboard, while Belgium uses an AZERTY keyboard. But the language itself (resource file, dictionary) is the same (slight difference in dialects, but that would lead this project too far, IMO).

I'll look into it, see where I made a mistake, and fix it.

[2016-01-13 08:03] JuliusSweetland commented on #181
Thanks for the clarification. Actually the mistake is probably mine as I
didn't look over the code properly. I'll double check.

On Wed, 13 Jan 2016, 07:39 Peter Morlion <notifications@github.com> wrote:

[2016-01-13 18:19] petermorlion commented on #181
I can't find any commit on my part, so possibly I had this locally and overwrote it when I merged in the latest changes from your branch. Anyway, I've created a new pull request (#121) that changes the Netherlands to use the QWERTY keyboard.

[2016-01-14 18:10] JuliusSweetland commented on #181
Should the Dutch Netherlands alpha keyboard (alpha and conversation alpha)
not need the same additional accented characters as Dutch Belgium?

On Wed, 13 Jan 2016, 18:19 Peter Morlion <notifications@github.com> wrote:

[2016-01-18 22:17] JuliusSweetland commented on #197
Issue found and fixed in next release (2.2.3). This may be slightly delayed as I intend to include some new functionality. In the mean time please down grade your version of the Tobii EyeX software to the previos version (< 1.8)

[2016-01-18 22:19] JuliusSweetland opened #206 "Localisation: Turkish"
**1.Transifex translation of UI strings:** Complete

**2.Keyboard layout:**
![image](https://cloud.githubusercontent.com/assets/4722561/13409180/a900814e-df29-11e5-979f-0ae9accb4272.png)
http://ascii-table.com/keyboard.php/179

**3.Alphabet:**
a)Letters: 29 individual letters - https://en.wikipedia.org/wiki/Turkish_alphabet#Letters
Capital letters
A	B	C	Ç	D	E	F	G	Ğ	H	İ	I	J	K	L	M	N	O	Ö	P	R	S	Ş	T	U

[2016-01-24 13:50] JuliusSweetland commented on #148
Hi everyone - you may have noticed (or received a notification) that a set of new English strings have been uploaded and need translating. Most languages have dropped from 100% complete to 74% complete. The new strings are for a big new feature which allows users to specify the dwell selection completion time (how long you must look at a key before it selects when using the dwell/fixation trigger)

[2016-01-24 14:04] ninehundred1 commented on #148
I'll do that tomorrow

[2016-01-24 15:06] JuliusSweetland commented on #148
Great, thanks Stephan.

On Sun, 24 Jan 2016, 14:04 Stephan Meyer <notifications@github.com> wrote:

[2016-01-25 13:14] petermorlion commented on #181
(continued in part from #201):

I'm not sure. The accented characters aren't on the physical keyboards used in the Netherlands, according to [Wikipedia](https://en.wikipedia.org/wiki/QWERTY#Dutch_.28Netherlands.29). :confused:

[2016-01-25 14:43] ninehundred1 commented on #148
Could you explain what
-destructive keys
does, so I know I have the right translation?
Thanks

On Sun, Jan 24, 2016 at 10:06 AM, Julius <notifications@github.com> wrote:

[2016-01-25 15:00] ninehundred1 commented on #148
Also what is the difference between
Mouse (do at point) to Mouse (do at location)?

On Mon, Jan 25, 2016 at 9:43 AM, Stephan Meyer <meyernsen@gmail.com> wrote:

[2016-01-25 15:04] JuliusSweetland commented on #148
Destructive keys = keys which destroy/remove text, e.g. Back one, back
many, clear.

On Mon, 25 Jan 2016, 14:43 Stephan Meyer <notifications@github.com> wrote:

[2016-01-25 15:05] JuliusSweetland commented on #148
Do at point means that you select where you want the mouse cursor to move
to and then perform the action, e.g. Left click.

Do at current location means to just perform the action, e.g. Left click,
exactly where the cursor is currently, so the cursor isn't moved before the
action.

On Mon, 25 Jan 2016, 15:02 Stephan Meyer <notifications@github.com> wrote:

[2016-01-25 15:08] ninehundred1 commented on #148
Ok, done with the german version. Send me a build before you release it so
I can run it through again to see if all sounds fine.

On Mon, Jan 25, 2016 at 10:05 AM, Julius <notifications@github.com> wrote:

[2016-01-25 15:12] JuliusSweetland commented on #148
Excellent, thank you. I will create some pre-releases for sure.

On Mon, 25 Jan 2016, 15:08 Stephan Meyer <notifications@github.com> wrote:

[2016-01-25 15:22] Ar2rZ commented on #148
did some(removed spaces from previous) translations, rest of them will translate later once will be able to run app, to understand what you actually added. will try to do that during today, or tomorrow.

[2016-01-25 15:25] JuliusSweetland commented on #148
Great, thanks

On Mon, 25 Jan 2016, 15:23 Ar2rZ <notifications@github.com> wrote:

[2016-01-25 18:19] JuliusSweetland commented on #181
Ok then in that case we can leave it as is, but I'll move the accented
characters to the first page of the diacritics keyboard.

It's the Dutch word list ok from your testing? Fast and complete enough?

On Mon, 25 Jan 2016, 13:14 Peter Morlion <notifications@github.com> wrote:

[2016-01-25 21:06] JuliusSweetland commented on #148
New German translations added to master (thank you @ninehundred1). French and Russian to go...

[2016-01-25 21:42] JuliusSweetland commented on #181
@petermorlion I was looking over the Dutch branch and I had a few thoughts:
1.The word list(s) could do with a bit of tidying up. They contain a lot of phrases (words with spaces in between), proper nouns, numbers, and one letter entries.
2.I think the keyboard layouts should look like this:
  a)Dutch Netherlands = Same as English Alpha/ConversationAlpha keyboards, but with the addition of these c

[2016-01-25 21:42] JuliusSweetland commented on #181
Oh, and I updated the Dutch branch with the latest translations from Transifex.

[2016-01-26 11:39] Ar2rZ commented on #148
Hi Julius, this string hasn't same meaning - this one:  "Overrides for individual key fixation times (ms):" with this one: "Specify times to complete on individual keys:" as i can't find first one any where..

[2016-01-26 11:41] Ar2rZ commented on #148
and i can't find **destructive keys** section..

[2016-01-26 11:45] JuliusSweetland commented on #148
In the management console -> Pointing & Selecting this question is asked first: "Specify times to complete on individual keys:" - which means "do you want to specify individual completion times on each key"?
If the check box is ticked, then "Overrides for individual key fixation times (ms):" is the label for the section where the user enters the override completion times, which override the defaul

[2016-01-26 11:45] JuliusSweetland commented on #148
Also the "Destructive Keys" section will be displayed in the same place only if "Specify times to complete on individual keys:" is set to true (checked).

[2016-01-26 12:24] Ar2rZ commented on #148
i see now. but destructive keys section still not seen....
1. change keyboard keys
2. dock action keys
3. change language keys
4. miscellaneous keys
5. modifier keys
6. Mouse (do at current....)
7. Mouse (do at point)
8.Mouse (misc)
9. move & resize keys
10. Physical keys
11. suggestion keys

or destructive keys is not a section?

[2016-01-26 12:29] JuliusSweetland commented on #148
My mistake - I left in an old group label. I have removed it now and updated Transifex. Thanks.

[2016-01-26 12:54] Ar2rZ commented on #148
Just created pull request.

[2016-01-26 17:46] JuliusSweetland commented on #148
Just French to go now...

[2016-01-27 10:56] bsimionato opened #215 "How to configure optikey in my computer"
Please, I need help to configure the program in my computer, I have already downloaded but I´m not getting use.

Please, if exist a manual or instructions, please let me know.

Thanks in advance,

Bárbara.

[2016-01-27 13:21] JuliusSweetland commented on #215
Hi Barbara,

The wiki contains information about getting started: https://github.com/OptiKey/OptiKey/wiki/Get-Started

I'll close this issue for now - please re-open if you are still having problems. Or email me at optikeyfeedback@gmail.com

[2016-01-27 13:21] #215 closed

[2016-01-27 19:52] JuliusSweetland commented on #148
**ALL** This is a request for any French speakers to complete the outstanding French translations on the Transifex site. German and Russian are complete so after French is brought up to 100% I can release version 2.2.3. Thank you!

[2016-01-28 21:00] EddPorter opened #217 "Usage count not updated correctly"
When typing multiple words and using the auto complete suggestions to complete each one, the  completed word's usage count is decremented incorrectly when the next key is selected. If the user uses the space key to separate the words, then the usage count is done correctly.

Possibly, using the auto-complete suggestions should place a space after the word so that the look-back doesn't see it.

[2016-01-28 21:04] EddPorter opened #218 "Multiple Dictionaries"
The `DictionaryService` and the `IAutoComplete` implementations both track dictionary entries. The auto complete dictionaries use (potentially) different storage methods for lookup, which is where the complication lies. Ideally, there'd be a single data structure containing the word entries and usage counts. Indexes would be created as need for the different systems that need to access it.

Consid

[2016-01-30 19:43] petermorlion commented on #181
About 1. I've created pull request #219 for this. Let me know if you still think there's too much in there. I've been a bit careful about removing words, because I'm not always sure where you draw the line.

About 2. That sounds about right. The Belgian keyboard is indeed based off the French keyboard, but we use the éëóöü way less than in France. The ë might be an exception though, as it is used

[2016-01-30 20:14] JuliusSweetland commented on #181
Excellent. I'll try to find time tomorrow to try the PR and t think about
the accented characters. Maybe I can include just the ë on the main alpha
keyboards without impacting the layout much, and then put all éëóöü at the
beginning of the diacritic keyboard for both Belgian and Netherlands Dutch
so they're easy to find if you need them. Sound reasonable?

On Sat, 30 Jan 2016, 19:43 Peter Morlion

[2016-01-30 20:34] petermorlion commented on #181
Sounds very reasonable. But if OptiKey would be more maintainable if you just put the ë on the diacritics keyboard instead of the main keyboard (thus removing the need for an extra keyboard), that would be fine too I think. Especially as the words with the ë will be in the dictionary and users will be able to select them after choosing a few characters.

For example, poëzie (poetry): the user will

[2016-01-31 22:02] JuliusSweetland commented on #181
@petermorlion I've spent a bit of time on the Dutch branch today creating customised Alpha/ConversationAlpha keyboards for both BelgiumDutch and NetherlandsDutch, as well as a shared (but Dutch specific) set of diacritic keyboards. I've also had a bit of a cleanup on the dictionary files, removing abbreviations, phrases (more than one word separated with a space in an entry), etc. I've got to add

[2016-02-01 22:29] JuliusSweetland commented on #148
**ALL** There is a pre-release (release candidate) of v2.2.3 available here: https://github.com/OptiKey/OptiKey/releases - if you have a moment could you please give it a test and let me know if you find any problems. The main new feature is the ability to specify selection completion times for individual keys (Management Console -> Pointing and Selecting -> "Specify times to complete on individua

[2016-02-01 22:32] JuliusSweetland commented on #153
New feature complete. To be included in release v2.2.3.

[2016-02-01 22:32] #153 closed

[2016-02-02 16:23] ninehundred1 commented on #148
When I install in German the menu is in English. When I change the language
to German, it is still English in the menu language (including all key
labels). The keyboard is German (umlauts, etc), but the rest is English.
Same when I change to Russian, the Keyboard changes, but the rest stays on
English.

On Mon, Feb 1, 2016 at 5:29 PM, Julius <notifications@github.com> wrote:

[2016-02-02 17:08] JuliusSweetland commented on #148
Hi Stephan,

OptiKey always starts in English the first time it is installed. This is
something that I might change when OptiKey supports more languages.

In the management console you should see two language settings: one
controls the keyboard layout and dictionary being used (it sounds like this
is the setting you are changing). The other setting is the UI language,
which changes the language us

[2016-02-02 19:12] ninehundred1 commented on #148
I forgot that..
Looks good to me, also the functionality now that you can customize those
times.

I suppose there is no need to access/control that management console using
optikey?

On Tue, Feb 2, 2016 at 12:09 PM, Julius <notifications@github.com> wrote:

[2016-02-02 19:59] JuliusSweetland commented on #148
Glad it's all working. I thought some people might want to change OptiKey
settings using OptiKey itself (i.e. People who cannot use a physical mouse
& keyboard) so I made it possible. I don't think it negatively impacts
anything?

On Tue, 2 Feb 2016, 19:12 Stephan Meyer <notifications@github.com> wrote:

[2016-02-02 22:24] ninehundred1 commented on #148
No, I agree that is useful. I thought it would be even easier to have the window pop up using a key within Optikey such as 'advanced settings' or so, rather than via a keyboard short cut.
I forgot you could use Optikey to type alt m.

[2016-02-02 22:42] JuliusSweetland commented on #148
That, or there's a new right click context menu if you right click on
OptiKey itself. I am still thinking about adding a management console key,
but I'm worried it would be too easy to trigger and make it too easy to
accidentally change settings. I'll keep thinking.

On Tue, 2 Feb 2016, 22:24 Stephan Meyer <notifications@github.com> wrote:

[2016-02-08 12:03] petermorlion commented on #181
@JuliusSweetland I've been busy again, but will check this tomorrow, over lunch. I'll keep you posted.

[2016-02-08 12:04] JuliusSweetland commented on #181
Thanks Peter

On Mon, 8 Feb 2016, 12:04 Peter Morlion <notifications@github.com> wrote:

[2016-02-09 11:59] petermorlion commented on #181
Looks fine by me. I'm just wondering about the diacritics keyboard. Some characters are never going to be used in Dutch. Do you want me to remove them, or list them for you to remove?

[2016-02-09 12:01] JuliusSweetland commented on #181
Are you referring to the first set of characters on the first row of
diacritic keyboard 1?

On Tue, 9 Feb 2016, 11:59 Peter Morlion <notifications@github.com> wrote:

[2016-02-09 12:52] andylamp opened #221 "Localisation: Greek"
@JuliusSweetland Greek translation strings from transifex are done, briefly check them so I can start the implementation of the Greek custom keyboard layout. Hopefully we will be able to include this translation in the next release.

Do let me know if there is anything to note while doing that.

Regards.

PS: Sorry for the long wait but I was held up with various things.

[2016-02-09 13:49] JuliusSweetland commented on #221
Looks good. I can't review Greek, but the translations appear complete (with the possible exception of "Android Dark" and "Android Light" which are in English?). Great work.

The tasks are as follows:

**1.Transifex translation of UI strings:** Complete

**2.Keyboard layout:**
![image](https://cloud.githubusercontent.com/assets/4722561/12917755/2eece7fe-cf33-11e5-8041-a3e66deaf080.png)

This is ju

[2016-02-09 14:05] andylamp commented on #221
@JuliusSweetland thanks for the reply, I'll address each one of your questions:

1) Cool -- that means I am okay to proceed, that's good news.

2) The keyboard looks like it should, although here keyboards usually have both Latin and Greek characters in each key that's different from the Latin ones. You can view such example in the following picture:

![here](https://upload.wikimedia.org/wikipedia

[2016-02-09 14:19] JuliusSweetland commented on #221
@andylamp
2.The Greek keyboard in OptiKey only needs characters for typing Greek. I guess you have latin characters on your keyboards so you can switch between typing in Greek and English (or other latin languages). In OptiKey this workflow is achieved by going to the MENU and then the LANGUAGE keyboard to switch from Greek to English, type something in English, and then switch back to Greek. I ma

[2016-02-09 14:28] #157 closed

[2016-02-09 14:28] JuliusSweetland commented on #157
Users can now change settings in the Management Console using OptiKey (not when in Conversation mode).

[2016-02-09 14:39] andylamp commented on #221
2) Okay, I just pointed this out because that's how most keyboards that are localized for Greece ship; I understand your logic behind it. Also no, they are not used as often; besides the duality exists only on letters that are different than the ones in Latin as you can see from the picture.

3) I don't know what to trim, I'll try and look for a smaller one but Greek is really weird and rich langu

[2016-02-09 16:34] JuliusSweetland commented on #221
@andylamp The dictionaries are loaded into memory, but auto complete and word matching (and other operations) occur frequently and are reasonably expensive. It might be fine, but I've always tried to keep dictionary size down where possible. See how it feels and I can test on a slow laptop if you're happy.

[2016-02-09 16:40] andylamp commented on #221
@JuliusSweetland Okay sweet, I'll complete the keyboard as soon as I can; then we can decide about the dictionary size.

[2016-02-09 16:43] JuliusSweetland commented on #221
Sounds good

On Tue, 9 Feb 2016, 16:40 andylamp <notifications@github.com> wrote:

[2016-02-10 10:09] andylamp commented on #221
@JuliusSweetland I am almost finished but I am having a couple of annoying issues while testing the keyboard. First of all when for example changing the keyboard from English to say German after I quite OptiKey my keyboard and mouse are messed up. For example mouse click highlights all of the test from start to click or my caps lock functionality is reversed. This is fixed by logging out from my a

[2016-02-10 11:13] JuliusSweetland commented on #221
@andylamp I don't believe the language change within OptiKey (specifically) is the reason for your keyboard being messed up - instead I think it's more a general issue with OptiKey when the process is killed. If you have modifier keys pressed down (e.g. SHIFT) then when you quit OptiKey using the Menu -> Quit method the modifier keys are all released. If you kill the process (or stop debugging wit

[2016-02-10 11:41] petermorlion commented on #181
Ah, I see what you did now. It includes all diacritic characters. Just the first row is Dutch specific. I'd argue the ó could be removed there (from the first line). It's not used very often (perhaps in city names or so). Unless you want to be complete.

Other than that, I think your good for the Dutch keyboards and dictionaries.

[2016-02-10 11:56] JuliusSweetland commented on #181
@petermorlion Great. I have a few small features & fixes that I want to add to the next release, but I will aim to get Dutch released fairly soon as part of v2.2.4. Thanks for your work.

[2016-02-10 12:05] petermorlion commented on #181
Happy to help out. It's a great product!

[2016-02-10 12:09] andylamp commented on #221
@JuliusSweetland I'll definitely do it after I am finished with the process of translating so that I have a thorough understanding of what needs to be done. I'll keep you posted, hopefully I will be done within the day.

[2016-02-10 14:11] andylamp commented on #221
@JuliusSweetland when changing to the Greek Keyboard I see a massive slowdown on the interface responsiveness and GC is going crazy for no apparent reason (like 5 secs to respond vs instant on the other langujages). I have trimmed the dictionary to 3 entries to eliminate that issue, do you have any idea what might be causing this behavior?

I have profiled the application and the method that's tak

[2016-02-10 14:24] JuliusSweetland commented on #221
@andylamp I'm not able to debug right now, but when the Greek dictionary was first loaded it would have created a copy in your roaming directory, which would be re-loaded each time, so trimming the source dictionary would not fix the problem. I'm guessing, but I think the delay is loading the huge dictionary each time. Try trimming the source dictionary GreekGreece.dic to 10 entries and removing y

[2016-02-10 14:27] andylamp commented on #221
@JuliusSweetland would that be located in /bin dir? I've deleted these directories altogether and I've put the always copy option on the dictionary resource file... so this should not be the case, unless I am mistaken...

Let me know

[2016-02-10 14:34] JuliusSweetland commented on #221
@andylamp The source dictionary is read from the bin directory, but only the first time you use a language. As part of loading the dictionary into memory the source dictionary file is copied (and transformed slightly) into a new file while roams with your user profile. This new copy is user specific and so can be edited (in the Management Console), it keeps track of your word usage counts, and is

[2016-02-10 14:44] andylamp commented on #221
@JuliusSweetland I was not aware of that fact, it helped -- that's the issue it seems. Thanks for the heads up. I'll definitely will have to trim the dictionary quite a bit it seems.

On a side note can we create a script so that we can remove all traces with the push of a button? I mean I thought clean solution would do the trick and spent quite sometime trying to figure out what was wrong.

[2016-02-10 14:52] JuliusSweetland commented on #221
@andylamp Good news. It might be possible to optimise the parsing of the dictionary, but I think the easiest approach would be to limit the dictionary first.

I don't have a script, but I do sometimes keep an explorer window open and delete the contents of this folder:

C:\Users\YOUR_USER_NAME\AppData\Roaming\JuliusSweetland

That's effectively a factory restore each time. It removes custom dictio

[2016-02-10 21:17] JuliusSweetland commented on #181
@petermorlion Dutch candidate release is now here: https://github.com/OptiKey/OptiKey/releases/tag/v2.2.4_pre-release_1

Could you please test it out? If you're happy then I'll release it as v2.2.4.

Thanks.

[2016-02-10 21:33] JuliusSweetland commented on #221
@andylamp Excellent PR (https://github.com/OptiKey/OptiKey/pull/222). My only comments are:

1.The language keyboard layout is incomplete (I think you know this) as it spills over into the 3rd row, which doesn't exist. I have today merged the Dutch branch into master, so if you update from master the Language keyboard has been changed anyway to a 3x3 grid. You might want to change it to 3x4 (3 row

[2016-02-11 05:55] andylamp commented on #221
@JuliusSweetland
1. Yeah, it was just for testing -- placement is easily fixed but before I do that since I want to follow alphabetical sorting shall I snap-it just after German and shift the others one place down (as I've done already, so Russian would be shifted to the third row).

2. Cool, I am glad it's okay

As I said in my previous message it seems to me that it works fine... but fingers cro

[2016-02-11 07:12] JuliusSweetland commented on #221
That sounds good re language keyboard layout, but update from master first
(or let me know if you can't and I'll do it for you).

On Thu, 11 Feb 2016, 05:55 andylamp <notifications@github.com> wrote:

[2016-02-11 07:15] andylamp commented on #221
@JuliusSweetland can you do that? then I'll try to merge with upstream on my local repo.

[2016-02-11 07:16] JuliusSweetland commented on #221
Sure

On Thu, 11 Feb 2016, 07:15 andylamp <notifications@github.com> wrote:

[2016-02-11 07:18] andylamp commented on #221
@JuliusSweetland cool, I'll try to get it sorted out by today and experiment to find a suitable dictionary size by profiling. Hopefully the translation will be finished by today so you can merge with master -- then I'll get on with the task of overhauling the translation guide.

[2016-02-11 07:40] andylamp commented on #221
@JuliusSweetland let me know when you merge with `master` branch so that I can start pulling the changes locally.

[2016-02-11 10:29] JuliusSweetland commented on #221
@andylamp Merged. I haven't changed Languages.xaml so the grid needs to be extended by an extra row and a Greek key added in the right place.

[2016-02-11 21:39] JuliusSweetland commented on #181
@petermorlion Slightly updated new Dutch release candidate:

https://github.com/OptiKey/OptiKey/releases/tag/v2.2.4_pre-release_2

I'm ready to release I'm just waiting for you to green light it. Thanks.

[2016-02-11 21:45] JuliusSweetland commented on #221
@andylamp FYI There's an extra step to localisation that should be covered in the Localisation.md document:

The setting 'KeySelectionTriggerFixationCompleteTimesByKeyValues' needs a new item added to it. This can be done in app.config. If you then reload the project in Visual Studio it should prompt you to update Settings.settings from the app.config change, otherwise you need to manually update

[2016-02-12 10:38] JuliusSweetland commented on #148
**Dutch** A pre-release of v2.2.4 is available here: https://github.com/OptiKey/OptiKey/releases

It includes 2 Dutch keyboards for people used to the Belgian keyboard layout or the Netherlands keyboard layout.

If you could test the pre-release and let me know if it looks good (or if you find any issues) then I can promote this to an official release.

Thanks.

[2016-02-12 19:42] andylamp commented on #221
@JuliusSweetland my version of `App.config` does not have an entry named `KeySelectionTriggerFixationCompleteTimesByKeyValues`, can you please elaborate a bit more?

Also `Settings.settings` has a really weird format for this entry, it uses the HTML codes for special characters; for example `<dictionary>` is typed as: `&lt;dictionary&gt;` -- is this intentional?

Let me know.

[2016-02-12 19:50] JuliusSweetland commented on #221
If it's not in your app.config don't worry, just edit it in the
settings.settings file. The xml friendly characters e.g. &lt; seem to have
been converted from my angle brackets automatically. If you copy/paste the
setting to notepad it's easier to edit and paste back into visual studio. I
am happy to edit the setting for you tomorrow if you're not sure.

On Fri, 12 Feb 2016, 19:42 andylamp <notifi

[2016-02-12 20:23] andylamp commented on #221
@JuliusSweetland oh okay, I mean I was wondering about that since the rest of the file is fine -- if this part is changed to normal brackets (as they are considerably more readable) will this be a problem? I'll edit the `Settings.settings` file but wanted the clarification. It's not that I am not sure but it's a big project and I want to be sure of the changes I make -- better be safe than sorry.

[2016-02-12 20:25] JuliusSweetland commented on #221
To be honest I'm not sure. Give it a go - it should blow up fast if it's
wrong.

On Fri, 12 Feb 2016, 20:23 andylamp <notifications@github.com> wrote:

[2016-02-12 20:36] andylamp commented on #221
@JuliusSweetland Okay, I'll give it a shoot tomorrow (although I think it will probably be fine since the rest of the file uses brackets normally). Hopefully, we will be done tomorrow with the technicalities and be left only with the dictionary size issue.

[2016-02-13 12:52] JuliusSweetland commented on #221
@andylamp I have merged from master again, updated the Languages keyboard to include all languages (there are 9 now). Everything looks good to me so yes, the outstanding task would be the Greek dictionary.

I quickly tested typing auto-complete and multi-key selection and both appear to work, but can you double check with a bigger dictionary that everything "feels" right and works well with Greek?

[2016-02-13 13:30] andylamp commented on #221
@JuliusSweetland Oh, yep the bottom is the correct one, the top has the keys when you have pressed the `Shift`-modifier key. Probably it was a mistake on my end.

[2016-02-13 14:34] JuliusSweetland commented on #221
@andylamp are you happy to correct as I'm not familiar with Greek letters?

On Sat, 13 Feb 2016, 13:30 andylamp <notifications@github.com> wrote:

[2016-02-13 14:39] andylamp commented on #221
@JuliusSweetland well, my initial commit was correct -- basically, the two pictures you posted above are correct. One is for `Shift`-pressed (top) and one for `Shift`-released (bottom). You can see that [here](http://gate2home.com/Greek-Keyboard) or even in the built in Greek windows keyboard.

[2016-02-13 14:46] JuliusSweetland commented on #221
Ok understood. Are both keys letters, or is the leftmost key a
colon/semicolon? If so I would suggest that we remove that key, unless a
colon/semicolon is used often in Greek?

On Sat, 13 Feb 2016, 14:40 andylamp <notifications@github.com> wrote:

[2016-02-13 14:51] andylamp commented on #221
@JuliusSweetland it's not used more or less than it's used in other Latin based languages, say for example English -- but it's there for some reason (it was not my decision to make ;)). The equivalent to `q` in Greek has only characters, `;` for `Shift`-up and `:` for `Shift`-down. The equivalent to `w` is needed as you get the commonly used terminal `ς` and `΅` which is used sparsely in some word

[2016-02-13 14:56] JuliusSweetland commented on #221
So I could remove the :; key without impacting the ability to type Greek,
but the other key is used sometimes and should remain? If that's right I'll
make the change soon.

On Sat, 13 Feb 2016, 14:51 andylamp <notifications@github.com> wrote:

[2016-02-13 14:58] andylamp commented on #221
@JuliusSweetland yes, you are correct. I don't think it would impact the ability to type Greek -- but one key that's missing which is essential to write Greek is the equivalent of `;` (the one that's located just after `l`) in the English keyboard as you need that letter for punctuation.

[2016-02-13 15:11] JuliusSweetland commented on #221
You mean this: ΄ (a sort of tick character, which is different from an
apostrophe ')?

On Sat, 13 Feb 2016, 14:59 andylamp <notifications@github.com> wrote:

[2016-02-13 15:15] andylamp commented on #221
@JuliusSweetland no, I mean this key:

![key_p](https://cloud.githubusercontent.com/assets/2177249/13028352/64deb4ba-d275-11e5-8b0b-3fa3777687d1.jpg)

[2016-02-13 19:18] JuliusSweetland commented on #221
@andylamp I'm struggling to find that character. I tend to refer to this site: http://greek.typeit.org/ and it doesn't look like that character exists on there?

Also can I double check that you've added all diacritic characters that are on that site?

[2016-02-13 19:24] andylamp commented on #221
@JuliusSweetland that character does not exist on that site because it has separate keys for punctuated letters (they are the above row where each of the letters has `'` over it) -- this is not normal, and most keyboards don't have them. That character as I said is the one that's mapped to the circled key indicated in the English keyboard I pasted in my previous post. Take a look that the keyboard

[2016-02-13 20:01] JuliusSweetland commented on #221
Oh I see, so it's a decorator key, i.e. you press it and then a letter and
it accents that letter. We don't follow that workflow in OptiKey. No key
has alternate characters on it that you press with the aid of
ctrl/shift/alt, or three concept of a decorator. Instead each common
accented character has it's own key, as per the typeit link I posted. Do
you think that's possible with Greek?

What I ha

[2016-02-13 20:18] andylamp commented on #221
@JuliusSweetland it's possible yes, but it would not be a normal keyboard and it requires a significant amount of additional keys. I'll check French and I'll let you know.

[2016-02-13 20:21] JuliusSweetland commented on #221
Great, thanks

On Sat, 13 Feb 2016, 20:18 andylamp <notifications@github.com> wrote:

[2016-02-14 18:40] JuliusSweetland commented on #221
@andylamp I haven't made any changes on the Greek branch, but I've been thinking about the problem and have a few thoughts/questions:

1.What's the difference between the Greek keyboard layout in OptiKey and in your screenshot:
![key_p1](https://cloud.githubusercontent.com/assets/2177249/13029560/257d36fc-d298-11e5-9f2f-9a96a4204595.jpg)

2.Is the second circled character a letter or another "deco

[2016-02-14 19:11] andylamp commented on #221
@JuliusSweetland I am not really keen on lettings characters out as *every* word in Greek has *at least* one decorator which is used for punctuation. The way I see it going is either you introduce decorator keys or leave punctuation out altogether. The latter can lead to major issues, so I don't really recommend it, as most text-to-speech programs use this information to correctly pronounce the wo

[2016-02-14 19:15] JuliusSweetland commented on #221
@andylamp Ok - I guess I'm going to be introducing decorator keys then. I'll look into the problem and get back to you.

Regarding you saying the difference between the screenshots is that shift is up/down - we should only be including the upper and lower versions of the **same** character on a key as the ShiftUpText and ShiftDownText properties, i.e. you shouldn't change the meaning of a key depe

[2016-02-14 19:21] andylamp commented on #221
@JuliusSweetland I can help you with that. I am quite keen with C# and I was planning anyways to help a bit more than just translating...

Well, this might be a problem as this duality does happen in Greek keyboards ;) -- I am always talking about the **standard** ISO Greek keyboard layout -- as the one you previously presented [here](http://greek.typeit.org/) certainly isn't ;) .

[2016-02-14 19:36] JuliusSweetland commented on #221
@andylamp Great. Let's both look into the problem and discuss it. I'm thinking of creating a set of acceptable accented characters per language, along the lines of the MultiKeySelectionKeys arrays in KeyValues. Then add the decorator keys to the keyboards, which would behave like modifier keys, in that they can be UP or DOWN (KeyDownState). Only one can be down at a time (I think this rule will ho

[2016-02-14 20:47] andylamp commented on #221
@JuliusSweetland I'll think about it more carefully because we need to take in-account all of the flavors that possible languages will have -- I can only speak for those languages that I am somewhat familiar with, these are: English, Greek, German and Japanese. In most languages decorator keys go over vowels of a digraph of those i.e. `ά` or `αί` in Greek. Generally we must have the ability to fil

[2016-02-15 09:10] JuliusSweetland commented on #221
@andylamp We can use the KeyEnabledStates class to grey out keys when a "Diacritical mark" (decorator) key is down, including other decorator keys. This will limit the user to pressing one decorator at a time, followed by the acceptable letter for the current language. All of that logic can be achieved in KeyEnabledStates.

The KeyboardOutputService can then handle the addition of the mark to the

[2016-02-15 09:13] JuliusSweetland commented on #221
Conveniently that wiki page has a bar on the right listing diacritic marks. One section is "Latin and Greek":

accent
acute( ´ )
double acute( ˝ )
grave( ` )
double grave(  ̏ )
breve( ˘ )
inverted breve(  ̑ )
caron, háček( ˇ )
cedilla( ¸ )
circumflex( ˆ )
diaeresis, umlaut( ¨ )
dot( · )
hook, hook above(   ̡   ̢  ̉ )
horn(  ̛ )
iota subscript(  ͅ  )
macron( ¯ )
ogonek, nosinė( ˛ )
perispomene(  ͂

[2016-02-15 10:41] andylamp commented on #221
@JuliusSweetland sounds right, we can built a beta to test it out in a couple of days since browsing through the code it should not be a huge change. These are okay for Latin based languages -- I have absolutely no idea how to handle these issues when we talk about weird and quirky languages like Arabic or the likes.

[2016-02-15 13:09] JuliusSweetland commented on #221
@andylamp We can tackle the complexities of Arabic, Chinese, etc at a later date. That's going to require full IME support I would guess. For now I've got a reasonably solid plan for how to display diacritic marks on their own keys (we need to use different unicode characters for the Text and for the Value properties, as unicode has one set of characters for display and another for combining with

[2016-02-15 13:14] JuliusSweetland commented on #221
This is also useful (for me): https://en.wikipedia.org/wiki/Greek_diacritics

[2016-02-15 13:22] andylamp commented on #221
@JuliusSweetland yep, I advised that page myself -- but it's really to detailed as modern Greek mostly uses two characters for punctuation `΄` and `΅` also most words have only *one* punctuation point. We can use this to simplify our implementation quite a bit.

[2016-02-15 21:19] JuliusSweetland commented on #181
Released as v2.2.4

[2016-02-15 21:19] #181 closed

[2016-02-16 07:12] petermorlion commented on #181
Hey @JuliusSweetland, sorry for the late reply again. Looks fine by me, but Arjen already checked it out too. Cool to see it released!

[2016-02-17 22:00] JuliusSweetland commented on #221
@andylamp I've done a bit of experimentation and have a few observations/questions:

* KeyEnabledStates - diacritics are case sensitive (e.g. Y can take a diaeresis only when uppercase)
* Letter + diaeresis + accent does not compose into a single character - it is still 2 characters (a letter with diaeresis + an accent).
* It is order specific, i.e. letter + acute accent + diaeresis doesn't compos

[2016-02-17 22:04] JuliusSweetland commented on #221
Here's the LinqPad test code:
[code]

[2016-02-18 09:27] JuliusSweetland commented on #221
Using the above discoveries this is what I'm thinking:

1. Dead keys (diacritic keys which are combined with a subsequent letter to produce a letter+diacritical mark) are not handled correctly by VkKeyScanEx (as mentioned in http://www.siao2.com/2006/09/10/748742.aspx), which is what I use to attempt to simulate "real" key strokes. Instead these combining characters will end up being sent as text,

[2016-02-18 11:53] andylamp commented on #221
@JuliusSweetland I agree on these completely -- will form a more complete response after I get back from work ;).

[2016-02-18 19:54] JuliusSweetland commented on #221
@andylamp I also wanted to ask you; I've learned that the sigma character (Σ) has 2 lowercase equivalents; ς and σ - this is a new concept to OptiKey. I think there are problems using the ς key for an unrelated symbol when shift is down (you added the acute accent + diaeresis) as the shift down character is not visible on the keyboard when shift is up. On the other hand adding sigma to both keys r

[2016-02-18 20:09] JuliusSweetland commented on #221
@andylamp One more thing:

The diacritic characters that we have to use are called "Combining" characters, but these cannot be displayed on their own as they have to combine with another character (a spacing character) before they are rendered. Most combining diacritic characters have another non-combining character which we can use as the Text property of the keyboard Key, however, not all have a

[2016-02-18 22:01] JuliusSweetland commented on #221
@andylamp I've added all latin and greek diacritic marks from the Wikipedia article to KeyValues, as well as a new char extension method to determine if the captured string contains a combining character and should be composed. For use in the KeyboardOutputService to compose letter + diacritic before publishing.

[2016-02-20 03:47] andylamp commented on #221
@JuliusSweetland Okay let's tackle some things (that's only for `Greek` though).

* We do not use diacritics on capital letters; most have them by convention but are not used -- syntactically they are correct but we don't use them.

 * `σ` and `ς` are the same letter albeit serve different purposes -- the first is used to express "sigma" inside a word while the latter is used for "sigma" as an end

[2016-02-20 21:58] JuliusSweetland commented on #221
@andylamp Thanks - I've got a solution in mind and will try to get something functional tomorrow.

The sigma lower/upper ambiguity might need some more discussion as OptiKey doesn't support a key having more than one value. At the moment (and I know this will look weird) I plan to have two sigma keys, with different lowercase characters.

[code]

[2016-02-20 22:06] andylamp commented on #221
@JuliusSweetland Okay, let me know how you plan on doing it based on OptiKey's existing limitations and I'll give you my thoughts.

[2016-02-21 15:10] JuliusSweetland commented on #221
@andylamp Changed made and committed. There are two diacritic keys which act as dead keys (on the top row of the keyboard on the far left and right, but please note that the far right diaeresis is not displaying correctly at the moment) - you press one and then a letter to combine them and output the combined character. You can also combine the accent and diaeresis if shift is not down (as it only

[2016-02-21 20:43] andylamp commented on #221
@JuliusSweetland Okay, got the commit. Will review code changes and see if I have anything else to add. I'll also test it a bit to see if it's working as intended.

Also can you elaborate on why the dieresis text isn't displayed as intended?

The last outstanding issue is easy to fix -- let's tackle the first two initially.

[2016-02-21 21:39] JuliusSweetland commented on #221
@andylamp Great stuff. I've solved the lack of text on the diaeresis key - it was because the Roboto font cannot correctly render all of the Unicode diacritic marks. I have just added a new commit which adds the concept of a compatibility font (Charis SIL) which can render things the user chosen font may not be able to. I turn it on only for keys which need it. I think it works well. It is also a

[2016-02-22 00:35] andylamp commented on #221
@JuliusSweetland Great! Cool, I'll take a look at the whole commit first thing tomorrow -- I'd agree that having more than one keyboard *when chiefly talking about disabled people* for languages that commonly use diacritics can be unproductive -- especially in `Greek` and other similar use-cases.

[2016-02-23 08:56] utacub commented on #148
Hi, we would like to help with the **Spanish** and **Catalan** versions, The keyboard is the same for both languages:
http://cdn.fontmeme.com/images/Spanish-keyboard-550x183.png
If you send us the instructions to translate the UI strings we will gladly do that also.

[2016-02-23 21:46] JuliusSweetland commented on #148
@utacub Great stuff - can you switch over to https://github.com/OptiKey/OptiKey/issues/149 and I'll post some details of what is required...

[2016-02-23 21:51] JuliusSweetland commented on #149
@utacub Can you review the top post on this page and let me know if everything looks correct? The UI strings are all ready on Transifex: https://www.transifex.com/optikey/optikey/ so there's nothing required there.

I basically need someone to give me some feedback on the word list, or supply a new one. I think the keyboard is self-explanatory, and I'll need to add the ability to add 3 diacritics;

[2016-02-23 21:54] JuliusSweetland commented on #221
@andylamp Have you had a chance to review?

The outstanding issues are:

1. We have 2 x sigma keys - is this a problem, and if so do you have an idea
2. We need a dictionary word list
3. The conversation alpha keyboard needs to be updated to include the dead keys

I'll then migrate all other languages over to have dead keys for diacritics (where appropriate) and release the whole lot together.

[2016-02-23 22:02] andylamp commented on #221
@JuliusSweetland unfortunately no :( -- I was really swamped today, will get back to it as soon as possible and I'll let you know pronto.

[2016-02-23 22:12] JuliusSweetland commented on #221
Thanks. I'm eager to hear your feedback on the new diacritic dead keys.

On Tue, 23 Feb 2016, 22:02 andylamp <notifications@github.com> wrote:

[2016-02-26 09:16] andylamp commented on #221
@JuliusSweetland I've started testing the new commit yesterday; found some issues will update when I complete my testing.

[2016-02-26 11:54] utacub commented on #149
@JuliusSweetland  As you said, the word list from the La Rioja University is really extensive. Have you checked the dictionary from OpenOffice? It has fewer words (71165). You can download the original file from: http://extensions.openoffice.org/en/project/spanish-espanol , or a version without any marks from here: https://dl.dropboxusercontent.com/u/2129613/Optikey/es-ES-nomarks.dic

Same for Cat

[2016-02-27 13:34] feldrim commented on #206
How can we help?

[2016-02-28 09:16] JuliusSweetland commented on #206
@feldrim I am working to finish Greek at the moment, so the most useful thing would be to sort out a word list for Turkish. This one (64,000 entries) has been proposed: https://github.com/mertemin/turkish-word-list/blob/master/words.txt

Could you review it and let me know if it will be sufficient and is of good quality?

Also are there any special rules/gotchas with Turkish that are unique to the

[2016-02-28 09:18] JuliusSweetland commented on #221
@andylamp How is the testing going? I may have some time later today to work on the issues so let me know if you have some feedback already.

[2016-02-28 09:21] JuliusSweetland commented on #149
@utacub That dictionary size sounds good. I've not been able to check the file as I don't have OpenOffice and the downloaded file is not a plain text file. If you like these dictionaries could you extract a plain text version (copy the list, one word per line, into Notepad and save the file with format UTF-8). These 2 files (Spanish and Catalan) can be emailed to me optikeyfeedback@gmail.com  and

[2016-02-29 01:56] feldrim commented on #206
Well, it is complicated because spelling of Turkish words can be changed via postfixes due to ease of pronunciation. Like when you say **to the street** in Turkish, the word **sokak** (_street_) turns into **sokağa**. The letter **k** at the end turns into **ğ** to make it easy to pronounce. This is a reason when you add a word to the database, you need to add other variations as well. So that alm

[2016-02-29 04:23] andylamp commented on #221
@JuliusSweetland I've tested it -- but I cannot get the application to display the punctuation on the words correctly. Fiddled with it. no luck. Also I should note that while punctuation for capital letters not widely used for *all* capital words, it *is* used with normal words. So for example `When` in Greek `'Όταν` should have a dieresis initially which again I could not perform.

Also the Greek

[2016-02-29 07:15] JuliusSweetland commented on #221
The steps to test should be:

1.Open OptiKey and notepad. Notepad should be the focused application so we
can type into it with OptiKey.

2.On the main alpha keyboard select a diacritic key. When you select it it
will be pressed down and turn blue. Nothing will be output at this point. A
number of keys will be disabled, leaving only letters which can be
decorated with that diacritic.

3.Select one

[2016-02-29 14:41] kirstymcnaught opened #228 "Allow input from mouse *and* eye tracker"
There are many times when it would be really useful to control OptiKey with a mouse, even when your main control is with an eye tracker. Most commonly you might be set up to use an eye tracker, when the eye tracker disconnects itself or otherwise isn't working. You want to cleanly close OptiKey with the mouse, or maybe show a new user what the different pages contain, or access the 'recalibrate ey

[2016-02-29 15:37] JuliusSweetland commented on #228
I agree. There is complexity where the user is using an eye tracker to simulate mouse movement and moves the cursor over OptiKey.

Initial thoughts are that the easiest way to achieve this would be to have the point source "fall back" to the mouse where the eye tracking input is lost/stale/not useful. This would cover scenarios where the eye tracker fails/is disconnected. It would also allow you t

[2016-02-29 15:40] kirstymcnaught commented on #228
Yes, that sounds like a good solution.

[2016-02-29 16:58] kirstymcnaught opened #229 "Hide cursor when using mouse as input."
It's useful to be able to use the mouse input option to extend OptiKey for use with sensors that aren't directly supported, but do offer mouse emulation - for example the EyeTech TM5. However, when controlling the cursor with an eye tracker, any errors in the mouse position (jitter or drift) are very distracting when you're trying to dwell on a key. In a worst case scenario, the mouse cursor drags

[2016-02-29 21:08] JuliusSweetland commented on #229
@kirstymcnaught Would either of the 2 solutions in this article suffice: http://www.jholjhaal.com/hide-mouse-cursor-on-windows-with-mouse-pointer-scheme/

[2016-02-29 21:13] JuliusSweetland commented on #228
@kirstymcnaught I'll add this to my roadmap and get to it in due course.

[2016-02-29 21:28] JuliusSweetland commented on #206
@feldrim Great info, thank you. I am updating the top post (above). Can you please review.

The only issue I can see is that the dotted capital İ and lower case i are the same letter, as are dotless capital I and lowercase ı (from https://en.wikipedia.org/wiki/Diacritic#Languages_with_letters_containing_diacritics), but the keyboard layout ASCII 179 has the dotted capital İ and lowercase ı on the

[2016-02-29 21:51] JuliusSweetland commented on #149
@utacub Top post has been updated with all latest info. If you can send me the updated dictionary files (without the entries that include numbers and spaces) I will set up the branch. Thanks.

[2016-02-29 22:13] feldrim commented on #206
The dotless one (upper **I**, lower **ı**) is between **u** and **o** as in standard qwerty. The dotted one (upper **İ**, lower **i**) is the one on the rightmost, just under the **ğ**. On this layout, it is just a matter of using Caps Lock or Shift key to type uppercase or lowercase. There's no difference on upper/lower changing between other letters and **I/ı & İ/i**.

I checked the info on the

[2016-02-29 22:22] JuliusSweetland commented on #206
@feldrim Ahh, my mistake. I was using this link http://ascii-table.com/keyboard.php/179 - when you hover over each key it shows you the lower and upper characters. I must have mis-read the two i keys as I thought they were swapped. All good. I'll get to Turkish in 3 versions time (next release is Greek, then a performance fix and a few other things, then Turkish, then Spanish). Please let me know

[2016-02-29 22:24] JuliusSweetland commented on #206
@feldrim In the mean time there are some strings still outstanding on the Transifex site: https://www.transifex.com/optikey/optikey/

[2016-02-29 23:01] feldrim commented on #206
You are very welcome. I'm pretty sure planned time to release will help us to improve translations and solve any other problems. No need to rush. I'll have look at it now but since I have an exam on Java and OOP tomorrow, I won't be able to contribute on untranslated strings. But I'll do whatever I can asap.

[2016-02-29 23:02] JuliusSweetland commented on #206
Good luck for your exam. Focus on that!

On Mon, 29 Feb 2016, 23:01 the f., <notifications@github.com> wrote:

[2016-02-29 23:15] feldrim commented on #206
![Image](https://cloud.githubusercontent.com/assets/15658960/13412275/b9a1eae4-df4a-11e5-9a1f-bbba3fd909cc.jpg) I can't join the team because it says "Resource Breakdown". And also when I click on **join team**, I can't find Turkish. The language list end on Thai although I can view the existing members.

[2016-02-29 23:17] JuliusSweetland commented on #206
Hmm, is your username Zafer? I just accepted a request from that user for
Turkish. If that's you refresh the page and see. The Transifex site can be
a bit odd also, so a refresh might be worthwhile anyway.

If that doesn't help post you're Transifex username and I'll invite you
manually.

On Mon, 29 Feb 2016, 23:15 the f., <notifications@github.com> wrote:

[2016-02-29 23:18] feldrim commented on #206
As soon as I commented on this issue, the acceptance mail had come. So I deleted sinc there was no need for that. Thanks.

[2016-03-01 09:19] JuliusSweetland commented on #206
@feldrim I read the article - very interesting. Before any work is done, is the QWERTY layout commonly used in Turkey, vs the F layout? I could do either, or both?

[2016-03-01 09:48] kirstymcnaught commented on #229
Yes, that's a much better solution. Shall I add something to the wiki to point people there?

[2016-03-01 09:50] JuliusSweetland commented on #229
Good idea, thanks

On Tue, 1 Mar 2016, 09:48 kirstymcnaught, <notifications@github.com> wrote:

[2016-03-01 09:58] feldrim commented on #206
Only the former generations who had used typewriters daily are accustomed to the F keyboard. Windows, Linux and Mac has support for it. However mobile OSs and applications nowadays do not support F keyboard, which is not needed anymore. Adding the [F Keyboard](http://ascii-table.com/keyboard.php/440) would be nice but not an obligation. It may be considered in latter releases.

[2016-03-01 09:59] JuliusSweetland commented on #206
Understood thanks. Good luck for your exam.

On Tue, 1 Mar 2016, 09:58 the f., <notifications@github.com> wrote:

[2016-03-01 10:00] feldrim commented on #206
Oh, thanks. I've just came home from the exam. Thank you for your kindness.

[2016-03-01 21:59] JuliusSweetland commented on #229
Closing issue as alternative solutions found

[2016-03-01 21:59] #229 closed

[2016-03-01 21:59] JuliusSweetland commented on #221
@andylamp Is Greek working for you now?

[2016-03-02 02:20] JuliusSweetland opened #232 "Add support for Alea IG-30 eye tracker"
Website: http://www.alea-technologies.de/pages/en/products/intelligaze/ig-30-system.php

[2016-03-02 02:23] JuliusSweetland opened #233 "Add support for myGaze eye tracker"
Website: http://www.mygaze.com/products/mygaze-eye-tracker/ (price: $/€499)

[2016-03-02 21:41] JuliusSweetland opened #234 "Localisation: Portuguese"
**1.Transifex translation of UI strings:** 100%

**2.Keyboard layout:**
2 layouts - Portugal and Brazil

![image](https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/KB_Portuguese.svg/2000px-KB_Portuguese.svg.png)

_Portugal:_
![image](https://cloud.githubusercontent.com/assets/4722561/13476177/7a90ad98-e0be-11e5-8c4e-fe6fdbb86e43.png)
http://ascii-table.com/keyboard.php/163

_Brazil:_
![ima

[2016-03-02 22:44] feldrim commented on #206
What do you plan for Turkish TTS?

[2016-03-03 08:44] JuliusSweetland commented on #206
If you are asking about a Turkish TTS engine, does the Windows Turkish
language pack not include a Turkish voice?

I don't supply language specific voices with OptiKey - I make the
assumption that users can source their own voices.

On Wed, 2 Mar 2016, 22:44 the f., <notifications@github.com> wrote:

[2016-03-03 10:53] utacub commented on #149
@JuliusSweetland  Regarding the differences between Spanish and Catalan. We use the same keyboard with both (the one in the top post), but:

- Spanish has "ñ". Catalan has "ç" and "l·l" (two normal "l" with a floating dot in the middle, the one that is on top of the 3 in the keyboard layout: ·).
- Spanish diacritics: á,é,í,ó,ú,ü. Catalan diacritics: à,è,é,í,ò,ó,ú,ï,ü (Catalan uses both `and ´).
-

[2016-03-03 10:54] feldrim commented on #206
I haven't found it on both Windows 7 and Windows 10. I think additional software is needed. I'll take a look at it.

[2016-03-03 12:19] JuliusSweetland commented on #206
Someone recommended this site to me:
https://www.freedomscientific.com/Downloads/synthesizers

I think you select the RealSpeak Solo Direct synthesiser and then Turkish.
I cannot test as it doesn't work on Windows 8.1, but apparently it does on
Windows 7. If you don't have any luck try the Vocaliser Direct downloads
(which include both male and female Turkish voices)

On Thu, Mar 3, 2016 at 10:54

[2016-03-03 20:40] JuliusSweetland opened #235 "Localisation: Catalan"
**1.Transifex translation of UI strings:** Complete

**2.Keyboard layout:**
![image](https://cloud.githubusercontent.com/assets/4722561/13410154/1a9388b6-df2e-11e5-95fb-6e60996626d7.png)
http://ascii-table.com/keyboard.php/071-1

**3.Alphabet:**
a)Letters: 26 individual letters - https://en.wikipedia.org/wiki/Catalan_orthography#Alphabet
a-z (lower and upper case) - it does NOT have Spanish's extr

[2016-03-03 20:45] JuliusSweetland commented on #149
@utacub Great info, thank you. I think Spanish and Catalan should be treated separated. I have updated the top post above and split off the Catalan info into this issue: https://github.com/OptiKey/OptiKey/issues/235

I have attached SpanishSpain.dic and CatalanSpain.dic dictionaries to the main branch and will create branches to develop these languages in due course (I am currently up to 5 in prog

[2016-03-04 12:42] JuliusSweetland commented on #69
Release v2.3.0 adds correction for spelling mistakes when generating autocomplete suggestions. This issue has been edited to next word prediction only.

[2016-03-04 20:50] MikePG7 opened #236 "Error message when I try to download Optikey"
Hi Julius - When I try to download on my new laptop I get this message: "The signature of OptiKeySetup-2.3.0 (2).exe is corrupt or invalid"
Please let me know how to proceed.
Cheers.

[2016-03-04 22:27] JuliusSweetland commented on #236
@MikePG7 Thanks for reporting the problem. I believe the issue is that Microsoft no longer support the hash function used in my code signing certificate. I have re-issued and resigned the release. Could you please try downloading and trying again?

I'm not 100% sure my fix will work as the signed installer is not currently verifying, but please give it a go and let me know what happens for you.

[2016-03-04 23:36] MikePG7 commented on #236
Thanks Julius - that worked (although I got a couple of 'are you sure?' messages on the screen - see attached screenshots).I may need your advice on calibrating the eye tracker in a day or two - is that ok?Michael.

Date: Fri, 4 Mar 2016 14:27:13 -0800
From: notifications@github.com
To: OptiKey@noreply.github.com
CC: michaelgallagher1066@outlook.com
Subject: Re: [OptiKey] Error message when I try

[2016-03-04 23:42] JuliusSweetland commented on #236
Good stuff. Yeah no problem. Email me direct on optikeyfeedback@gmail.com

On Fri, 4 Mar 2016, 23:36 MikePG7, <notifications@github.com> wrote:

[2016-03-04 23:46] JuliusSweetland commented on #236
Oh, and the warnings were probably along the lines of a warning that not
enough people download the setup file to be confident that it's safe.
Basically it doesn't have enough "reputation" with Microsoft yet. That will
build up over time. Let me know if the message was something else.

On Fri, 4 Mar 2016, 23:42 Julius Sweetland, <juliussweetland@gmail.com>
wrote:

[2016-03-05 08:21] #236 closed

[2016-03-06 13:57] JuliusSweetland commented on #221
@andylamp Hi Andy - I've got some changes that I want to make to the other languages in the Greek branch, after which I'd like to start testing the branch for release. Can you let me know how you are getting on with sourcing a decent Greek dictionary and your testing in general? Thanks.

[2016-03-06 14:00] andylamp commented on #221
@JuliusSweetland I'll try to give some feedback today; I have been caught up by other matters and didn't have enough time to do so. I'll get back to you as soon as possible.

PS The dictionary issue is not really simple, as most dictionaries that I searched are way too large. I'll see what I can do to amend it -- but I am not really sure on what to leave out and what to keep.

[2016-03-06 14:03] JuliusSweetland commented on #221
@andylamp Great, thanks. If we can use a stripped down dictionary for testing and get the general functionality approved, then I will help you find a dictionary.

[2016-03-06 18:58] andylamp commented on #221
@JuliusSweetland I have some good news; the issues were superficial, I was a couple of remote commits behind on my local repo and didn't get the latest changes (was confused by having no version bump -- so I thought I was OK, but I was not...). Just pulled the correct files and works awesomely well. No issues found.

Just tested with a small dictonary (like 100 words) -- works as expected... so fa

[2016-03-06 19:25] JuliusSweetland commented on #221
That's excellent, thanks Andy. In terms of versioning; I'm vaguely using
semantic versioning, so no part of the version number is incremented with
commits. It would also lead to a range of disconnected version numbers
across different feature branches if I did.

As part of the usual git workflows you should sync (pull/fetch) before you
start do you always have/are aware of where you are relative t

[2016-03-07 17:29] JuliusSweetland commented on #221
@andylamp I haven't individually evaluated any of theses files yet, but these pages contains some potentially useful dictionary files:

http://www.translatum.gr/dictionary/download-greek.htm
http://www.worldlingo.co.uk/en/resources/greek_dictionaries.html

Any good?

[2016-03-08 15:21] JuliusSweetland opened #237 "NGram autocomplete produces bad/incorrect matches"
Bug reported in French.

1.For example a sentence such as "je m'appelle" ("My name is") produces bad suggestions.
2.Email address, which was previously stored in the dictionary, is not being suggested.

[2016-03-09 12:44] morabitina commented on #148
Hi I would like to help with the Spanish version. Please, give me instructions how to procede. Thanks

[2016-03-09 13:23] JuliusSweetland commented on #148
@morabitina Hi - thank you for your offer. The Spanish branch is discussed here: https://github.com/OptiKey/OptiKey/issues/149

We are planning to develop Spanish and Catalan separately, and pretty much everything looks to be ready for Spanish. Could you inspect the top post of that issue and let me know (on that issue) if you have any corrections, or anything to add?

[2016-03-10 08:55] morabitina commented on #148
Ok! No problem
I am Italian but I live in Spain, so I may can help with Italian too If you
need.
Regards,
Tina
El 9/3/2016 2:23 p. m., "Julius" <notifications@github.com> escribió:

[2016-03-12 11:12] andylamp commented on #221
@JuliusSweetland I've checked the links but on the first one I could not download the dictionary as a `.dic` file, it only had words -- seemed fine for most commonly used words though.

The second one is similar to the first, adequate.

If they are OK license-wise then we can use either of them.

[2016-03-12 11:14] JuliusSweetland commented on #221
Great stuff. How many entries are there?

On Sat, 12 Mar 2016, 11:12 andylamp, <notifications@github.com> wrote:

[2016-03-12 11:16] andylamp commented on #221
@JuliusSweetland they have multiple dictionaries and I've only checked those that are 4k-5k words approximately (it's stated by them). They should work fine -- size wise.

[2016-03-12 11:18] JuliusSweetland commented on #221
Any concerns that they're too small? English is 75k and Dutch goes up to
300k, which is a bit too big, but gives you an idea of target size.

On Sat, 12 Mar 2016, 11:17 andylamp, <notifications@github.com> wrote:

[2016-03-12 11:21] andylamp commented on #221
@JuliusSweetland I have no idea on this stuff; for sure it will be small. I mean even the first one that I've checked (the one that had 750k entries) was inadequate as Greek has a lot of words that mean the same thing that are used frequently. Tailoring a good `.dic` is not an easy task and very labor intensive. We can try to search dictionaries around the 100k mark (unsure about how to judge the

[2016-03-12 11:25] JuliusSweetland commented on #221
Ok. I'll take a look early next week. I'm nearly done customising the other
language keyboard so as soon as we agree a dictionary I think we're good to
start testing for release.

On Sat, 12 Mar 2016, 11:21 andylamp, <notifications@github.com> wrote:

[2016-03-12 11:26] andylamp commented on #221
@JuliusSweetland Super stuff! Let me know if there is anything else that I can help with -- coding wise.

[2016-03-12 11:32] JuliusSweetland commented on #221
Will do, thanks. It would be really helpful if you got the latest from the
Greek branch and took a look at the updated language keyboards. I haven't
don't German and Russian yet, but the others are there. I've added dead key
diacritics and changed the layouts of the alpha and conversation alpha
keyboards a bit to accommodate the new keys. Let me know what you think.

On Sat, 12 Mar 2016, 11:26 and

[2016-03-12 11:35] andylamp commented on #221
@JuliusSweetland Ok -- do that changes you want in the Greek branch; I'll pull the latest this afternoon and I'll take a look. I think we have to elaborate a bit on how to handle polytonic languages as if we want to support Arabic, Chinese and so on this "hack-n-slash" method of hard-coding everything will be a pain (and a huge source of potential bugs).

Let me know what you think.

[2016-03-12 11:53] Chinesevolunteer commented on #148
Hi，I am Chinese，is chines version be consider？  My English is poor :p

[2016-03-13 09:12] JuliusSweetland commented on #148
@Chinesevolunteer Chinese is on the list, but not scheduled yet as there are a lot of complications that need to be considered. I'll let you know when we start on Chinese. Thanks!

[2016-03-13 11:03] feldrim commented on #206
Hi. There's only 9 word/terms last on transifex. Though I don't have proper equipment. So I don't know what those commands do. Translating them word by word would cause wrong translation. I'll take a deeper look in documentation for the issue. Beyond that I'd love to help any other translations like web site, documentation or video subtitling. Nowadays I plan to translate the documentation after f

[2016-03-13 11:05] JuliusSweetland commented on #206
I only have access to email right now, but if you post the remaining
English strings I'll explain them for you.

On Sun, 13 Mar 2016, 13:03 the f., <notifications@github.com> wrote:

[2016-03-16 15:35] Kerl1310 commented on #217
I'm interested in getting involved in this project and have some experience with C#

[2016-03-17 13:44] JuliusSweetland commented on #217
@Kerl1310 Hi - that's great. Do you want to look over the issues https://github.com/OptiKey/OptiKey/issues/ and let me know which one you want to take a look at? I can give you any info that you need to get started once we know what you're interested in.

[2016-03-18 19:56] H1ghty commented on #148
Hi @lukeses is the polish language available already, somewhere?

[2016-03-19 08:04] JuliusSweetland commented on #148
@H1ghty Polish is not currently available. I can see that you've requested it on Transifex and I've just approved it. Once the UI strings are complete on Transifex let me know and I'll start a Polish issue to discuss keyboard layout etc. Thanks.

[2016-03-19 08:12] JuliusSweetland opened #238 "Localisation: Polish"
**1.Transifex translation of UI strings:** currently 100%

**2.Keyboard layout:**
None yet

**3.Alphabet:**
a)Letters: ? individual letters

b)Diacritics that can be added to individual letters (these will be dead keys): ?

Total: ? keys

**4.Word list:** None yet

**5.Branch:** None yet

[2016-03-19 08:13] JuliusSweetland commented on #148
@H1ghty Actually ignore that. Polish is 100% translated already on Transifex. I will create an issue for it here: https://github.com/OptiKey/OptiKey/issues/238 - please can you give me information about the keyboard layouts etc following the guide at the very top of this page. There are a few languages ahead of Polish at the moment, but we can gather the relevant info and go from there.

[2016-03-19 08:36] KrzysztofGoralski commented on #148
Hi @JuliusSweetland , ok. I will try to provide needed informations as soon as possible. :)
But wanted to ask you first what is the 'status' , because @lukeses  was talking about polish language too. Thanks!

[2016-03-19 08:37] H1ghty commented on #148
@JuliusSweetland , ok. I will try to provide needed informations as soon as possible. :)
But wanted to ask you first what is the 'status' , because @lukeses was talking about polish language too. Thanks!

[2016-03-19 22:06] lukeses commented on #238
@H1ghty @JuliusSweetland Most of the work is done, but I haven't make a pull request with Polish version yet.
My family member is using Polish version as daily basis. I need to merge with changes from the newest release that was made few weeks ago. Probably there will be not so much to do to merge with newest version.
2. I prepare version with the most popular diacritics on main keyboard. It was r

[2016-03-19 22:08] lukeses commented on #148
@H1ghty I informed about status of the project in #238.

[2016-03-20 03:50] H1ghty commented on #238
hi @lukeses Thanks for info. I can test it. That would be great!

[2016-03-20 07:30] JuliusSweetland commented on #238
@lukeses that's excellent news. Looking forward to seeing a screenshot.
I'll then create an issue and a branch for Polish.

On Sun, 20 Mar 2016, 05:50 H1ghty, <notifications@github.com> wrote:

[2016-03-24 19:08] feldrim commented on #206
Sorry, I've been late. Here are the last 9 terms I've been stuck:

- CONVERSATION ALPHA
- CONVERSATION NUMERICS & SYMBOLS
- DOCK ACTION KEYS:
- Overrides for individual key fixation times (ms):
- MODIFIER KEYS:
- MOUSE (DO AT CURRENT LOCATION) KEYS:
- MOUSE (DO AT POINT) KEYS:
- MOUSE (MISCELLANEOUS) KEYS:
- Specify times to complete on individual keys:

[2016-03-26 08:06] JuliusSweetland commented on #221
@andylamp Have you found a suitable Greek dictionary that we can use? Everything else on the Greek branch is nearly done and ready for beta testing. I've had a look for Greek dictionaries, but I don't read Greek so it's impossible for me to assess the quality of what I find.

[2016-03-26 08:16] JuliusSweetland commented on #206
Translations below each one...

* CONVERSATION ALPHA
This is the name of the Alpha (the main keyboard containing all the letters) keyboard when you are in CONVERSATION mode, i.e. it is the full screen letters keyboard when you only want to generate speech.

* CONVERSATION NUMERICS & SYMBOLS
As above, but this is the conversation keyboard (fullscreen) which contains numbers and symbols.

* DOCK ACT

[2016-03-26 10:56] JuliusSweetland commented on #148
*ALL* - could you please provide a translation of this new string into French, German, Russian, Dutch and Greek:

*Suppress modifier keys for all mouse actions:*

It is a new setting which sits alongside "Suppress modifier keys when in mouse keyboard:" and means that modifiers (such as SHIFT, ALT, CTRL, WIN) will always be temporarily released when performing a mouse action such as a left click, t

[2016-03-26 13:22] Ar2rZ commented on #148
Hi  Julius,

Have no time to spend on your project at the moment.

Correct translation will be something like this:
Скрыть модификаторы клавиш для всех действий мыши:

Regards,
Arthur

On Sat, Mar 26, 2016 at 10:57 AM, Julius <notifications@github.com> wrote:

[2016-03-26 16:26] andylamp commented on #148
@JuliusSweetland Google translate had me there, better translation given than I came up (due to semantics, but the one given by GT is more to the point. Fixed for both strings (for Greek).

[2016-03-26 16:30] JuliusSweetland commented on #148
Is there a PR? I'm at the rugby so I can't check until later... Thanks

On Sat, 26 Mar 2016, 18:27 andylamp, <notifications@github.com> wrote:

[2016-03-26 16:31] andylamp commented on #221
@JuliusSweetland can you link the ones you found so that I can test them (the .dic files). The ones that I found are really bad...

[2016-03-26 16:34] JuliusSweetland commented on #221
The only ones that I found should have been posted above on this thread. I
can't check right now.

On Sat, 26 Mar 2016, 18:31 andylamp, <notifications@github.com> wrote:

[2016-03-26 19:12] JuliusSweetland commented on #148
@Ar2rZ Thanks Arthur.

[2016-03-27 18:35] JuliusSweetland commented on #221
@andylamp I've just released v2.3.1_pre-release_1 (https://github.com/OptiKey/OptiKey/releases) which isn't quite finished (I'm waiting for a few strings to be translated), but has a 100k Greek word dictionary which was generated from the 100k most common words used in Greek tv shows and films. Can you try it out and let me know what you think? N.B. If you've already run OptiKey with a test Greek

[2016-03-27 18:39] JuliusSweetland commented on #148
**ALL** I've just released v2.3.1_pre-release_1 (https://github.com/OptiKey/OptiKey/releases) which isn't quite finished (I'm waiting for a few strings to be translated), but includes new dictionaries for all languages (except English) which have been generated from the 100k (or 200k in the case of Dutch) most common words used in tv shows and films of that language. The layout of the keyboards ha

[2016-03-27 23:53] feldrim commented on #206
All words in Transifex are translated. They may need a review, maybe by those who have already made contributions before me.

[2016-03-28 00:55] andylamp commented on #221
@JuliusSweetland Okay will test today and see what's what... (remember that I crafted a build command inside the solution of OptiKey specifically for cleaning user files :))

[2016-03-28 05:42] JuliusSweetland commented on #206
Good stuff, thank you

On Mon, 28 Mar 2016, 01:53 the f., <notifications@github.com> wrote:

[2016-03-28 10:33] feldrim commented on #206
You're very welcome.

[2016-03-28 11:09] H1ghty commented on #148
Hi @lukeses How can I start testing polish language?

[2016-03-29 12:30] Joostvt opened #241 "Screen freezes when change language to Dutch (Nederland)"
Hello,

My screen freezes when I choose the Dutch language.

Does someone know an option?

[2016-03-29 15:39] JuliusSweetland commented on #241
@Joostvt It should return and work correctly again after a few seconds. It is because the Dutch dictionary is HUGE compared to other languages. I have a change coming that reduces the dictionary size to reduce (but not eliminate) this problem.

[2016-03-29 15:41] JuliusSweetland commented on #221
@andylamp Hi Andy - I've just noticed the two closed PRs (https://github.com/OptiKey/OptiKey/pull/239 and https://github.com/OptiKey/OptiKey/pull/240) - I presume these might have included the new string translation? Could you post it here and I'll add it manually? Thanks.

[2016-03-29 15:58] andylamp commented on #221
@JuliusSweetland better get the updated resx from Transifex as I've corrected a couple of more strings to be more concise. During testing the -pre build I found the following two issues:

* a "cancel" windows sound pops right after a letter that can be enhanced by punctuation is pressed. (no idea why)

* the syntax engine seems to prefer words that have no punctuation than those who do. For exampl

[2016-03-29 16:06] JuliusSweetland commented on #221
@andylamp The "cance" sound is probably because OptiKey has focus and when you select a key it is trying to type onto itself. As OptiKey cannot receive typed text it sounds an error tone. Try pressing physical keys with OptiKey focused and you should hear the same tones?

Regarding the suggested words; could you check the GreekGreece.dic file and look for instances of `ωραιο` and/or `ωραίο` - I'm

[2016-03-29 22:32] andylamp commented on #221
@JuliusSweetland

* Uhm, basically after a restart clean/rebuild didn't do those sounds. I'll look into it a bit more.

* it's there but it's not suggested.

Also I noticed that there is no prediction at all based on the context of the conversation, like in SwiftKey for example. Can we implement something there? Intel's one has that functionality, maybe we could implement something along those lin

[2016-03-30 06:07] JuliusSweetland commented on #221
@andylamp contextual word suggestion is out of scope for this specific
change. There is an issue to integrate presage, but it's a different piece
of work. What about the diacritic/non diacritic suggestion issue from
yesterday?

On Tue, 29 Mar 2016, 23:32 andylamp, <notifications@github.com> wrote:

[2016-03-30 06:29] andylamp commented on #221
@JuliusSweetland still present. not suggesting the correct keywords with punctuation. Just try and type the example I gave you -- there is no need to know Greek just type the word using the characters you see, one at a time and see the suggestions.

[2016-03-30 07:06] JuliusSweetland commented on #221
@andylamp ok will do. Is the version without the diacritic marks completely
incorrect, i.e. is it never a word?

On Wed, 30 Mar 2016, 07:30 andylamp, <notifications@github.com> wrote:

[2016-03-30 09:38] andylamp commented on #221
@JuliusSweetland just try the example I gave you, you'll immediately understand what I am saying. Specifically when the word builds up as you type letter you'll get to a point where `ωραι` and you won't be suggested `ωραίο` but `ωραί` or `ωραιο` which is the correct word w/o punctuation. I hope I get through the message as it's quite hard to relay that if you don't know Greek :).

[2016-03-30 09:48] JuliusSweetland commented on #221
I understand. I'll try it asap.

On Wed, 30 Mar 2016, 10:39 andylamp, <notifications@github.com> wrote:

[2016-03-30 18:25] #241 closed

[2016-03-30 18:26] JuliusSweetland commented on #237
Cannot replicate issue. French dictionary may be wrong. No evidence that previously stored entries were lost. It may be possible that the whole dictionary is not being serialised to disk. This is another issue that I have seen previously.

[2016-03-30 18:39] andylamp commented on #221
@JuliusSweetland also when you have the time, give me your thoughts on what I said about predictive text -- which is to provide a SwiftKey-like functionality on the keyboards.

Additionally the dictionary sizes are going to pose a huge issue with rich languages like Japanese, Chinese and so on... entry count will be much, much higher; so I think something needs to be reworked  there. I can help, b

[2016-03-30 18:51] lukeses commented on #238
@H1ghty @JuliusSweetland Here is Polish version that need to be updated: https://github.com/lukeses/OptiKey/tree/Polish
As you see I need to make a big update.
For now Polish version looks like this
![keyboard polish](https://cloud.githubusercontent.com/assets/4325715/14153365/e393471a-f6b7-11e5-820d-7fe286767a4c.PNG)
![diacritics](https://cloud.githubusercontent.com/assets/4325715/14153493/4e6683

[2016-03-30 19:12] JuliusSweetland commented on #221
@andylamp Here are the results of my testing with a clean dictionary and build (of the Greek branch):

* Typing ωρα results in these 4 suggestions:
![image](https://cloud.githubusercontent.com/assets/4722561/14153019/0b13bcd4-f6ae-11e5-9adb-d88e95ce7ea3.png)

* BUT, the next suggestions are:
![image](https://cloud.githubusercontent.com/assets/4722561/14153032/1a9d4aa8-f6ae-11e5-8c69-bf21e96ea3e8.p

[2016-03-30 19:22] andylamp commented on #221
@JuliusSweetland

1) Well, we have to refine this as I am annoyed if the first couple words suggested do not include the one I want -- let alone someone with a disability... I think by the time you've typed `ωρα` you should've *at least* got `ώρα` and `ωραίο` in the first three matches as both `ώρα` and `ωραίο` are very commonly used words. Additionally, you'll probably have to take my word on thi

[2016-03-30 19:25] JuliusSweetland commented on #238
@lukeses I've just had a quick look over all of this (including your code) and it looks great - nice work!

I haven't merged the changed back into master yet, but on the Greek branch (which is being finalised for release at the moment) I have changed a couple of things... Primarily, all diacritic keyboards are the same for all languages. This is because of the second main change, which is the intr

[2016-03-30 19:29] JuliusSweetland commented on #221
@andylamp Understood, but I don't understand what is wrong with these suggestions:
![image](https://cloud.githubusercontent.com/assets/4722561/14153019/0b13bcd4-f6ae-11e5-9adb-d88e95ce7ea3.png)
The first suggestion is always what the user has typed. This is because I have seen users who only use the suggestion to select what they have typed and leverage the auto-space functionality. I don't think

[2016-03-30 19:34] andylamp commented on #221
@JuliusSweetland I'll try to elaborate. The biggest issue is that for example -- and I *really* using *simple* prediction cases -- `ωρα` is an actually word; so immediately in the first results you should have what you typed and `ώρα`, which is the same word but using punctuation (w/o punctuation you have what you typed already, which is `ωρα`). Then I would expect to have `ωραίο` which is the wor

[2016-03-30 19:40] H1ghty commented on #238
Hi,
@lukeses  wow, nice job! thank you very much. I would like to install it for my mother, unfortunately she also has ALS. But we will be able to give an input how it works.

@JuliusSweetland I got a question, is somewhere here an instruction how to hmm  build this project with polish language? Because i'm not familiar with c# technologies, so I don't really know how to use it with different lang

[2016-03-30 19:44] JuliusSweetland commented on #221
@andylamp it does make sense, but the suggestions are not contextual.
OptiKey currently can only look at the current word that you're typing and
make suggestions on that in isolation.

On Wed, 30 Mar 2016, 20:34 andylamp, <notifications@github.com> wrote:

[2016-03-30 19:54] andylamp commented on #221
@JuliusSweetland can that be enhanced so that it does? Otherwise, if that's the case I don't think we can do anything more; other than prefer punctuated and complete words instead of half-baked or w/o punctuation. If these can be fixed you can release it... if not then, release it as is and we make refinements later because I get the feeling we have to work on this for quite a while.

[2016-03-30 20:06] JuliusSweetland commented on #221
@andylamp Word prediction CAN be add (see the Presage issue), but it's a
separate piece of work to the Greek release.

In terms of which words are suggested: are any of the words that are
currently suggested incorrect words, i.e. are any of the suggestions not
valid words? If so then we need to clean up the dictionary manually.

On Wed, 30 Mar 2016, 20:54 andylamp, <notifications@github.com> wrote

[2016-03-30 20:23] andylamp commented on #221
@JuliusSweetland As I said, the best thing to do at the moment is to hide half-baked (e.g. `ωραι` instead of `ωραιο`) and non-punctuated words entirely.

[2016-03-30 20:38] JuliusSweetland commented on #221
@andylamp If ωρα, ώρα, ωραι, ωραί, ωραίο and ωραιο are all valid words in one scenario or another, then there is currently no way for OptiKey to know this and all might be suggested. If any of them are NEVER valid words then they need to be removed from the GreekGreece.dic file completely.

[2016-03-30 20:43] JuliusSweetland commented on #238
@H1ghty To build the project you need visual studio. There is a free version available called Visual Studio Community. However, perhaps @lukeses can build you a version for initial testing? I will release an official version of OptiKey with Polish in due course, but there is a bit of work to be done first.

RE: ACAT - it's interesting to see how localisation is being attempted within the ACAT proj

[2016-03-30 20:58] andylamp commented on #221
@JuliusSweetland `ώρα` and `ωραίο` are valid words -- the other two are not. Trimming the dictionary is a considerable task and a very tedious process. I'd avoid that if possible.

[2016-03-30 21:02] JuliusSweetland commented on #221
@andylamp I'll write something which extracts all entries which have multiple entries which only differ by their accents. Perhaps the list won't be as large as we fear. Otherwise we need a new dictionary.

[2016-03-30 21:03] JuliusSweetland commented on #148
**ALL** I still need feedback/corrections on the following strings:

French: "Désactive les méta-touches pour toutes les actions de la souris:"
German: "Unterdrückt Zusatztasten für alle Mausaktionen:"
Dutch: "Onderdruk modifier sleutels voor alle muisacties:"
Greek: "Καταστολή πλήκτρα τροποποίησης για όλες τις δράσεις του ποντικιού:"

[2016-03-30 21:03] JuliusSweetland commented on #221
@andylamp Also I still need to translate this string - can you please correct:

Greek: "Καταστολή πλήκτρα τροποποίησης για όλες τις δράσεις του ποντικιού:"

[2016-03-30 21:05] andylamp commented on #221
@JuliusSweetland isn't that on transifex? Pull the resx file from there as I think I translated that already.

[2016-03-30 21:07] JuliusSweetland commented on #221
@andylamp ah ok. Will do, thanks.

On Wed, 30 Mar 2016, 22:05 andylamp, <notifications@github.com> wrote:

[2016-03-30 21:08] andylamp commented on #221
@JuliusSweetland yeah, because I've changed a couple of other strings as well -- grab that from there just to be sure it's up to date.

[2016-03-30 21:12] ninehundred1 commented on #148
sorry I missed that, you got it almost correct:

*Suppress modifier keys for all mouse actions:*
German: "Unterdrücke Zusatztasten für alle Mausaktionen:"

On Wed, Mar 30, 2016 at 5:03 PM, Julius <notifications@github.com> wrote:

[2016-03-30 21:20] JuliusSweetland commented on #148
Brilliant, thanks Stephan.

On Wed, 30 Mar 2016, 22:12 Stephan Meyer, <notifications@github.com> wrote:

[2016-03-30 21:28] JuliusSweetland commented on #148
**ALL** Just French and Dutch to go now:

French: "Désactive les méta-touches pour toutes les actions de la souris:"
Dutch: "Onderdruk modifier sleutels voor alle muisacties:"

[2016-03-30 22:16] lukeses commented on #238
I played with merging with newest master. Some changes was needed in Polish xamls but now it builds. :) It isn't pushed yet because I would like to update file with translation of GUI.

1. and 2. I think that all letters should be visible on keyboard. As I saw it was easier for my uncle to have all letters.

Based on your proposals, some kind of standards and my sources (https://pl.wikipedia.org/w

[2016-03-31 05:45] rfcar commented on #234
Hey there, i can help with the brazilian portuguese.

2. The brazilian keyboard looks good. Is it going to have both?

3. Letters and diacritics are correct. The  ¨ (ü)  diaeresis has been abolished in portuguese from Brazil, but it is still used in foreign words, like "Müller". I believe the same happens in Portugal, but i'm not sure.

4. [This](http://alcor.concordia.ca/~vjorge/Palavras-Cruzadas

[2016-03-31 08:19] JuliusSweetland commented on #234
@rfcar Answers:
1. Yes, both.
2. Are foreign words that need the diaeresis used commonly enough to justify having a diaeresis key on the main Alpha keyboard,  or would it be sufficient for the user to have to navigate to the Diacritic keyboard instead?
3.The small size is not hugely significant if the word list is good quality. I can see two small issues with that list: all entries are in capitals