[2016-03-31 08:24] JuliusSweetland commented on #238
@lukeses I can't comment on how suitable the layout is to use, but it looks good to me. The only change I can think of is that I have made a small change to the Alpha keyboard of all languages - nothing major, but I've changed the keys on the right of the keyboard a bit (in the Greek branch which will be merged into master soon). You might want to manually make this change as well:
![image](https:

[2016-03-31 08:29] andylamp commented on #221
@JuliusSweetland you didn't tell me if I should start reworking the translation how-to... If anything else is needed to be done in this issue before we release let me know, so I can do it -- otherwise I am going to start ;).

[2016-03-31 08:37] JuliusSweetland commented on #221
@andylamp I think you're good to go. For this Greek release the only
outstanding tasks are: to clean up the dictionary, add the new setting
string for French and Dutch, and test thoroughly for all languages as the
dictionaries/keyboard layouts/method of typing diacritics has changed.

On Thu, 31 Mar 2016, 09:29 andylamp, <notifications@github.com> wrote:

[2016-03-31 17:57] rfcar commented on #234
@JuliusSweetland

1. Cool, that's great.

2. It is not common to use it, so i believe it is not necessary in the main keyboard.

3. Sure, here you go. I changed all to lowercase, removed single characters and some inappropriate words. I just left capitalized some abbreviations that i remembered , like ONU (the UN). [wordlist_pt-BR.txt](https://github.com/OptiKey/OptiKey/files/198205/wordlist_pt-BR

[2016-03-31 18:36] JuliusSweetland commented on #234
@rfcar Actually I've just looked at the 2 layouts more closely and it doesn't look like there's any benefit to having 2 as the main letters are all in the same places, right?

[2016-03-31 18:37] JuliusSweetland commented on #234
@rfcar Also great work on the word list!

[2016-03-31 19:06] H1ghty commented on #238
@lukeses  Thanks. That will be grat if you can upload it for me.
About Eye tracker , we got tobii camera but for now we are using http://www.cameramouse.org/ which is easier for my mother to use.

about the meeting, we can consider it and share our experience about such software :)
Now I'm looking for very sensitive sensor or something to replace left mouse click, I think that I saw that in System

[2016-03-31 20:12] JuliusSweetland commented on #221
@andylamp Ok, I've knocked up a LinqPad program which looks for duplicate entries in a dictionary file. Duplicates are entries which would be the same if the diacritics (accents etc) were removed. The 100k Greek dictionary has 13,284 groups of duplicates, so the problem is significant. Here is the linqpd file - copy this into a text editor and save it as SomeFileName.linq. You can then open this i

[2016-04-01 00:03] rfcar commented on #234
@JuliusSweetland You're right, apparently the only difference is the disposition of the accents, but as that stays in a secondary keyboard, it should not be a problem.

[2016-04-01 01:38] cjb opened #242 "A speech board / speech mode for blind users"
Hi!  I'm a programmer who has volunteered to help out a speech therapist who has an unusual use case for OptiKey -- helping someone to communicate who is lacking motor control and blind, but has control over eye movement.

It sounds like the mode would involve having large buttons covering each compass edge of the screen, each one representing a word like Yes/No/Help.  Instead of adding the chosen

[2016-04-01 08:10] JuliusSweetland commented on #221
@andylamp One thought would be to simply discard any duplicated strings which do not have diacritics. This may be overly simplistic though and result in entries that shouldn't have diacritics being kept over the more correct form, but I need your input on that. If successful we should have far fewer duplicates to look at (where there are more than 2 entries with different diacritics).

[2016-04-01 21:13] lukeses commented on #238
@H1ghty Here is a working version of Optikey with Polish:
https://www.dropbox.com/s/j4lwpmgu8mech12/Release.zip?dl=0

I will work on finisihing our language to make it ready for PR.

[2016-04-01 21:30] JuliusSweetland commented on #221
@andylamp I've just checked a bit deeper:

10,140 duplicate sets where one entry has no diacritics, while the other entry has at least one diacritic. These could be reduced by favouring the version with diacritics (if you think this is a valid way forward).

1,796 duplicate sets with more than 2 duplicate entries. These can't be automatically cleaned so these require manual inspection.

[2016-04-02 07:29] andylamp commented on #221
@JuliusSweetland I can try to clean this up, but I can't really do it that fast... will take a week as it's cumbersome and tiring task. What I propose is to have only words that are relevant to *modern-Greek* and are punctuated. So for example `είναι` would be OK and all others would be rejected -- but a Greek has to do that so you know semantically what to discard and what not...

[2016-04-02 07:37] JuliusSweetland commented on #221
@andylamp would you like me to provide an initially cleaned version where
duplicated entries without diacritics are removed?

On Sat, 2 Apr 2016, 08:29 andylamp, <notifications@github.com> wrote:

[2016-04-02 07:38] andylamp commented on #221
@JuliusSweetland yep, I can do that -- the question is I don't know how fast I can do that. I'll try my best.

[2016-04-02 08:03] JuliusSweetland commented on #221
@andylamp let me know if I can help. Shall we catch up next week to see how
you're going? In the mean time I'll ask other contributors to test the
other languages.

On Sat, 2 Apr 2016, 08:38 andylamp, <notifications@github.com> wrote:

[2016-04-02 08:25] andylamp commented on #221
@JuliusSweetland yea for sure. I wish you could help, but as you might imagine you have to know the language to understand what to discard and what not :/.

[2016-04-05 10:29] JuliusSweetland commented on #242
@cjb Hi Chris. Apologies for the delay in getting back to you - lots going on at the moment.

You can achieve a proof of concept with only a few changes:
* Create a new keyboard with 2 keys on it to get started, e.g. "Yes" and "No". As the user is partially/completely blind these need to be as large as possible to cover the left and right halves of the screen, for example.
* Make this keyboard the

[2016-04-06 12:21] PiotrKurnik commented on #238
Fantastic job! I saw that Polish was missing and decided that I have to crack down on it. Your help is much appreciated!

[2016-04-06 18:52] andylamp commented on #221
@JuliusSweetland I am progressing slowly but steadily. Hopefully I'll be done by weeks end or close to that.

PS It's **very** monotonous

[2016-04-06 19:31] JuliusSweetland commented on #221
@andylamp that's good to hear. I totally understand the monotony. I've done
a few long winded tasks like this!

On Wed, 6 Apr 2016, 19:52 andylamp, <notifications@github.com> wrote:

[2016-04-08 16:37] KrzysztofGoralski commented on #238
HI @lukeses thank you. We were testing for some time. We think it is very nice. Really good job. And polish chars on the first 'page' is quite nice idea

@JuliusSweetland  about not stable click2speak. Floating windows, they move around, sometimes don't really know why. I like that OptiKey is solid, keyboard doesn't window itself etc.Sometimes it is also quite slow.

What we like about click2speak

[2016-04-08 18:59] andylamp commented on #238
@KrzysztofGoralski All are valid points. We are seeking to address them... I think the priority is as follows:

* Performance: Generally speaking, as it stands OptiKey cannot handle large dictionaries very efficiently this will be address soon (hopefully) as work on that will start after the current beta branch is released.

* Prediction: Let me be clear we *cannot beat swiftkey*; swiftkey is a bi

[2016-04-08 19:30] KrzysztofGoralski commented on #238
Hi @andylamp Ofcourse I understand. @JuliusSweetland  made amazing job.
I just wanted to give some input. It is really great that such tools are available for free. That really helps people.

[2016-04-08 19:34] JuliusSweetland commented on #238
@KrzysztofGoralski @andylamp thanks for your input and feedback.

On Fri, 8 Apr 2016, 20:30 Krzysztof Góralski, <notifications@github.com>
wrote:

[2016-04-11 10:39] JuliusSweetland commented on #237
Investigated and cannot replicate the problem. The French dictionary only contains, for example, "appelle" rather than "m'appelle", but no suitable alternative dictionary has been found and there is no reason these missing entries cannot be included manually by the end user. Closing.

[2016-04-11 10:39] #237 closed

[2016-04-11 21:25] JuliusSweetland commented on #206
@feldrim FYI Turkish is underway. It won't be released until after Greek, but we can test soon. I'll update you as soon as I have something for you.

[2016-04-11 21:39] feldrim commented on #206
Thanks. By the way, there's an incorrect translation in transifex after today's update.

`Turkish (Turkey) / Türk (Türkiye)` must be `Turkish (Turkey) / Türkçe (Türkiye)`

[2016-04-11 21:42] JuliusSweetland commented on #206
@feldrim Good catch - corrected now.

[2016-04-12 08:26] JuliusSweetland commented on #228
Further thoughts:

Option 1: Fall back to mouse when eye tracking signal is lost (for x amount of time) AND THEN when the mouse next moves (otherwise any time the eyes are lost the current, static cursor position may be incorrectly used to make selections).

Option 2: Modify OptiKey so that point sources and trigger sources can be switched without a restart. Add shortcut(s) to switch to/from mouse

[2016-04-12 11:54] yahnatan commented on #228
This feature will be really helpful when using Optikey for its "magnetic cursor" mode in order to use an eyegaze camera with other applications in a free / open source way. My typical use case (with my son) involves turning on Optikey, enabling the magnetic cursor feature, and then minimizing Optikey. Typically I do this using my eyes and then switch user profiles to my son once Optikey is minimiz

[2016-04-12 12:07] JuliusSweetland commented on #228
@yahnatan Touch support is not part of this piece of work, but it is on my todo list. I'll find/recreate a ticket for it now.

[2016-04-12 12:08] JuliusSweetland commented on #23
Resurrected

[2016-04-12 12:26] JuliusSweetland commented on #23
* FrameReported event (WPF):
http://stackoverflow.com/questions/4825959/filtering-a-touch-framereported-iobservable-using-arbitrary-boolean-condition-th
https://msdn.microsoft.com/en-us/library/system.windows.input.touch.framereported(v=vs.110).aspx

* Window_Manipulation events (also WPF) - I think these are high level versions of the WM_MANIPULATION events:
https://msdn.microsoft.com/en-GB/libra

[2016-04-12 14:44] raponiwalter commented on #148
Thankyou for your job! I'll be available for Italian.
I'm available even for anything web related as a developer.

[2016-04-12 14:45] JuliusSweetland commented on #148
Thanks Walter. I'll create a new issue for Italian when we get to it.

On Tue, 12 Apr 2016, 15:44 Walter Raponi, <notifications@github.com> wrote:

[2016-04-12 19:42] PiotrKurnik opened #244 "Simplified menu"
Hi,
I don't know it this feature was already discussed or not. It would be nice to have a simplified keyboard. Could we have a keyboard that is similar to Microsoft's tiles. Each tile would have a graphical symbol on it and clicking it would automatically generate message, including text to speech feature. Examples include: 'I want to eat', 'I am thirsty' and so on. Using eye tracker and full keyb

[2016-04-12 21:08] JuliusSweetland commented on #206
Hmm, we have a complication. The Turkish i's are not going to work with OptiKey as it currently stands.

This is how switching the casing of the i's works in windows and C#:
i (lowercase i) -> I (uppercase i) *incorrect for Turkish*
I (uppercase i) -> i (lowercase i) *incorrect for Turkish*
ı (lowercase dotless i) -> I (uppercase i) *correct for Turkish*
İ (uppercase dotted i) -> i̇ (lowercase i)

[2016-04-12 21:11] JuliusSweetland commented on #206
Latest version of Turkish uploaded to "Turkish" branch if you want to check out the problem. I think everything else is complete. All ideas and help is very welcome.

[2016-04-12 21:41] JuliusSweetland commented on #206
Actually I can probably just set the desired culture on all usages of ToUpper and ToLower  from the relevant language setting.

This link specifically references the English/Turkish I problem in the example:
https://msdn.microsoft.com/en-us/library/24kc78ka(v=vs.110).aspx

[2016-04-13 09:27] JuliusSweetland commented on #206
@feldrim As Q W X are not part of the Turkish alphabet, can I remove them completely? I presume they are only included on the keyboard so people can type words in other languages, but within OptiKey you can change the whole keyboard layout by changing your input language, rendering them unnecessary. What do you think?

[2016-04-13 09:32] JuliusSweetland commented on #242
@cjb Another issue has just been created (https://github.com/OptiKey/OptiKey/issues/244) which is asking for a very similar thing; a sort of speech board with no fancy features. As this overlaps with what you are doing I'm going to close the other issue and point the creator here.

I had an idea of how this change could work for both of you; once you have a proof of concept it could be extended to

[2016-04-13 09:33] JuliusSweetland commented on #244
@PiotrKurnik This is possible. Another user is looking into a similar idea already: https://github.com/OptiKey/OptiKey/issues/242

I've just added some comments to their issue so I'll close this one and we can continue on issue 242.

[2016-04-13 09:33] #244 closed

[2016-04-13 12:15] feldrim commented on #206
1. In Java, we use the Locale object. The usage is like:
`Assert.assertEquals("title", "TITLE".toLowerCase(Locale.ROOT));`
Wth the `Locale.ROOT`, we can set the default lowercare/uppercase conversion according to the system default. I'm pretty sure Microsoft has their own format -like the `culture`. So that you won't have any concerns about `toLower/toUpper`.

2. Removing them would change the who

[2016-04-13 14:03] JuliusSweetland commented on #206
@feldrim Regarding the layout - if you *never* use letter Q W X in Turkish then they really shouldn't be there as they will fail to match with any words in the Turkish dictionary. Are they only there to be able to type in other latin based languages, i.e. never for Turkish? If so I would like to consider a layout change as it may not be as dramatic as you think, i.e. it's 2 letters removed from th

[2016-04-13 19:47] feldrim commented on #206
As you've noticed, Turkish Q layout is ineffective for Turkish language. Not only for presence of nonexistent letters like Q, W, X, but also the positioning frequently used letters like ü,ğ,i,ş,ç,ö on the rightmost, which makes users type with the little finger. Though the F Turkish layout is the most effective one known for the language, it's not common. People are accustomed to the Q layout, mos

[2016-04-13 21:31] JuliusSweetland commented on #206
I'll leave it as the Q layout for the moment and we can consider the layout
again during testing.

On Wed, 13 Apr 2016, 20:47 the f., <notifications@github.com> wrote:

[2016-04-14 08:10] JuliusSweetland commented on #221
@andylamp Hi Andy - how is the cleanup going? Still fun?!

[2016-04-14 20:25] JuliusSweetland commented on #206
Turkish pre-release is ready for testing!

While we wait for v2.3.1 (Greek and features) I have created another pre-release with Turkish support: v2,3.2 here: https://github.com/OptiKey/OptiKey/releases

PLEASE NOTE THAT THIS IS NOT A FINAL RELEASE AND SHOULD NOT BE INSTALLED UNLESS YOU ARE BETA TESTING THIS VERSION!

Once installed you will have to change the keyboard language (and optionally the

[2016-04-14 20:31] andylamp commented on #221
@JuliusSweetland for sure, it's quite a lot I am doing like 80 entries a day... that's all the time I can spare :).

[2016-04-14 20:34] JuliusSweetland commented on #221
@andylamp Understood. It's long winded. Do you know how far through you are
now?

On Thu, 14 Apr 2016, 21:31 andylamp, <notifications@github.com> wrote:

[2016-04-14 20:48] andylamp commented on #221
@JuliusSweetland like... under a thousand for sure and there are more than 10k.

[2016-04-14 20:56] JuliusSweetland commented on #221
*ALL* Can anyone help @andylamp clean the Greek dictionary? As soon as this last task is done we can release Greek and Turkish, and move on to Spanish.

[2016-04-14 20:57] JuliusSweetland commented on #148
**ALL** Can anyone help @andylamp clean the Greek dictionary? As soon as this last task is done we can release Greek and Turkish, and move on to Spanish.

[2016-04-16 00:09] interpablo commented on #149
Hi @JuliusSweetland
I'd like to collaborate in Spanish, it's my native language. What can I do to help out?
Regards,
Pablo

[2016-04-16 11:17] JuliusSweetland commented on #149
Hi @interpablo - thanks for the offer. At the moment Spanish looks pretty good so I'll get to it asap (I am currently finalising Greek and Turkish releases and then Spanish will be next). If you know Catalan it would be really helpful for you to get involved here: https://github.com/OptiKey/OptiKey/issues/235 - specifically the Transifex translation is not yet complete? Otherwise I'll let everyone

[2016-04-17 19:41] JuliusSweetland commented on #221
@andylamp Ok, I've tried something new with the Greek dictionary. I downloaded a Hunspell Greek dictionary file, which is used in Firefox/OpenOffice/etc, extracted the .dic and .aff files, unmunched them into a flat file, and then cleaned & extracted the top 100,000 entries, ordered by frequency of use in tv show and movie scripts. This essentially is the same as using the dictionary we already ha

[2016-04-17 19:57] andylamp commented on #221
@JuliusSweetland sure, let me check it out and I'll tell you my thoughts on it. For sure cleaning top 2k entries is *much* easier than having to clean 13k.

[2016-04-18 15:40] utacub commented on #149
Finally finished the Catalan Transifex translation, waiting for new instructions (if needed).

[2016-04-18 16:43] JuliusSweetland commented on #149
Hi @utacub - thank you. If I create a Spanish and Catalan branch do you
want to start creating the specialised keyboards?

On Mon, 18 Apr 2016, 16:40 utacub, <notifications@github.com> wrote:

[2016-04-18 20:12] JuliusSweetland commented on #221
@andylamp What do you think of the new Greek dictionary? Does it look better?

[2016-04-19 12:00] JuliusSweetland commented on #206
@feldrim Have you had a chance to test the Turkish pre-release (details in my previous post above)?

[2016-04-20 13:49] andylamp commented on #221
@JuliusSweetland sorry I was swamped the last few days and I haven't have the chance to check it out. I'll take a look today and probably will let you know today or tomorrow.

[2016-04-20 13:54] JuliusSweetland commented on #221
@andylamp great, thanks

On Wed, 20 Apr 2016, 14:50 andylamp, <notifications@github.com> wrote:

[2016-04-20 16:24] JuliusSweetland opened #248 "Localisation: Slovenian/Slovene"
**1.Transifex translation of UI strings:** Complete

**2.Keyboard layout:**
![image](https://cloud.githubusercontent.com/assets/4722561/14681790/8a683358-071a-11e6-8832-1d5e4d541019.png)

**3.Alphabet:**
a)Letters: 25 canonical letters
A,a
B,b
C,c
Č,č
D,d
E,e
F,f
G,g
H,h
I,i
J,j
K,k
L,l
M,m
N,n
O,o
P,p
R,r
S,s
Š,š
T,t
U,u
V,v,
Z,z
Ž,ž

The latin letters Q, W, X and Y are only used in loanwords, bu

[2016-04-20 20:40] PiotrKurnik commented on #242
Hi guys,

Indeed issue that I have raised is the same as the one described by @cjb. I have zero experience with Windows/.NET and therefore I still figure out the building blocks of that.
@JuliusSweetland your concept seems to be fixing all the problems, at least I think it's very promising. I will do my best to follow your description and produce a simple keyboard. I just have to figure out what d

[2016-04-20 20:57] cjb commented on #242
Hi!  Just an update: I'm stalled waiting for some feedback on whether a simple test of the idea worked well with the client it's being developed for.  So please don't wait on me for anything.  :)

[2016-04-20 22:05] feldrim commented on #206
I'm sorry, it's been a bust week. I've tried. The keyboard seems great. Though I couldn't change the interface language. The program works with English interface + Turkish Keyboard.

[2016-04-21 06:01] JuliusSweetland commented on #206
Ok I'll take a look.

On Wed, 20 Apr 2016, 23:05 the f., <notifications@github.com> wrote:

[2016-04-21 09:21] d-mojca commented on #248
I have attached word of slovenian words. How do I know if it is a quality one?
[slo_words.txt](https://github.com/OptiKey/OptiKey/files/229575/slo_words.txt)

[2016-04-21 09:24] d-mojca commented on #248
About other letters --> d)Other:
South Slavic graphemes, Ć, Đ --> they are used in many surnames, so they are used almost on daily basis.

[2016-04-21 12:24] JuliusSweetland commented on #248
@d-mojca The slo-words.txt file looks clean to me (I don't speak Slovenian though!), but is a little large at 203,000 entries. I have a method for reducing this based on how commonly words are used, so I think we can use this file.

Could you edit this list and leave only the diacritics that are generally used, i.e. more than once in a blue moon. For the rare times that the diacritics that you del

[2016-04-21 12:49] JuliusSweetland commented on #242
No rush. I've not got any spare time either at the moment!

[2016-04-21 14:12] utacub commented on #149
Hi @JuliusSweetland.
Yes, sure, we'll give it a try! You can add us to the Spanish and Catalan branch!

[2016-04-21 20:21] d-mojca commented on #248
Hey, none of the written diacritics are used daily, so no need to integrate
them in the main alpha keyboards.
21. apr. 2016 2:24 pop. je oseba "Julius" <notifications@github.com>
napisala:

[2016-04-22 06:24] andylamp commented on #221
@JuliusSweetland I've tested the dictionary (in it's pulled state) and it's really *much* better than the previous one -- go ahead and release it I don't we can do much better just on the dictionary side without doing some semantic analysis of the context. Also I'd like to add a feature -- as an option (turned one by default?). Once the user presses to complete a matching word we should add a spac

[2016-04-22 14:46] JuliusSweetland commented on #248
@d-mojca To be 100% clear are you saying that none of the characters in the diacritics list (acute, caron, umlaut and circumflex accent) are used in Slovakian, INCLUDING Ö and Ü?

[2016-04-22 15:29] JuliusSweetland commented on #221
Thanks @andylamp I'll try to get a release out this weekend if I can.

Regarding auto-space; this feature is already in OptiKey. If you use an auto-complete or multi-key selection suggestion to type a word, then you can continue typing manually, or perform another multi-key selection and a space will be inserted automatically for you between the word. Give it a try.

[2016-04-22 16:19] andylamp commented on #221
@JuliusSweetland oh, it's there -- I was used with the paradigm that when you auto complete the word the space is added then and removed if needed (like in most auto-complete keyboards). So after I was completing the word I just pressed space myself instead of just continuing to type.

As a suggestion, because I find it counter intuitive this way; what do you think of adding the space proactively

[2016-04-22 16:24] JuliusSweetland commented on #221
@andylamp both ways are possible. I went for the current approach as that's
how the Swype keyboard on phones works and I like it. I make an effort in
the getting started guide to point it out to new users so they are aware of
it.

If your wanted to implement the other approach I'd be happy to merge in the
change, but I'm reluctant to make this change myself as the logic settings
auto spacing along

[2016-04-22 16:27] andylamp commented on #221
@JuliusSweetland that's nice! Well, we can make it as an option to the user to select either `Swype`-type space auto-completion or `SwiftKey`-type. But this will have to wait a bit as I want to finish the translation document how-to during the weekend so that others can perform the translations a bit easier.

[2016-04-22 19:00] d-mojca commented on #248
Yes, indeed. And it is not Slovakian, but Slovenian/Slovene. Different
country.
22. apr. 2016 4:46 pop. je oseba "Julius" <notifications@github.com>
napisala:

[2016-04-22 19:12] JuliusSweetland commented on #248
Sorry about that. Lapse in concentration.

On Fri, 22 Apr 2016, 20:00 d-mojca, <notifications@github.com> wrote:

[2016-04-22 19:15] d-mojca commented on #248
No problem.
22. apr. 2016 9:12 pop. je oseba "Julius" <notifications@github.com>
napisala:

[2016-04-23 18:58] andylamp commented on #221
@JuliusSweetland I am about to finish the new translation guide, since it's only one file I don't think we need to create a new branch for it... so instead I think I'll just push it in the `Greek` branch for you to review it. Are you OK with this?

PS likely it will be done tomorrow.

[2016-04-24 16:40] JuliusSweetland commented on #206
@feldrim I couldn't replicate your problem. I was able to change both the keyboard and interface language to Turkish. Please be aware that the "UI language" is a separate setting.

[2016-04-25 07:25] d-mojca commented on #248
If you need anything else, let me know.

[2016-04-25 07:29] JuliusSweetland commented on #248
Will do. Thanks

On Mon, 25 Apr 2016, 08:25 d-mojca, <notifications@github.com> wrote:

[2016-04-25 18:32] JuliusSweetland commented on #221
Releasing Greek (shortly) as v2.3.1

[2016-04-25 18:32] #221 closed

[2016-04-25 18:34] JuliusSweetland commented on #221
@andylamp Please can you make and PR the localisation document change against master when you are ready. I have merged and deleted the Greek branch. Thanks.

[2016-04-25 18:35] andylamp commented on #221
@JuliusSweetland will do.

[2016-04-27 10:28] kirstymcnaught commented on #134
I've been using OptiKey for months and I still get confused by this! I keep wanting 'jump' to dock it, so my usual workflow (if it's floating and I want to dock it) is:

- jump to edge. jump again. jump again. wonder why it isn't docking. expand as many times as I need to fill the edge. Jump again. Get desperate. Remember I need to move it again.

I know there's an easier workflow (jump once, move

[2016-04-27 10:57] kirstymcnaught opened #251 "Making an app fullscreen breaks OptiKey position/size"
I realise that it doesn't make sense to have a full screen app *and* expect to use OptiKey on top, but if you accidentally set Minecraft to full screen the results are weird and it's hard to escape from the situation.

Using OptiKey release 2.3.0.

1) Dock OptiKey
2) Launch Minecraft
3) Set Minecraft to be fullscreen
   - Minecraft takes up the whole screen, without OptiKey, as expected.

then:
4)

[2016-04-27 10:58] kirstymcnaught commented on #251
Video demo here:
https://youtu.be/SLKeAP5uRvQ

[2016-04-27 11:13] Ar2rZ commented on #161
https://emotiv.com/store/ -  one more brain controller.

[2016-04-27 12:31] kirstymcnaught opened #252 "Mouse down/up buttons in inconsistent state"
Using version 2.3.0, publishing keys (alphanumerics) causes mouse down/up _keys_ to be released, without releasing the accompanying _mouse state_.

- Go to the mouse keyboard in OptiKey
- Turn on mouse left button down/up
   - The mouse left down/up key is held down (blue).
   - The mouse's left button is actually held down
- Go to the alpha keyboard, type something.
- Return to the mouse keyboard

[2016-04-27 18:46] JuliusSweetland commented on #149
@utacub Spanish branch created here: https://github.com/OptiKey/OptiKey/tree/Spanish

[2016-04-27 18:46] JuliusSweetland commented on #235
@utacub Catalan branch created here: https://github.com/OptiKey/OptiKey/tree/Catalan

[2016-04-27 18:52] JuliusSweetland commented on #238
@lukeses @KrzysztofGoralski I have created a Polish branch here: https://github.com/OptiKey/OptiKey/tree/Polish

Perhaps you could integrate your work to get Polish working and create a pull request? Be aware that there is no longer a requirement to customise the Diacritic keyboards, and OptiKey now has the concept of "dead key" diacritics, where you can press the diacritic key (e.g. an acute acce

[2016-04-27 19:00] JuliusSweetland commented on #108
Suggestion by Chris Veigl: "what about adding the Microsoft Speech Server 11  as TTS engine (this is very easy - c# examples are there - and it offers voices for 20+ languages for free !)"

[2016-04-28 20:32] JuliusSweetland commented on #252
Fix will be included in the upcoming release v2.3.2. Closing issue.

[2016-04-28 20:32] #252 closed

[2016-04-28 20:35] JuliusSweetland commented on #251
I suspect this issue is due to fullscreen Minecraft changing the screen resolution. Currently there is nothing in OptiKey to detect a change like this, but Windows will force a resize on OptiKey if it would be too large for the new screen size. Once Minecraft is returned to a windowed mode, or closed, OptiKey will be left in an odd state as the resolution will be reset, but OptiKey won't be aware

[2016-04-28 20:37] JuliusSweetland commented on #251
@kirstymcnaught Also, nothing to do with this issue, but I've considered your suggestion of making OptiKey auto dock when you use the jump keys if it is floating. I'm not sure I want to make that change - I understand that the current model requires you to remember to move OptiKey over the edge, but I like the explicit action to take it out of floating mode, rather than just forcible dock it. If I

[2016-04-28 20:50] JuliusSweetland commented on #206
@feldrim New pre-release of Turkish (v2.3.2) available here: https://github.com/OptiKey/OptiKey/releases

Can you please give me your feedback as I think everything is ready to be released if you (and anyone else who would like to test) are happy.

[2016-04-28 21:03] kirstymcnaught commented on #251
Okay, that makes sense. If I remember correctly, once you've closed Minecraft, you have to undock and then re-dock before OptiKey is happy again.

[2016-04-28 21:08] #251 closed

[2016-04-28 21:09] kirstymcnaught commented on #251
@JuliusSweetland On the floating vs docking transition, I think it's totally reasonable to have an explicit extra step to go from at-the-edge-but-floating to docked-at-the-edge. The only problem is it's not clear what that action should be. What I'd really like is an explicit 'set-docked/set-floating' action, so that the state is fully observable and controllable. But if that doesn't fit in, maybe

[2016-04-28 21:10] JuliusSweetland commented on #148
ALL - Greek is now out (v2.3.1) and a pre release of Turkish is available on the releases page (as v2.3.2)

[2016-04-28 21:11] JuliusSweetland commented on #251
That's a good idea. I'll add that.

On Thu, 28 Apr 2016, 22:09 kirstymcnaught, <notifications@github.com> wrote:

[2016-04-29 21:05] mrkiefer opened #254 "OptiKey disconnects from Eye Tribe Tracker after "Calibration" option in Conversation Mode"
EyeTribe tracker (original model), OptiKey 2.3.1, Windows 7

While in Conversation mode, if the user performs a "Calibration" routine, the calibration finishes, returns the user back to the Conversation mode in OptiKey, but then the eye tracker is no longer connected.

Workaround: Go to Manage/Options dialog, press OK, communication is restored.

[2016-05-04 18:11] kojoericfrimpong76 opened #255 "you are you collaboration management innovation Guithub"
implementation innovation directing or de-direction website GuitHub or Hackerrank.com

[2016-05-04 18:13] kojoericfrimpong76 opened #256 "Hackrrank.com or GuitHub!"
"Hacker-rank.com or GuitHub!

[2016-05-09 09:49] JuliusSweetland commented on #255
Spam

[2016-05-09 09:49] #255 closed

[2016-05-09 09:49] JuliusSweetland commented on #256
Spam

[2016-05-09 09:49] #256 closed

[2016-05-10 15:06] emazero opened #258 "Preset short phrases in conversation mode (only?)"
Let users save some short phrases for a quick use while in conversation mode.
Phrases might be available in the suggestions navigation bar when scratchpad is empty (now unused).
As you start write, suggestions start work as usual
More: phrases may be read immediatly ( 'Speak' button not needed) when clicked

[2016-05-11 12:24] JuliusSweetland commented on #258
@emazero This is already possible. If you type a phrase, e.g. "how are you" and then select the 'AddToDictionary' key (left side of the scratchpad) OptiKey will offer to add the whole phrase to the dictionary, as well as any words it doesn't already know about. Once added you can recall the phrase by typing "h", "ho", "how", etc until the phrase is suggested, or the shortened version "hay" (the fi

[2016-05-11 12:24] #258 closed

[2016-05-11 12:57] emazero commented on #258
@JuliusSweetland I already knew about this feature and it's very helpful.
My suggestion is to improve much more the conversation speed, showing the most used phrases above the scratchpad (when empty) and let users recall/speak them just clicking on it once.
As you say you now have to type some letters, select the phrase and Speak it.
Let's say I want to say ' How are you' (saved before) => h...a..

[2016-05-11 17:08] JuliusSweetland commented on #258
@emazero I think this could be a smallish enhancement to this issue:
https://github.com/OptiKey/OptiKey/issues/242 - could you add a few lines
about your idea to that issue? Thanks.

On Wed, 11 May 2016, 13:57 emanuele, <notifications@github.com> wrote:

[2016-05-13 04:17] A01221624 commented on #149
Hello, I was silently lurking and decided to join in. Anything I can do to help.

I forked and started working on the changes mentioned in [https://github.com/OptiKey/OptiKey/blob/f88cf8dacf38a09302e802af6e52d53bc5804f2c/docs/Localize.md](Localize.md). Found a couple of steps missing (or my sleepy self missed them).

I'd say it's done, but I forgot about the diaeresis (whoops) and I'll be adding t

[2016-05-13 08:29] JuliusSweetland commented on #149
@A01221624 Good news! Send me a pull request when you're ready. I'm not that active at the moment as I'm moving house, but I can review, test and release when you're ready.

[2016-05-13 08:29] JuliusSweetland commented on #248
@d-mojca Apologies for the delay - I'm moving house. Bear with me and I'll return to this asap...

[2016-05-13 08:33] d-mojca commented on #248
@JuliusSweetland thank you for letting me know. If I can do anything meanwhile, let me know.
Good luck with the new house!

[2016-05-13 11:57] utacub commented on #235
OK! We have followed the steps in Localize.md to add Catalan. Maybe, we could copy (or adapt) the Spanish keyboard layout once it is done.

[2016-05-15 16:36] hachi0915 opened #260 "Fuck"
Fuck

Coolstar

[2016-05-15 16:47] andylamp commented on #260
@JuliusSweetland spam, please close it.

[2016-05-16 13:08] JuliusSweetland commented on #260
Spam

[2016-05-16 13:08] #260 closed

[2016-05-16 13:25] JuliusSweetland commented on #206
Released in v2.3.2

[2016-05-16 13:25] #206 closed

[2016-05-17 19:10] JuliusSweetland commented on #149
@A01221624 @utacub Pre-release of v2.3.3 (including Spanish) available here: https://github.com/OptiKey/OptiKey/releases

Please can you let me have your feedback once you've had a chance to test it. Thanks.

[2016-05-17 19:15] JuliusSweetland commented on #235
@utacub I included you on my post on issue #262 but I'll post it again here - Spanish is in pre-release and all the code is on the master branch if you'd like to take a look and adapt it for Catalan?

[2016-05-17 21:25] A01221624 commented on #149
A quick test by copying three sentences from a [Spanish newspaper (El País Edición América)](http://elpais.com/elpais/portada_america.html) with successful results:

**Multi-key selection**
- _Nicolás Maduro denuncia una campaña " brutal" contra él desde España_
- _Temer elige a un liberal para dirigir el Banco Central de Brasil._

**Single-key selection aided with prediction**
- _La guerra por el

[2016-05-20 18:16] JuliusSweetland commented on #149
Spanish released as v2.3.3

[2016-05-21 20:56] vdjerek commented on #148
Hi! First of all, thanks for the effort that went to OptiKey, I really appreciate what you did!

I'd like to make a Croatian localization for the OptiKey - I have a team of people willing to help with the translation, while I can work on the rest. I have sufficient experience in programming for the localization as it is outlined in the technical manual. I've just ordered the EyeX, so I'd like to p

[2016-05-22 10:56] vdjerek commented on #148
Ok, I finished translating to Croatian. How does one get it reviewed? Is it necessary for moving on?

[2016-05-22 10:58] JuliusSweetland commented on #148
It's not necessary. Can you create a Croatian issue with a summary of the
key info in the first post, like the issues for other languages? I can then
create you a branch to work against

On Sun, 22 May 2016, 11:56 vdjerek, <notifications@github.com> wrote:

[2016-05-22 11:29] vdjerek opened #263 "Localisation: Croatian"
![image](https://cloud.githubusercontent.com/assets/19509606/15453740/07a484e2-2021-11e6-9248-853fd505959f.png)

This is a Croatian localization project issue for the OptiKey - a place to discuss issues related to the translation of the OptiKey to Croatian language.

**Important information:**

**Translation of the UI strings** - completed in Transifex. Some translations will probably need fine tu

[2016-05-22 11:29] vdjerek commented on #148
Great, done! https://github.com/OptiKey/OptiKey/issues/263

[2016-05-22 11:39] vdjerek commented on #108
Hi!
I'm planing on using the Alfanum's AnReader for Croatian - it's also available in Serbian. Works very nice, but costs 300€.
Link: http://www.alfanum.co.rs/index.php/en/products-and-services/products-for-disabled/anreader

[2016-05-22 13:05] JuliusSweetland commented on #263
@vdjerek excellent info. I think the dictionary should be cut down to 100k-150k. I've created a beach for you here: https://github.com/OptiKey/OptiKey/tree/Croatian

Due to the strong cross over with Slovenian would you consider tackling looking at that after Croatian? I'm being a bit slow at the moment and I know people would really appreciate it.

[2016-05-22 13:10] vdjerek commented on #263
Sure, will try to help if I can. I'll first try to play with Visual Studio and see how that goes, hope I won't have to trouble you with questions too much.

[2016-05-22 13:11] JuliusSweetland commented on #263
I'm happy to help if you have questions.

On Sun, 22 May 2016, 14:10 Vedran Đerek, <notifications@github.com> wrote:

[2016-05-22 21:11] vdjerek commented on #263
I did all the steps from the guide at https://github.com/OptiKey/OptiKey/blob/master/docs/Localize.md, but I don't have the  push access to the repository, so I can't upload the files. Also, I'm not really sure how to test if it works, I could use some guidance - compiled OptiKey.exe crashes, but there are no build errors. It'd be great if I could commit so you could check if it works.

Best,

V.

[2016-05-22 21:14] JuliusSweetland commented on #263
@vdjerek The usual steps are to FORK my Croatian branch of the OptiKey repo, which creates your own version of the repo and branch. You then make the changes to that and PUSH them from your computer to GitHub (to your forked repo on GitHub). Once you are happy with everything you then create a PULL REQUEST for your changes to be pulled back into my repo.

In terms of the crash: you should run in D

[2016-05-23 18:14] JuliusSweetland commented on #149
Closing this issue as the work is done and released, but please note the issue will remain here, just in a closed state.

[2016-05-23 18:14] #149 closed

[2016-05-25 08:12] #197 closed

[2016-05-25 08:19] JuliusSweetland commented on #238
@lukeses @KrzysztofGoralski If you are happy with your testing shall we look at merging Polish into the main OptiKey repo for a release?

[2016-05-26 21:34] JuliusSweetland opened #264 "Localisation: Italian"
**1.Translation of the UI strings** - complete in Transifex.

**2.Keyboard layout** - http://ascii-table.com/keyboard.php/142 or http://ascii-table.com/keyboard.php/293

**3.Alphabet**
a)The base alphabet consists of 21 letters: five vowels (A, E, I, O U) and 16 consonants. The letters J, K, W, X and Y are not part of the proper alphabet, and are used only for loanwords (e.g. 'jeans') and foreign

[2016-05-29 17:40] vdjerek commented on #263
A working Croatian version can be found at https://github.com/vdjerek/OptiKey - further testing is needed, but things seem to mostly work. I had to rearrange the layout of the language selection menu due to adding one more language, and I probably broke something, since now you can't select Croatian from the main UI, only from the Alt+M console - I'll look into that in the future.
Further testing

[2016-05-29 17:47] vdjerek commented on #248
Dear Slovenian friends,

I have a working version of Croatian localization at https://github.com/vdjerek/OptiKey - further testing is needed, but things seem to mostly work. Since the keyboards are the same, I'd ask for your help in testing if possible, you just need to download and build the code; if you need a compiled version please let me know. After the bugs in Croatian localization are polis

[2016-06-01 07:44] JuliusSweetland commented on #263
I'm happy to help with the language keyboard problem if you create a PR?

On Sun, 29 May 2016, 18:41 Vedran Đerek, <notifications@github.com> wrote:

[2016-06-01 11:10] d-mojca commented on #248
Dear Vedran, how can I test it? I don't know much about programming and building a code and compiling, but I do know Croatian language. I looked into languages, but Croatian is not available.

Btw, where can I set pointing to from default "mouse position" to eyetracking (Tobii EyeX)?

[2016-06-01 11:16] JuliusSweetland commented on #248
https://github.com/OptiKey/OptiKey/wiki/Using-eye-trackers

On Wed, 1 Jun 2016, 12:10 d-mojca, <notifications@github.com> wrote:

[2016-06-01 11:57] d-mojca commented on #248
Thanks Julius! It worked now. I'd tried many times with Ctrl+M with OptiKey as well as with keyboard, but somehow it didn't work (probably not focused on OptiKey, had a problem with that). Btw, have you thought of option of transperacy of OptiKey (like BeKey from Be-Enabled has it)?

[2016-06-01 12:37] JuliusSweetland commented on #248
Have you tried the increase and decrease opacity keys on the menu?

On Wed, 1 Jun 2016, 12:57 d-mojca, <notifications@github.com> wrote:

[2016-06-01 20:35] vdjerek commented on #248
Dear Mojca,

I'll try to make a zip archive for you to test, with a built application.

[2016-06-01 20:35] vdjerek commented on #263
Ok, great, created a pull request

[2016-06-02 09:38] vdjerek commented on #248
Dear Mojca,

I've built a version with Croatian language built-in, you can download it for testing from here: https://www.dropbox.com/s/qauvd6h49kty8rj/OptiKey_HR_language.zip?dl=0

Just extract the ZIP archive to a folder and start the OptiKey.exe, it should work if you already have an OptiKey installed somewhere else.

You need to select the language from the Alt+M console (select both languages

[2016-06-02 10:42] utacub commented on #235
OK, I think that Catalan is now ready. Would you mind having a look at: https://github.com/OptiKey/OptiKey/pull/266 ?

Thanks!
First time using git/github 😅

[2016-06-02 21:33] JuliusSweetland commented on #263
@vdjerek Great work - I have a few small changes to make tomorrow, and then I will create a pre-release candidate for you to test. I'll update here when it's ready.

[2016-06-03 08:29] JuliusSweetland commented on #263
@vdjerek Is an apostrophe (') commonly used in Croatian? If not I want to remove it from the main alpha keyboards and use the key for one of the other letters.

[2016-06-03 14:03] vdjerek commented on #263
@JuliusSweetland  - no, the apostrophe can go, it's practically never used - however, I'd like to keep the other special letters where they are - š,đ,ž,č and ć have a well defined position on every Croatian keyboard. In the place where now is apostrophe usually a hyphen stands (-, and _ with shift).

Great about the pre-release, looking forward to it. I'd still like to improve the dictionary in th

[2016-06-03 18:56] JuliusSweetland commented on #263
@vdjerek I've tried a few ways to make the š,đ,ž,č and ć keys fit, but the problem is if they are put in the "correct" place they add 3 columns to the keyboard, which leaves a lot of blank keys. Ideally the keyboard should be full as this allows each key to be as large as possible, which is hugely important when using an inaccurate eye tracker! See what you think of this:

![image](https://cloud.g

[2016-06-03 19:52] JuliusSweetland commented on #263
And this is the conversation screen:

![image](https://cloud.githubusercontent.com/assets/4722561/15791065/18f64df6-29cd-11e6-9a47-1da1d37f2a11.png)

[2016-06-03 20:16] JuliusSweetland commented on #263
@vdjerek All changes have been pushed to the Croatian branch, including a rudimentary cleanup of the dictionary. See what you think and let me know.

[2016-06-03 20:26] vdjerek commented on #263
@JuliusSweetland Great, looks good! I guess everybody can live with those changes, especially if they contribute to accuracy. I'll look everything over, but I'm sure it's all fine now. Thanks for your efforts, we all really appreciate it!

[2016-06-03 20:29] JuliusSweetland commented on #263
@vdjerek It's not an ideal layout, but there have to be a few compromises here and there! I look forward to your feedback after you've tested it properly.

[2016-06-08 11:45] JuliusSweetland commented on #263
@vdjerek How is the Croatian build looking? If it's good I can create a candidate release today.

[2016-06-08 13:00] d-mojca commented on #248
Dear Vedran,

For now I haven't noticed anything unusual, the prediction isn't perfect,
but I guess with time it learns and predicts intelligently the words. I
only realized that when selecting words from prediction, it does
automatically add space (as defined in Alt+M console), but if you insert a
comma, you need to add space additionally - but it is the same in English
version. The layout is fin

[2016-06-08 19:03] vdjerek commented on #263
@JuliusSweetland It looks good. I had some problems though, I wasn't able to access the Alt+M console - it would work every 10th time or so. Also, the cursor, be it EyeX or mouse, didn't work outside of the Letters keyboard (inside the menu). I had to reset everything to factory defaults by deleting the OptiKey folder from the Roaming/AppData, now it works. Perhaps this option (to reset everything

[2016-06-08 19:11] vdjerek commented on #248
@d-mojca Hi Mojca, greetings from the beautiful Portorož, I'm here on a conference!
Regarding the prediction, this is related to the dictionary, so you should also probably think about a good dictionary file. There are Slovenian dictionary files available, but they would probably have to be edited in order to select the most used words and to get rid of some that aren't necessary.
Regarding the ke

[2016-06-08 21:10] JuliusSweetland commented on #263
@vdjerek v2.3.4 pre-release (with Croatian) is available for testing here: https://github.com/OptiKey/OptiKey/releases

[2016-06-08 21:10] JuliusSweetland commented on #248
@d-mojca v2.3.4 pre-release (with Croatian) is available for testing here: https://github.com/OptiKey/OptiKey/releases - once this is ready to be released we can modify it for Slovenian

[2016-06-09 09:33] d-mojca commented on #248
@JuliusSweetland and @vdjerek
I have installed the 2.3.4 version and momentarilly it works fine. But with prediction I keep writing the same phrases and  when writing d for "da", it keeps predicting dd, dt, DB, although I never wrote dd, dt, DB, but have written many times "da". Same with "kako" (how). Is this a matter of croatian version or general?

[2016-06-09 09:59] vdjerek commented on #248
@d-mojca I think the OptiKey predictor is not smart in a way that it remembers the most commonly used words. @JuliusSweetland  correct me if I'm wrong. But that seems like a good idea to implement in case if it already wasn't. The matter with dd, dt, DB and so on is a problem with the dictionary file - it needs cleaning up (dd certainly doesn't belong there). I think the problems are the short wor

[2016-06-09 10:10] vdjerek commented on #108
Update - open source espeak (http://espeak.sourceforge.net/) sort of works for Croatian, probably also for other languages they advertise (it's a long list). It may be good for testing, or if you can't get something better.

[2016-06-09 10:20] d-mojca commented on #248
@vdjerek Thx for the hint, I will erase the short words from the slovenian dictionary file.

[2016-06-09 10:29] JuliusSweetland commented on #248
OptiKey should learn commonly used words, but a bad dictionary really
messes things up. We need to clean things up a bit I think.

On Thu, 9 Jun 2016, 11:20 d-mojca, <notifications@github.com> wrote:

[2016-06-09 10:43] d-mojca commented on #248
Ok, I will do that to a file that I sent you, Julius, and then send a new
version.
@vdjerek: enjoy Portorož! If you come to Ljubljana, let me know. On Sunday
I will be in Zagreb :).

On Thu, Jun 9, 2016 at 12:29 PM, Julius <notifications@github.com> wrote:

[2016-06-11 11:57] JuliusSweetland commented on #263
@vdjerek v2.3.4 release candidate 2 is now available for testing here: https://github.com/OptiKey/OptiKey/releases

The only change is to the dictionary, which I have cleaned up by comparing to another Croatian word list. The result is that the dictionary has reduced in size to around 92k words now. To test you'll have to manually delete your copy of the CroatianCroatia.dic BEFORE testing this new

[2016-06-13 19:18] ilanMatityahoo opened #269 "Localisation module review"
Dear Julius,

We are students for M.Sc,
In our project we chose to model the OptiKey, we created an activity diagram for the Localisation module.

Attached is the link to the activity diagram:
https://github.com/adirel/ASOSMA/blob/master/OptiKey/images/ActivityDiagram.png

Could you please review it for us?

Thank you in advance
Ilan Matityahoo

[2016-06-15 13:24] JuliusSweetland commented on #269
@ilanMatityahoo great work. There's one step missing, only because it was missing from the localisation document and I've not pushed my update yet. The missing step involves adding a new case to the switch statement in MainViewModel subscription handler class to react to the selection of a new language key, e.g. When adding German you'd need a case for the function key GermanGermany which would sw

[2016-06-15 13:28] JuliusSweetland commented on #269
Two more things:

1. You need to add new cases to the keyboard host class to know how to change to the new alpha and conversation alpha keyboards. This should be very very last step.

2. the last two steps could be "add a new alpha keyboard" and "add a new conversion alpha keyboard"?

[2016-06-16 13:34] katyadenef commented on #269
Thanks a lot for your comments, Julius.
We will add the proposed chanes.

BR,
Katya.

[2016-06-16 13:51] JuliusSweetland commented on #269
No problem. I'll close this issue in the mean time.

[2016-06-16 13:51] #269 closed

[2016-06-21 19:17] JuliusSweetland commented on #263
@vdjerek How is the v2.3.4 candidate release - is Croatian working as expected? If so I'll make an official release. Thanks.

[2016-06-21 20:27] JuliusSweetland commented on #264
v2.3.5 release candidate 1 is now available for testing here: https://github.com/OptiKey/OptiKey/releases

[2016-06-22 10:47] vdjerek commented on #263
@JuliusSweetland Works just fine, looking forward to the release!

[2016-06-23 18:07] JuliusSweetland commented on #235
@utacub I will be releasing Croatian this evening. Italian is ready to go next, and then I'll be pushing out Catalan. I'll be in touch as soon as I get to test your work. Thank you for your effort!

[2016-06-23 20:55] JuliusSweetland commented on #263
@vdjerek Great. v2.3.4 released officially now. Thank you for your help getting Croatian out the door!

[2016-06-25 10:38] vdjerek commented on #263
@JuliusSweetland Great! I've presented the OptiKey and the Croatian translation at our MND support group meeting yesterday, and I'm looking forward to some new Croatian users! :) The people who saw the demonstration were very impressed by your efforts and the performance and capabilities of the OptiKey. I hope we'll all together be able to make it even better in the future!

[2016-06-26 21:25] JuliusSweetland commented on #263
That's excellent! I hope it helps.

On Sat, 25 Jun 2016, 11:38 Vedran Đerek, <notifications@github.com> wrote:

[2016-07-06 07:57] d-mojca commented on #248
Dear Julius and Vedran,
croatian version works well, congratulations! I use it now with slovenian speech synthesis. Is it possible now we can modify it to include slovenian as well? I have already done the translations and sent a dictionary. I can also improve the dictionary with erasing some words/letters. What do you think?

[2016-07-10 16:35] alexgranadosp commented on #108
There is an American startup called Vocalid that is making custom voices. I think this is a great option for English speakers (no other languages available). As a volunteer you can donate your voice or find a similar voice for the person that needs it. I have no idea about pricing but is not free.

http://blog.ted.com/everything-you-need-to-know-about-donating-your-voice-why-you-should-help-the-hu

[2016-07-10 18:03] JuliusSweetland commented on #108
@alexgranadosp Great find - thank you

[2016-07-12 12:33] #263 closed

[2016-07-12 12:34] JuliusSweetland commented on #248
@d-mojca I will try to find some time to release Slovenian soon. Am I correct in thinking that I can re-use the Croatian dictionary layout with the Slovenian dictionary you sent me and the translation from Transifex (which is complete)?

[2016-07-13 07:54] d-mojca commented on #248
@JuliusSweetland Yes, you can use Croatian keyboard layout (it is the same as Slovenian). I am attaching new Slovenian file of Slovenian words
[slo_words-new.txt](https://github.com/OptiKey/OptiKey/files/360934/slo_words-new.txt) as we have been improving it with my friends.
And yes, translation from Transifex is complete.

[2016-07-13 07:59] JuliusSweetland commented on #248
Great thanks. I'll find some time to get this done for you.

On Wed, 13 Jul 2016, 08:54 d-mojca, <notifications@github.com> wrote:

[2016-07-13 08:00] d-mojca commented on #248
thank you! :)

[2016-07-13 20:17] JuliusSweetland commented on #264
v2.3.5 release candidate 2 (with fixes to the Italian dictionary) is now available for testing here: https://github.com/OptiKey/OptiKey/releases

[2016-07-14 18:42] JuliusSweetland commented on #264
No negative feedback so I'm promoting Italian support to a full release; v2.3.5.

[2016-07-14 18:42] #264 closed

[2016-07-14 19:12] JuliusSweetland commented on #248
@d-mojca Slovenian support added to v.2.3.6 - there's a pre-release available here for testing: https://github.com/OptiKey/OptiKey/releases

[2016-07-15 06:53] d-mojca commented on #248
@Julius thank you! I have started testing it and have found one issue with
prediction - it predicts words that are not in the last file I have sent
you, e.g. poeuti or single letters such as p, k, or when I write počut, the
 words suggested are posut, pocedi, poceni (none beginning with počut...).
Did you include the last dictionary I have sent you? i am attaching it one
more time.

[image: Inline

[2016-07-15 12:23] JuliusSweetland commented on #248
@d-mojca "poeuti " is not in your supplied dictionary so I can only assume that your local (user) copy of the dictionary may have been customised or is based on a different file. Please follow the instructions here to factory reset your OptiKey dictionaries and try again: https://github.com/OptiKey/OptiKey/wiki/Factory-reset-the-dictionary

Please note that posut, pocedi, poceni are all in the sup

[2016-07-15 12:37] JuliusSweetland opened #271 "Menu key works, but shrinks OptiKey as if the Minimise key had been pressed"
Video of issue here: https://dl.dropboxusercontent.com/u/14358262/fromvalencia.rar

Video filename: VID_20160714_192830.mp4

[2016-07-15 12:38] JuliusSweetland opened #272 "After adding a word and back to the Conversation Mode, the Clear and Add buttons seem shifted to the right"
I have verified that this can happen on Windows 10.

Workaround: exit from conversation mode and enter again.

[2016-08-04 10:44] JuliusSweetland commented on #248
@d-mojca How has testing of Slovenian gone so far? I am keen to release this properly if you have been generally happy.

[2016-08-05 06:02] d-mojca commented on #248
Thank you for the explanation. I included several future users to test
OptiKey and make suggestions. We are also reducing the entries for the
Slovenian dictionary, so by the end of August we will have a final one. How
many entries is ok for OptiKey?

On Thu, Aug 4, 2016 at 12:44 PM, Julius <notifications@github.com> wrote:

[2016-08-05 06:23] JuliusSweetland commented on #248
Up to 200,000 is acceptable, but around 100,000 is average.

On Fri, 5 Aug 2016, 07:02 d-mojca, <notifications@github.com> wrote:

[2016-08-16 09:21] PeterOeClausen opened #273 "Localisation: Danish"
I am currently working on the Danish translation.

So far I have created an account on [Transifex](www.transifex.com).
I have submitted a join request for the Danish (da) language on the OptiKey v2 project.

Approved by OptiKey.

Now translating on [Transifex](www.transifex.com).

[2016-08-16 15:15] PeterOeClausen commented on #273
Done translating into Danish on [Transifex](www.transifex.com).

According to step: [Translating the strings](https://github.com/OptiKey/OptiKey/blob/master/docs/Localize.md#translating-the-strings) which says:

I should now notify OptiKey (this is done with this message), I should now acquire my language .resx file and begin the next step.

Next step: [Integrate the translation into OptiKey](http

[2016-08-17 10:52] PeterOeClausen commented on #273
I am currently looking for a .dic file that is specified as:

This description was found in step: [Adding the translation specific files into OptiKey](https://github.com/OptiKey/OptiKey/blob/master/docs/Localize.md#adding-the-translation-specific-files-into-optikey)

Still looking for it...

[2016-08-17 11:23] JuliusSweetland commented on #273
@PeterOeClausen I'll grab the resx file for you when we get a bit further along. The dictionary that you need is a simple word list with roughly 100k words, one per line. If you can't find a good candidate let me know with a direct message and I'll see if I can generate one for you.

[2016-08-17 11:45] PeterOeClausen commented on #273
The only Danish .dic file I could find was already in the project, in folder: OptiKey/src/JuliusSweetland.OptiKey/Dictionaries/Candidates/

Also seen [here on GitHub](https://github.com/OptiKey/OptiKey/tree/master/src/JuliusSweetland.OptiKey/Dictionaries/Candidates).

@JuliusSweetland if you have or can generate a better one, or one you like more, then I can use that. If not, then I'll try with th

[2016-08-17 11:48] JuliusSweetland commented on #273
@PeterOeClausen I'm only on mobile do I can't see how good that dictionary file is. How many entries are there and how good does it look to you?

[2016-08-17 14:21] PeterOeClausen commented on #273
@JuliusSweetland It has 69861 entries (so lower than 100k).

We have 3 more letters in the Danish alphabet (here written in format: UppercaseLowercase): Ææ, Øø and Åå, which in other languages are written:
æ = ae,
ø = oe,
å = aa.

I see words with letters 'ø' and 'å', but no words with 'æ'. Which is a common letter in Danish. Words with 'æ' are instead written "ae".

So it is not perfect.

However

[2016-08-17 19:03] JuliusSweetland commented on #273
@PeterOeClausen ligatures and other special characters in each language present interesting problems. In the case of ligatures like æ I decided in other languages to never use the ligature and instead use the flattened letters, i.e. ae.

For ø and å I need your advice. Are these commonly used in modern Danish? Would it be better to have all dictionary entries both ways, i.e. an entry with the spec

[2016-08-18 08:55] ysangkok commented on #273
[Ø is used in Danish, Faroese, Norwegian, and Southern Sami. Ø is also used in the orthographies of several languages of Africa, such as Lendu, spoken in the Democratic Republic of the Congo, and Koonzime, spoken in Cameroon.](https://en.wikipedia.org/wiki/Ø)

According to [this page](http://spjdrpedia.dk/wiki/Frekvensanalyse#Bogstavhyppighed), ø is the third-least frequent Danish letter, only mor

[2016-08-18 09:16] JuliusSweetland commented on #273
That's really helpful and suggests that we need both ø and å on the
keyboard and in the dictionary words. This page
https://en.m.wikipedia.org/wiki/Danish_and_Norwegian_alphabet actually
suggests that we need to include the ligature æ as well, as it is
considered a letter in the alphabet of 29 letters.

That page also suggests that we need an acute accent on the keyboard, which
can be applied to a

[2016-08-18 09:28] ysangkok commented on #273
It does sound correct, but if screen space is too sparse, I think users can quickly get used to writing the substitutions. I never saw the ring being applied as a dead-key, so that means å is usually input differently than é. For example, I use the "[English (US, international with dead keys)](https://upload.wikimedia.org/wikipedia/commons/2/22/KB_US-International.svg)" layout on X.org. I have å o

[2016-08-18 11:15] JuliusSweetland commented on #273
Perfect. Space shouldn't be a problem. Russian had something like 36
characters!

On Thu, 18 Aug 2016, 11:29 Janus Troelsen, <notifications@github.com> wrote:

[2016-08-18 11:27] PeterOeClausen commented on #273
@JuliusSweetland 'æ', 'ø' and 'å' is very commonly used in Danish.
Examples:
"mænd" means "men",
"mælk" means "milk",
"Brændstof" means "fuel".

"brød" means "bread",
"børste" means "brush",
"første" means "first".

"få" means "to get",
"forstå" means "understand",
"måde" means "in a specific way".

These are examples of everyday words we use in Danish which are always spelled with their letters '

[2016-08-18 12:32] JuliusSweetland commented on #273
Really good info, thanks. Why does your laptop keyboard include letters
with an umlaut/double dot, as well as a dedicated umlaut/double dot "dead"
key?

On Thu, 18 Aug 2016, 13:27 Peter Øvergård Clausen, <notifications@github.com>
wrote:

[2016-08-18 12:55] PeterOeClausen commented on #273
I think it is because the Keyboard layout is used in Scandinavia.

The Swedish alphabet also has "ö" and "ä" as seen here: https://en.wikipedia.org/wiki/Swedish_alphabet

The Norwegians has the same alphabet as the Danes: https://en.wikipedia.org/wiki/Norwegian_orthography

This explains why I have both "ØÖÆ" written on my "Æ" key, and "ÆÄØ" written on my "Ø" key.
Why both Æ and Ø are on these key

[2016-08-18 13:24] JuliusSweetland commented on #273
Perfect. We need a 30 character keyboard then; the 29 canonical letters
(A-Z and ÆÄØ) plus an acute accent key. I'm on mobile until next week when
I can help design this and also generate a dictionary using the Firefox
spell check dictionary ordered by the most common words used in Danish
films and tv shows.

If you'd like to continue with the other localisation steps let me know and
I'll create y

[2016-08-18 13:30] ysangkok commented on #273
Note that Ä != Å

[2016-08-18 13:35] JuliusSweetland commented on #273
Good point.That was just a bad copy/paste from me on mobile.

On Thu, 18 Aug 2016, 15:30 Janus Troelsen, <notifications@github.com> wrote:

[2016-08-18 14:09] PeterOeClausen commented on #273
@JuliusSweetland Sounds great with the 29 letters (A-Z and ÆØÅ) and the acute accent key.

We did find some Danish word lists, but they weren't great (a lot of non-Danish words and weird characters was in the mix, and we would rather not use that), we would much like to see the generated dictionary using Firefox spell checking dictionary :-)

Can you create the Danish branch to fork and work again

[2016-08-18 14:49] JuliusSweetland commented on #273
New Danish branch is here: https://github.com/OptiKey/OptiKey/tree/Danish

I'll generate the new dictionary on Sunday when I'll next have access to my
laptop and my LinqPad scripts.

On Thu, 18 Aug 2016, 16:09 Peter Øvergård Clausen, <notifications@github.com>
wrote:

[2016-08-18 15:14] PeterOeClausen commented on #273
@JuliusSweetland Sounds great Julius, and thank you :-)

[2016-08-21 20:24] JuliusSweetland commented on #273
@PeterOeClausen I'm struggling to get a Danish candidate dictionary. What has worked for me before is to use an OpenOffice dictionary and filter it by tv/movie substitle data to extract the most popular X words. The usual steps are to download a Danish oxt file, from which you extract the culture code .dic and .aff files (e.g. this one http://extensions.libreoffice.org/extension-center/stavekontro

[2016-08-22 13:27] PeterOeClausen commented on #273
@JuliusSweetland Ok.
I have found this file:
[danish (unedited).xlsx](https://github.com/OptiKey/OptiKey/files/430180/danish.unedited.xlsx)
It is from this webpage: http://www.101languages.net/danish/most-common-danish-words/

The data is from "created using public/free subtitles, from opensubtitles in particular."
and is under the license "Creative Commons": http://creativecommons.org/licenses/by

[2016-08-22 13:37] ysangkok commented on #273
A better source would be http://da.speling.org/ , this word list is widely used in e.g. LibreOffice.

[2016-08-22 13:47] PeterOeClausen commented on #273
@ysangkok That is perfect! Nice work!

Found this on the site @ysangkok suggested:
[dsdo-1.6.36.zip](https://github.com/OptiKey/OptiKey/files/430272/dsdo-1.6.36.zip)

The file "words-da" is perfect :-)

[2016-08-22 19:58] JuliusSweetland commented on #273
@ysangkok @PeterOeClausen dsdo-1.6.36.zip looks good to me. I've merged in the candidate dictionary that was in the Candidate folder in the project and cleaned the combined list up a bit. It's committed on the Danish branch - let me know how it looks to you.

[2016-08-23 13:46] PeterOeClausen commented on #273
@JuliusSweetland Unfortunately, the combined list still lacks words with the letter "Æ".
I don't know if we came to an agreement when we talked about it earlier, but "Æ" in Danish is a letter just like "A", "B", "C" and "Ø" and "Å".
Therefore the dictionary should also contain word with the letter "Æ" and not it's translation "ae".

I think the best solution would be to use the file named "words-d

[2016-08-23 13:50] ysangkok commented on #273
Why are you referring to version 1.6.36 all the time, even though it is not the newest one?

The newest one right now: http://da.speling.org/filer/dsdo-1.7.42.zip

[2016-08-23 13:59] PeterOeClausen commented on #273
@ysangkok I did not find the version you are now referring to, but now that you have linked it directly, we might as well use that one :+1:

[2016-08-23 19:35] JuliusSweetland commented on #273
@PeterOeClausen I've updated the DanishDenmark.dic file on the Danish branch from the linked dsdo-1.7.42.zip file. The previous version and the current version both contain words with the letters "Æ", "Ø" and "Å". If you aren't seeing these characters try reopening the file with Encoding="UTF-8".

[2016-08-24 11:27] PeterOeClausen commented on #273
@JuliusSweetland Now it's in the dictionary folder, which it wasn't when I checked before (maybe I forgot to pull the latest changes, I'm not sure).
Now I have pulled the latest changes, and the DanishDenmark.dic file looks great. (It is however not sorted alphabetically from A to Å), but I don't know if this matters for the application?

Also it's 337514 words long, is that alright compared to th

[2016-08-24 11:48] JuliusSweetland commented on #273
Alphabetical order is not important. You can continue. The size is a little
large, but we can test and filter it later.

On Wed, 24 Aug 2016, 12:27 Peter Øvergård Clausen, <notifications@github.com>
wrote:

[2016-08-24 11:56] PeterOeClausen commented on #273
@JuliusSweetland Sounds like a great plan.
I'll continue :-)

[2016-08-24 15:17] PeterOeClausen commented on #273
@JuliusSweetland I have followed [the guide](https://github.com/OptiKey/OptiKey/blob/master/docs/Localize.md) all the way down to the step called ["Add a keyboard layout"](https://github.com/OptiKey/OptiKey/blob/master/docs/Localize.md#add-a-keyboard-layout).

The only places I had to not follow the guide was when described:

I had to write them in manually like this (because they were not automat

[2016-08-25 06:26] JuliusSweetland commented on #273
Hi Peter,

Everything looks fine. I'll have a play with the resources this weekend to
see why they're not working for you. There's a bit of manual stuff I need
to do with resources anyway.

The multi key section character string looks perfect.

I'm on mobile, but it looks like you're trying to work against my version
of the Danish branch, which you can't edit unless you're a member of the
OptiKey

[2016-08-25 14:24] PeterOeClausen commented on #273
Hi @JuliusSweetland

Ok. I have now forked the Optikey Danish branch repo.
Cloned the project locally.
Made the changes: All steps of the guide until (not including) ['Add a keyboard layout'](https://github.com/OptiKey/OptiKey/blob/master/docs/Localize.md#add-a-keyboard-layout).
- If you want, I can continue with the 'Add a keyboard layout' step on the forked and cloned repository.

I have pushed

[2016-08-25 15:06] JuliusSweetland commented on #273
Great work. You can continue to create a keyboard layout if you'd like.
You'll need 4 keys including the new accent dead key.

I think you can ignore the resource line ending warning.

I need to look at the missing resource strings - I'll look on the weekend
at everything.

Great work so far. Feel free to create a PR when you're happy. It doesn't
need to be absolutely complete as your changes will

[2016-08-28 12:35] JuliusSweetland commented on #273
@PeterOeClausen Hi Peter. I've just tested the German strings and I couldn't reproduce the problem with "Mouse" not showing correctly in German:

![image](https://cloud.githubusercontent.com/assets/4722561/18033727/11088812-6d24-11e6-937f-d29c239cff89.png)

When you're ready can you create a PR and I'll look into the Resource stuff.

I was also thinking about your problem with Resources.Designer.c

[2016-09-01 14:37] PeterOeClausen commented on #273
I have tried downloading the newest version (2.3.5.0), from the OptiKey.org website (this afternoon).
Here, when switching the Language setting to German. The keys strings doesn't change:
![optikeyorginstallation](https://cloud.githubusercontent.com/assets/6975621/18170691/7f0f5fbe-705f-11e6-8456-c79f0ae4591c.png)

Also when running the project I currently have on the Danish branch (version 2.3.6.

[2016-09-01 14:47] JuliusSweetland commented on #273
Hi Peter. Ok, that's actually how it is supposed to be - changing the
language in the way that you are changes only the keyboard layout, not the
language used in the UI strings. The reason is that you might have the UI
language set to Russian, but want to type a few words in English, but
you're Russian so you wouldn't want the UI strings to change. If you want
to change the UI strings then you mus

[2016-09-15 12:17] PeterOeClausen commented on #273
Hi Julius.
I have now completed the Danish localisation on a forked repository located at https://github.com/PeterOeClausen/OptiKey.

I will now report on some of the changes I have made:

1) I've moved some buttons around in the language menu, so that there were room for "Danish", and so that the back button is still in the same place:
![language menu](https://cloud.githubusercontent.com/assets/6

[2016-09-15 12:22] JuliusSweetland commented on #273
@PeterOeClausen Hi Peter - excellent detail in your post. Really useful!

Everything you've done looks fantastic. If the users miss the accents they can always use the diacritic keyboards to find the accented letter explicitly.

What is the Object reference exception error you are getting? I'm sure it can be ignored as a false positive if it is building, but it would be interesting to check.

You

[2016-09-15 12:49] PeterOeClausen commented on #273
@JuliusSweetland
_"If the users miss the accents they can always use the diacritic keyboards to find the accented letter explicitly"._
I agree. And if the Danish users want it differently, we can change it later on.

_"What is the Object reference exception error you are getting? I'm sure it can be ignored as a false positive if it is building, but it would be interesting to check"._
I don't know

[2016-09-17 14:11] JuliusSweetland commented on #248
@d-mojca I've probably got a Danish release to make this weekend, so I'll also release Slovenian at the same time. Is Slovenian looking good?

[2016-09-17 15:21] d-mojca commented on #248
Looking good, but still the prediction is not OK. Will send you a new
shorter vocabulary by Friday if that is OK?
17. sep. 2016 4:12 pop. je oseba "Julius" <notifications@github.com>
napisala:

[2016-09-17 15:55] JuliusSweetland commented on #248
Sounds good, thanks

On Sat, 17 Sep 2016, 16:21 d-mojca, <notifications@github.com> wrote:

[2016-09-17 21:20] JuliusSweetland commented on #273
@PeterOeClausen Pre-release v2.3.6 including Danish (and Slovenian) is available here; https://github.com/OptiKey/OptiKey/releases - can you try it out and let me know if it works as expected?

[2016-09-26 08:48] Doneykkk commented on #269
nice job~

[2016-09-29 15:53] PeterOeClausen commented on #273
Hi @JuliusSweetland.
My boss and I have checked out the Danish version with an eyetracker.

I have found one small translation error, that I will correct on Transifex, and I will correct it in the program and create a new pull request. (I will notify when this is done).

**Other than this we would say it's ready to be released.**

My boss and I have also talked about different optimizations that c

[2016-09-30 13:27] PeterOeClausen commented on #273
I have corrected the translation error on Transifex, downloaded the resource, changed the Resource.dk-DK.resx file, tested the changes, and submitted a pull request from my fork to the OptiKey Danish branch.

Best, Peter.

[2016-10-01 11:49] JuliusSweetland commented on #273
@PeterOeClausen Thanks Peter. I have merged in your Resources fix and will release a new pre-release this weekend.

* Optimization of the dictionary: The size of the dictionary is always a balancing act. Too large and the suggestions when typing letter-by-letter are not great, but the multi-key selections (swiping) are generally very good. Too small and neither a great. OptiKey does keep a count o

[2016-10-09 19:28] JuliusSweetland commented on #273
@PeterOeClausen Hi Peter - can you let me know if you would like to optimise (shrink) they dictionary before Danish is ready to go? I am ready to make a new release when you are... thanks.

[2016-10-09 19:29] JuliusSweetland commented on #248
@d-mojca Hi - have you had a chance to create a shorter dictionary for this release? Thanks.

[2016-10-09 19:35] JuliusSweetland opened #281 "Localisation: Slovak"
**1.Transifex translation of UI strings:** Incomplete

**2.Keyboard layout:**  http://ascii-table.com/keyboard.php/245
![image](https://cloud.githubusercontent.com/assets/4722561/19223152/658718ba-8e60-11e6-9aa0-7a6a3bc40947.png)

**3.Alphabet:**
a)Letters: https://en.wikipedia.org/wiki/Slovak_orthography
A a
Á á
Ä ä
B b
C c
Č č
D d
Ď ď
DZ dz
DŽ dž
E e
É é
F f
G g
H h
CH ch
I i
Í í
J j
K k
L l
Ĺ ĺ

[2016-10-09 19:39] JuliusSweetland opened #282 "Localisation: Czech"
**1.Transifex translation of UI strings:** Incomplete

**2.Keyboard layout:** http://ascii-table.com/keyboard.php/243
![image](https://cloud.githubusercontent.com/assets/4722561/19223106/56abb1bc-8e5f-11e6-9f51-3b0544b11d7b.png)

*_3.Alphabet:_
a)Letters: 42 letters - https://en.wikipedia.org/wiki/Czech_orthography
A a
Á á
B b
C c
Č č
D d
Ď ď
E e
É é
Ě ě
F f
G g
H h
CH ch
I i
Í í
J j
K k
L l
M m
N

[2016-10-10 14:31] PeterOeClausen commented on #273
@JuliusSweetland Hi Julius.
Sorry for answering late, I've been busy.

_"OptiKey does keep a count of how often dictionary words are used and these words then rise to the top of the suggestions over time."_
Great. This will improve the use of the Dictionary over time for the individual user.

_"can you let me know if you would like to optimize (shrink) the dictionary before Danish is ready to go?"

[2016-10-10 14:35] JuliusSweetland commented on #273
Great, thanks. I'll prepare a release soon.

On Mon, 10 Oct 2016, 15:31 Peter Øvergård Clausen, <notifications@github.com>
wrote:

[2016-10-10 19:22] TheGreenAirplane commented on #281
I've looked at the Slovenian keyboard like you suggested. However, the Slovenian keyboard doesn't use dead keys. Instead all the special characters have their own key. This is relatively easy, since Slovenian only seems to have 5 special characters. Slovak has 17.
I did find an example of dead keys in the Spanish keyboard: It has a dead key for the acute accent ´, one for the diaeresis ¨ (umlaut)

[2016-10-10 19:30] TheGreenAirplane commented on #282
Czech keyboard layout can be done similarly to Slovak using two dead keys and one extra character key:
A  a  -> Á  á
E  e  -> É  é
I  i  -> Í  í
O  o  -> Ó  ó
U  u  -> Ú  ú
Y  y  -> Ý  ý

ˇ - The caron:
C  c  -> Č  č
D  d  -> Ď  ď
E  e  -> Ě  ě
N  n  -> Ň  ň
R  r  -> Ř  ř
S  s  -> Š  š
T  t  -> Ť  ť
Z  z  -> Ž  ž

Other special characters:
Ů  ů

[2016-10-11 07:09] JuliusSweetland commented on #248
6000 in total? Is that not too limited?

On Tue, 11 Oct 2016, 08:07 d-mojca, <notifications@github.com> wrote:

[2016-10-11 07:11] d-mojca commented on #248
maybe ms word has counted wrongly, when I copied list of words from
notepad?

On Tue, Oct 11, 2016 at 9:09 AM, Julius <notifications@github.com> wrote:

[2016-10-11 07:12] d-mojca commented on #248
notepad says 192k lines!

On Tue, Oct 11, 2016 at 9:10 AM, Mojca <debeljak.mojc@gmail.com> wrote:

[2016-10-11 07:14] JuliusSweetland commented on #248
Could be. If it's one word per line you can check the line count. If your
text editor doesn't support this I can recommend Sublime Text.

On Tue, 11 Oct 2016, 08:12 d-mojca, <notifications@github.com> wrote:

[2016-10-11 07:16] d-mojca commented on #248
notepad says 192k lines!

On Tue, Oct 11, 2016 at 9:14 AM, Julius <notifications@github.com> wrote:

[2016-10-11 07:19] JuliusSweetland commented on #248
Ok. That's on the larger side, but not necessarily too large. What's the
plan for release; do you want me to wait until you have finalised the
dictionary before I push this out?

On Tue, 11 Oct 2016, 08:16 d-mojca, <notifications@github.com> wrote:

[2016-10-11 07:22] d-mojca commented on #248
if it is possible that you wait a few more days (weekend!), then please do.

On Tue, Oct 11, 2016 at 9:19 AM, Julius <notifications@github.com> wrote:

[2016-10-11 07:37] JuliusSweetland commented on #248
@d-mojca No problem. If you can send me the updated dictionary when you're ready I'll include it.

[2016-10-11 07:38] JuliusSweetland commented on #282
@TheGreenAirplane It sounds like the new keyboard could be based off the Slovenian keyboard, with an extra key added to each of the top 3 rows of letters. The space key could then be made one key wider to keep everything balanced. What do you think?

[2016-10-11 07:44] d-mojca commented on #248
thanks!

On Tue, Oct 11, 2016 at 9:37 AM, Julius <notifications@github.com> wrote:

[2016-10-11 20:12] TheGreenAirplane commented on #282
I made a quick mockup, just to be sure I understand what you mean:
![czech keyboard proposal](https://cloud.githubusercontent.com/assets/12677130/19286321/828eb190-8ffd-11e6-9ed8-fbabdb1b41e8.png)
If this is what you meant, then yes, this would work. However, there's one thing I'd change about the  dead keys. On the Spanish keyboard, when you click the accent key, you get a selection of letters th

[2016-10-11 20:21] TheGreenAirplane commented on #281
Here's a mockup of what the Slovak keyboard could look like. It's similar to Czech, except you need 4 extra characters instead of 3.
![Slovak keyboard proposal](https://cloud.githubusercontent.com/assets/12677130/19287096/aa43b43a-9000-11e6-8b0f-475897f6d5fc.png)
Just a small update, I expect to finish the Slovak translation on Transifex by Saturday evening. Then I'll continue with the other tasks

[2016-10-12 08:14] JuliusSweetland commented on #282
@TheGreenAirplane Mock up looks good to me. I can think about how to support modified labels on the keys when diacritic "dead keys" are down. I would guess that will be a reasonably easy thing to code.

[2016-10-12 08:15] JuliusSweetland commented on #281
@TheGreenAirplane This mockup also looks good. Nice work.

[2016-10-30 17:45] aluizmv commented on #234
Hi Julius, do you have any news about Portuguese Optikey?
Can I help?
Thank you

[2016-10-30 19:10] JuliusSweetland commented on #234
@aluizmv @rafael-ac Hi - apologies for the lack of progress with Portuguese. I can work on Portuguese this week if you guys are available to help? If we are happy with the 30k word list (https://github.com/OptiKey/OptiKey/files/198205/wordlist_pt-BR.txt), then we need to start work on the keyboard layout. As it's straightforward I am happy to do this.

Would one or both of you take a look at the T

[2016-11-01 16:45] ashketh opened #284 "Error while setting up OptiKey"
While I downloaded the setup files for OptiKey and ran it, It notified me that I didn't have .NET Framework 3.5 loaded on my PC. It assured me that it would download .NET 3.5 for me, but after a while it said that it had an error downloading the framework and asked me to manually download the framework or just restart the computer and run the setup all over again.

I use a Sony Vaio 15", Intel i5

[2016-11-02 03:29] aluizmv commented on #234
The list of 30k Words is ok.

Em 30 de out de 2016 5:10 PM, "Julius" <notifications@github.com> escreveu:

[2016-11-02 11:03] aluizmv commented on #234
Dear Julius, there is an error on Transifex translation for Portuguese, an
error to access the servidor!
Prease check it.
Tks

2016-10-30 17:10 GMT-02:00 Julius <notifications@github.com>:

[2016-11-02 11:11] JuliusSweetland commented on #234
Transifex is working for me?

On Wed, 2 Nov 2016, 11:03 aluizmv, <notifications@github.com> wrote:

[2016-11-02 21:35] JuliusSweetland commented on #284
@ashketh Thanks. It should actually be looking for .Net 4.6. Which version of Windows are you using and do you know which version(s) (if any) of the .Net Framework you have installed? You can look in "Programs And Features" from the Start menu.

[2016-11-02 23:24] aluizmv commented on #234
Please accept me at Portuguese translate team.
Tks
Aluizmv

Em 2 de nov de 2016 9:11 AM, "Julius" <notifications@github.com> escreveu:

[2016-11-03 01:58] ashketh commented on #284
I'm using Windows 8.1, and this is a little weird, I just noticed that I don't have any version of .NET installed.

[2016-11-03 06:34] JuliusSweetland commented on #234
Done

On Wed, 2 Nov 2016, 23:24 aluizmv, <notifications@github.com> wrote:

[2016-11-03 06:37] JuliusSweetland commented on #284
I believe it is possible to skip the .net framework during the Windows
installation, but 4.5 is the default install with Windows 8.1. I'll look
into why the OptiKey installer failed to get the correct version, but it's
a tricky problem to diagnose without being able to replicate.

Can you manually install 4.6 in the mean time?

On Thu, 3 Nov 2016, 01:58 Ashketh Tiwari, <notifications@github.com> w

[2016-11-03 09:01] aluizmv commented on #234
Done!
Please check, not translate only languages!
Ok?

Em 3 de nov de 2016 4:34 AM, "Julius" <notifications@github.com> escreveu:

[2016-11-03 09:24] JuliusSweetland commented on #234
Looks good, thank you

On Thu, 3 Nov 2016, 09:02 aluizmv, <notifications@github.com> wrote:

[2016-11-03 09:29] aluizmv commented on #234
Is there anything else that I can do?

Em 3 de nov de 2016 7:24 AM, "Julius" <notifications@github.com> escreveu:

[2016-11-03 09:31] JuliusSweetland commented on #234
Are you a C# & WPF developer? If so then I can guide you through the
localisation process, otherwise I'll pick this up asap.

On Thu, 3 Nov 2016, 09:29 aluizmv, <notifications@github.com> wrote:

[2016-11-03 09:40] aluizmv commented on #234
Sorry but I am not!
I'm looking for hearing from you!
Bests

Em 3 de nov de 2016 7:31 AM, "Julius" <notifications@github.com> escreveu:

[2016-11-04 16:26] Pakosoft commented on #98
Hi Julius,

I'm an experienced programmer but a complete noob in Github. I find this project very interesting and like to collaborate trying to fix bugs like this one. I can run the solution on my computer with no initial problems. I read that you can collaborate on someone's project by following these steps:

1. Fork the target repo to your own account.
2. Clone the repo to your local machine.
3.

[2016-11-05 14:11] ashketh commented on #284
Cheers! I'll do that!

[2016-11-05 20:03] JuliusSweetland commented on #98
Hi there. Yes that work flow sounds right. Step 3 is optional. If you want
to work on a single bug or feature you can clone the OptiKey master branch,
fix the issue, and then create a pull request. I can test the fix before I
merge it in.

Git and GitHub can be a bit tricky, so let me know if you have any
questions.

On Fri, 4 Nov 2016, 16:26 Pakosoft, <notifications@github.com> wrote:

[2016-11-06 01:32] Pakosoft commented on #98
Alright then, Thank you very much.

[2016-11-07 19:34] Pakosoft commented on #98
Hi Julius,

I can't reproduce the issue. I took the following steps in debug mode in VS 2015:

1.- Go to Menu
2.- Go to Size and position
3.- I tried expanding, shrinking, moving and jumping. I started from having the keyboard in a docked position and from that point it changed without any noticeable flickering.

I have a question though:

How can I get back to a docked position?

Francisco.

[2016-11-07 19:36] JuliusSweetland commented on #98
Hi Francisco. If you move OptiKey to and edge and then continue moving so
OptiKey is moving over the screen edge then it will dock to that edge. I
believe this issue is a flicker during that dock/undocking state change.

On Mon, 7 Nov 2016, 19:34 Pakosoft, <notifications@github.com> wrote:

[2016-11-08 01:25] aluizmv commented on #234
Hi Julius! How are you?  Do you have any news about Portuguese version? Can I help you ? Thanks Antonio Luiz 

Enviado do Yahoo Mail no Android

  Em 7:40 AM Qui, 3 de nov de AM, aluizmv .<aluizmv@gmail.com> escreveu:
Sorry but I am not! 
I'm looking for hearing from you!
Bests

Em 3 de nov de 2016 7:31 AM, "Julius" <notifications@github.com> escreveu:

Are you a C# & WPF developer? If so then I c

[2016-11-08 09:16] JuliusSweetland commented on #234
Hi. I'm afraid I've not started it yet. I will set aside time on Thursday
evening and hopefully break the back of it.

On Tue, 8 Nov 2016, 01:25 aluizmv, <notifications@github.com> wrote:

[2016-11-08 16:05] Pakosoft commented on #156
Hi Julius,

So when setting is on, for every word the user inputs we need to call the method ExistsInDictionary from the DictionaryService class and if it-s not in the dictionary add it with the correspondent method??
However I don't see any method that checks for misspelled words, I guess it should be implemented too.

For the ADD TO DICTIONARY key I guess you can disable it (make it translucent)

[2016-11-08 16:31] JuliusSweetland commented on #156
Hi. Thanks for looking at this.

I think it should work in a similar way as the increment/decrement usage
count in the dictionary, in that you only auto add a word when we think the
user has "accepted" it, e.g. when the user "moves on" from the word by
inputting space, or something similar. If the user then selects backspace
to go back and continue editing the word then the previous dictionary
add

[2016-11-08 17:27] Pakosoft commented on #156
It does. Thank you. Will look into this.

[2016-11-09 10:04] JuliusSweetland commented on #284
Closing as unable to replicate.

[2016-11-09 10:04] #284 closed

[2016-11-10 14:14] JuliusSweetland commented on #273
Released in v2.3.6

[2016-11-10 14:14] #273 closed

[2016-11-10 14:14] JuliusSweetland commented on #248
Released in v2.3.6

[2016-11-10 14:14] #248 closed

[2016-11-10 22:45] JuliusSweetland commented on #234
v2.3.7 (here: https://github.com/OptiKey/OptiKey/releases) is a pre-release which includes Portuguese - please can you test this. I think the dictionary is a bit small and doesn't seem to include any accented words. We should replace this with a better dictionary file if you agree, but everything else can be tested. Let me know.

[2016-11-11 01:02] aluizmv commented on #234
Tks Julius!  I will test it ASAP. 

Enviado do Yahoo Mail no Android

  Em 8:45 PM Qui, 10 de nov de PM, Julius<notifications@github.com> escreveu:
v2.3.7 (here: https://github.com/OptiKey/OptiKey/releases) is a pre-release which includes Portuguese - please can you test this. I think the dictionary is a bit small and doesn't seem to include any accented words. We should replace this with a better

[2016-11-11 13:11] aluizmv commented on #234
Hi Julius!
V2.3.7 looks great.
I will take it to the hospital today, my mother will test it too.
Hey, it is Portuguese Brasil, Not Portuguese Portugal.
Thank you very much!

2016-11-10 20:45 GMT-02:00 Julius <notifications@github.com>:

[2016-11-11 13:16] JuliusSweetland commented on #234
Good news. At the moment Portuguese Portugal and Portuguese Brazil would be
the same (same layout, same language rules, and same dictionary). If we
differ on any of those then I can split it out into two.

On Fri, 11 Nov 2016, 13:11 aluizmv, <notifications@github.com> wrote:

[2016-11-11 16:26] aluizmv commented on #234
Julius, sorry to say that the test was not goid.I left the hospital few minutes ago. It was very dificult to her to focalize the letters.And we found that problem when we left the program at Conversation mode. The same problem that we had another day.Another problem is the size of the letters in Portuguese keyboard. The letters are small, to many buttons. Thank you very much!

Enviado do Yahoo Mai

[2016-11-11 16:48] JuliusSweetland commented on #234
Sorry to hear that. What size screen are you using and do you think it
would help if OptiKey was slowed down, i.e. selections took longer and were
more tolerant of losing focus? There are a load of settings we could try
tweaking.

On Fri, 11 Nov 2016, 16:26 aluizmv, <notifications@github.com> wrote:

[2016-11-11 16:52] aluizmv commented on #234
Notebook 15"We could try the settings... What do I have to do?
Enviado do Yahoo Mail no Android

  Em 2:48 PM sex, 11 de nov de PM, Julius<notifications@github.com> escreveu:   Sorry to hear that. What size screen are you using and do you think it
would help if OptiKey was slowed down, i.e. selections took longer and were
more tolerant of losing focus? There are a load of settings we could try
twe

[2016-11-11 16:54] JuliusSweetland commented on #234
Take a look here:
https://github.com/OptiKey/OptiKey/wiki/Speed-up-&-slow-down

I think it's largely up to date

On Fri, 11 Nov 2016, 16:52 aluizmv, <notifications@github.com> wrote:

[2016-11-11 17:03] aluizmv commented on #234
I will try, and the problem with Conversation mode?

Enviado do Yahoo Mail no Android

  Em 2:54 PM sex, 11 de nov de PM, Julius<notifications@github.com> escreveu:   Take a look here:
https://github.com/OptiKey/OptiKey/wiki/Speed-up-&-slow-down

I think it's largely up to date

On Fri, 11 Nov 2016, 16:52 aluizmv, <notifications@github.com> wrote:

—
You are receiving this because you were mention

[2016-11-11 17:09] JuliusSweetland commented on #234
Can you describe the problem again?

On Fri, 11 Nov 2016, 17:03 aluizmv, <notifications@github.com> wrote:

[2016-11-11 17:17] JuliusSweetland commented on #234
Are you saying that you stay OptiKey, open the conversation keyboard,
navigate back to menu, quit, restart OptiKey and it doesn't fill the
screen? If so it's because there is a setting which controls the startup
keyboard. Open the management console and change the startup keyboard to
Conversation Letters.

If I've misunderstood could you explain.

On Fri, 11 Nov 2016, 17:12 aluizmv, <notifications

[2016-11-11 23:35] aluizmv commented on #234
Julius, I did it, and reset the optikey.. Now everything looks OK..Tomorrow I wilk test with my mother. Let's find another Portuguese list. Thank you.

Enviado do Yahoo Mail no Android

  Em 3:17 PM sex, 11 de nov de PM, Julius<notifications@github.com> escreveu:   Are you saying that you stay OptiKey, open the conversation keyboard,
navigate back to menu, quit, restart OptiKey and it doesn't fill

[2016-11-14 01:33] alexandre-mbm commented on #55
I did not understand what this means. Can you give me a example?

[2016-11-14 01:42] alexandre-mbm commented on #53
How it is today? Truncated?
And are there phrases as suggestions?!

If they becomes truncated, you could use a tooltip while doing the dwell...

[2016-11-14 02:01] alexandre-mbm commented on #22
- [ ] I need to test if the blink triggers from Project IRIS could be workaround for the lacks of feature on OptiKey.

My father is a ALS person. We will go Tobii EyeX as main input hardware. I think that the OptiKey could manage bindings for keystrokes. I want to use IRIS or to program blink triggers by using the EyeX SDK. I also want to use accelerometers and pressure sensors to implement auxili

[2016-11-14 02:39] alexandre-mbm commented on #13
You speak "phrases" but in the dictionaries (en-US and es at least) I see words only.

[2016-11-14 02:51] alexandre-mbm commented on #9
Is there how to activate the debug without rebuild?

[2016-11-14 02:57] alexandre-mbm commented on #18
The milestone Alpha will be the OptiKey **v3**?

[2016-11-14 03:13] alexandre-mbm commented on #16
I see here on main menu at least. The issue is closed but it continues labelled as "in progress".

[2016-11-14 03:16] alexandre-mbm commented on #23
What means "point source"?

[2016-11-14 03:36] alexandre-mbm commented on #105
I am enjoying OptiKey on Windows 10. Why sometimes there is not the split-screen behaviour? Bug or auto configuration?

[2016-11-14 03:46] alexandre-mbm commented on #46
Did you give up? What was the intent?

[2016-11-14 03:50] alexandre-mbm commented on #47
Old version? Here the labels are showed when focus in the icons.

[2016-11-14 04:03] alexandre-mbm commented on #50
Hint for backlog: migrate from wiki to Gitbook, including translation.

[2016-11-14 04:17] alexandre-mbm commented on #24
And the dictionaries, also?

[2016-11-14 05:20] alexandre-mbm commented on #269
**This is awesome!** It is all that I was needing to working.

![Activity Diagram for the Localisation module](https://raw.githubusercontent.com/adirel/ASOSMA/master/OptiKey/images/ActivityDiagram.png)

[2016-11-14 05:42] alexandre-mbm commented on #184
Today, November 2016, what I will need and still is not published? Where are these scripts?

Which is the toolchain?
Some Microsoft Visual Studio Community or Express will work?

[2016-11-14 05:59] alexandre-mbm commented on #72
- [ ] See automate fixation mode on Project IRIS

[2016-11-14 09:16] JuliusSweetland commented on #55
@alexandre-mbm You can ignore any closed issues. They may still also be labelled as "in progress" incorrectly, but the fact that they are closed means they issue has been fixed, or discarded for whatever reason.

[2016-11-14 09:19] JuliusSweetland commented on #22
@alexandre-mbm OptiKey can accept keystrokes (either from a keyboard, or another device which can simulate a keystroke) as triggers to make selections. This particular issue was closed as I have read a reasonable amount of comments that suggest that blinking as a trigger is not reliable enough.

[2016-11-14 09:21] JuliusSweetland commented on #13
@alexandre-mbm Phrases have been implements, but there are none in the default US English dictionary. If you write out a phrase (e.g. "my name is Julius") then select the 'Add To Dictionary' key, it will offer to add the whole phrase to the dictionary. It will then be suggested if you start typing e.g. "my n", or if you type "mnij", or if you swipe over "m", "n", "i", "j". You can try it out, but

[2016-11-14 09:22] JuliusSweetland commented on #9
This has been implemented. There is a setting in the Management Console (in the "Other" tab) to turn on/off debug mode. When on you see the points selected by the user, points per seconds coming from the points source (e.g. the eye tracker), and the logs include a LOT more detail.

[2016-11-14 09:24] JuliusSweetland commented on #18
@alexandre-mbm This has been implemented and the issue closed. "v3" is a branch where I was experimenting with 2 floating windows; one containing the keyboard, and the other down the side of the screen for mouse actions.

[2016-11-14 09:25] JuliusSweetland commented on #50
@alexandre-mbm That's a good idea, thanks!

[2016-11-14 09:25] JuliusSweetland commented on #47
@alexandre-mbm Correct. All closed issues have been implemented or ignored for some reason. You can ignore the "in progress" label if the issue is closed.

[2016-11-14 09:26] JuliusSweetland commented on #46
@alexandre-mbm I decided to not duplicate everything. I'm happy with GitHub.

[2016-11-14 09:28] JuliusSweetland commented on #105
@alexandre-mbm If you are referring to when OptiKey takes up part of your screen, this is when OptiKey is docked to an edge. If you use the "Size & position" keyboard to move OptiKey to a screen edge, then move it OVER that edge OptiKey will dock and arrange other windows around it. If you then move OptiKey away from the docked edge it will break off the edge and float over other windows. Both mod

[2016-11-14 09:30] JuliusSweetland commented on #23
@alexandre-mbm A point source is any input device which can supply a list of points (x,y coordinates on the screen) to tell OptiKey where the user is interested. An eye tracker is a point source. So is a mouse. In this issue where the user touches the screen would be the point of interest, so a touch screen point source would emit points when the user was touching the screen, or moving their finge

[2016-11-14 18:20] alexandre-mbm commented on #55
Sorry me if my mode is bad. I would want to know the details of your options in the OptiKey history. I am reading all issues (open and closed). If it bothers you, declare to me please. So I will stop.

I also will study the code, after. I think that the Github's issues are an optimal tool for knowledge management. To generate it and to record it from initial times.

On the other hand, I want congr

[2016-11-14 18:24] JuliusSweetland commented on #55
I'm very happy for you to read the issues - good idea. Just don't worry too
much about the closed issues as there are plenty of open issues to solve
first!

On Mon, 14 Nov 2016, 18:20 Alexandre Magno, <notifications@github.com>
wrote:

[2016-11-14 18:45] alexandre-mbm commented on #22
Yes, blinking as a trigger presents very false positives. But it can be useful in some ways and contexts.

I have experienced binding keystrokes. But is there two action only, is not? I would want to have trigger to customized screens, for example.

By the way, are there customized screens on OptiKey?! Some functions in general will be useless for my father, such as diacritcs. I would want to put

[2016-11-14 19:01] alexandre-mbm commented on #18
What do you say about this approach experienced?

[2016-11-14 19:07] alexandre-mbm commented on #50
In wiki would remaining the essential for source code acknowledgement and development.

[2016-11-14 20:54] JuliusSweetland commented on #22
There is currently only one type of selection, but it would be possible to
add more, although this is a complex change.

The idea of customised keyboards should be coming in the next few months.
Someone is working on this already!

On Mon, 14 Nov 2016, 18:45 Alexandre Magno, <notifications@github.com>
wrote:

[2016-11-14 20:54] JuliusSweetland commented on #18
I don't understand the question I'm afraid...

On Mon, 14 Nov 2016, 19:01 Alexandre Magno, <notifications@github.com>
wrote:

[2016-11-15 02:56] alexandre-mbm commented on #23
No. Sorry. My father cannot enjoy a touch screen and I am with no time for focusless work.

[2016-11-15 03:11] alexandre-mbm commented on #22
It could starting by doing use of config files. YAML.

Honestly, it's pretty bad use the GUI for configuration (Alt+M). A approach to edit texts files would be applicable, because disabled people are usually aided in thoses steps. Or is there a shortcut to suspend the eye tracker for the person that is configuring the OptiKey?

Having screens is better than having files. But having files can repre

[2016-11-15 03:23] alexandre-mbm commented on #18
Before the OptiKey, I had imagined a mouse panel hidden in lateral of the screen, and a keyboard panel also hidden, it in bottom of the screen. Each them would be showed when the user was looking at its respective corner.

What you learned with the v3 branch?

[2016-11-15 04:31] alexandre-mbm commented on #242
@cjb, initial examples from eye trackers's SDKs could work. Why not? Changing a large project such as OptiKey appears me much more complex.

[2016-11-15 04:39] alexandre-mbm commented on #17
Is there today how to bind triggers to actions above?

[2016-11-15 04:54] alexandre-mbm commented on #8
selection progress == dwell ?

[2016-11-15 05:02] alexandre-mbm commented on #27
@JuliusSweetland, do you use some kanban board? Where?

[2016-11-15 05:14] alexandre-mbm commented on #31
The current approach for the mouse pointer is bad. The dwell at side of it gets the user's attention and then the pointer is moved (provoking imprecision and difficulting the use). I suggest something more "centered" in the "point" of interest.

This is the main reason that is motivating me to look back to switches (accelerometers, pressure sensors, infrared), even knowing that my father can lose

[2016-11-15 05:25] alexandre-mbm commented on #70
Doing a central of binding for keystrokes, with profiles that would be enabled or disabled for certain contexts, could solve this and my issues with flexibility. Gamepads and others switch sources can be mapped by third party to virtual keystrokes. OptiKey just need manage keystrokes by doing the binding of each them to its internal actions.

[2016-11-15 05:48] alexandre-mbm commented on #62
@JuliusSweetland, did you decided to implement the interesting into OptiKey?
If not, can you comment the evaluation of this three tools?

WindowSpace costs $24.

[2016-11-15 05:54] alexandre-mbm commented on #54
Is possible manage configurations by editing files directly? What I read or study to learn it?

[2016-11-15 05:56] alexandre-mbm commented on #44
OptiKey /docs / [**Low cost tablets and laptops.txt**](https://github.com/OptiKey/OptiKey/blob/master/docs/Low%20cost%20tablets%20and%20laptops.txt)

[2016-11-15 06:09] alexandre-mbm commented on #42
@JuliusSweetland, can you speak a few about the autocomplete's intelligence?

[2016-11-15 06:18] alexandre-mbm commented on #57
Profiling for switches (keystrokes)

[2016-11-15 06:30] alexandre-mbm commented on #26
I am thinking in voice commands given by carers. Auxiliary commands.

[2016-11-15 06:40] alexandre-mbm commented on #155
Would be this a highlighting into the autocomplete's sugestion fields?

[2016-11-15 06:50] alexandre-mbm commented on #271
I do not reproduce this here.

[2016-11-15 06:53] alexandre-mbm commented on #104
Is this basically the target for the v3 branch?

[2016-11-15 06:59] alexandre-mbm commented on #108
[The MBROLA Project](http://tcts.fpms.ac.be/synthesis/mbrola.html)

[2016-11-15 07:09] alexandre-mbm commented on #156
I will create my dictionary file directly. I see that other dictionary files are not sorted in according with the "sort -u" command from GNU/Linux shell. Which are the rules for the dictionary files?

[2016-11-15 08:18] JuliusSweetland commented on #18
@alexandre-mbm That's how I imagined it. If you'd like to work on that some of the solution is already written on the v3 branch, but it needs to be brought up to date.

[2016-11-15 08:19] JuliusSweetland commented on #17
@alexandre-mbm There isn't a way to bind triggers to different actions. There is an old pull requests using voice commands that does a similar thing, but not using the trigger source. Can I ask you not to comment across so many issues. I suggest you play with the code, read the issues and then pick one to work on?

[2016-11-15 08:20] JuliusSweetland commented on #8
@alexandre-mbm Selection doesn't have to be dwell, but at the moment, selection progress only applies to the dwell trigger.

[2016-11-15 08:21] JuliusSweetland commented on #31
@alexandre-mbm I agree. The problem is if the selection is at the edge or corner of the screen. You would have to animate a progress indicator that is partially off the screen.

[2016-11-15 08:23] JuliusSweetland commented on #70
@alexandre-mbm I agree, physical keypads which simulate keystrokes can interfere with OptiKey also simulating keystrokes as they can combine. Joysticks generate a separate stream of inputs which do not overlap with keystrokes, so there is some advantage in adding support for them.

[2016-11-15 08:23] JuliusSweetland commented on #62
@alexandre-mbm I instead added support for docking, which achieves a similar thing by arranging other windows around OptiKey.

[2016-11-15 08:25] JuliusSweetland commented on #54
@alexandre-mbm The settings are stored in xml files, with the syntax is not user friendly, you can easily "break" the file with a bad edit, and the directory is deliberately kept away from the user (by Microsoft).

[2016-11-15 08:25] JuliusSweetland commented on #44
@alexandre-mbm A new keyboard specifically customised for internet browsing could work.

[2016-11-15 08:27] JuliusSweetland commented on #42
@alexandre-mbm At the moment the multi-key selection registers all individual points coming from the tracker and counts how many are within the boundaries of each key. I apply a band pass filter to remove keys which have not received significant attention. I then have a list, in order, of keys which the user is interested in and I match that to the dictionary entries using the lowest common subs-e

[2016-11-15 08:29] JuliusSweetland commented on #26
@alexandre-mbm Have a look at the voice commands pull request created by feugy. It works well, but needs testing. I had some issues with it recognising incorrect words so I never got around to merging the work, but the foundation is good - you might want to take a look and work on this to finish it?

[2016-11-15 08:30] JuliusSweetland commented on #156
@alexandre-mbm The dictionary should be around 100k with not too many proper nouns (names etc). All words should be lower case, unless they are always used with a capital letter.

[2016-11-15 08:32] JuliusSweetland commented on #108
@alexandre-mbm That's a great resource, thanks. Would you be interested in adding support to OptiKey as an alternative to current use of System.Speech.Synthesis?

[2016-11-15 08:32] JuliusSweetland commented on #104
@alexandre-mbm Yes.

[2016-11-15 08:33] JuliusSweetland commented on #271
@alexandre-mbm I think this was a bug in the WindowManipulationService which I fixed. Closing this issue as I can not longer replicate this issue either.

[2016-11-15 08:33] #271 closed

[2016-11-15 08:34] JuliusSweetland commented on #155
@alexandre-mbm No I was imagining a quick fade-in/fade-out (possibly combined with the word getting larger, like it is expanding as it fades in and out, like an explosion) of the word at the point where the user is looking, or over the center of the keyboard, to prevent the user having to keep glancing up as they are typing.

[2016-11-15 19:48] alexandre-mbm commented on #18
in which aspects?

[2016-11-15 19:57] JuliusSweetland commented on #18
It needs the latest master branch merged into the v3 branch, which might
not be straightforward. If you decide to work on this I can help with that
merge.

On Tue, 15 Nov 2016, 19:48 Alexandre Magno, <notifications@github.com>
wrote:

[2016-11-15 20:01] alexandre-mbm commented on #17
Right. Sorry. There is 13 issues through which you answered me. Now I am assuming that I must not continue those conversations.

Today I did go to sleep by suspecting that I was abusing you. It is good you let me know that yes. **I am stopping here** and will try continue alone. Before I was thinking my behaviour  like good to put more knowledge in each more relevant issue.

[2016-11-15 20:10] alexandre-mbm commented on #18
Before, we will try use OptiKey out the box, just with a switch for the mouse click. Prevent the visual dwell on mouse pointer will make possible my father use your software as it is already.

**Thank very much. Great work! Sorry.** I will not continues with the conversations. I stopped this. **Here just to thank. Bye.**

[2016-11-15 20:20] JuliusSweetland commented on #18
@alexandre-mbm No problem. You're welcome. I hope it works well for you. Email me if you need anything; optikeyfeedback@gmail.com

[2016-11-15 20:21] JuliusSweetland commented on #17
@alexandre-mbm You're not abusing me, but I can support you better on one thing at a time. Let me know if you want to work on any of the issues. All the best.

[2016-11-16 02:07] alexandre-mbm commented on #8
I was naming as "dwell" the animation, but I see that are three types* of animation now:

![dwell-and-its-types](https://cloud.githubusercontent.com/assets/957501/20331894/23ac7770-ab87-11e6-9b9e-ea3047dd5749.png)

At the Transifex I find that term by meaning "fixation" (for my language, portuguese).

\* It is good to know that will be sufficient adding others behaviours of indicator, to improve a

[2016-11-16 02:23] alexandre-mbm commented on #31
Do you already tryout an approach with small circle of fire like that found in the EyeX calibration process? The more the person looks, the faster it spins and the more attention it requires. I think that some time configurations could warranty the liberation of our gaze as well as the adjust for the initial approximation do not grab prematurely.

[2016-11-16 02:33] alexandre-mbm commented on #26
#173 and #276

[2016-11-16 02:41] alexandre-mbm commented on #13
- [ ] Me look other way to show more long phrases

Today my full name (five words) appears very small in the autocomplete field, for example. Hint to think: floating zoom box when doing field selection.

[2016-11-16 03:11] alexandre-mbm commented on #54
Okay, I understand. It serves at least to backup and restore, manual or automatic. Thanks!

![appdata-user](https://cloud.githubusercontent.com/assets/957501/20333414/29838e04-ab91-11e6-8d43-63975f10aa1c.png)

![appdata-more](https://cloud.githubusercontent.com/assets/957501/20333419/33a6644c-ab91-11e6-8d94-b84dbad47d65.png)

[2016-11-16 03:20] alexandre-mbm commented on #44
I am seeing #152 and some day I will put attention on v3 branch.

[2016-11-16 03:32] alexandre-mbm commented on #244
@PiotrKurnik, do you want [AAC](https://en.wikipedia.org/wiki/Augmentative_and_alternative_communication) boards like happens in the softwares Grid 2 and GazeSpeaker, right?!

![AAC boards](https://upload.wikimedia.org/wikipedia/commons/c/c3/Sample_page_from_AAC_communication_book.png)

[2016-11-16 03:56] alexandre-mbm commented on #156
I see the instructions at #148.

Dictionaries can become personal topic. So I am creating a small script to mount them from multiple data sources. This will solve some issues with licenses.

[2016-11-16 04:09] alexandre-mbm commented on #234
@JuliusSweetland, split it please! Me and my brother @alandbm will work in brazilian portuguese up to the optimal.

[2016-11-16 04:52] alexandre-mbm commented on #148
404 Not Found

Updated at [FrequencyWords](https://github.com/hermitdave/FrequencyWords/) repository.

Initially he declared that _"[Creative Commons – Attribution / ShareAlike 3.0](http://creativecommons.org/licenses/by-sa/3.0/) license applies to the use of the word lists"_, but currently the repository at Gihub an its [content](https://github.com/hermitdave/FrequencyWords/tree/master/content/20

[2016-11-16 05:07] alexandre-mbm commented on #68
From README.md at SCOWL's Github repository:

[2016-11-16 05:21] alexandre-mbm commented on #218
is it about sharing data between two or more assessors?

[2016-11-16 05:27] alexandre-mbm commented on #152
Do you sketch keyboards by using some tool?

[2016-11-16 05:51] alexandre-mbm commented on #41
[Google Books](https://books.google.com.br/books?id=HuWeBQAAQBAJ&hl=pt-BR)

[2016-11-16 05:58] alexandre-mbm commented on #271
Oops! It happened yesterday with me. Maybe after I changing the screen resolution. Workaround: erase config files and reopen the OptiKey.

[2016-11-16 06:02] alexandre-mbm commented on #157
Yes, I achieve much of it with mouse panel docked and collapsed.

[2016-11-16 06:09] alexandre-mbm commented on #135
I do not understand what is the magnetic cursor and I can not find this information in the wiki.

[2016-11-16 06:35] alexandre-mbm commented on #51
https://github.com/OptiKey/OptiKey/blob/master/src/JuliusSweetland.OptiKey/UI/Controls/KeyboardHost.cs#L284

[2016-11-16 06:54] alexandre-mbm commented on #87
+1 for gaze gestures + blink switches, configurable and combinable in _n_ ways. It is not need begin this to be to configured by user; could be by carer only.

[2016-11-16 07:21] alexandre-mbm commented on #158
It is interesting also look for more flexible things such as DIY projects based on Arduino, microcontrollers AVR or ESP8266.

[2016-11-16 08:43] JuliusSweetland commented on #31
@alexandre-mbm I haven't implemented other animations, but it would be relatively easy to experiment with ideas.

[2016-11-16 08:43] JuliusSweetland commented on #26
It's #173 - the other one is rubbish.

[2016-11-16 08:54] JuliusSweetland commented on #156
@alexandre-mbm I'll post my linqpad scripts on this issue this evening which include scripts to merge dictionary and frequency lists, perform cleanup and extract the top x entries.

[2016-11-16 08:58] JuliusSweetland commented on #271
If you can provide steps to replicate I will attempt to fix it

[2016-11-16 08:59] JuliusSweetland commented on #135
@alexandre-mbm It's a key on the mouse keyboard, which, when locked down (pressed), means the mouse cursor follows wherever the user directs their attention, e.g. if you are using an eye tracker and turn on magnetic mouse then the mouse cursor will follow wherever you look.

[2016-11-16 09:34] alexandre-mbm commented on #108
No, for now I just wanted to share the info. In future it can be useful into a context of rewriting for Linux.

[2016-11-16 09:42] alexandre-mbm commented on #135
What are the uses for this?

[2016-11-16 09:51] JuliusSweetland commented on #135
@alexandre-mbm You can control the cursor, which can be used to interact with games, or other accessibility software which reacts to the mouse.

[2016-11-16 17:32] alexandre-mbm commented on #184
I'm impressed! It was very easy to deploy the Microsoft's toolchain and build and execute branches. Basically:

1. Install Microsoft Visual Studio Community 2015
2. Clone the Git repository by using the "https" URL
3. Do checkout for the branch of interest
4. Open Solution
5. Build All or Start

Amazing!

[2016-11-16 19:00] alexandre-mbm commented on #156
@JuliusSweetland, which scripting languages are fine to the OptiKey ecosystem?

[2016-11-16 19:49] JuliusSweetland commented on #156
I only use c# with linqpad.

On Wed, 16 Nov 2016, 19:01 Alexandre Magno, <notifications@github.com>
wrote:

[2016-11-16 20:13] alexandre-mbm commented on #156
Thanks. I am already finishing a initial research about LINQPad. Cool! I will use this only also...

[2016-11-17 04:42] alexandre-mbm commented on #234
Interested persons in Portuguese of Brazil, see: ENE/OptiKey#2

The common results will are returned to the mainstream.

[2016-11-18 05:44] alexandre-mbm commented on #234
Interested persons in improving the Portuguese dictionary, see #285 please.

[2016-11-19 15:44] JuliusSweetland commented on #234
@alexandre-mbm Pre-release 3 of v2.3.7 has just been released here; https://github.com/OptiKey/OptiKey/releases - It includes your new dictionary. Please test and let me know if it is ready for general release. Great work guys.

[2016-11-19 23:54] alexandre-mbm commented on #234
@JuliusSweetland, the my father's notebook is without power supply until Tuesday. It was as model for accessibility adjustments. But okay! Until there I am will test OptiKey remotely in my brother's desktop computer. Also my OptiDic manipulator will be enabled to incremental improvements in dictionaries.

[2016-11-21 01:53] aluizmv commented on #234
Hi Julius!  In my opinion it is OK!My mother tks you!Thank you!

Enviado do Yahoo Mail no Android

  Em sáb, 19 nov, 2016 às 1:44 PM, Julius&It;notifications@github.com> escreveu:
@alexandre-mbm Pre-release 3 of v2.3.7 has just been released here; https://github.com/OptiKey/OptiKey/releases - It includes your new dictionary. Please test and let me know if it is ready for general release. Great wor

[2016-11-21 04:51] gabrielbenjamin opened #287 "Windows 10: Windows UI elements obscure OptiKey mouse cursor"
For an illustrative example, open the Windows menu and try to use OptiKey to click on an element within the menu. Note that the OptiKey mouse cursor is covered by every region of the menu, translucent or opaque. A cursory search revealed that this also occurs with the Windows sound control, battery indicator (I'm reporting from a laptop), all the Ease of Access utilities, and system tooltips. I ma

[2016-11-21 05:15] Dewwick opened #288 "Error message "Uh-oh! I cannot detect where you are directing your attention...""
My wife is using Optikey with a Surface Pro 4, Windows 10 and a new Tobii Eyex.  She has CP and wiggles some. I built her a headrest with a wired mouse on it that she can click with her head.  I switched the settings (Alt-M) to make selections with the left mouse button for both keys and mouse points.  Now there's an error message in a red box that pops up a lot when she clicks her button that say

[2016-11-21 06:28] JuliusSweetland commented on #234
Excellent. I will convert it into an official release very soon then. All
the best to your family.

On Mon, 21 Nov 2016, 01:53 aluizmv, <notifications@github.com> wrote:

[2016-11-21 08:24] JuliusSweetland commented on #287
@gabrielbenjamin Thanks for reporting this. Which version of OptiKey are you using?

[2016-11-21 08:26] JuliusSweetland commented on #288
@Dewwick Thanks for reporting this. Which version of OptiKey are you using, and are you talking about the standard keyboard(s) (where OptiKey is covering part of the screen only), or Conversation Mode (where OptiKey is full screen)?

[2016-11-21 08:38] alexandre-mbm commented on #234
@JuliusSweetland, I did not make extensive tests, but I am with the impression of that the algorithm based in counters is bad or will require very time to work. I am wanting to force the counters to increase, for more relevante words in my father vocabulary. Can I edit dictionary file that is for use (user data), is not?

[2016-11-21 08:42] JuliusSweetland commented on #234
The counter in the dictionary should increase when you type or select a word. As these counters increase the chosen words will be selected before other matches. If you want to initialise the dictionaries, you could manually edit the dictionaries stored here, but it shouldn't be necessary: C:\Users\YOUR_USER_NAME\AppData\Roaming\JuliusSweetland\JuliusSweetland\OptiKey\Dictionaries

I will be closin

[2016-11-21 08:42] #234 closed

[2016-11-21 08:44] alexandre-mbm commented on #288
@Dewwick, if she moves some finger, you could try DigiUSB + accelerometer + DigiKeyboard (lib). I want to try this in few days for my father.

[2016-11-21 08:50] JuliusSweetland commented on #288
@Dewwick I will remove the error message if you press the trigger key while away from a key, but let me know which version and how you are using OptiKey and I will see if there is anything else I can do to improve your experience.

[2016-11-21 10:00] dmankran opened #289 "Point To Key Value Map"
Where is the pointToKeyValueMap (the dictionary holding the points of the keys and their values) initiated in the code? I want a key to change its text and have multiple functions

[2016-11-21 14:28] Dewwick commented on #288
2.3.6.0 is the version number that flashes on the screen when starting OptiKey.  The error happens in both keyboards.  The red highlight moves around to the different squares as she looks around and even if one is highlighted when she clicks her switch, she can get the error, anywhere in the program.  Thanks so much for your reply! And for this wonderful program.  She's a former Words+ EZ Keys use

[2016-11-21 14:32] JuliusSweetland commented on #288
Thanks for the update. I'll take a look asap.

On Mon, 21 Nov 2016, 14:28 Dewwick, <notifications@github.com> wrote:

[2016-11-21 20:36] JuliusSweetland commented on #289
@dmankran It's built by the TraverseAllKeysAndBuildPointToKeyValueMap() method in the KeyboardHost, bound to a property on the MainViewModel, which then sets it on the InputService to be used by the trigger source. What are you trying to achieve as I don't think a key will currently support multiple functions.

[2016-11-21 20:36] JuliusSweetland commented on #287
@gabrielbenjamin Please try upgrading to the latest version (v.2.3.7) as I cannot replicate this issue. You may have an old version.

[2016-11-21 20:57] JuliusSweetland commented on #288
@Dewwick I'm struggling to replicate this. I can only imagine that the problem is that your wife is looking at a key and then looking away slightly to press the button, which could leave too large of a gap between the last time OptiKey knew where you were looking and the press of the button, which is why it complains that it cannot detect where you are looking. If you can describe the issue a bit

[2016-11-22 15:06] mostlyjason commented on #69
This would make text entry much faster! I looked at how other keyboard apps do it. It looks like acat has the user install presage https://01.org/sites/default/files/documentation/acat_user_guide_6.pdf. Another option could be using SwiftKeys prediction engine. It looks like they made it available free to Click2Speak. I could help ask them if you're interested. http://www.click2speak.net

[2016-11-22 19:30] JuliusSweetland commented on #69
@mostlyjason Hi Jason. Yes ACAT uses Presage, which you have to train for each language. I also spoke to SwiftKey about using their API, but they had closed the API when I spoke to them so that was a bit of a dead end.

If you'd like to work on either solution I'd be happy to support.

[2016-11-22 21:56] gabrielbenjamin commented on #287
Ah! I was one version behind. Just updated, and I can no longer reproduce
the issue either. I'll close it right away.

On Mon, Nov 21, 2016 at 3:24 AM, Julius <notifications@github.com> wrote:

[2016-11-22 21:58] #287 closed

[2016-11-22 22:03] JuliusSweetland commented on #287
Excellent news. That means my 2.3.6 release had a major bug in it. I'll put
a note on it. Thanks for reporting this.

On Tue, 22 Nov 2016, 21:58 gabrielbenjamin, <notifications@github.com>
wrote:

[2016-11-23 12:08] aluizmv commented on #234
Hi Julius! When will you release a new version with Portuguese support? Tks

Enviado do Yahoo Mail no Android

  Em seg, 21 nov, 2016 às 6:42 AM, Julius&It;notifications@github.com> escreveu:
The counter in the dictionary should increase when you type or select a word. As these counters increase the chosen words will be selected before other matches. If you want to initialise the dictionaries, you

[2016-11-23 12:33] JuliusSweetland commented on #234
Hi. It is released! V2.3.7

On Wed, 23 Nov 2016, 12:08 aluizmv, <notifications@github.com> wrote:

[2016-11-23 13:12] aluizmv commented on #234
Great, so do not forget to update information at LANGUAGE SUPPORT page.Tks

Enviado do Yahoo Mail no Android

  Em qua, 23 nov, 2016 às 10:34 AM, Julius&It;notifications@github.com> escreveu:   Hi. It is released! V2.3.7

On Wed, 23 Nov 2016, 12:08 aluizmv, <notifications@github.com> wrote:

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mu

[2016-11-23 13:53] JuliusSweetland commented on #234
@aluizmv Good point! Done...

[2016-11-26 03:17] mostlyjason commented on #228
This would be useful to me since I find the head mouse more accurate for fine movements like typing and I use my eye tracker for large movements like quickly warping across the screen. It's hard to use the mouse with optikey since it changes mouse focus. It'd be nice if it works like the windows on screen keyboard and keeps focus on the target app unless you click on the window header or task bar.

[2016-11-26 03:26] mostlyjason commented on #69
I might be able to help out I'm not sure how quick I'll be since I'm not familiar with the code for this program. Do you know where Arnaud added the Presage code, like what file or function? If not, do you have a suggestion or pointer?

[2016-11-27 20:48] mostlyjason commented on #69
So I found the commit where he added presage https://github.com/amartel/OptiKey/commit/265a481e5ea586cf60c3bd2e35af20e4fbbd33ea. I'll try to run it to see if it works and possibly might be able to cherry pick some of the code into the latest version.

[2016-11-27 21:23] JuliusSweetland commented on #69
Excellent. Looking forward to your next update!

On Sun, 27 Nov 2016, 20:48 Jason Skowronski, <notifications@github.com>
wrote:

[2016-11-27 21:41] gabrielbenjamin commented on #287
I may have been premature: As of 2.3.7, OptiKey obscures the window selection menu that pops up when an icon on the taskbar is clicked. You can barely see it when the dock is collapsed in mouse mode, or when OptiKey is minimized. Does this require a new issue, or can this one just be renamed?

[2016-11-27 21:51] JuliusSweetland commented on #287
Could you post some screen shots to show the issue?

On Sun, 27 Nov 2016, 21:41 gabrielbenjamin, <notifications@github.com>
wrote:

[2016-11-27 23:58] alexandre-mbm commented on #69
Could we get all from ACAT?

[2016-11-28 01:18] mostlyjason commented on #69
@alexandre-mbm I think there is another issue that's been opened to discuss the integration of ACAT https://github.com/OptiKey/OptiKey/issues/163. I'm afraid a project like that goes beyond my development skills though. Do you have an idea how that would work?

[2016-11-28 01:31] alexandre-mbm commented on #69
@mostlyjason, I suppose that you are speaking about the word prediction. It interest me. But I have no experience in fact. I would study. I'm lightly introduced into AI. But I think everything is already implemented. In case of the licenses permit us, maybe we just need get data (training results) from ACAT, not?

[2016-11-28 02:45] gabrielbenjamin commented on #287
I dramatically reduced the opacity of OptiKey, and attempted to select one of two Firefox windows, with the result shown in this shot. If the dock were collapsed, the window selection menu would peek out over the top of the dock-- I'm afraid capturing this proved impossible with the tools at my disposal.I hope the shot I've attached adequately illustrates the problem--I confess I rushed to produce

[2016-11-28 21:49] JuliusSweetland commented on #287
@gabrielbenjamin Ok I understand. The problem is that OptiKey sits on top of EVERYTHING, meaning you cannot select things through it. This is a feature of Windows and I, unfortunately, allow you to select things through it - that's the way Microsoft designed this feature (called "UIAccess" if you're interested). Instead you can dock OptiKey on another edge away from the taskbar (as it is the inter

[2016-11-29 16:22] mostlyjason commented on #69
Update: I got @amartel's code working with presage and it seems to be working well. @alexandre-mbm I think for this issue I just want to focus on the next word prediction which I think I can integrate fairly easy using Arnoud's example. Let's discuss integrating ACAT as a separate issue since I think it will be more complex.

As a start, I'd like to make a "beta" version with support for presage.

[2016-11-29 16:31] #289 closed

[2016-11-29 16:34] JuliusSweetland commented on #69
@mostlyjason That all sounds good, with the caveat that the auto complete is designed to complete the current, in-progress word. If it were extended to do this as well as supply the next word would the current workflow still make sense? Alternatively we could have a new INextWord service that is called once each word is complete and populates suggestions seperately, so IManageAutoComplete is queri

[2016-11-29 18:07] mostlyjason commented on #69
@JuliusSweetland think that's a good point!  Actually presage can handle both completing the current word and suggesting the next word. The interface doesn't distinguish between them, you just give it the previous text and it will offer suggestions for what comes next. I could modify the auto complete interface to provide suggestions for both the current word and the next word. Your current NGramA

[2016-11-29 18:12] JuliusSweetland commented on #69
I like the idea of ISuggestion and for that to handle both completing words
and next word.

Would you like a new branch forked from master to work against?

On Tue, 29 Nov 2016, 18:07 Jason Skowronski, <notifications@github.com>
wrote:

[2016-11-30 00:30] mostlyjason commented on #69
I was planning to create my own fork and then submit a pull request to your master branch. Does that sound like a good workflow or do you prefer me to work off your fork?

[2016-11-30 00:55] alexandre-mbm commented on #69
@mostlyjason, I was not thinking in ACAT integration. This that you thinks already. I want to try it with pt-br. I do not realize because you could not to work a branch fork from master.

[2016-11-30 13:46] JuliusSweetland commented on #281
@TheGreenAirplane Hi. How are you getting on?

[2016-11-30 14:35] TheGreenAirplane commented on #281
Hi Julius,

I just got back from a two-week vacation, so I haven't made any progress in
the past two weeks. However, before the vacation I've finished translating
the string resources to Slovak and started modifying the code according to
the guide. The only thing that's left to do from programming standpoint is
adding the keyboard layout. I'll do that as soon as I have some free time,
which I gues

[2016-11-30 14:36] JuliusSweetland commented on #281
Excellent, thanks Robin. No rush at do, just checking in.

On Wed, 30 Nov 2016, 14:35 TheGreenAirplane, <notifications@github.com>
wrote:

[2016-12-02 00:51] gabrielbenjamin commented on #287
Ah, I see. That is pretty intractable indeed, and now I understand why
OptiKey is in that position by default.

On Mon, Nov 28, 2016 at 4:49 PM, Julius <notifications@github.com> wrote:

--

-Ben

[2016-12-05 16:04] mostlyjason commented on #69
Just submitted PR please review!

[2016-12-07 13:26] utacub commented on #235
Hi @JuliusSweetland
Are there any news or approximate dates for the Catalan version release?
We have some users eager to use it.
Also, for future versions, is it possible to add Microsoft Speech Platform (https://www.microsoft.com/en-us/download/details.aspx?id=27225) compatibility for the TTS voices?

Thank you for you work!

[2016-12-07 13:28] JuliusSweetland commented on #235
@utacub Hi - Sorry for the delay. I will look at Catalan next week. Regarding the MS Speech Platform - are these voices not currently supported? OptiKey should support any SAPI voice.

[2016-12-07 13:37] utacub commented on #235
Ok @JuliusSweetland, no problem.
About the voices, Microsoft Speech Platform and SAPI are recognised as different speech engines, you can see the differences in a table here: https://msdn.microsoft.com/en-us/library/jj127858.aspx

[2016-12-07 17:43] JuliusSweetland commented on #235
@utacub Ok I remember the difference here; Microsoft.Speech is basically server based, whereas System.Speech (which OptiKey uses) is OS based. What would be the advantage of supporting the MS Speech Platform>

[2016-12-09 02:39] gabrielbenjamin opened #291 "Unexpected auto-spacing behavior with multi-key locked"
With "auto-space between words" enabled and the keyboard locked in multi-key mode:
- spaces are added inappropriately after characters like hyphens, slashes, underscores, asterisks and at-signs.
- spaces are added after initial characters in matched pairs like parentheses, brackets and braces.
- as a special case of the above, spaces are always added after quotes, be they opening or closing.
- spa

[2016-12-09 12:19] utacub commented on #235
@JuliusSweetland MS Speech Platform has more quality voices for more languages (for example, the catalan voice, called Herena, is only available through that engine) and can also be installed locally for free. Some free TTS software, like Balabolka (http://www.cross-plus-a.com/balabolka.htm), can already use this engine, and it works very well.

[2016-12-11 13:03] JuliusSweetland commented on #235
Understood. I'm not going to be able to look for a few weeks, but I will
take a proper look at this at the same time as Catalan.

On Fri, 9 Dec 2016, 14:19 UTAC, <notifications@github.com> wrote:

[2016-12-15 21:51] TheGreenAirplane commented on #281
**5.Anything else:**
Text-to-speech software. Microsoft doesn't seem to have released a Slovak voice for Windows, and trying to use the English voice to read Slovak is pointless. I have found one such software that's free for use:
[http://epos.ufe.cz/](http://epos.ufe.cz/)
You can download the latest verison here:
[http://epos.ufe.cz/download/bin/win32/EposSetup-2.4.85p.exe](http://epos.ufe.cz/dow

[2016-12-17 17:53] Noga2 commented on #238
Thanks for the good job. My brother thanks to this program is a standalone.

Is it possible to lock the left mouse button. To work Like button for zooming? Each selection again left mouse button is tiring.

This is an option from the "Windows Control" Tobii DYNAVOX. but we have only Tobii EyeX.

[2016-12-17 17:58] JuliusSweetland commented on #238
Hi Noda. If you go to the mouse keyboard and then expand it to show the
full set of mouse operations there is a key called "left down/up" which
presses and hold down the left mouse button until it is selected again to
release it. Is this what you mean?

On Sat, 17 Dec 2016, 19:54 Noga2, <notifications@github.com> wrote:

[2016-12-17 18:00] Noga2 commented on #238
We are really grateful for the polish version of the program. it works well for my brother, who was born with cerebral palsy, and your program is the only way for my brother to be independent.

Although I have a small question: is it possible to lock the left mouse button? It would be wonderful if it worked as a zooming button. It is really tiring for him to press each time the button again and ag

[2016-12-17 18:01] JuliusSweetland commented on #238
That's great feedback! I've replied to your other post asking this question.

On Sat, 17 Dec 2016, 20:00 Noga2, <notifications@github.com> wrote:

[2016-12-17 18:06] JuliusSweetland commented on #238
@lukeses Are you happy for me to merge in the polish branch and create an official release?

[2016-12-17 18:07] Noga2 commented on #238
I did not expect such a quick response so I edited my last  question.

Maybe the Polish version does not have this option?

[2016-12-17 18:10] JuliusSweetland commented on #238
I can't test right now, but it should do. Go to the menu and then mouse.
There's a key to expand the keyboard to show all the mouse keys (it expands
from a single row of keys to a full keyboard of 4 or 5 rows). Left down/up
should then be available.

On Sat, 17 Dec 2016, 20:07 Noga2, <notifications@github.com> wrote:

[2016-12-17 18:31] Noga2 commented on #238
It is not about to lock button just kind of loops by selecting the left mouse button.

[2016-12-17 18:35] JuliusSweetland commented on #238
Can you talk me through what you are trying to do and how you would like
OptiKey to work?

On Sat, 17 Dec 2016, 20:31 Noga2, <notifications@github.com> wrote:

[2016-12-17 18:47] Noga2 commented on #238
I need button to work  like "LEFT..." button in this video.
https://www.youtube.com/watch?v=rqcN9IZ39_4&feature=youtu.be

[2016-12-17 20:43] JuliusSweetland commented on #238
Ah I see. Yes this is possible. I'll try to find some time to add this
functionality soon.

On Sat, 17 Dec 2016, 20:47 Noga2, <notifications@github.com> wrote:

[2016-12-17 20:50] alexandre-mbm commented on #238
This strategy for pointer by using transparency appears to be very good! Or the programmer is very skilled?! Or both?

[2016-12-17 22:03] Noga2 commented on #238
BKB (https://github.com/MastaLomaster/bkb) is the first program that my brother tested.

With Tobii EyeX worked well ..
But it have a limited possibility.

My brother starts to learn words, learn to spell. So your program with the Polish version is great. The only thing missing is the magic button that works until you turn it off.

Thanks for the quick reply.
We look forward to the new functionali

[2016-12-18 00:36] lukeses commented on #238
@JuliusSweetland I see more and more people try to use Polish version. During next 2 weeks I will try to merge my branch with your master branch.

[2016-12-24 02:08] Razzeee commented on #57
Might want to remove this?

[2016-12-25 03:22] vijayrajanna commented on #242
@cjb, I just saw this thread and it's an interesting use case.
As @JuliusSweetland has already mentioned, making those changes will help you achieve the desired functionality. Also, understand that you may not have much experience with C# .net.

While this feature can be implemented, I have a question for you.
How can you get the system calibrated with blind users, it's a hard problem.
Do you have

[2016-12-27 09:22] JuliusSweetland commented on #57
@Razzeee done thanks

[2016-12-27 09:45] JuliusSweetland commented on #238
@lukeses No rush, but let me know when you've created a pull request and I will release it.

[2016-12-27 19:12] JuliusSweetland commented on #281
Merged. This will be released in 2.3.8

[2016-12-27 19:12] #281 closed

[2016-12-27 22:23] JuliusSweetland commented on #235
@utacub Sorry it's taken so long, but I've merged Catalan into master now. I'll perform a bit of testing and then prepare a pre-release version for you to try. One thing - there is a missing translation of "TOBII_EYEX_DATA_STREAM_PROCESSING_LEVEL", which in English is "Data stream processing amount:". In the Catalan branch it only contains "Q". Could you please correct this?

[2016-12-29 09:56] utacub commented on #235
@JuliusSweetland Sorry about the missing translation, it has been fixed. Thank you.

[2017-01-06 02:50] alexandre-mbm commented on #288
If that is a red message, with us it appears when the EyeX's time for "irrelevant" is very small in OptiKey's config. Here it works when greater than 350 ms for example. I'm almost pretty sure what I'm talking about.

[2017-01-06 02:52] alexandre-mbm commented on #287
In widescreen I prefer the Windows bar at side.

[2017-01-06 06:50] JuliusSweetland commented on #287
Using the size and position keyboard you can reposition OptiKey to the
screen sides if you want.

On Fri, 6 Jan 2017, 02:52 Alexandre Magno, <notifications@github.com> wrote:

[2017-01-06 07:18] alexandre-mbm commented on #287
But this would turn keys narrower.

[2017-01-06 07:37] JuliusSweetland commented on #287
Are you seeing OptiKey hovering over the Windows taskbar of the taskbar is
on the side and OptiKey along the top/bottom? If not I don't understand
your issue.

On Fri, 6 Jan 2017, 07:18 Alexandre Magno, <notifications@github.com> wrote:

[2017-01-06 18:47] alexandre-mbm commented on #287
It is all okay for me. So:

![whatsapp image 2017-01-06 at 15 46 01](https://cloud.githubusercontent.com/assets/957501/21728912/67c32058-d427-11e6-8d33-bc6da396c9cf.jpeg)

PS.: Windows zoom at 125%.

[2017-01-06 18:53] JuliusSweetland commented on #287
Thanks. I might close this issue then as I don't understand the problem

On Fri, 6 Jan 2017, 18:47 Alexandre Magno, <notifications@github.com> wrote:

[2017-01-06 19:04] JuliusSweetland commented on #287
Actually I already closed it

[2017-01-06 19:11] alexandre-mbm commented on #287
@gabrielbenjamin, I yet have not noted your issue, but we are using the auto-complete here; menu > keyboard input > arrows > Enter.

[2017-01-07 23:25] alexandre-mbm opened #300 "Some accents provoke wrong strings that should not be added to dictionary"
Examples: dicion**á**rio, ben**é**fico, can**çã**o

[2017-01-07 23:29] alexandre-mbm opened #301 "Is possible to move the cursor and to edit what was typed on OptiKey?"
If no, this could be a new feature?

[2017-01-07 23:39] alexandre-mbm opened #302 "Recent phrases"
Suggestion for a new feature.

[2017-01-07 23:41] alexandre-mbm opened #303 "Keyboard of favorites, including access to favorite phrases"
Suggestion for a new feature.

[2017-01-08 13:12] JuliusSweetland commented on #300
Which language?
Please provide steps to replicate the issue. What does happen? What do you think should happen?

[2017-01-08 13:13] JuliusSweetland commented on #301
https://github.com/OptiKey/OptiKey/issues/110

[2017-01-08 13:13] #301 closed

[2017-01-08 13:14] JuliusSweetland commented on #302
Collapsing into #302

[2017-01-08 13:14] #302 closed

[2017-01-08 13:16] JuliusSweetland commented on #235
@utacub and all - I am assuming v2.3.8 is good and will be promoting it to an official release now. Thanks for all your hard work.

[2017-01-08 13:16] #235 closed

[2017-01-08 13:31] JuliusSweetland commented on #291
@gabrielbenjamin Can you please provide steps to reproduce each example?

[2017-01-08 20:04] alexandre-mbm commented on #302
I do not understand what this means.

[2017-01-08 20:19] JuliusSweetland commented on #302
The idea overlaps with the other issue so I'm closing this one and the idea
can live on in the other issue.

On Sun, 8 Jan 2017, 20:04 Alexandre Magno, <notifications@github.com> wrote:

[2017-01-08 20:23] alexandre-mbm commented on #300
Portuguese.

Steps:
1. Type a phrase containing accented word
1. Click "Add to dictionary"
1. Asks for each accented word will evidence the problem

[2017-01-08 20:28] alexandre-mbm commented on #110
My hint is enable/disable in config and with possibility for access in run time.

[2017-01-08 22:09] JuliusSweetland commented on #300
@alexandre-mbm The problem is the code which extracts words from the scratchpad. It uses this regex which does not match to characters with diacritics (accents etc):

private const string WordRegex = @"(?:\s*)(([_a-zA-Z0-9-\+]+(\.[_a-zA-Z0-9-\+]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,6}))|(([a-zA-Z]\.){2,})|([a-zA-Z]+(['-][a-zA-Z]+)*))(?:\s*)";

The solution might be to simplify this to j

[2017-01-08 23:55] alexandre-mbm commented on #302
I think them as two different works.

[2017-01-09 00:02] alexandre-mbm commented on #300
Thanks! I will work in this from now and I want fix it in few hours.

[2017-01-09 08:01] JuliusSweetland commented on #300
@alexandre-mbm No rush. The regex intention is to identify words and email addresses, but I think a better solution would be to just tokenise on whitespace (split on ' ', '\t', '\n') and use the matches from that.

[2017-01-09 12:46] alexandre-mbm opened #304 "Why OptiKey.exe does not execute outside VS Community?"
**Oops! This issue does not exist.**

Ref.: https://github.com/OptiKey/OptiKey/issues/304#issuecomment-271827080

---

`OptiKey\src\JuliusSweetland.OptiKey\obj\Release\OptiKey.exe`

![captura de tela de 2017-01-09 16-14-34](https://cloud.githubusercontent.com/assets/957501/21779541/ed423334-d686-11e6-81b8-8ae829a6f96d.png)
#  1
[code]
# 2
[code]
# 3
[code]
# Report.wer
[code]

[2017-01-09 20:02] alexandre-mbm commented on #304
From [App loads in .Net 4.5 but not in 4.6](https://social.msdn.microsoft.com/Forums/vstudio/en-US/e7a4f42e-4dc7-4f35-a0e0-cec1da50702b/app-loads-in-net-45-but-not-in-46?forum=clr):

It appears to be my case.

[2017-01-10 05:25] gabrielbenjamin commented on #291
Gladly. It'll just be a few days.

[2017-01-10 23:24] alexandre-mbm commented on #304
I am investigating from the "[C# Application fails depending on which PC was used to compile it](http://stackoverflow.com/questions/22382328/c-sharp-application-fails-depending-on-which-pc-was-used-to-compile-it)" StackOverflow's topic. I also have intent to use the [Process Monitor](https://technet.microsoft.com/en-us/sysinternals/bb896645.aspx) in case of the [**InnerException**](https://msdn.mi

[2017-01-11 06:14] alexandre-mbm commented on #304
[Running .NET Core apps on multiple frameworks and What the Target Framework Monikers (TFMs) are about](https://blogs.msdn.microsoft.com/cesardelatorre/2016/06/28/running-net-core-apps-on-multiple-frameworks-and-what-the-target-framework-monikers-tfms-are-about/)

[2017-01-11 06:47] JuliusSweetland commented on #304
Check your system log.

Fyi OptiKey is not a .net core app.

On Wed, 11 Jan 2017, 06:14 Alexandre Magno, <notifications@github.com>
wrote:

[2017-01-11 07:10] alexandre-mbm commented on #304
![captura de tela de 2017-01-11 04-09-10](https://cloud.githubusercontent.com/assets/957501/21838958/e9a93816-d7b3-11e6-8222-42bf0646a26b.png)

What lacks?

[2017-01-11 07:36] JuliusSweetland commented on #304
What is logged in the application system log in Windows? It should have an
entry for when you try to start OptiKey

On Wed, 11 Jan 2017, 07:10 Alexandre Magno, <notifications@github.com>
wrote:

[2017-01-11 07:39] alexandre-mbm commented on #304
@JuliusSweetland, I think that you are mixing net45 and net46 and this can be the cause of problem. Besides that EyeX's DLLs are for x86. I suggest change all to 4.0 or 4.5; and 32 **or** 64 bits.

[2017-01-11 07:43] alexandre-mbm commented on #304
See from the first image attached to issue (full first message) please.

[2017-01-11 08:07] JuliusSweetland commented on #304
I wouldn't think the EyeX bitness would cause problems. It looks like OptiKey requires multiple versions of .net. If you can figure out what requires 4.5 we can discuss how it can be upgraded.

N.B. Windows 10 should include the required versions by default so I don't understand why you are seeing this problem. Can you manually install the 4.5 framework and see if that fixes it?

[2017-01-11 08:10] alexandre-mbm commented on #304
**More info:** `clrver`
[code]

[2017-01-11 08:13] JuliusSweetland commented on #304
There's your problem then. You need to install .net framework 4.6

On Wed, 11 Jan 2017, 08:10 Alexandre Magno, <notifications@github.com>
wrote:

[2017-01-11 08:13] JuliusSweetland commented on #304
Although I don't know why the packaged release works if you don't have 4.6
installed

On Wed, 11 Jan 2017, 08:13 Julius Sweetland, <juliussweetland@gmail.com>
wrote:

[2017-01-11 08:14] alexandre-mbm commented on #304
But I have it. The 4.6 is just a "targeting" package.

[2017-01-11 08:22] alexandre-mbm commented on #304
![captura de tela de 2017-01-11 05-20-32](https://cloud.githubusercontent.com/assets/957501/21840751/e7f09a14-d7bd-11e6-8e6c-45cdbb087dc4.png)

[2017-01-11 08:30] alexandre-mbm commented on #304
Try get the project cleanly from GitHub please!

[2017-01-11 08:49] JuliusSweetland commented on #304
@alexandre-mbm Right, I'm not on mobile now so I can actually see your screenshots etc.

OptiKey targets .Net 4.6 so (from memory, which is pretty bad this morning) you'll need .Net 4.6 Targeting Pack to be able to BUILD OptiKey, and "Microsoft .NET Framework 4.6" (or 4.6.1 or 4.6.2) installed to be able to RUN OptiKey. If you can currently build OptiKey, but not run it then I think you're missing

[2017-01-11 08:52] alexandre-mbm commented on #304
I am able to RUN OptiKey inside Visual Studio.

[2017-01-11 09:03] JuliusSweetland commented on #304
Are you building in debug or release?
Presumably you are then going to the relevent bin\debug or bin\release folder and attempting to run the exe, correct?
Lastly make sure that uiAccess="false" in the app.manifest. It wouldn't cause this exact issue, but you can't build OptiKey with uiAccess unless you can sign it.

[2017-01-11 09:12] alexandre-mbm commented on #304
Yes, you are right. But I had achieved that on notebook, and now I do not know because it. How to sign it?

[2017-01-11 09:14] JuliusSweetland commented on #304
Unless you buy your own code signing certificate you can't sign OptiKey. The only difference is that your built version will not hover over everything. I am happy to take your changes and release signed versions, so don't worry about that.

[2017-01-11 09:20] alexandre-mbm commented on #304
I need that behavior of running my builds outside Visual Studio. I will investigate the laptop now.

[2017-01-11 09:21] JuliusSweetland commented on #304
Solving why OptiKey.exe doesn't run outside VS is your main problem I think. If all the relevent frameworks are installed then I'm not sure why it isn't working...

[2017-01-11 09:23] alexandre-mbm commented on #304
My builds will used by my father before that you accepts my pull requests...

[2017-01-11 09:25] JuliusSweetland commented on #304
If he uses OptiKey docked to the top of his screen (which is the default behaviour) then only the Windows start menu should cover OptiKey, otherwise everything will behave normally.

[2017-01-11 09:30] alexandre-mbm commented on #304
But I would not want to mantain a Visual Studio loaded.

[2017-01-11 09:31] JuliusSweetland commented on #304
You shouldn't have to. UiAccess and signing shouldn't be the reason for
OptiKey not running outside VS, I was just mentioning it.

On Wed, 11 Jan 2017, 09:30 Alexandre Magno, <notifications@github.com>
wrote:

[2017-01-11 09:34] alexandre-mbm commented on #304
What it means exactly?

[2017-01-11 09:36] JuliusSweetland commented on #304
UiAccess gives OptiKey special privilege to stay above every other window,
including the taskbar and Windows start menu. Otherwise it would be covered
and the user unable to see what they are doing.

On Wed, 11 Jan 2017, 09:34 Alexandre Magno, <notifications@github.com>
wrote:

[2017-01-11 09:38] alexandre-mbm commented on #304
We never have used this here. Docked only.

[2017-01-11 10:00] alexandre-mbm commented on #304
@JuliusSweetland, sorry, sorry, sorry. OH MY GOD! Me...

I was looking `obj/` instead of `bin/` dir.

[2017-01-11 10:04] #304 closed

[2017-01-11 10:05] alexandre-mbm commented on #304
Mark it as "invalid".

[2017-01-11 10:10] JuliusSweetland commented on #304
@alexandre-mbm Don't worry. It happens and you won't make that mistake again.

[2017-01-14 16:48] mostlyjason opened #305 "Text not entered when using mouse button selection"
I have mouse button key selection turned on, and when I click on a key it changes focus to the Optikey window. As a result, text is entered into the scratch pad, but not my target window. An improvement could be to prevent changing focus to the Optikey window. This is similar to how Microsoft's on-screen keyboard works.

One disadvantage of this approach is that bringing up the settings editor req

[2017-01-16 07:55] cudibo opened #306 "Typo in wiki page "Numbers, symbols and diacritics""
In this page: https://github.com/OptiKey/OptiKey/wiki/Numbers,-symbols-and-diacritics
At the very end I think we need to change "diacritic":
_You can toggle between the **diacritic** keyboard screens by selecting the keyboard number key._

With: **currency**

Congratulations for your great work

[2017-01-17 06:55] JuliusSweetland commented on #306
Thanks, corrected.

[2017-01-17 06:55] #306 closed

[2017-01-17 20:15] JuliusSweetland commented on #305
@mostlyjason His Jason - it's a design decision really. If mouse events are passed through OptiKey then you cannot interact with it at all. This means no context menu, or if I wanted to allow the user to drag it around (which you cannot currently do, it's just an example). Is it common to accidentally click on OptiKey and not be able to then click away from it again if it was an accident?

[2017-01-17 20:22] JuliusSweetland commented on #300
@alexandre-mbm Hi Alexandre - any luck with this one?

[2017-01-19 11:22] Noga2 commented on #238
When can I expect an additional option?

[2017-01-19 18:49] mostlyjason commented on #305
I'm not accidentally clicking on Optikey, I'm clicking on the keys in order to type them. I'm actually using a SmartNav head mouse which is a bit more accurate for me than the EyeX. When I click on a key I want to enter that key into my target window but it doesn't have focus so typing does not work.

I believe we would still get mouse events to the window, it's just that when we receive a window

[2017-01-20 07:07] JuliusSweetland commented on #305
Interesting. Yes that sounds like a good idea. Let me know how your testing
goes.

On Thu, 19 Jan 2017, 18:50 Jason Skowronski, <notifications@github.com>
wrote:

[2017-01-21 08:00] alexandre-mbm commented on #300
@JuliusSweetland, I am with problems: my brother's remote machine, my time, it is a Windows machine... I have no enthusiasm to technology. I want to help my father but in really I have not enthusiasm with hight-tech world and so I puts little priority to programming. Sorry.

[2017-01-21 23:50] mostlyjason commented on #305
Just added the pull request. It turns out I needed a different approach that required setting the window style instead.

[2017-01-29 01:20] alexandre-mbm opened #308 "A couple of buttons no longer traceable after "Add to dictionary" action"
https://www.youtube.com/watch?v=-PXiWd611lw

[2017-01-29 01:39] alexandre-mbm commented on #308
The problem affects that 2nd line of buttons only.

[2017-01-30 23:27] JuliusSweetland commented on #300
@alexandre-mbm Of course. Absolutely no pressure from me. Spend time with your father.

[2017-01-30 23:41] JuliusSweetland commented on #308
Is this the same as #272

[2017-01-30 23:54] JuliusSweetland commented on #305
Merged. To be released in 2.3.10

[2017-01-30 23:54] #305 closed

[2017-01-30 23:54] JuliusSweetland commented on #300
To be released in v2.3.10

[2017-01-30 23:54] #300 closed

[2017-02-08 01:57] alexandre-mbm opened #309 "OptiKey's "Calibrate" for EyeX is breaking the config"
Bad result: https://github.com/ENE/OptiKey-Config/commit/33f915caee2693f8e760afd5a46b1f011381c881

[2017-02-08 04:23] alexandre-mbm opened #310 "Dictionaries for pronunciation"
Screen readers such as NVDA or Orca have dictionaries for pronunciation. Where for example, in portuguese, the english term "Facebook" would be phonetically setted to _"**feice**b**ú**lque"_.

Without this, the Felipe voice says _"fa**ce**buque"_.

[2017-02-08 06:12] alexandre-mbm opened #311 "Password board"
For digitation with no visual response. With sound only.

**A related problem:** protection modules of some home banks changes the text typed.

[2017-02-08 13:00] JuliusSweetland commented on #309
@alexandre-mbm How was that config changed? Can you provide more detail.

[2017-02-08 16:59] alexandre-mbm commented on #309
After calibration OptiKey shows bad behavior. So I make copy of file and then I make diff it with my backup in Git. The changes are these that you are seeing. I make the comparation of them because at first time that this happend I thought the XML had been corrupted.

[2017-02-24 07:49] rsrobinett commented on #57
Consider adding support for Intel RealSense gaze tracking.  This is a newer technology and is already available in several economical laptops.

Here is some information about the Intel SDK for RealSense
[RealseSense SDK Documentation](https://software.intel.com/en-us/intel-realsense-sdk/documentation)
[Realse Sense gaze tracking documentation](https://software.intel.com/sites/landingpage/realsense

[2017-02-25 08:15] rsrobinett opened #312 "Add support for Intel RealSense gaze tracking"
Intel RealSense gaze tracking is a technology available in several [economical laptops](https://www.amazon.com/Dell-Inspiron-15-6-Inch-Touchscreen-RealSense/dp/B01N0K3246/ref=sr_1_1?s=pc&ie=UTF8&qid=1488010328&sr=1-1&keywords=RealSense+Laptop).

Here is some information about the Intel SDK for RealSense
[RealseSense SDK Documentation](https://software.intel.com/en-us/intel-realsense-sdk/documentat

[2017-02-26 11:07] alexandre-mbm commented on #312
I see possibilities with 3D only. @rsrobinett, can you see more?

[2017-03-01 20:34] rsrobinett commented on #308
This appears to be the same bug as #272.  I have a fix and will submit a pull request after I confirm that it does not affect adding words to the dictionary while not in conversation mode.

[2017-03-12 15:18] #254 closed

[2017-03-12 15:18] #308 closed

[2017-03-12 15:18] #272 closed

[2017-04-16 12:05] #233 closed

[2017-04-16 12:07] #14 closed

[2017-04-24 20:57] JuliusSweetland commented on #228
Manual/mouse mode added in v.2.3.13. For now it is fairly basic; available on the right click context menu, or by pressing ALT+ENTER with OptiKey focussed, this will toggle between whichever input method you are using (e.g. an eye tracker) and mouse control, allowing a carer to easily take temporary control and then switch back to eye tracking.

[2017-04-24 20:57] #228 closed

[2017-04-26 17:32] RalfCT opened #319 "Multi-key Selection"
It seems to be impossible to start a sentence with 'I', or have an 'I' after a comma when the software is in Multi-Key Selection mode, or am I missing something?  Surely it's not necessary to deactivate Multi-Key Selection each time one wants to enter 'I', and then re-activate it again before continuing.

[2017-04-26 18:07] gabrielbenjamin commented on #291
It took well longer than a few days, as personal circumstances intervened. I sincerely apologize for the delay. My observations follow:

Typing the character between two words always produces this (I'll use * to stand in for the character):
`word* word`
That works for postfix punctuation like periods, commas, colons etc. Not so for prefix characters like (in some contexts) &, @ and # or (in all co

[2017-04-26 18:27] JuliusSweetland commented on #319
Hi @RalfCT to select single letters with multi key select turned on just select the single key twice, i.e.start and stop the multi key selection on the same key with no other selections in between.

[2017-04-26 18:39] RalfCT commented on #319
Aah, thanks Julius.  I downloaded the software earlier and initially thought it a bit cumbersome, but now that I'm finding my way around it's actually quite amazing and fast ... would love to try it with an eye-tracker, and then introduce it to a friend with MS.  Is it possible to dwell on and select desktop icons and menus without first selecting the left mouse-click (I seem to recall doing it ea

[2017-04-26 18:56] JuliusSweetland commented on #319
You can make mouse selections using dwell, yes, but you still need to
select "left click" or whichever mouse operation you want to perform first.

Glad you're enjoying OptiKey.

On Wed, 26 Apr 2017, 19:39 RalfCT, <notifications@github.com> wrote:

[2017-04-26 20:44] JuliusSweetland commented on #319
@RalfCT I have added a bit more info to this page to make single letter selection; https://github.com/OptiKey/OptiKey/wiki/Multi-key-selection

Closing this issue.

[2017-04-26 20:44] #319 closed

[2017-04-26 21:23] JuliusSweetland commented on #291
@gabrielbenjamin I'm not sure I've 100% addressed all your examples, but give this pre-release a try: https://github.com/OptiKey/OptiKey/releases/tag/v2.3.16_pre-release_1

It should correct the incorrectly inserted auto-spaces you list, but I cannot currently correctly insert auto-spaces in some scenarios, e.g. when closing a quote, as the opening and closing quote marks are the same and I don't

[2017-04-27 12:28] RalfCT opened #320 "Mouse-click Action in OptiKey"
I'm not sure if it's possible to properly evaluate the "mouse-click" functionality in OptiKey using an attached mouse, or if the results will only be realistic if an eye-tracker is attached.

I've been evaluating several software options, including Click2Speak.  If their system is set to "Dwell" one is able to activate to and activate any icon, menu etc. on the desktop or keyboard ... 'drag', 'lef

[2017-04-27 13:51] JuliusSweetland commented on #320
@RalfCT have a read of this and try out the mouse actions: https://github.com/OptiKey/OptiKey/wiki/Simulate-a-mouse

[2017-04-27 15:45] RalfCT commented on #320
@Julius, yes I read the article before posting.  If I left-click on the mouse keyboard using a mouse, the cursor appears and times out before I can move it to a point where I can click on anything.  It seems impossible and pointless trying to simulate this action when there's already a mouse attached to the PC.

[2017-04-27 15:49] JuliusSweetland commented on #320
@RalfCT Ok - it's possible that the "Point fixation time to complete" in the management console is too low?

[2017-04-27 17:21] RalfCT commented on #320
@Julius, I reset to default settings (1.250ms, I think).  My procedure may have been wrong.  I've now picked up that the pie-chart only counts down when the mouse cursor stops moving.  However, when I select the mouse left-click and click on a desktop folder it opens fine (probably due to it being a large target), but trying to close it again after selecting the mouse left-click, results in the Op

[2017-04-27 17:23] JuliusSweetland commented on #320
That's correct. It's down to a setting which controls the lock on
area/radius. You can reduce this to 1px.

On Thu, 27 Apr 2017, 18:21 RalfCT, <notifications@github.com> wrote:

[2017-04-27 17:42] RalfCT commented on #320
@Julius, another issue I'm picking up is Microsoft's 'error' sound clip playing after almost each completed word/symbol.  Sometimes restarting OptiKey seems to 'cure' this, for it only to return.  Different desktop icons become highlighted on their own during this process.

[2017-04-27 17:50] RalfCT commented on #320
Okay, adjusting the "Point lock-on radius" to 1px sorted out the mouse cursor issue.  Thank you.  I should study the User Guide. :)

[2017-04-27 18:23] JuliusSweetland commented on #320
Do you also get a red error popup when the error sound plays?

On Thu, 27 Apr 2017, 18:50 RalfCT, <notifications@github.com> wrote:

[2017-04-27 18:55] gabrielbenjamin commented on #291
The infix scenario is resolved by this build. In the prefix scenario, one might expect a space before the character, particularly after sentence-terminating characters--periods, question marks and exclamation marks--as well as commas, colons and semicolons.Single-letter words behave the same: no space separating them from punctuation. Also parentheses and the like behave the same as before.

[2017-04-27 21:12] RalfCT commented on #320
No, no error pop up, also nothing behind the keyboard when minimizing.

[2017-04-27 23:13] JuliusSweetland commented on #320
Could you replicate the issue and then send me your logs? Instructions
here: https://github.com/OptiKey/OptiKey/wiki/Other-issues

On Thu, 27 Apr 2017, 22:12 RalfCT, <notifications@github.com> wrote:

[2017-04-27 23:18] JuliusSweetland commented on #291
I have to admit I'm a bit unclear of the specific use cases. Could you give
be one or two specific examples of each with the current and expected
behaviour?

On Thu, 27 Apr 2017, 19:55 gabrielbenjamin, <notifications@github.com>
wrote:

[2017-04-28 01:04] gabrielbenjamin commented on #291
Prefix (`@` might be a bad example since it works differently in the context of email addresses, but that would be a poor use case for multi-key):
`It's a nice day.@mark, don't you agree?`
Expected: `...day. @mark...`
`Weather was good!#lucky`
Expected: `...good! #lucky`

Single-letter words:
`If I fits,I sits.`
Expected: `If I fits, I sits.`
`It's a good idea.A very good idea.`
Expected: `...idea

[2017-04-28 07:23] RalfCT commented on #320
Hi Julius,

I followed your directions below, enabled debugging and tried to
replicate the error.  The Windows error sound kept playing after every
word, period, comma etc., but this time several windows were opening
(see screenshot).  I also noticed that my folder single-click option had
changed to double-click.  For some reason different desktop icons become
highlighted each time I finish typing

[2017-04-28 12:09] rdewolff commented on #105
Would be great to have this working on Mac OS X!

[2017-04-28 18:48] JuliusSweetland commented on #105
I'm afraid this is currently unlikely.

On Fri, 28 Apr 2017, 13:09 Rom, <notifications@github.com> wrote:

[2017-04-28 18:48] JuliusSweetland commented on #320
@RalfCT do you still have your screenshots? They didn't attach to this issue.

[2017-04-28 20:21] RalfCT commented on #320
Julius, I previously responded via email, let's see if dragging them here directly will attach them.
[Screenshot 3.pdf](https://github.com/OptiKey/OptiKey/files/965464/Screenshot.3.pdf)
[Screenshot 2.pdf](https://github.com/OptiKey/OptiKey/files/965465/Screenshot.2.pdf)
[Screenshot 1.pdf](https://github.com/OptiKey/OptiKey/files/965466/Screenshot.1.pdf)

[2017-04-29 09:32] JuliusSweetland commented on #320
@RalfCT From screenshot 2: the log files are inside the OptiKey subdirectory, then the Logs directory; \OptiKey\Logs

[2017-04-29 09:34] JuliusSweetland commented on #320
@RalfCT At a guess I believe what is happening is that OptiKey is outputting all your key strokes as you type in it, e.g. when you type "Good morning" you have your Windows desktop focussed and so the desktop is reacting to these key presses. This would result in icons being selected, or error sounds if the key press is unexpected, exactly as you describe. If you don't want to output keystrokes tr

[2017-04-29 09:38] JuliusSweetland commented on #291
@gabrielbenjamin I think I can address the examples where typing follows a sentence ending punctuation (.!? when multi-key selection is enabled) by always injecting a space. I'll have to think about the other use cases separately. I'll try and look at this this weekend.

[2017-04-30 08:09] RalfCT commented on #320
@Julius, here are some of the log files.  I've zipped them and changed the extension to PDF (wasn't able to upload otherwise).  During the last session everything was fine; no error messages, selected folders or audible errors.  Let me know if you find anything strange in the other logs.

[OptiKey.pdf](https://github.com/OptiKey/OptiKey/files/966628/OptiKey.pdf)

[2017-04-30 14:35] JuliusSweetland commented on #291
@gabrielbenjamin There is a new pre-release of v2.3.16 here: https://github.com/OptiKey/OptiKey/releases/tag/v2.3.16_pre-release_2

I have addressed single letter words, but not the other scenarios for now as I'm not happy that I can correctly identify what the user is trying to do. Let me know what you think.

[2017-05-01 07:35] #320 closed

[2017-05-01 10:12] alexandre-mbm commented on #228
- [ ] Hint: checkbox at config to do this being minus easy for a sake of security

[2017-05-03 10:36] RalfCT opened #321 "Is there a cost-effective eye-tracker?"
Commercially available eye-trackers from Tobii and the like kill any plans to implement a communication solution for those no longer able to, even when using OptiKey or similar.  I received quotes this morning ranging fromUSD1,200 - USD2,000, just for the eye tracker.  That's simply unaffordable for the average family dealing with an MS, ALS or similar patient.

Are there any other, way cheaper op

[2017-05-03 13:55] alexandre-mbm commented on #321
I am working this for my father together with my brother. It is a DIY solution based in the EyeX (for games) b y using Windows 10. I intent mantain a blog and to write a ebook. It works! My brother configured it. Now I am rebuilding and organizing the knowledge. There is a Youtube vídeo (still private link) that needs to be legended. I can provide a transcritpition in portuguese for this, and for

[2017-05-03 14:41] alexandre-mbm commented on #321
@RalfCT, Tobii EyeX é done for gaming. It is cheap!

I am improving the portuguese written.

[2017-05-04 10:36] JuliusSweetland commented on #321
@RalfCT Have a look here: https://github.com/OptiKey/OptiKey/wiki/Supported-eye-trackers

The Tobii EyeX and 4C are both very affordable (currently €109 and €159 respectively).

[2017-05-04 20:12] JuliusSweetland commented on #291
@gabrielbenjamin Have you had a chance to test the pre-release?

[2017-05-05 16:36] gabrielbenjamin commented on #291
I'm sorry, only just was able to look. I currently have no build tools
installed, and I don't want to make you wait even longer for that. Could
you please add a binary installer for the build?

On Thu, May 4, 2017 at 4:12 PM, Julius <notifications@github.com> wrote:

[2017-05-05 16:37] JuliusSweetland commented on #291
Hey. There is an installer if you follow that link.

On Fri, 5 May 2017, 17:36 gabrielbenjamin, <notifications@github.com> wrote:

[2017-05-09 11:37] JuliusSweetland commented on #291
@gabrielbenjamin Ok cool - I'm going to think about this some more, but close this issue in the mean time. Thanks for testing.

[2017-05-09 11:37] #291 closed

[2017-05-13 12:29] robertorigotto opened #322 "Just "YES" or "NO""
Please help me !!!

My father needs to try OptiKey with Tobii Eyex...
...but I am sure that the "Conversation" mode is too much information for him at this moment.

So, I would like to start with him using just 2 possibilities / answers at screen: "YES" or "NO"

Example:
I would ask: "Father, are you feeling okay ?"
He would look at the "YES" or "NO" imagem and select it.

Is it possible or could

[2017-05-13 13:55] alexandre-mbm commented on #322
@JuliusSweetland, this also would be good to go without bigger calibration.

@robertorigotto, why you think so? My father also is a person with ALS. If you do not want give us details here, you can yet contact me by e-mail: alexandre.mbm@gmail.com

[2017-05-15 13:42] zelmon64 commented on #322
@robertorigotto I was curious about this so I had a go at making a secondary conversation keyboard and this is the result:

![image](https://cloud.githubusercontent.com/assets/15001389/26059898/3981a548-397b-11e7-9845-3dc6dfd58942.png)

It is accessed by pressing the Y/N key in the bottom left corner of the normal conversation keyboard.

![image](https://cloud.githubusercontent.com/assets/15001389

[2017-05-15 14:11] zelmon64 commented on #322
@robertorigotto I was wondering whether the scratchpad was actually useful or not so I've done another build without it:

https://drive.google.com/open?id=0B7SYYOqNW4FSMVNHSi1HcUEwb2s

![image](https://cloud.githubusercontent.com/assets/15001389/26061730/9fb2b6f4-3980-11e7-9cbc-463f024b2e74.png)

[2017-05-15 15:08] alexandre-mbm commented on #322
@zelmon64, thank your very much by your example.

[2017-05-15 19:28] zelmon64 commented on #322
@alexandre-mbm I'm glad you like it. I've added French and German (because they're the ones I'm most confident on how to say yes/no in) examples to make it easy to add the other languages. I've used the tick and cross as the default but kept the YES and NO for the UK English because I thought it was nicer.

![image](https://cloud.githubusercontent.com/assets/15001389/26074788/0af08a3e-39ab-11e7-87

[2017-05-15 19:30] JuliusSweetland commented on #322
Really nice work William. There should be a resource for yes and one for no
which will automatically translate as the user changes languages.

On Mon, 15 May 2017, 20:28 William, <notifications@github.com> wrote:

[2017-05-15 20:34] robertorigotto commented on #322
@zelmon64 and @alexandre-mbm thank you VERY VERY MUCH ! That´s EXACTLY what I want !
You are doing a great job and helping a lot of people around the world !

[2017-05-15 20:42] alexandre-mbm commented on #322
@robertorigotto, I did none. All was @zelmon64.

@zelmon64,

Hint: decrease the size of "x" for more proportion.

[2017-05-15 20:45] alexandre-mbm commented on #322
@JuliusSweetland, would be interesting to possibility to config these spaces. Another issue...

[2017-05-15 20:47] JuliusSweetland commented on #322
There is work under way to let users create their own keyboards, which
might give you what you want.

On Mon, 15 May 2017, 21:45 Alexandre Magno, <notifications@github.com>
wrote:

[2017-05-15 21:15] alexandre-mbm commented on #322
@JuliusSweetland, is there an open issue?

Would be interestind the virtual keys triggering executables (scripts) or AutoHotKey's macros.

[2017-05-15 21:37] zelmon64 commented on #322
@JuliusSweetland Thanks for the tip. I'm trying to use `Resources.YES` and `Resources.NO` but they're only coming up as English. It's the same for the YesNoQuestion quitting keyboard so I'm not sure what the problem is. I'm guessing the information is stored in the `OptiKey.resources.dll` files in the folders such as `es-ES`. Those files are around 40 KB each.

I also have version 2.3.15.0 install

[2017-05-16 05:57] JuliusSweetland commented on #322
You need to change langue from the languages keyboard. Run OptiKey,
navigate to the main menu, navigate to languages, and select one.
Everything should now be in the selected language.

On Mon, 15 May 2017, 22:37 William, <notifications@github.com> wrote:

[2017-05-16 06:58] zelmon64 commented on #322
@JuliusSweetland unfortunately that's what I was doing. All the keyboard layouts changed but all the words remained in English. Are there any logs I can look at / post?

[2017-05-16 07:01] JuliusSweetland commented on #322
Oh sorry I was being an idiot. There are two language settings; one can be
changed from the menu and changes the keyboard layouts. The other can only
be changed from the Visual tab of the Management Console (ALT+M) and
changes the UI language. Try changing the other setting. Apologies.

On Tue, 16 May 2017, 07:59 William, <notifications@github.com> wrote:

[2017-05-16 07:16] zelmon64 commented on #322
Thanks @JuliusSweetland, that did that trick! Should maybe the language setting on the main menu be used to change both settings so then the Management Console could be used for individual adjustments?

[2017-05-16 07:26] JuliusSweetland commented on #322
I decided against that as the user's language won't change whilst using
OptiKey, only the language they want to type in.

On Tue, 16 May 2017, 08:16 William, <notifications@github.com> wrote:

[2017-05-16 07:38] zelmon64 commented on #322
@JuliusSweetland that makes sense thanks.

I also manages to combine the tick and cross icons into one  which I think looks alright:

![image](https://cloud.githubusercontent.com/assets/15001389/26094417/d5109604-3a11-11e7-88a6-7012db1d2623.png)

https://drive.google.com/open?id=0B7SYYOqNW4FSMXpxT2F6M2M5Z0U

[2017-05-16 11:57] zelmon64 commented on #322
https://drive.google.com/open?id=0B7SYYOqNW4FSZnR0eFlOcFpsWFE

I realised the back button is supposed to take you to the main menu so I took out the menu button and added buttons to go to the Alpha and Sym/Num keyboards instead:

![image](https://cloud.githubusercontent.com/assets/15001389/26104608/80604616-3a36-11e7-88f5-8ced8881dfa0.png)

@alexandre-mbm I'm not sure what to do about the size dif

[2017-05-16 13:15] alexandre-mbm commented on #322
@zelmon64, if they are images, you can change them.

[2017-05-16 13:18] JuliusSweetland commented on #322
They're Paths which are sized automatically. The reason they aren't sizing
equally is because the tick is not the same size horizontally and
vertically. It's actually very tricky to design a keyboard which scales
automatically, but one thing you can try is to set the WidthSpan and
HeightSpan on the keys to 2 (or even 3). This won't change the scaling, but
it will result in smaller images, which mi

[2017-05-16 13:22] alexandre-mbm commented on #322
![yes-no-proportion](https://cloud.githubusercontent.com/assets/957501/26108001/8af1355a-3a21-11e7-93f3-b26a76a8b559.png)

[2017-05-16 13:38] zelmon64 commented on #322
@alexandre-mbm for reference here's where it's defined:
https://github.com/zelmon64/OptiKey/blob/4513a10d3f234d28458f06ae1df0e12d65c22a10/src/JuliusSweetland.OptiKey/Resources/Icons/KeySymbols.xaml#L65
I was lucky with making the new tick/cross icon because I simply copied the parts together.

@JuliusSweetland thanks for the information.

What do you guys think about this? I used 1.5 on the tick a

[2017-05-16 13:39] JuliusSweetland commented on #322
Looks good to me!

On Tue, 16 May 2017, 14:38 William, <notifications@github.com> wrote:

[2017-05-16 13:49] zelmon64 commented on #322
![image](https://cloud.githubusercontent.com/assets/15001389/26109249/d9a4fe3c-3a46-11e7-8a42-af51a944f796.png)

[2017-05-16 13:52] alexandre-mbm commented on #322
In this last the words are small and with different sizes. :-1:

[2017-05-16 14:02] zelmon64 commented on #322
If I remove `SharedSizeGroup="KeyWithSymbol"` this is what I get. I think the YES is slightly bigger.

![image](https://cloud.githubusercontent.com/assets/15001389/26109803/47e78378-3a48-11e7-9b55-fd4ab35122de.png)

[2017-05-17 09:40] #321 closed

[2017-06-05 18:52] NexMilford opened #323 "Problem with myGaze"
Hi everyone. I have a problem with  myGaze and OptiKey. When the pointing and selecting switching devices with the mouse and select myGaze, OptiKey will not work. With Tobii PCEye go mini program running. How to solve this problem?

[2017-06-05 21:59] JuliusSweetland commented on #323
@NexMilford Can you please provide the step by step instructions to replicate the problem? For example:

1.Start OptiKey with the point source set to mouse
2.Launch the management console
3.Change the point source to myGaze
4.Click Ok and restart OptiKey when prompted
5.OptiKey stops responding

(the above it just an example set of steps)

[2017-06-06 05:21] NexMilford commented on #323
Yes, this is really happening as you describe.

1.Start OptiKey with the point source set to mouse
2.Launch the management console
3.Change the point source to myGaze
4.Click Ok and restart OptiKey when prompted
5.OptiKey stops responding

I do not know how to solve the problem.
The program responds to the Tobii PCEye mini, also responding with a mouse simulator.

1. I compiled by computer specifi

[2017-06-06 07:04] JuliusSweetland commented on #323
Is the myGaze application running and have you calibrated myGaze BEFORE
starting OptiKey? Mygaze must be working completely below OptiKey starts.

On Tue, 6 Jun 2017, 06:21 NexMilford, <notifications@github.com> wrote:

[2017-06-20 12:27] joereddington opened #324 "Bounty on Feature: $400 for visual keyboard"
Hi everybody,

We've got a small budget to pay for some development on this project - please let me know if you are interested.

**Background**
We have a set of open licensed visual keyboards for AAC (as a result of [this project](http://communikate.equalitytime.co.uk).  These are for AAC users who find it difficult to user a 'normal' keyboard (my brother is one of the relevant users). We've been

[2017-06-20 15:57] yahnatan commented on #324
Hi Joe, recognize you from your blog and appreciate your work. I was on a
similar track to you found Optikey, started writing my own picture-based
AAC for my son, and then got a pointer (from Julius) to CoughDrop, which
I've now switched over to using. Given your familiarity w/assistive
technology (and the OBF format, created by the CoughDrop team), and the
fact you've talked w/Julius, I'm thinkin

[2017-06-28 02:47] Chopinsky commented on #218
I will take a look at this issue. From the face value, the different ways of storing word counts might be the cause of issue #217.

[2017-06-28 11:25] OneBadNinja commented on #148
Hey there Julius. An incredible project you have started here!

I would like to contribute by creating a Georgian language localisation. I have already joined at Transifex and have suggested the Georgian language.
I will happily fill in the UI element translations. I have retrieved a word database containing 310000 words. I can filter these in MySQL to remove single letters.

I can easily get ahol

[2017-06-28 12:20] JuliusSweetland commented on #148
@OneBadNinja Hi, that sounds great. I have approved the language on Transifex. The localisation guide is here: https://github.com/OptiKey/OptiKey/blob/master/docs/Localize.md

Have a read and let me know if you have any questions. The main steps are:

1.Complete a Transifex translation
2.Get a wordlist. 310,000 is probably a bit large, but potentially useable. We can test.
3.Identify the keyboard

[2017-07-07 07:37] yhwee0521 commented on #148
Hi,
You have started great project.
Do you have any plan to develop Korean version?
I would like to contribute by anyway.
If you have any help when you develop Korean version, please let me know to help you.
All the best!!

[2017-07-07 07:43] JuliusSweetland commented on #148
@yhwee0521 I have actually done almost all of the work for Korean already. If you are available to test it and finish any missing translations then we can get it released. If you are technical the branch is here: https://github.com/OptiKey/OptiKey/tree/Korean - it includes the keyboard layouts, symbols are combined and broken apart correctly (I think) and most translations should be there.

The Ko

[2017-07-07 13:46] joereddington commented on #324
Hey!

Have joined group.  I also love Brian in particular and Cough Drop more generally. I very much want *everything* in AAC to use OBF.    I'm coming from the perspective of someone who is passionate about both AAC and open development - and I've got a budget for putting the two together. Most of that budget needs to be spent on theopenvoicefactory.org (which will feed into Cough Drop once I've

[2017-07-07 14:00] OneBadNinja opened #327 "Keyboard in block sectors?"
Hey there Julius,

A family member of mine is an ALS patient and she's having a hard time coping with the keyboard (elderly lady) to communicate properly.

I was thinking it would be much easier for people in her case to have a simpler interface - keyboard blocks to communicate with (perhaps a new communication mode from the menu).

For instance there are initially 6 blocks on the screen, each con

[2017-07-07 14:19] zelmon64 commented on #327
Hi Joey,

To my knowledge this hasn't been done before but should be relatively simple to implement. If you specify the arrangement of letters you want I should be able to do it.

As an already existing alternative there is [this Yes/No build](https://github.com/OptiKey/OptiKey/issues/322#issuecomment-301759584) which is usable but not quite finished.

[2017-07-07 14:28] zelmon64 commented on #322
@JuliusSweetland and @alexandre-mbm could I please have some feedback on the last font sizes and on whether it's okay to simply remove `SharedSizeGroup="KeyWithSymbol"`? If it's all okay I'll make a PR for it so that this can be closed.

[2017-07-07 14:38] JuliusSweetland commented on #322
@zelmon64 If the font sizes are a concern then it is possible to not show the text at all and rely on symbols? That would allow you to use the width/height span method?

RE: Removing the shared size group - yes you can do this. It is intended to group sets of similar keys together so that they scale uniformly. In this instance you could opt out and let each key size itself independently. How does

[2017-07-07 14:40] JuliusSweetland commented on #327
@OneBadNinja Hi Joey. No this method of input does not currently exist. If @Zelmon64 is kind enough to add it then that would be great. Otherwise there is work underway to allow users to define their own keyboards. It would be possible to create and share the keyboard you are describing using this new method, but it is not ready for release yet. The work is being done by someone else so I cannot g

[2017-07-07 14:40] zelmon64 commented on #324
Hi Joe,

I was looking at this a couple of days ago. I think the difficulty will be in converting the images to xaml vectors and their lack of colour. Obviously the svg images should be okay but the png's may loose too much. I'm no expert though. What do you think?

[2017-07-07 14:42] JuliusSweetland commented on #324
@zelmon64 If the images that are out there are svg or png then there is nothing stopping us adding support on a Key for these, I just didn't need that when I initially wrote OptiKey. If we go down that route then a bit of work will have to be done to the theme resources to allow images, text, and paths to scale nicely alongside each other, but it should be possible.

[2017-07-07 14:58] zelmon64 commented on #322
@JuliusSweetland The last picture is with the `SharedSizeGroup="KeyWithSymbol"` removed for the Yes and No button. I thought it looks alright but since it didn't get any feedback I wasn't sure.

That makes sense to make it a more separate keyboard. I'm just wondering since you said user defined keyboards are on the way, is it still a good idea to add this in?

[2017-07-07 15:03] zelmon64 commented on #324
@JuliusSweetland that's interesting that support for other image formats can be added. I wasn't sure if loading full images would be quick enough for a keyboard.

[2017-07-07 15:44] OneBadNinja commented on #327
Hi Julius and Zelmon, thank you for both of your replies. I understand the situation now. Also apologies for getting your name wrong earlier Julius.

Zelmon I would be sincerely grateful if you would be able to help out. Thank you so much for volunteering! To offer some clarity, I have just designed a small mockup of this simple interface, and I have attached the images below. I hope this isn't to

[2017-07-07 16:15] JuliusSweetland commented on #322
@zelmon64 If it's ready to go then sure, we can always refactor later when user defined keyboards arrive.

[2017-07-07 16:22] JuliusSweetland commented on #324
@zelmon64 I am not 100% confident either way really, but we can certainly try it out and see. My main concern is whether the selection animations will display well over an image, i.e. will the filling pie animation stand out properly.

[2017-07-07 16:25] JuliusSweetland commented on #327
@OneBadNinja No problem about the name. One question - how does the user speak? There is a dedicated 'Speak' key in OptiKey. One possibility would be to add a clear key over the scratchpad itself, but this may be confusing or cause the midas touch problem as the user checks what they have typed.

[2017-07-07 16:52] zelmon64 commented on #322
@JuliusSweetland okay, I think I'll have a go at making it an option as a starting keyboard (and possibly also still keep it as an addon to the conversation keyboard) then make a PR if it goes well. Thanks for your input :).

[2017-07-07 16:55] JuliusSweetland commented on #322
Could you add a setting to display the key on the conversation keyboards so
it can be optionally enabled? That would make the change invisible to
existing users.

On Fri, 7 Jul 2017, 17:52 William, <notifications@github.com> wrote:

[2017-07-07 16:57] zelmon64 commented on #322
@JuliusSweetland ooh that's a good idea. Yes I'll do that.

[2017-07-07 19:36] OneBadNinja commented on #327
We're from Georgia, and hence the setup we're after at the moment is typing Georgian letters using the latin alphabet, and the nurses reading the message on the screen. The speak key is a bit redundant with pronouncing Georgian words.

However I understand that the more general this is made the better it would be for other users who may want the speech function, so perhaps something like this? The

[2017-07-07 20:23] JuliusSweetland commented on #327
I think that looks really good. Why would you not want to speak Georgian?

On Fri, 7 Jul 2017, 20:36 OneBadNinja, <notifications@github.com> wrote:

[2017-07-07 22:17] zelmon64 commented on #322
![image](https://user-images.githubusercontent.com/15001389/27978837-d0578f7e-6369-11e7-9ed1-b4aae6a9fd63.png)
I decided to hide the ABC and 123 keys but keep the quit and calibrate keys when in the Y/N keyboard only mode.

Here's a build and I'll make that PR:
https://drive.google.com/open?id=0B7SYYOqNW4FSdDFfX29SWVdfWkU

[2017-07-08 17:32] OneBadNinja commented on #327
Glad to hear that. We wouldn't use the speak function as Georgian words aren't accurately pronounced. In terms of the alphabet, I supposed that the latin alphabet would have been an easier implementation for this mode at this stage, let alone more beneficial to other users too. It should be sufficient at the moment.

I am currently a part of the Transifex team for localising the main app into Geor

[2017-07-08 17:53] JuliusSweetland commented on #327
Are they not pronounced correctly because you are using an English voice,
or another reason?

On Sat, 8 Jul 2017, 18:32 OneBadNinja, <notifications@github.com> wrote:

[2017-07-08 19:12] zelmon64 commented on #327
Here's what I've done so far. It's a little different to your template. I though it best to standardise with three main alpha buttons per layer.

To enable this keyboard select `Blocky letters` as the stastup keyboard in the management console.

![image](https://user-images.githubusercontent.com/15001389/27988403-fa89c672-6418-11e7-8ab9-c19eb69736aa.png)
https://drive.google.com/open?id=0B7SYYOqNW

[2017-07-08 19:17] JuliusSweetland commented on #309
Unable to replicate.

[2017-07-08 19:17] #309 closed

[2017-07-08 19:21] JuliusSweetland commented on #327
@zelmon64 Nice work. If you want to break apart the Output control you could extract just what you want, i.e. CLEAR, SCRATCHPAD, SPEAK and SLEEP;

[code]

[2017-07-08 19:28] zelmon64 commented on #327
@JuliusSweetland Thanks.

Thanks for that snippet. I like having the prediction and speak options but I was forgetting that there isn't a Georgian dictionary yet so I'll make another build without it.

[2017-07-08 19:31] JuliusSweetland commented on #327
@zelmon64 Thanks. The other issue with the smaller keys is that I presume the users who will want the larger keys will struggle with the small Output key sizes.

[2017-07-08 19:36] zelmon64 commented on #327
@JuliusSweetland I agree. Is there a way to increase the scratchpad font? It's not using the full height.

![image](https://user-images.githubusercontent.com/15001389/27988583-e29e7284-641c-11e7-966c-6be8d99a4f1e.png)

[2017-07-08 19:40] JuliusSweetland commented on #327
@zelmon64 Yes, ScratchpadNumberOfLines in the Visual tab of the Management Studio. Set it to 1.

You can, if desired, normalise the icon sizes by specifying the WidthSpan and/or HeightSpan on the keys which span more than 1 of the smallest key size. From the above screenshot you could set the WidthSpan=2 and HeightSpan=2 on both the back keys. You can also set WidthSpan=2 on the space key. Give it

[2017-07-08 19:57] zelmon64 commented on #327
@JuliusSweetland the space key already had `WidthSpan=2` but the corner icons are nicer now thanks. Here's an image of all three layers. Anything else you'd suggest?

![image](https://user-images.githubusercontent.com/15001389/27988661-188c3f78-641f-11e7-8249-375f54ac6853.png)
![image](https://user-images.githubusercontent.com/15001389/27988664-27391028-641f-11e7-82e0-8314ddc7686d.png)
![image](ht

[2017-07-08 20:05] OneBadNinja commented on #327
Ah guys this is incredible.. thank you so much Zelman! This is very exciting!, I will be passing by tomorrow and we'll give this a shot!

A tiny observation in the earlier file: the caps lock key doesn't seem to be working. I figured it would be easier to have the option to keep it in capitals just so it isn't confusing in the start, if you could fix that that would be awesome!

Julius, I'm guessi

[2017-07-08 20:29] JuliusSweetland commented on #327
@zelmon64 It looks really good. Couple of suggestions though...

I really like the layout of this:
![speak](https://user-images.githubusercontent.com/20068286/27973940-e3c4314a-636c-11e7-8078-ccb8d6b4c3a3.png)

1.Would it be possible to more closely match it (maybe with the speak and backspace keys swapped)?
2.I don't think the bottom left key should change depending on which keyboard level you ar

[2017-07-08 20:36] zelmon64 commented on #327
@OneBadNinja you're very welcome.

How's this? The only punctuation is a question mark.

![image](https://user-images.githubusercontent.com/15001389/27988810-e513ed44-6423-11e7-8291-6243983af1c3.png)

https://drive.google.com/open?id=0B7SYYOqNW4FSbUVULWZDaHVEM2s

@JuliusSweetland I like your suggestions. I'll have a go

[2017-07-08 21:18] OneBadNinja commented on #327
Zelmon this is perfect! Exactly what we need!! Thank you so, SO much!!! As simple as it can be, no need for other punctuation marks! I can't wait to try this out tomorrow! Let you both know how it goes!

[2017-07-08 21:44] JuliusSweetland commented on #322
Closing as the new keyboard is merged and will be included in the next release.

[2017-07-08 21:44] #322 closed

[2017-07-08 21:44] JuliusSweetland commented on #323
Closing due to lack of a follow up

[2017-07-08 21:44] #323 closed

[2017-07-08 22:40] zelmon64 commented on #327
@JuliusSweetland this is the layout I have so far. What do you think?

![image](https://user-images.githubusercontent.com/15001389/27989659-805859e6-6435-11e7-8973-2bced951ecd4.png)
![image](https://user-images.githubusercontent.com/15001389/27989663-96e4ddf6-6435-11e7-9bea-068318f24190.png)
![image](https://user-images.githubusercontent.com/15001389/27989667-a736e83e-6435-11e7-9775-8786e33af4eb.p

[2017-07-09 08:16] JuliusSweetland commented on #327
Looking good! What do you think about swapping the 4th letter/number key in
the 2nd level keyboards with the alpha ABC key? That way every
letter/number key is the same size.

Excellent work.

On Sat, 8 Jul 2017, 23:40 William, <notifications@github.com> wrote:

[2017-07-09 08:45] zelmon64 commented on #327
@JuliusSweetland that's a good idea. I've offset the cluster selection texts to indicate the new position as well. Here are all the layers:

![image](https://user-images.githubusercontent.com/15001389/27992341-5badd422-648a-11e7-9f59-6d5a6262a721.png)
![image](https://user-images.githubusercontent.com/15001389/27992369-eeabe5b6-648a-11e7-838e-eb5547df4916.png)
![image](https://user-images.githubus

[2017-07-09 12:21] JuliusSweetland commented on #327
That looks excellent.

@OneBadNinja can you test the very latest version and we can merge it and create an official release if you are happy. In the same release will be an even simpler YES/NO keyboard for people who need the most basic experience. Together they make a really valuable release so thank you everyone.

[2017-07-09 12:33] JuliusSweetland commented on #327
@zelmon64 One more idea. How about a new setting EnableQuitKeys (defaulted to false), which if disabled means all quit keys can be disabled, or even removed. This would allow the bottom right Sleep key to span 2 keys and make the keyboard more balanced. I could then use this setting to do the same on other keyboards (i.e. the ConversationAlpha keyboards and the new ConversationConfirm keyboard). I

[2017-07-09 12:46] zelmon64 commented on #327
@JuliusSweetland I like the idea of EnableQuitKeys.

[2017-07-09 14:09] OneBadNinja commented on #327
Julius and Zelmon you have our biggest thanks! We have just run the test and for the first time she's written not one, but two words: TINA and TOMA - her daughter and great grandson's names! She looks exhilarated! It has been years since she has been able to communicate independently and now she will slowly begin again, all thanks to you!

I have tested the latest version and it's great! Once you

[2017-07-09 15:04] zelmon64 commented on #327
@OneBadNinja I'm so glad it was such a success!

I've made the numbers return to the main numbers panel but the punctuation return to the main alphabetical menu. The keys should now be completely unaffected by the shift key state.

![image](https://user-images.githubusercontent.com/15001389/27994992-4ce7d4e4-64bf-11e7-9d1c-ec53523b360c.png)

https://drive.google.com/open?id=0B7SYYOqNW4FScXVEU2d2cj

[2017-07-09 15:44] JuliusSweetland commented on #327
@OneBadNinja is it possible to trigger the sleep key to span two keys of the quit key is disabled? I would do this by having two sleep keys - 1 spanning two widths, and toggle the visibility?

[2017-07-09 16:20] zelmon64 commented on #327
@JuliusSweetland I haven't figured out how to wrap differently sized buttons in triggers. At the moment the sizes are defined at the start with `ContentControl`. Do you have an example I could copy?

[2017-07-09 16:29] JuliusSweetland commented on #327
If you define two keys - one with column span = 1 and the other with column
span = 2 then set a visibility trigger on each key with opposite logic,
i.e. The column span = 1 is visible if the quit key is visible, and the
other key is visible if not. I'm not at my laptop so I can't point you
towards a specific example, but there are visibility triggers all over the
place. Look for a Boolean to visib

[2017-07-09 17:12] zelmon64 commented on #327
@JuliusSweetland That worked thanks:
![image](https://user-images.githubusercontent.com/15001389/27996088-288ef43e-64d2-11e7-956c-b5c54b7ba1e0.png)

[2017-07-09 18:59] JuliusSweetland commented on #327
@zelmon64 Great stuff. When you're happy submit a PR and I'll merge it in and make a release.

FYI I think I'm going to reverse the default value of the EnableQuitKeys setting (to true) so the change doesn't impact existing users.

[2017-07-09 19:02] JuliusSweetland commented on #327
@OneBadNinja That's excellent feedback. I'm very happy to hear that. All credit goes to @zelmon64 for this one!

[2017-07-09 19:05] zelmon64 commented on #327
@JuliusSweetland the PR says it can't be automatically merge. Should I still submit the PR. I'm not sure what the procedure is.

I think the default value of the EnableQuitKeys is already true (or at least that's what I had intended it to be).

[2017-07-09 19:08] JuliusSweetland commented on #327
You can either rebase from my master branch, (which will require you to fix
any merge conflicts) and then resubmit a PR, or just submit it and I'll
sort it out. I don't mind either way.

On Sun, 9 Jul 2017, 20:06 William, <notifications@github.com> wrote:

[2017-07-09 19:12] zelmon64 commented on #327
I'll try rebasing it and if I can't manage it I'll hand it over to you thanks.

[2017-07-09 19:14] JuliusSweetland commented on #327
Sounds good, thank you.

I pushed some new changes yesterday so it'll be a conflict with something
in those changes. If you're not sure just ask.

On Sun, 9 Jul 2017, 20:12 William, <notifications@github.com> wrote:

[2017-07-09 20:08] zelmon64 commented on #327
@JuliusSweetland rebasing went really well so I have submitted the PR.

[2017-07-12 09:56] zelmon64 commented on #327
@OneBadNinja I have a new build which has more integration with the other keyboards if you'd like to try it:
https://drive.google.com/open?id=0B7SYYOqNW4FSOTBNcjlYQnlub1U

To set it up like it use to be apply the following settings in the management console:

- `Visuals`
    - `Enable quit keys?` -> unchecked
    - `Enable Conversation Confirm  keyboard?` -> unchecked
    - `Conversation only mode