[2014-07-15 09:48] JuliusSweetland opened #1 "Check changes from last major refactor"
Once over the changes I made yesterday, especially DistrictUntilChanged logic.

[2014-07-15 09:50] JuliusSweetland opened #2 "Remove error when trigger without active PointAndKey"
A lack of cursor or key selection should hopefully be sufficient. Possibly increase point ttl to exceed average blink duration (150ms)?

[2014-07-15 09:51] JuliusSweetland opened #3 "Expose InputService event info as properties on MainVM"
- Expose SelectionMode property on VM - (point or key selection) - push to InputService on change. This will also be used to determine if cursor is shown  by OutputService (Point selection mode)
- Expose CapturingMultiKeySelection event from InputService
- Pass current position, selection progress, selection, CapturingMultiKeySelection to OutputService
- Expose Points Per Second as property on Inp

[2014-07-15 09:51] JuliusSweetland opened #4 "Create and expose keyboard classes on MainVM"
#### Keyboard classes:
- Alpha
- NumericAndSymbol1
- Symbol2
- Question
- Publish

(all derive from common Keyboard class)

[2014-07-15 09:53] JuliusSweetland opened #5 "Create and display keyboard controls on MainView"
- Display keyboard based on the Keyboard class property + Language setting.
##### ALPHAKEYBOARD (some function keys also on Numeric/Symbol keyboard, e.g. Back)
- Shift (tri-state state - reset to off after publishing key+char)
- Ctrl (tri-state + only enabled when publishing - reset to off when not publishing + reset to off after publishing key+char)
- Alt (tri-state + only enabled when publishing

[2014-07-15 09:54] JuliusSweetland opened #6 "Display MultiKeySelection capture state on View"
Display frame showing input service's capture state (instead of green/red/etc maybe hide the frame unless recording, then show HTC Sense coral colour to show capturing)

[2014-07-15 09:58] JuliusSweetland opened #7 "Show current position of gaze"
- If SelectionMode == Key then use position VM property to highlight keys (if setting is on) - highlight key value in blue
- Stub out if SelectionMode == Point then use position VM property to display cursor at position in blue

[2014-07-15 09:59] JuliusSweetland opened #8 "Show selection progress and complete selections"
- Display selection progress on keys if in SelectionMode == Key
- Display selection (complete) on key if SelectionMode == Key
- Stub out showing selection progress on cursor if SelectionMode == Point
- Stub out showing selection (complete) on cursor if SelectionMode == Point

[2014-07-15 10:01] JuliusSweetland opened #9 "Debugging display"
- Debug setting
- Display points from SelectionResult event - if Debug == true
- Display points per second (in CaptureState frame?) if Debug == true

[2014-07-15 10:03] JuliusSweetland opened #10 "AudioService / AuditoryService / SoundService"
- Selection (complete) - these occur at the start (always) and end (fixation triggers only at the moment). Should include starting MultiKeySelection capture - check the selection event is fired for this (it should be).
- Settings to choose sound on selection - clicks, beeps, etc
- Speak (output buffer) - uses voice settings

[2014-07-15 10:04] JuliusSweetland opened #11 "Remove char? from KeyValue and just have string"
Any reason to keep the Char?

[2014-07-15 10:16] JuliusSweetland opened #12 "Output logic"
- Method(s) to handle selection input

_HandleInput(KeyValue)_
Adjust output buffer and publish if Publish==true.
- output string buffer
- currentWorkLength - track length of currently output word - reset after outputting space, newline, or switching between spelled word and mulitkeyselection capture. Used when deleting back, or replacing MultiKeySelection match with other suggestion, or replacing

[2014-07-15 10:19] JuliusSweetland opened #13 "Phrases"
- Button to add current output buffer to dictionary. MainVM generates hash, or error if not appropriate, then passes to Question keyboard class for display.
- Workflow: user must clear the output buffer and write phrase before saving.

[2014-07-15 10:19] JuliusSweetland opened #14 "Write unit tests!"

[2014-07-15 10:23] JuliusSweetland opened #15 "Button to turn on/off MultiKeySelection"
Useful when user wants to spell a word using the fixation triggers - takes twice as long with them on and can introduce errors.

[2014-07-15 10:36] JuliusSweetland opened #16 "Button to "rest""
- Active/Inactive - "Pause/Resume" or "Sleep/Wake" - allowing user to look around and rest
- Available on main keyboards. Probably not required in more specialist keyboards, e.g. settings, or question.

[2014-07-15 10:38] JuliusSweetland opened #17 "Mouse control"
* Add keyboard for mouse clicks:
[code]

* Select a key ->
[code]

[2014-07-15 10:42] JuliusSweetland opened #18 "Settings"
* Make them accessible from within ETTA, e.g. new keyboards to change settings
* Edit personalised version of the dictionary:
* Remove entry (including phrases)
* Reset use count on words (individual entry/all entries)

[2014-07-15 10:42] JuliusSweetland opened #19 "Next word prediction"

[2014-07-15 10:44] JuliusSweetland opened #20 "Recalibrate from within app"
* Recalibrate function from button (in "more" menu)
* Recalibrate from trigger signal - something unique when eye tracker has ceased to be useful

[2014-07-15 11:39] JuliusSweetland opened #21 "Nice to have"
Features which would be nice to add at some point.

[2014-07-15 11:40] #21 closed, assigned to nobody

[2014-07-15 11:53] JuliusSweetland opened #22 "Blink trigger"

[2014-07-15 11:53] JuliusSweetland opened #23 "Touch screen trigger and point source"

[2014-07-15 21:17] JuliusSweetland opened #24 "License the software"
http://choosealicense.com/

[2014-07-15 21:18] JuliusSweetland opened #25 "Set up CI"
https://travis-ci.com/
http://www.appveyor.com/

[2014-07-15 23:04] #1 closed, assigned to JuliusSweetland

[2014-07-15 23:14] #2 closed, assigned to JuliusSweetland

[2014-07-16 00:05] #11 closed, assigned to JuliusSweetland

[2014-07-16 07:52] JuliusSweetland opened #26 "Auditory trigger"
Sound activated trigger.

Throat mounted microphone.

Would need a calibration step to get levels.

[2014-07-16 07:53] JuliusSweetland opened #27 "BCI (brain computer interface) trigger"
Off the shelf or research product?

Could approach universities to open this up to students?

From "gaze interaction and applications of eye tracking"; EEG has around 500ms latency.

[2014-07-17 08:53] JuliusSweetland opened #28 "Name this project"
##### Brainstorming...
etta
chat
chatter
babble
jabber
blabber
gibber
dart
jot
jotter / jottr
flick
saccade
eye
iris
type
assistant
take a note
take this down
-----Bro eg chatterBro
octopus
recorder
court Reporter
words
lines
speech
say
speak
speaker / speakr
transcriber / transcribr
talk
converse
conversation
communicate
squawk
                squawk box
dictaphone
dicta
diction
utter
utterance
v

[2014-07-17 08:55] JuliusSweetland opened #29 "Artwork & icons"
##### People who could help
Fraser from Cambodia?
Andy B?

[2014-07-19 09:23] JuliusSweetland opened #30 "Error tone when user triggers over disabled key, out of bounds, or without up to date point info"

[2014-07-19 22:11] JuliusSweetland opened #31 "Solve how the selection progress is displayed"
1. http://www.devcomponents.com/kb2/?p=1117
   ![image](https://cloud.githubusercontent.com/assets/4722561/3635921/f125d202-0f92-11e4-971f-f0f51d2fd85e.png)
2. http://timokorinth.de/creating-circular-progress-bar-wpf-silverlight/
   ![image](https://cloud.githubusercontent.com/assets/4722561/3635922/fc15a9ee-0f92-11e4-9ff9-7ec859480a10.png)
3. http://www.scottlogic.com/blog/2011/02/07/a-circular-p

[2014-07-19 22:12] JuliusSweetland opened #32 "Solve how current position is displayed"

[2014-07-21 10:03] JuliusSweetland opened #33 "Modify KeyValue class"
#### Properties;
- string DisplayText
- string CapsDisplayText - _don't set if not relevant_
- FunctionKeys? FunctionKey
- string String
- VirtualKeyCode? PublishCode
#### Rename KeyValue class to Key class???
#### Throw arg exception from ctor if FunctionKey and String are null, or DisplayText is null

[2014-07-21 12:25] JuliusSweetland opened #34 "How does the keyboard display when switching to Metro in Windows 8?"
Does it get hidden, but think it is still visible?

[2014-07-24 18:12] #33 closed, assigned to JuliusSweetland

[2014-07-29 13:23] #34 closed, assigned to nobody

[2014-07-29 13:57] #32 closed, assigned to JuliusSweetland

[2014-07-29 13:57] #31 closed, assigned to JuliusSweetland

[2014-08-09 15:00] JuliusSweetland opened #35 "Fix issue of 1st key not being rendered when changing themes"

[2014-08-09 15:33] #35 closed, assigned to JuliusSweetland

[2014-08-23 10:37] #7 closed, assigned to JuliusSweetland

[2014-08-23 16:54] JuliusSweetland opened #36 "Fix issue of no selection progress on comma and space keys (and possibly others)"

[2014-08-23 16:55] #36 closed, assigned to JuliusSweetland

[2014-08-30 15:31] JuliusSweetland opened #37 "Key Selection is bound to a property changed event"
The Selection property need to be toggled between true and false on a Key for the animation to fire when the last/current value are the same KeyValue. The more correct approach would be to fire a Routed or CLR event and handle this with an event trigger, as the real life behaviour is an event. This may be possible, but Routed events cannot be easily accessed by child elements in a Key's template (

[2014-08-30 22:03] JuliusSweetland opened #38 "Pause after a selection to give user a chance to register that selection has occurred before starting to record the next one"
Configurable length in settings

[2014-09-02 07:47] JuliusSweetland opened #39 "Improve fixation triggers by holding onto user focus more deliberately"
P218/219 of Gaze interaction and applications of eye tracking.

1. Virtual expansion of the area being selected.
2. Grab and hold - keep adding to fixation until a saccade is detected that would move focus away from the selection zone.

[2014-09-03 08:11] JuliusSweetland opened #40 "Enhance fixation triggers with lock on period and reset delay"
1.Configure whether initial fixation (which starts the trigger) is used or not. Not using it results in behaviour where the user fixates on a key to register interest and the the progress begins from zero, rather than jumping to 25% for example.

2.Configure a delay after registering a high trigger signal, like a reset period. This prevents interest in other keys beginning immediately while the us

[2014-09-04 07:42] JuliusSweetland opened #41 "Enhance selection progress indication by shrinking text/symbol during selection"
'Gaze interaction and applications of eye tracking' p.221
This technique draws in the user's attention to the centre of the key

[2014-09-04 07:50] #38 closed, assigned to nobody

[2014-09-04 19:56] #8 closed, assigned to JuliusSweetland

[2014-09-05 18:13] #37 closed, assigned to nobody

[2014-09-26 16:01] JuliusSweetland opened #42 "Improve accuracy of multi key selection, especially when using mouse"
Detect vector changes (changes in direction) and use those to create "anchor" letters to improve the matching to dictionary words.

[2014-10-21 21:02] #4 closed, assigned to JuliusSweetland

[2014-10-21 21:02] #3 closed, assigned to JuliusSweetland

[2014-10-21 21:03] #5 closed, assigned to JuliusSweetland

[2014-10-21 21:03] #6 closed, assigned to JuliusSweetland

[2014-10-21 21:03] #9 closed, assigned to JuliusSweetland

[2014-11-24 02:14] #13 closed, assigned to JuliusSweetland

[2014-11-24 02:14] #12 closed, assigned to JuliusSweetland

[2014-11-24 02:15] #10 closed, assigned to JuliusSweetland

[2014-11-24 02:15] #15 closed, assigned to JuliusSweetland

[2014-11-26 22:38] JuliusSweetland opened #43 "Add diacritic symbols"
RENAME current symbol keyboards to GeneralSymbols1,2,3. Then add Diacritic1,2, etc and LogicSymbols1

Add diactritic keyboard. I guess this would be alphabet specific (e.g. latin alphabet)

A ĂĄªÃÄÅÆĀÀÁÂ (11)
a ăąªãäåæāàáâ
C ČÇĆ (3)
c čçć
D ĐÐĎ (3)
d đðď
E ƏĘĚÊËĒĖÈÉ (9) = 26
e əęěêëēėèé
G ĜĞĢ (3)
g ĝğģ
H ĦĤ (2)
h ħĥ
I ỊĮĪÏÎÍÌ (7)
i ịįīïîíì
K Ķ (1)
k ķ
L ŁĽĻĹ (4)
l łľļĺ
N ŇŅŃÑ (4) = 21
n ňņńñ
O ƠŒŐ

[2014-12-02 10:07] JuliusSweetland opened #44 "Look into low cost Windows tablets for a complete system with EyeTribe"
http://www.microsoftstore.com/store/msuk/en_GB/pdp/HP-Stream-7-Signature-Edition-Tablet/productID.308686300?tid=sMfzoUBir_dc&cid=5366&pcrid=50345397525&pkw=%2Bmicrosoft%20%2Bhp%20%2B7%20%2Binch%20%2Btablet&pmt=b&WT.srch=1&WT.mc_id=pointitsem_Microsoft+UK_google_HP+Stream+Tablet&WT.term=%2Bmicrosoft%20%2Bhp%20%2B7%20%2Binch%20%2Btablet&WT.campaign=HP+Stream+Tablet&WT.content=MfzoUBir&WT.source=goog

[2014-12-02 11:11] JuliusSweetland opened #45 "Package into setup project"

[2014-12-18 17:42] #43 closed, assigned to nobody

[2014-12-18 17:43] #30 closed, assigned to JuliusSweetland

[2014-12-18 17:43] #16 closed, assigned to nobody

[2014-12-18 17:45] JuliusSweetland opened #46 "Add to SourceForge"

[2014-12-30 22:46] JuliusSweetland opened #47 "Some screenshots"
![image](https://cloud.githubusercontent.com/assets/4722561/5583701/2821eada-9075-11e4-955e-55f64e0f2c11.png)

![image](https://cloud.githubusercontent.com/assets/4722561/5583703/32a16012-9075-11e4-8257-5b527c27b598.png)

![image](https://cloud.githubusercontent.com/assets/4722561/5583707/3d9eb686-9075-11e4-8576-64414df4e796.png)

![image](https://cloud.githubusercontent.com/assets/4722561/5583712

[2015-01-12 18:36] #25 closed, assigned to nobody

[2015-01-13 11:10] #24 closed, assigned to nobody

[2015-01-19 15:23] #45 closed

[2015-01-19 15:24] #40 closed

[2015-01-19 15:24] #28 closed

[2015-01-19 15:24] #20 closed

[2015-01-19 15:25] #18 closed

[2015-01-19 21:41] JuliusSweetland commented on #47
![image](https://cloud.githubusercontent.com/assets/4722561/5808262/7af6e860-a023-11e4-82f5-4ab5c77afe59.png)

![image](https://cloud.githubusercontent.com/assets/4722561/5808296/dd090a74-a023-11e4-8495-aa8dda47564c.png)

[2015-01-20 15:06] #29 closed

[2015-02-12 16:51] #46 closed

[2015-02-12 16:52] #44 closed

[2015-02-17 21:53] JuliusSweetland opened #48 "Improve menu layout and icons"
![image](https://cloud.githubusercontent.com/assets/4722561/6238004/72fa20ae-b6ef-11e4-9b36-4d2de28c26f5.png)

[2015-02-18 21:36] #48 closed

[2015-02-18 21:38] JuliusSweetland commented on #47
![image](https://cloud.githubusercontent.com/assets/4722561/6257202/53bac438-b7b6-11e4-8f5f-58c66f6bde06.png)
![image](https://cloud.githubusercontent.com/assets/4722561/6257208/5f3937a4-b7b6-11e4-95fb-565c11f2ecf7.png)
![image](https://cloud.githubusercontent.com/assets/4722561/6257223/6d37b3da-b7b6-11e4-9c42-f2ab509dd957.png)
![image](https://cloud.githubusercontent.com/assets/4722561/6257228/75

[2015-02-19 21:48] JuliusSweetland commented on #47
![image](https://cloud.githubusercontent.com/assets/4722561/6276757/f7a2dea8-b880-11e4-82c0-c5b72191d42f.png)
![image](https://cloud.githubusercontent.com/assets/4722561/6276762/fb2bbcc0-b880-11e4-8d8e-f777e91b0216.png)
![image](https://cloud.githubusercontent.com/assets/4722561/6276764/ffbafc92-b880-11e4-8905-0e1651a008e6.png)

[2015-02-20 13:29] JuliusSweetland opened #49 "Enabled/disabled logic for maximise/restore and repeat last mouse action buttons"

[2015-02-20 13:32] JuliusSweetland opened #50 "Website"
ICON LINKS:
  View on GitHub
  Downloads - http://www.softicons.com/system-icons/windows-8-metro-invert-icons-by-dakirby309/folder-downloads-folder-icon

+ Features summary on home page:
  Free
  Open source & easy to extend - want to modify how something works or looks, or need something extra? You can change it. (input sources, keyboard sets, behaviour, look and feel, etc)
  Keyboard control - s

[2015-02-20 13:33] JuliusSweetland opened #51 "Profile and optimise, especially keyboard transitions"
http://blogs.msdn.com/b/visualstudioalm/archive/2014/02/28/new-cpu-usage-tool-in-the-performance-and-diagnostics-hub-in-visual-studio-2013.aspx

http://blogs.msdn.com/b/visualstudio/archive/2014/06/12/new-memory-usage-tool-for-wpf-and-win32-applications.aspx

[2015-02-20 13:33] JuliusSweetland opened #52 "Refactor any remaining large classes, e.g. MainViewModel"
Create new 'InputBroker'/'InputHandler'/'InputRouter' class which takes the view model, input service, outputservice, etc and coordinates the response

[2015-02-20 13:33] JuliusSweetland opened #53 "Sort out sizing/layout of suggestions"
Phrases should wrap

Individually size? OR Size consistently, but wrap letters (breaking words) so as large as possible

[2015-02-20 13:34] JuliusSweetland opened #54 "Clarify settings by adding previews, prompts, etc"
Rename point source settings to mouse click or something similar

Preview images/render of settings?

Add help prompts in management console

[2015-02-20 13:34] JuliusSweetland opened #55 "Make toast notifications themable"

[2015-02-20 13:34] JuliusSweetland opened #56 "Investigate why some keys which are not down are released when closing OptiKey"
Release down keys logic seems to release keys which aren't down, e.g. F4 on shutdown - why?!

[2015-02-20 13:35] JuliusSweetland opened #57 "BACKLOG (future ideas, tasks, features)"
- Change behaviour of mouse pointer - looking above/below/left/right of cursor to move it, and within radius to progress selection
- Store usage statistics in a case sensitive way? Would need to keep track of originally cased entries (incl. suggestions). Does this have any benefit? Think about whole advantage of storing usage statistics.
- Character codes – ALT on/lock, then numbers, then ALT off

[2015-02-20 13:37] JuliusSweetland opened #58 "Test OptiKey stays on top when displaying popup notifications"

[2015-02-21 12:06] JuliusSweetland opened #59 "Make "scroll by x clicks" and "by X pixels" singular/plural"

[2015-02-21 17:52] JuliusSweetland opened #60 "Enhance point fixation trigger"
* Modify point trigger to ignore stale data

* Maintain buffer > lock-on period

* If no fixation, then check buffer for a complete lockon. If not found then return, else:
   - If buffered lock on within incomplete fixation radius then continue incomplete fixation:
     - dispose of incomplete fixation timeout
     - set fixation centre point and progress to incomplete fixation centre point and pr

[2015-02-23 14:59] JuliusSweetland commented on #17
Create classes like the Key class… PointSelectionCursor
                IsOpen <- SelectionMode == SelectionModes.Point
                SelectionProgress <- PointSelectionProgress
                Update current position if IsOpen && SelectionProgress == 0
                Selection event <- echo MVM point selection event
                SelectionAction <- PointSelectionAction

+ MVM property PointS

[2015-02-23 15:06] JuliusSweetland commented on #17
[code]

* Manually coerce offsets to stay within current screen bounds (popups will move onto other screens) and manually position cursor symbol to point to one of the 4 corners.

[2015-02-23 16:47] JuliusSweetland commented on #17
Cursor icons:
http://thenounproject.com/term/cursor/42532/ - with tail
http://thenounproject.com/term/cursor/42540/ - without tail

[2015-02-23 17:17] JuliusSweetland commented on #17
* Set path's RenderTransformOrigin="0.5,0.5"
[code]

[2015-02-23 19:08] #60 closed

[2015-02-23 19:24] JuliusSweetland commented on #17
SelectionModes SelectionMode (== SelectionModes.Point)
Point? CurrentPositionPoint
Tuple<Point, double> PointSelectionProgress

MouseDoubleLeftClick
MouseDrag
MouseLeftClick
MouseRightClick
MouseScroll
MouseZoom - toggle
MouseZoomIn
MouseZoomOut
ReplayLastMouseAction

Cursor popup bound to CurrentPositionPoint and SelectionMode (only open when SelectionMode == SelectionModes.Point)

[2015-02-24 17:29] JuliusSweetland commented on #58
All windows are now marked as TopMost, but only the topmost of the windows stays on top as expected, i.e. if you click to change focus to a fullscreen application while OptiKey is showing a popup window, then the popup window will remain on top of everything (if running with UiAccess on), but the keyboard (main) window will not. It will, however, be pushed to top when the popup closes an focus ret

[2015-02-24 17:29] #58 closed

[2015-02-24 21:11] JuliusSweetland commented on #17
* Cursor width/height settings
* Cursor theme
  * Grid
  * Path (stretch = fill)
  * Progress pie (fills also, but always renders a perfect circle, so appears to behaves like stretch=uniform)

[2015-02-25 13:34] JuliusSweetland commented on #17
* Create new static class Graphics -> int DpiX / int DpiY - lazy loading caching properties
//http://pinvoke.net/default.aspx/gdi32/GetDeviceCaps.html
//http://stackoverflow.com/questions/5977445/how-to-get-windows-display-settings

* Popup derived class
[code]

[2015-02-26 12:57] JuliusSweetland commented on #17
Timeout point selection?

[2015-02-28 14:31] JuliusSweetland commented on #17
IsHitTestVisible="False" is not working correctly on cursor visuals. Cursor path and point selection progress pie are still accepting mouse hits.

[2015-03-03 10:21] JuliusSweetland opened #61 "Go through all screen<->wpf point conversions and compare transform methods"
a)Visual.PointToScreen/PointFromScreen
This works on the whole window (including borders etc)

b)window.GetTransformFromDevice().Transform(somePoint);
Extension method form this:http://stackoverflow.com/questions/3286175/how-do-i-convert-a-wpf-size-to-physical-pixels
This works on the CLIENT area; http://stackoverflow.com/questions/27777407/different-answers-when-calling-pointtoscreen-vs-compositi

[2015-03-03 10:37] JuliusSweetland commented on #61
Compare CursorHost conversion of screen co-ords into DIP coords with this method;
   this.GetTransformFromDevice().Transform(point); - if they are the same, then use that

Compare WindowStatePersistenceService conversion of VirtualScreen params with this method;
    window.GetTransformFromDevice().Transform(somePoint);
    (Needs window passed in)

[2015-03-03 19:05] JuliusSweetland commented on #17
FYI - these are equivalent;
[code]
[code]

[2015-03-05 11:44] #61 closed

[2015-03-09 20:45] #17 closed

[2015-03-10 15:19] #52 closed

[2015-03-10 15:21] #47 closed

[2015-03-11 20:57] #49 closed

[2015-03-12 21:37] #59 closed

[2015-03-13 13:01] JuliusSweetland opened #62 "Investigate horizontal screen splitter applications for use alongside OptiKey"
* MaxTo - $17 – can define regions and Ctrl+Win+Up/Down for horizontal splitting - https://maxto.net/using

* WindowSpace - http://www.ntwind.com/software/windowspace.html

* AutoHotKey + script - http://www.pixelchef.net/how-snap-windows-horizontally-windows-7

[2015-03-14 12:31] #55 closed

[2015-03-25 19:09] JuliusSweetland opened #65 "Test scrolling and visual studio"
Sometimes doesn't work correctly, but seemingly only when scrolling within Visual Studio

[2015-04-08 12:56] #19 closed

[2015-04-08 12:57] JuliusSweetland opened #67 "Add support/tolerance for misspelled words"

[2015-05-21 16:06] JuliusSweetland opened #68 "Add support for more languages / improve word lists"
Word lists: https://invokeit.wordpress.com/frequency-word-lists/ from credits on http://www.gazespeaker.org/credits/ (which also contains links to Japanese word lists)

[2015-06-01 12:03] #50 closed

[2015-06-06 22:15] JuliusSweetland opened #69 "Next word prediction - Presage"
After each letter when spelling a word - create word completions that are tolerant of misspellings AND whole word corrections (assuming word is complete but incorrectly spelled)

  Multi key capture

[code]

[2015-06-09 19:54] JuliusSweetland commented on #68
Current English word lists were generated here: http://app.aspell.net/create?defaults=en_GB-ise

[2015-06-10 13:38] JuliusSweetland opened #70 "Add support for gamepads (so joystick/gamepad buttons can be used for selection)"
http://stackoverflow.com/questions/3929764/taking-input-from-a-joystick-with-c-sharp-net
http://stackoverflow.com/questions/12619385/slimdx-joystick-poll-succeeds-on-disconnected-gamepad/12988935#12988935

[2015-06-30 12:31] #67 closed

[2015-06-30 12:32] #42 closed

[2015-07-31 05:49] JeffKang opened #71 "Thought: tag elements near point-of-gaze w/ colors, IDs, and lines – project to large elements"
**Tag elements near point-of-gaze w/ colors, IDs, and lines – project to large elements**

There was a thought that I had for target selection, and I put it in the Eye Tribe forums last year.

http://theeyetribe.com/forum/viewtopic.php?f=8&t=189&sid=8838daf228a29ef23adac83538fd1ca1

I was wondering if anyone could tell me how difficult it is to create, as I've never seen it exist yet.

While tryin

[2015-07-31 06:29] JeffKang opened #72 "Old and obsolete multi-key selection thought: batch submission of keyboard buttons – Variable dwell time necessary for activation"
Old and obsolete multi-key selection thought: batch submission of keyboard buttons – Variable dwell time necessary for activation

Hey, amazing job on that multi key select option!
Around last year, I was thinking of what could be a faster typing method, and the multi key is like a successful version of what I pictured.

I made a draft for it, but I scrapped it because it started to not make sense

[2015-08-16 13:42] ibakaidov opened #73 "Localisation: Getting started, French & German"
What about localization? I can make russian translate if get api for this.

[2015-08-17 16:24] JuliusSweetland commented on #73
It's one of the next things I will be looking at as I already have requests for German and versions. Thanks for your offer - I'll be in touch for Russian.

[2015-08-17 16:34] ibakaidov commented on #73
I have gotten theeyetribe for develop program for russians. But i think javascript bad lang for this. I write program DisQwerty. It is keyboard who control by only one button. I use it in my school.

[2015-08-17 16:49] JuliusSweetland commented on #73
Sounds interesting. Do you have a link so that I can check it out?

On Mon, 17 Aug 2015 17:34 Ivan Bakaidov <notifications@github.com> wrote:

[2015-08-17 17:19] ibakaidov commented on #73
http://ibakaidov.github.io/DisQwerty/
You need click on cogwheel. And press START. After press Выбрать button.

[2015-08-17 20:15] JuliusSweetland commented on #73
Hi Ivan,

I really like it. Great work!

I plan to integrate similar functionality into OptiKey at some point, but I
have a lot of things to do first!

I think it's great that you've written this is javascript - it's really
impressive.

You may have already seen it, but the Intel ACAT software has recently been
released as open source; https://01.org/acat

On Mon, Aug 17, 2015 at 6:19 PM Ivan Baka

[2015-08-17 20:21] ibakaidov commented on #73
Can I concact to you in facebook? Or maybe twitter?
https://www.facebook.com/ivan.bakaidov

[2015-08-18 05:32] JuliusSweetland commented on #73
I'm not on Facebook, but I have a twitter account; @OptiKey_Julius

On Mon, 17 Aug 2015 21:21 Ivan Bakaidov <notifications@github.com> wrote:

[2015-08-28 04:00] brlima94 commented on #73
##### Aviso, versão em português disponível abaixo.

Hi,

On the recent Intel release on the opening of ACAT software source-code, we (a group of students of a Information Systems bachelor's degree from a São Paulo University) decided to translate the system interface into Portuguese as a product of our project .

We downloaded the source-code and started to research, but we would like to know if

[2015-08-28 09:17] JuliusSweetland commented on #73
Hi Bruno.

This is a separate application from the ACAT library, but no, no-one is
currently translating OptiKey into Portuguese.

Kind regards,
Julius

On Fri, 28 Aug 2015 05:01 brlima94 <notifications@github.com> wrote:

[2015-08-28 10:39] brlima94 commented on #73
Hi, Julius.

Sorry about that post, it was supposed to be made over ACAT issues page, but I copy pasted into the wrong tab and accidentally hit Enter.

We might take some time to finish adapting ACAT into working multilingual, but once it's done, we will look into creating a Portuguese predictive text database.

If you want to use it in order to support Portuguese in OptiKey, please let me know so

[2015-08-28 10:51] JuliusSweetland commented on #73
Hi Bruno,

No problem. I intend to integrate the same predictive text engine (Presage)
used by ACAT at some point so yes, a Portuguese data set will be helpful.
I'll be in touch.

Regards,
Julius

On Fri, 28 Aug 2015 11:39 Bruno Lima <notifications@github.com> wrote:

[2015-09-10 15:38] DanielHutt commented on #14
Are there any key places that you would like help with unit testing?

[2015-09-10 15:40] JuliusSweetland commented on #14
Hi Dan. Yes! The observables. They are complicated as anything and have
zero coverage (like the rest of this project!). Thank you. Help would be
amazing

On Thu, 10 Sep 2015 16:38 Dan Hutt <notifications@github.com> wrote:

[2015-09-10 15:41] DanielHutt commented on #14
Awesome. I'll pull down the repo when I get home so that I can hopefully start plucking away at it.

[2015-09-10 16:24] Gadal commented on #73
I can do and/or help with the localisation for French.

[2015-09-10 16:55] JuliusSweetland commented on #73
Thanks Dustin. Localisation is something I'm hoping to start soon. I have
interest (and help) in German, Hebrew, Russian, Lithuanian and now French.
Excellent!

On Thu, 10 Sep 2015 17:24 Dustin Gadal <notifications@github.com> wrote:

[2015-09-10 17:09] Gadal commented on #73
Nice!

[2015-09-10 17:58] 0xffffabcd commented on #73
I can help translating it into french and/or arabic.

[2015-09-10 18:11] smcguinness commented on #57
Remove dependency of stand alone eye tracker and utilize Assistive Context-Aware Toolkit https://github.com/01org/acat/releases

[2015-09-10 21:57] jaapz commented on #73
I can help translating to Dutch.

[2015-09-10 22:03] NinoFloris opened #76 "Featured in biggest dutch tech community"
https://translate.google.nl/translate?sl=auto&tl=en&js=y&prev=_t&hl=en&ie=UTF-8&u=http%3A%2F%2Ftweakers.net%2Fnieuws%2F105215%2Fontwikkelaar-brengt-opensourcesoftware-voor-als-patienten-uit.html&edit-text=
Or original link
http://tweakers.net/nieuws/105215/ontwikkelaar-brengt-opensourcesoftware-voor-als-patienten-uit.html

I and they admire your work, thank you.

P.S.
This was a suggestion by one

[2015-09-10 22:17] wanderer opened #77 "Linux support"
it would be nice. would mono work?

[2015-09-10 22:25] JuliusSweetland commented on #76
Thank you - that's immense!

The word prediction engine is separate from ACAT and called Presage. It's on my (massive) todo list.

[2015-09-10 22:28] whackashoe commented on #77
I know it uses WPF so the GUI would need to be ported.

[2015-09-10 22:33] stayn0ided commented on #73
I can help translating to Swedish.

[2015-09-10 22:44] pporyzala commented on #73
I will be more than glad to help translating to Polish. Great work!

[2015-09-10 23:16] JuliusSweetland commented on #73
Thank you all for your kind offers - I'll be in touch in due course.

[2015-09-11 01:17] quantumpotato opened #78 "Add support for OSX"
What would this take? I would throw in $500 if it worked well to look to direct the mouse then tap a button on my keyboard to click.

[2015-09-11 07:16] sabas commented on #77
In VS2015 you can target Linux+Mac if using dotnet core (I couldn't find how however).
I just found this talk https://channel9.msdn.com/Events/Build/2015/3-670

[2015-09-11 07:51] JuliusSweetland commented on #78
If you can find an eye tracker that plays nicely with Parallels then this may already be possible as OptiKey runs in Parallels (within a Windows virtual machine)

[2015-09-11 07:52] JuliusSweetland opened #79 "Crash report - width and height must be non-negative"
[code]

[2015-09-11 07:56] JuliusSweetland opened #80 "Crash report - Failed to save settings: The configuration file has been changed by another program."
Something is going wrong with the way I update and save Settings.Default.Whatever_Setting. I pass a load into the WindowsManipulationService which can be updated (and saved) in quick succession, and possibly in parallel with other setting updates elsewhere (possibly in other threads). I added a try{}catch{} to reload and retry, but this is obviously not doing the job for a few people. I've receive

[2015-09-11 07:57] JuliusSweetland commented on #80
Another example:

<?xml version="1.0"?>
<SerializableException xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ExtendedInformation>
    <HResult>-2146232828</HResult>
  </ExtendedInformation>
  <InnerException>
    <ExtendedInformation>
      <BareMessage>Failed to save settings: The configuration file has been changed by another program. (C:\

[2015-09-11 07:58] JuliusSweetland commented on #80
This time in another language to keep it interesting:

<CustomInfo xsi:type="xsd:string">2015-09-10 17:52:46,582 [ 1] INFO  JuliusSweetland.OptiKey.App: STARTING UP.
2015-09-10 17:52:46,590 [ 1] INFO  JuliusSweetland.OptiKey.App: Assembly version: 2.0.5.0
2015-09-10 17:52:46,595 [ 1] INFO  JuliusSweetland.OptiKey.App: Process elevated: False
2015-09-10 17:52:46,595 [ 1] INFO  JuliusSweetland.OptiK

[2015-09-11 07:59] JuliusSweetland opened #81 "Crash report - Se ha producido un error al cargar el archivo de configuración: El proceso no puede obtener acceso al archivo"
[code]

[2015-09-11 08:01] JuliusSweetland commented on #79
Another example:

<?xml version="1.0"?>
<SerializableException xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ExtendedInformation>
    <HResult>-2147024809</HResult>
  </ExtendedInformation>
  <Message>Width and Height must be non-negative.</Message>
  <Source>WindowsBase</Source>
  <StackTrace>   at System.Windows.Rect..ctor(Double x, Double

[2015-09-11 08:02] JuliusSweetland opened #82 "Crash report - Ширина и высота не должны быть отрицательными."
[code]

[2015-09-11 08:03] JuliusSweetland opened #83 "Crash report - Процесс не может получить доступ к файлу"
[code]

[2015-09-11 08:03] JuliusSweetland commented on #83
Possibly the same as https://github.com/JuliusSweetland/OptiKey/issues/80

[2015-09-11 08:06] JuliusSweetland commented on #82
Same as this?

<?xml version="1.0"?>
<SerializableException xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ExtendedInformation>
    <HResult>-2147024809</HResult>
  </ExtendedInformation>
  <Message>Ширина и высота не должны быть отрицательными.</Message>
  <Source>OptiKey</Source>
  <StackTrace>   в JuliusSweetland.OptiKey.Services.WindowMan

[2015-09-11 08:06] JuliusSweetland commented on #80
Another example:

<?xml version="1.0"?>
<SerializableException xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ExtendedInformation>
    <HResult>-2146232828</HResult>
  </ExtendedInformation>
  <InnerException>
    <ExtendedInformation>
      <BareMessage>The configuration file has been changed by another program.</BareMessage>
      <Filename

[2015-09-11 08:07] JuliusSweetland opened #84 "Crash report - This Visual is not connected to a PresentationSource"
[code]

[2015-09-11 08:08] #62 closed

[2015-09-11 08:11] JuliusSweetland commented on #77
Yeah WPF is the problem here.

[2015-09-11 08:12] JuliusSweetland opened #85 "Windows 10 issue when trying to show the management studio window - it's invisible"
"   When I try to open the management console ( by press Alt-M ) on
   Windows 10 64bit the management console doesn't actually show the
   window properly, I can see it if I hover over the icon, but
   clicking on it doesn't actually show the window."

![screenshot](https://cloud.githubusercontent.com/assets/4722561/9810029/2ed08c48-5865-11e5-9916-6abdb2a16702.jpg)

Video of problem: http://www.p

[2015-09-11 08:13] whackashoe commented on #77
I think qt might be easiest for crossplatform.

@JuliusSweetland I took a short look but not familiar w/ the code at all - is that all that is needed to be ported? I saw a few dlls packaged with, are those all os?

[2015-09-11 08:26] whackashoe commented on #77
Also - testing on wine-1.7.50 using windows 8.1, install goes well. But running software itself gives me this output: [https://killr.io/ajcgf](https://killr.io/ajcgf)

[2015-09-11 08:29] vascotenner opened #86 "Other text-entry methods"
Optikey is a beatiful platform for interfacing a computer by eye motion. It would be great if other text-entry interfaces can by included. A very efficient method is [dasher](http://www.inference.phy.cam.ac.uk/dasher/]).

[2015-09-11 09:48] arya-s opened #87 "Gaze gestures"
Instead of dwelling to complete a word, consider adding gaze gestures as a second option.

To begin with, it would be very easy to detect a submit based on if the user's gaze leaves the screen over one of the 4 edges of a screen/optikey boundaries. This would allow much faster interaction.

[2015-09-11 10:48] JuliusSweetland opened #88 "Crash report - startIndex darf nicht länger als die Länge der Zeichenfolge sein. Parametername: startIndex (problem with substring call)"
[code]

[2015-09-11 10:49] JuliusSweetland commented on #80
Same issue?

<?xml version="1.0"?>
<SerializableException xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ExtendedInformation>
    <HResult>-2146232828</HResult>
  </ExtendedInformation>
  <InnerException>
    <ExtendedInformation>
      <HResult>-2147024864</HResult>
    </ExtendedInformation>
    <Message>The process cannot access the file '

[2015-09-11 10:50] JuliusSweetland commented on #80
And again...

<?xml version="1.0"?>
<SerializableException xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ExtendedInformation>
    <HResult>-2146232828</HResult>
  </ExtendedInformation>
  <InnerException>
    <ExtendedInformation>
      <BareMessage>Failed to save settings: The configuration file has been changed by another program. (C:\User

[2015-09-11 10:51] JuliusSweetland opened #89 "Crash report - Nie można zapisać ustawień: Plik konfiguracji został zmieniony przez inny program."
[code]

[2015-09-11 10:52] JuliusSweetland commented on #89
Looks the same as https://github.com/JuliusSweetland/OptiKey/issues/80

[2015-09-11 12:29] DanielHutt commented on #87
The problem with this is that if the user gets distracted or looks at something on the non-keyboard portion of the screen, the gesture is going to get messed up.  Just voicing a concern, not saying it can't be done!

[2015-09-11 12:30] DanielHutt commented on #79
Are there any further steps to reproduce this?

[2015-09-11 12:41] JuliusSweetland commented on #79
Just the exception details I'm afraid. I think I saw one report where the action was shrink, suggesting that someone had shrunk OptiKey in one direction so that it tried to go through 0, i.e. thinner than zero thickness. This looks like something else though, although it's possible that they did that and it saved their new (negative) width/height and then they started OptiKey after it crashed and

[2015-09-11 13:06] JuliusSweetland commented on #77
Thank you for trying, but I'm not surprised OptiKey doesn't play nicely with Wine.

[2015-09-11 14:59] danielmoncada commented on #85
Interesting.. this works fine for me.

Windows 10 Professional N 64bit

[2015-09-11 15:11] JuliusSweetland commented on #85
I haven't upgraded to Win10 so I can't test at the moment, but my dad saw this issue once. He told me that it didn't recur, so it's definitely there, but intermittent.

[2015-09-11 15:36] willianfatec commented on #87
Sorry, I don't understand completely that discussion. Anyway here you have some options that I consider possible to use.
Consider to use a floating button or a pie menu that just appear when the user look to the word in order to choose the right word on the screen.
Some studies has used one-eye blinking to confirm or execute commands.

In case that I have misunderstood the problem, please clarify

[2015-09-11 17:45] ramshorst commented on #78
Native OSX support would be awesome!

[2015-09-11 17:51] JuliusSweetland commented on #85
I have some sample user.settings files from a user who experienced this problem - not sure which one is relevent to this problem:

Comments below...

[2015-09-11 17:51] JuliusSweetland commented on #85
<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <JuliusSweetland.OptiKey.Properties.Settings>
            <setting name="KeySelectionTriggerSource" serializeAs="String">
                <value>Fixations</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>False</value>
            </setting

[2015-09-11 17:51] JuliusSweetland commented on #85
<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <JuliusSweetland.OptiKey.Properties.Settings>
            <setting name="KeySelectionTriggerSource" serializeAs="String">
                <value>Fixations</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>False</value>
            </setting

[2015-09-11 17:52] JuliusSweetland commented on #85
[code]

[2015-09-11 22:50] JuliusSweetland opened #91 "Crash report - A DispatcherUnhandledException has been encountered."
[code]

[2015-09-12 03:02] arya-s commented on #87
@DanielHutt in that case it's probably better to use the edge screens.

Also sure messing up is a concern, but so can be dwell time based entering. I still think you'd gain typing speed. We could compensate by giving a last word delete option.

@willianfatec the problem with floating button is that it will automatically capture your attention and you can't execute just because the user gazed there

[2015-09-12 13:52] feugy commented on #26
Hi Julius.

I've started few months ago a [kind of similar project](https://github.com/feugy/alfred) for my father-in-law, affected by ALS.
A colleague of mine found your amazing work through Reddit, and it's what I've dreamed to create (with a loooot of extra features)

On my side, I tried to use a mix of gaze and voice input to allow a quicker usage (especially when it comes to browse web page w

[2015-09-13 09:13] JuliusSweetland opened #96 "Crash report - width and height must be non-negative (from shrinking)"
[code]

[2015-09-13 10:02] JuliusSweetland commented on #91
Fixed in release v2.0.6

[2015-09-13 10:02] #91 closed

[2015-09-13 10:02] JuliusSweetland commented on #83
Fixed in release v2.0.6

[2015-09-13 10:02] #83 closed

[2015-09-13 10:03] JuliusSweetland commented on #80
Fixed in release v2.0.6

[2015-09-13 10:03] #80 closed

[2015-09-13 10:04] JuliusSweetland commented on #89
Fixed in release v2.0.6

[2015-09-13 10:04] #89 closed

[2015-09-13 18:54] JuliusSweetland commented on #26
I'm certainly interested in looking into the possibility of sharing features to produce a richer application. Can you drop me an email and we can discuss this further; optikeyfeedback@gmail.com

[2015-09-14 12:50] #76 closed

[2015-09-14 13:02] DanielHutt commented on #14
Hey Julius, do you think it would be wise for me to take the first step and create a Test project that has all the right files and folders ready to unit test stuff? That way it would be easy for people to just unit test one class and move on.

[2015-09-14 13:05] JuliusSweetland commented on #14
Hi Dan,

Yes that sounds like an excellent plan. Which test runner are you thinking
of using?

Regards,
Julius

On Mon, 14 Sep 2015 14:02 Dan Hutt <notifications@github.com> wrote:

[2015-09-14 13:07] DanielHutt commented on #14
I'm most familiar with NCrunch and NSubstitute.  Any objections or suggestions?

[2015-09-14 13:10] JuliusSweetland commented on #14
Both fine, but I (and possibly most others) do not have licenses for those
tools. As long as the tests are thanks via ms test or nunit I think most
people will be alright.

Thanks!

On Mon, 14 Sep 2015 14:07 Dan Hutt <notifications@github.com> wrote:

[2015-09-14 13:21] DanielHutt commented on #14
Shoot, I didn't even think about that. NSubstitute is free and open source and I've found fairly easy to introduce to new people.  I'll leave any references to NCrunch out of my branch.

[2015-09-14 13:28] JuliusSweetland commented on #14
Sounds good, thanks Dan. Can NSubstitue be referenced via NuGet in your new
project? Saves people having to try and find it.

On Mon, 14 Sep 2015 14:21 Dan Hutt <notifications@github.com> wrote:

[2015-09-14 13:28] JuliusSweetland commented on #14
Actually I'm not even sure if that's possible. Ignore that.

On Mon, 14 Sep 2015 14:28 Julius Sweetland <juliussweetland@gmail.com>
wrote:

[2015-09-14 13:30] DanielHutt commented on #14
I would expect that to be possible.  I'll definitely make it as easy as possible for people to jump in and unit test a very small portion of the code. The lower the barrier of entry, the better!

[2015-09-14 13:40] JuliusSweetland commented on #14
Absolutely. Thanks Dan. Really appreciate you getting involved.

On Mon, 14 Sep 2015 14:30 Dan Hutt <notifications@github.com> wrote:

[2015-09-14 15:35] jongbor commented on #73
I can help with Spanish

[2015-09-14 19:21] WvanSnippenburg commented on #73
I can help with the Dutch translation.

[2015-09-14 22:03] JuliusSweetland commented on #96
Fixed in v2.0.8

[2015-09-14 22:03] #96 closed

[2015-09-14 22:03] JuliusSweetland commented on #84
Fixed in v2.0.8

[2015-09-14 22:03] #84 closed

[2015-09-14 22:05] JuliusSweetland commented on #82
Potentially fixed by v2.0.8

[2015-09-14 22:05] #82 closed

[2015-09-14 22:07] JuliusSweetland commented on #79
Potentially fixed in v2.0.8 (at least a lot more useful logging around this area has been added so if it recurs I will have a better idea)

[2015-09-14 22:07] #79 closed

[2015-09-14 22:07] JuliusSweetland commented on #81
Should have been fixed by v2.0.7

[2015-09-14 22:07] #81 closed

[2015-09-14 22:41] JuliusSweetland commented on #73
I believe these are the 4 tasks to localise OptiKey for a new language, which we would then repeat for each subsequent language:

1.Extract all strings used on the UI. Messages in the notification pop-up, key text, etc. These need to be moved into a resource file. I believe there should be a default resource file (in English) and then one in each language that can be selected to override the defau

[2015-09-14 23:28] Ar2rZ commented on #73
Hi everybody,
so,

1.Extract all strings used on the UI. Messages in the notification pop-up, key text, etc. These need to be moved into a resource file. I believe there should be a default resource file (in English) and then one in each language that can be selected to override the default strings.
 -  is almost done need to update with new version. i created spreadsheet with macro, which will cr

[2015-09-14 23:55] Gadal commented on #73
French dictionary is up.  Might need to pare it back from 330k lines.

[2015-09-15 00:01] andylamp commented on #73
I can help localize it in Greek, I am sure someone will need it.

[2015-09-15 00:12] Gadal commented on #73
For reference, `Alpha` and `ConversationAlpha` are in:

https://github.com/JuliusSweetland/OptiKey/tree/localisa/src/UI/Views/Keyboards

[2015-09-15 00:20] JuliusSweetland commented on #73
Greate stuff Gadal. I commented on the pull request, but could you pls remove any single character entries from the dictionary files - OptiKey makes an assumption that a word must be longer than a single letter.

Do you have a french keyboard layout we could refer to (an image or something) to follow when creating the french version of the Alpha/ConversationAlpha keyboards? I believe it's very sim

[2015-09-15 00:53] Gadal commented on #73
https://fr.wikipedia.org/wiki/Disposition_des_touches_des_claviers_informatiques#/media/File:KB_France.svg

That's the layout that wikipedia specifies, though I don't think I've ever actually seen one.  I just use alt-key combinations.

[2015-09-15 05:23] danielmoncada commented on #73
Is this necessary? To be honest, I feel that this will result in a lot of redundant XAML. What I have seen done for localized Keyboards is have a default "Keyboard" that is then dynamic based on current culture. XML can then be used as a data source of the XAML (i.e., ItemsControl) to determine the items in the DataTemplate.

[2015-09-15 06:47] andylamp commented on #73
I think that many languages have single-lettered semantics, can you elaborate a bit on that restriction?

[2015-09-15 08:18] JuliusSweetland commented on #73
@danielmoncada & @andylamp - I designed OptiKey with 2 assumptions (which could change, I admit);

1.That all characters required for "normal"/"most" text entry would be on the Alpha keyboard. So for german you'd have the usual characters, plus the ä, ö, ü characters. I didn't expect the user to have to select an "a" and then match that to the dictionary to get the "ä" suggestion for them to selec

[2015-09-15 08:20] JuliusSweetland commented on #73
@danielmoncada - the reason I require a whole new Alpha/Conversation keyboard for each language is that different languages have different physical key layouts on their keyboards. The usual way to do this in WPF would be to use templates, sure, but I need to rebuild the KeyToPointMap (which translates screen points into key values for the InputService) as well as a few other things that I do in th

[2015-09-15 08:34] AsafRub commented on #73
Hi Everyone,

i would love to help with the hebrew translation.

[2015-09-15 13:23] henkhenie commented on #73
Hi,

I would like to help to translate it to Dutch

[2015-09-15 15:06] danielmoncada commented on #73
@JuliusSweetland okay based on that, it make a bit more sense to me. I just didn't want any issues later down the road that may have to do w/ maintainability. Naturally, it made more sense for me to try and re-use as much as possible, especially something like the keyboard where many different languages may be supported. Though, like you stated since you will need to rebuild the KeyToPointMap, I c

[2015-09-15 15:07] ibakaidov commented on #73
@JuliusSweetland should think: "Damn russian boy'"

[2015-09-15 15:15] JuliusSweetland commented on #73
I could have done it another way - passively monitoring template changes in the KeyboardHost, but I didn't as it made sense at the time!

FYI this is a verified Hebrew keyboard layout that I have been sent:

![screenshot_2015-08-12-09-35-26](https://cloud.githubusercontent.com/assets/4722561/9880760/f360343e-5bc4-11e5-9f06-9253d8758590.png)

[2015-09-15 15:35] AsafRub commented on #73
@JuliusSweetland yeah this is a Hebrew keyboard, you don't need to add the numbers.
you can also see how it looks when the English letters are on same keyboard when we use it on standard  keyboard and not on mobile phone.
http://mikledet.net/images/hebrew-keyboard-layout.png

[2015-09-15 18:34] JuliusSweetland opened #98 "Fix dock flickering when changing from floating to docked, or changing dock size"
http://stackoverflow.com/questions/18491178/app-bar-window-pops-away-from-docking-postion-then-moves-into-the-docking-posit

[2015-09-15 18:45] ninehundred1 commented on #73
I found a German dictionary that looks good. For the strings of the UI, is there a file that has all the strings which I could just translate (from Arthur)? And I suppose Arthur already has a German keyboard, so that would be done then as well.

[2015-09-15 20:36] Ar2rZ commented on #73
Hi, ninehundred1
I hope, will finish with strings by Thursday.  I did create German layout for previous version, but it want be big deal to adjust it for new version, if you have time - you can do it, as there are two additional letters only.
Thanks & Regards,
Arthur

[2015-09-15 20:47] JuliusSweetland commented on #73
All - Arthur is creating a spreadsheet of all the UI strings in OptiKey so that for a new language the tasks to complete would simply be;

1.Translate the strings in Arthur's spreadsheet from English to the new language.
2.Supply a picture of the keyboard layout for the new language.
3.Source a dictionary file (word list) for the new language.

It would then only be a fairly trivial amount of work

[2015-09-16 07:47] Yofi-FR commented on #73
I'll be available to help translate strings from english to french as soon as Arhur make the file available

[2015-09-16 12:54] ninehundred1 commented on #73
The German dictionary is kind of large (500k entries, and that is the new spelling only). Do you know how much that is going to affect performance? I can try to find a simpler one. I assume you optimized the search tree for the word completion.
Also, as with most of those dictionaries, only 20% or so of the words are actually used, so I could take out quite a few. I found the file here, which also

[2015-09-16 12:54] ninehundred1 commented on #73
Artur, i can adjust the german keyboard, but it probably would need to wait until next week..

[2015-09-16 13:01] JuliusSweetland commented on #73
@ninehundred1 500k is probably large enough to negatively impact performance (it is 10x the size of the english dictionary). I don't currently optimise the in-memory word structure as I need to calculate multi-key selection match scores for every word that meets basic criteria (e.g. starts with letter "a" and ends with letter "y"). Would it be possible to trim it down to around 50-100k?

[2015-09-16 14:00] ninehundred1 commented on #73
Julius, I found one that has 70k. We could try that. The problem is though that most words have different endings depending on the gender, past or present, etc., so when you build a sentence using those words they are wrong in a grammatical way (eg. "I am go to movies"). There are a lot of those cases in German, so for 'to go' only you need 7 or so variants.
I can think about what we could do ther

[2015-09-16 14:02] Pitou31 opened #99 "Interested on the French version."
Please let me know when the application will be able to cope with French capture prediction.
May be I could help on French translation, please let me know how to proceed to translate into French.

[2015-09-16 14:05] JuliusSweetland commented on #73
Could you supply both and we could try them out for performance?

On Wed, 16 Sep 2015 15:00 Stephan Meyer <notifications@github.com> wrote:

[2015-09-16 14:21] dievs commented on #73
dutch here

[2015-09-16 16:14] ninehundred1 commented on #73
Julius, I added both (German and GermanShort) and made a pull request. Not sure if I did this right, i am new to all this forking and pulling..

[2015-09-16 16:19] JuliusSweetland commented on #73
You did - I will take a look and merge it in asap. Maybe not until late tonight or tomorrow as I'm out this evening. Thank you.

[2015-09-16 23:44] Ar2rZ commented on #73
So, spreadsheet is uploaded.
file is located here: https://github.com/JuliusSweetland/OptiKey/blob/localisa/docs/Localisation_Strings.xls
add translation on the next column,
specify in header two letters language code  (example- ru,de,en), or four letters language  code (examples- en_US,en_CA ect.)
save it,
upload it.
thanks and regards,
Arthur

[2015-09-16 23:57] Gadal commented on #73
Say, anyone know what "{0}" is in French? :P

[2015-09-17 02:59] Gadal commented on #73
This string exists:

[code]

[2015-09-17 04:44] SamPlusPlus opened #102 "When Optikey is running applications in taskbar open a new instance instead of maximizing."
I apologize in advance, this issue seems a little weird to me, and I am not sure if the behavior was intended by design.

To reproduce:

Without Optikey open.

Open calc.exe and minimize it to the taskbar. Double click on  the application icon running in the taskbar. The calculator window is restored, and if done again is minimized to the taskbar.

Now with Optikey open, run the same test, this ti

[2015-09-17 05:35] JuliusSweetland commented on #73
@Gadal actually I think the strings are just missing. Could someone please add? There may be more also as this will be the first time the spreadsheet is used.

[2015-09-17 05:39] JuliusSweetland commented on #102
This is due to the fact that OptiKey has the shift key pressed down (possibly due to auto capitalisation). Try without OptiKey running;

open a calculator and minimise
hold down shift
click on the calculator icon in the taskbar to restore the calculator
instead you will get a second instance of calculator

This behavior is dealt with when using OptiKey to simulate mouse actions as modifier keys ar

[2015-09-17 05:39] #102 closed

[2015-09-17 05:56] henkhenie commented on #73
Is it not a better idea to integrate it in launchpad or something else?

[2015-09-17 06:46] JuliusSweetland commented on #73
@henkhenie I've not used that? Is it a collaboration tool? Link?

[2015-09-17 07:12] Yofi-FR commented on #73
I suggest using google drive for collaborating on the file and avoid issues :
https://docs.google.com/spreadsheets/d/1ASVaEqec7bscKqF0RexwMXG13stw068EIbv-XAstKQU/edit?usp=sharing

[2015-09-17 07:24] JuliusSweetland commented on #73
Google docs sounds good. I'll copy to the solution every now and then as a
backup.

Before there is too much work done to translate these strings would someone
have the time to double check the list against the source?

On Thu, 17 Sep 2015 08:12 Yofi-FR <notifications@github.com> wrote:

[2015-09-17 07:43] JuliusSweetland commented on #73
User @Pitou31 has expressed an interest in helping with the French version in issue #99 (now closed)

[2015-09-17 07:43] JuliusSweetland commented on #99
Adding your interest to issue #73

[2015-09-17 07:43] #99 closed

[2015-09-17 07:51] JuliusSweetland opened #104 "Split out mouse keyboard into separate window"
Create new indexed class - CompositePointToKeyValueMap which:
* Has indexer (indexed by visual z ordering - if a window is on top it will have a higher z-order index)
* When map is set at a certain z order it will trigger a recalc of the composite map and fire a property changed event
* The MainViewModel can listen to these change events and pass the composite map to the input service
* Any overla

[2015-09-17 07:55] #68 closed

[2015-09-17 07:57] JuliusSweetland commented on #41
Closing - instead there is a shrinking animation available now, which means the key text/symbol does not have to shrink, which could potentially make broken/resumed selections difficult (as the user may no longer be able to see the key label clearly).

[2015-09-17 07:57] #41 closed

[2015-09-17 07:59] JuliusSweetland commented on #27
http://neurosky.com/ $80

[2015-09-17 08:01] JuliusSweetland opened #105 "Cross platform support (Linux, OSX)"
This would require the WPF components and Windows specific code (e.g. Win32 API calls) to be refactored - a large effort.

Closing issues #78 and #77 into this new issue.

[2015-09-17 08:01] JuliusSweetland commented on #78
Closing this issue as I have created a more general "Cross-platform" issue #105

[2015-09-17 08:01] #78 closed

[2015-09-17 08:01] JuliusSweetland commented on #77
Closing this issue as I have created a more general "Cross-platform" issue #105

[2015-09-17 08:01] #77 closed

[2015-09-17 08:02] JuliusSweetland commented on #69
Could be solved as part of the potential integration of Presage for next word prediction.

[2015-09-17 08:08] jaapz commented on #73
Is there a reason you are not using https://www.transifex.com?

[2015-09-17 08:12] JuliusSweetland commented on #73
@jaapz I hadn't heard of it - it looks cool, but it's not free and the localisation of OptiKey should be reasonably contained and limited once we get the strings into a common spreadsheet.

[2015-09-17 08:17] henkhenie commented on #73
https://translations.launchpad.net/

[2015-09-17 08:28] JuliusSweetland commented on #73
@henkhenie Actually that looks really good, but we need to bring everyone together so no effort is wasted here. @Ar2rZ has spent time putting together the spreadsheet and it is currently with his friend who is doing some work to provide translations. How can we collapse everything together?

N.B. The spreadsheet is useful also as a simple formula can turn the translated text back into a resources

[2015-09-17 08:29] jaapz commented on #73
@JuliusSweetland open source projects on transifex are for free. I think using the industry standard way to translate (gettext, using transifex) is a million times better than having a spreadsheet hanging around somewhere.

[2015-09-17 08:36] OrangeTux commented on #73
I agree with @jaapz, you won't use a spreadsheet. Localisation has been a problem for a long time and proper solutions exists.

[2015-09-17 08:38] JuliusSweetland commented on #73
@jaapz @OrangeTux Ok I agree. As we need to move forward would you (@jaapz) be able to set this up on transifex and add the english/french strings as they currently exist in this spreadsheet: https://docs.google.com/spreadsheets/d/1ASVaEqec7bscKqF0RexwMXG13stw068EIbv-XAstKQU/edit?usp=sharing

How are the transifex translations available as they need to be turned back into XAML resource files?

[2015-09-17 08:49] JuliusSweetland commented on #73
I've set up the project here: https://www.transifex.com/optikey/optikey/

[2015-09-17 09:07] Pitou31 commented on #73
Please let me know when the application will be able to cope with French capture prediction.
I will try to help on French translation using transifex.

[2015-09-17 09:09] Pitou31 commented on #73
How to start the French project on transifex?

[2015-09-17 09:11] andylamp commented on #73
@JuliusSweetland make Greek available in transifex so that I can translate the required strings please ;)

[2015-09-17 09:21] Joostvt commented on #73
A complete different question: how could we create the text to speech engine for our language?

[2015-09-17 09:25] JuliusSweetland commented on #73
@Joostvt Microsoft have built in support for a LOT of languages in Windows. If you can't see the support you may need to install the language in windows. This is vista specific, but there are similar articles for other versions of Windows: http://windows.microsoft.com/en-gb/windows-vista/install-a-display-language

[2015-09-17 09:27] Joostvt commented on #73
To add the English strings you do have to be a coordinator.

[2015-09-17 09:30] andylamp commented on #73
Same for the other languages, when you fill up the strings to be translated there I'll begin translating Greek first and Japanese after. I can also help with the word matching algorithms as for some languages that have *huge* dictionaries (say for example Greek or Japanese) existing implementation may be a problem... but I'll have to set up a VM so that I can install Visual Studio again ;).

[2015-09-17 09:31] Joostvt commented on #73
@JuliusSweetland I mean the text to speech functionality

[2015-09-17 09:35] OrangeTux commented on #73
@Joostvt Seems offtopic to me, maybe open another issue?

[2015-09-17 09:36] Joostvt commented on #73
Okay I will open a new issue, but in my opinion is localization also talking (or speech)

[2015-09-17 09:39] JuliusSweetland commented on #73
@Joostvt New topic would be good - let's keep this one on translation.

[2015-09-17 09:39] Joostvt opened #106 "Text to speech localization"
Hello,

How could we translate the text to speech functionality?

Your sincerely,

Joost van Tricht

[2015-09-17 09:42] JuliusSweetland commented on #73
We need a source (English) file for Transifex - I am at work. Can someone create a .Net resource file with the strings in it? For the minute could you pls use the same string id from here: https://docs.google.com/spreadsheets/d/1ASVaEqec7bscKqF0RexwMXG13stw068EIbv-XAstKQU/edit?usp=sharing

Volunteer?

@Pitou31 Sign up and go to the project page: https://www.transifex.com/optikey/optikey/ then volu

[2015-09-17 09:46] Joostvt commented on #73
I want to volunteer to create the .net resource file.

[2015-09-17 09:50] JuliusSweetland commented on #73
@Joostvt Excellent - once you're happy could you please share the file with me (e.g. on google docs) and I'll upload it for everyone onto Transifex. Thank you.

[2015-09-17 10:20] Joostvt commented on #73
I am sorry but could someone tell me how to create a .net resource file with strings in it?

[2015-09-17 11:07] JuliusSweetland commented on #73
@Joostvt - Let's take a second actually. Arthur (@Ar2rZ) has already put in a significant amount of work to localise OptiKey and I don't want to waste that. I suggested a .Net resource file as it's supported by Transifex, BUT this is one of two possible ways to solve this problem. The other is using a XAML Resource Dictionary, which work is a similar way, but leverage the WPF resources stuff.

To

[2015-09-17 11:49] Ar2rZ commented on #73
Spreadsheet already containing macro, which creates those xaml files.
we will need to adjust code any way for each additional language, unless we will change the languages implementation. instead of using enums for languages(as i try to create dynamic enums, but could not get proper way to use is in the code..) we can use dictionary, and then languages can be added even more simply, just by adding

[2015-09-17 11:50] Ar2rZ commented on #73
this link i used for my implementation  - http://www.codeproject.com/Articles/524878/Localisation-made-easy-for-WPF

[2015-09-17 12:15] Joostvt commented on #73
I am sorry but I am not that good in coding..

[2015-09-17 12:36] JuliusSweetland commented on #73
Ok - I will work on getting the source word list uploaded to Transifex. I'll then let everyone know that they can start translations.

When a language is complete I will work out how to download it from Transifex and dump the translated strings into the spreadsheet (which will be included in the solution). The macro then generates the XAML Resource file for use in OptiKey.

Not a perfect workflow,

[2015-09-17 12:59] JuliusSweetland commented on #73
Ok - I have manually extracted the strings from the spreadsheet, created a .Net resource file (just as a temp format for upload/download to/from Transifex) and uploaded the English strings. You guys can start translating - no rush - I probably won't be able to work with Arthur again until mid next week as I've got a lot going on (plus the rugby world cup starts tomorrow).

When a translation is re

[2015-09-17 13:07] JuliusSweetland commented on #73
@Joostvt - don't worry. This stuff isn't coding - it's the fiddly bit you have to do between actual coding. :+1:

[2015-09-17 13:13] ninehundred1 commented on #73
Where can we find the resource file with the english strings? I will probably also not be able to finish that before monday.

Do you want everything translated ("space", "scroll", etc) or are all the all-cap words system words what don't get displayed?

Then, one other thing to consider, I assume there are some settings strings in there, such as "Minimum dwell time on a key to include in capture (

[2015-09-17 13:22] JuliusSweetland commented on #73
@ninehundred1 It's probably easier if you ignore the idea of resource files for the moment. If you go to the Transifex project page you'll be able to translate without thinking about files etc - it will just offer you an english word or phrase to provide a translation.

All entries on the site need to be translated - they are all user facing in some capacity.

I agree that not every string is perf

[2015-09-17 13:36] Ar2rZ commented on #73
ok, i can create later some tool which will transform  resx files into xaml. or may be i find way ho to use resx in the code, depend what will be easier.
at the moment will ask my friend to continue translations.
so, i heading now to airport.

[2015-09-17 13:42] JuliusSweetland commented on #73
@Ar2rZ - Don't worry too much about creating a tool. Excel to/from resx file is easy - you can copy paste two columns of text between them (when viewing the resx file in visual studio).

Have a good flight and weekend.

[2015-09-17 14:05] ninehundred1 commented on #73
Sound good, started to translate, should be done early next week.
Enjoy the weekend and New Zealand win.

[2015-09-17 14:10] JuliusSweetland commented on #73
You misspelled "English win", but thanks.

On Thu, 17 Sep 2015 15:05 Stephan Meyer <notifications@github.com> wrote:

[2015-09-17 14:22] AsafRub commented on #73
I will also start to translate it as soon as possible,
And yes Hebrew is written from right to left :)

[2015-09-17 14:39] SamPlusPlus commented on #102
I do not have an eye tracker to test with, but would this not be an issue when switching between applications such as an instance of Word and Chrome that are already open?

Secondly you mention Optikey is using the shiftkey for auto capitalization, would it be possible to use the Caps Lock key instead and avoid the undesired behavior?

[2015-09-17 14:51] JuliusSweetland commented on #102
@SamPlusPlus I get around this being a problem by temporarily disabling all modifier keys when the user switches to the mouse screen, and then reinstating everything when they leave the mouse screen. It works pretty well and this behaviour can also be disabled should the user want to do something complex with their modifier keys + mouse actions.

I thought about using CAPS, and might return to thi

[2015-09-17 15:54] Gadal commented on #73
SOUNDS_VIEW_1, 5, 16 don't end with colons, but every other string in that section does.  Is that as it should be?

[2015-09-17 16:02] Gadal commented on #73
@ninehundred1 With respect to rephrasing some of the strings: we should be careful to keep all of the translations in sync, which means backing up and deleting all of the translations, and then notifying all of the translators.  If you think it's important, I suggest doing it as soon as possible.

[2015-09-17 16:07] willianfatec commented on #73
@JuliusSweetland I want to help with the translation to Portuguese.

[2015-09-17 16:17] Gadal commented on #73
Here's the current list of translators, for reference:

Arabic
0xffffabcd

Dutch
dievs
jaapz
Joostvt
WvanSnippenburg

French
0xffffabcd
Gadal
Pitou31
Yofi-FR

German
Ar2rZ
ninehundred1

Greek
andylamp

Hebrew
AsafRub

Polish
pporyzala

Portuguese
brlima94
Willianfatec

Russion
ibakaidov

Spanish
jongbor

Swedish
stayn0ided

[2015-09-17 16:19] JuliusSweetland commented on #73
@Gadal I will look over them tonight. There is some duplication and I'd like to rename the resource names to be in line with the word/sentence function, rather than where they are used. I'll manually update all of the in-progress translation also so nothing should be lost.

@willianfatec - Thank you. Please take a look at https://www.transifex.com/optikey/optikey/

**ALL** - It might be better to

[2015-09-17 16:49] ninehundred1 commented on #73
I didnt want to put extra work on you with clarifications of strings..

[2015-09-17 17:33] andylamp commented on #73
Sure, let us know when the list is ready.

[2015-09-17 17:39] JuliusSweetland opened #107 "Crash report - Error starting up application System.IO.FileFormatException: Formato de imagen no reconocido"
[code]

[2015-09-17 20:46] JuliusSweetland commented on #73
@Gadal Those are actually correct - the strings with colons at the end are setting labels, while the others are used in groupbox headers etc. Good query though.

[2015-09-17 21:55] JuliusSweetland commented on #73
**ALL** I posted this as an announcement on Transifex, but here it is again...

I went through and cleaned up the source file (the English strings) and updated the source file on here, safe in the knowledge that the FAQ states that strings that have already been translated will be kept. Well that's not panned out and it's lost everything. I'm SO sorry.

The good news is;

a)The source file is shin

[2015-09-17 22:29] JuliusSweetland commented on #73
To be clear; the list is NOW READY (but again, apologies that work was lost - that was not my intention).

[2015-09-17 22:32] JuliusSweetland opened #108 "Add or find source for more TTS voices (online APIs, voice companies, websites, etc)"
CereProc
    Based in Scotland
    Scottish, Irish, celebrity, Spanish, Japanese,
    https://www.cereproc.com/en/products/voices
    https://www.cereproc.com/en/developers
    https://www.cereproc.com/en/contactus

Natural Reader
    Based in Canada
    Lots of voices: US, british, French, Swedish, etc – all $39.99 per pack/dialect
    Install directly into Window for use with any TTS engine

[2015-09-17 22:47] pporyzala commented on #108
IVONA TTS (originally developed in Poland, currently An Amazon Company): wide selection of voices (51) for 23 languages: https://www.ivona.com/us/about-us/voice-portfolio/.

Available as a Speech Cloud (https://www.ivona.com/us/for-business/speech-cloud/) or installed locally (available in Windows TTS engine, https://www.ivona.com/us/for-individuals/voices-for-accessibility/).

Commercial solution

[2015-09-18 00:02] Gadal commented on #73
We lost some progress (though not really, since you have that local copy), but we also got a free lesson on the crucial importance of backups.

I'd call it a net bonus, really.

[2015-09-18 03:02] ninehundred1 commented on #73
Don't worry. I will try to get it all translated tomorrow. Thanks for cleaning out

[2015-09-18 06:12] JuliusSweetland commented on #73
That's true. I actually have the backups if anyone wants them, but there's
no way to reload them and where a word hasn't been translated it includes
the English version, which makes extracting the already complete work
really time consuming.

Oh well. Lesson learned.

On Fri, 18 Sep 2015 01:02 Dustin Gadal <notifications@github.com> wrote:

[2015-09-18 07:32] Joostvt opened #109 "Diy eyetracker"
Maybe a weird idea, but is it not possible to build our own eyetracker to make it even cheaper?

[2015-09-18 07:43] JuliusSweetland commented on #109
@Joostvt It's possible. I originally built one to work with the ITU Gazetracker software (by Martin Tall who is one of the founders of TheEyeTribe). The camera cost me about £500. I don't realistically think that it is currently possible to undercut the prices we are seeing from TheEyeTribe ($100) and Tobii (EyeX=$150).

[2015-09-18 07:43] #109 closed

[2015-09-18 08:25] JuliusSweetland commented on #27
Lucas Steuber suggested that MND/ALS affects the electrical patterns that can be detected on the surface of the skin, so this may be a dead end.

[2015-09-18 09:19] Gadal commented on #73
French was at 45% to Dutch's 46%, so I decided to do a few more before I went to sleep to show the Netherlands who's boss.

Then French was at 50% to Dutch's 51%.  COME ON.

[2015-09-18 10:45] JuliusSweetland commented on #73
@Gadal Haha. Good effort!

[2015-09-18 14:55] ninehundred1 commented on #73
I went through all, and these are not clear to me what they mean, so not
sure how to translate them

Fill Pie

Incomplete key fixation time to live (ms):

On Fri, Sep 18, 2015 at 6:45 AM, Julius <notifications@github.com> wrote:

[2015-09-18 15:21] AsafRub commented on #73
Yeah, there are some words i am also not sure how to translate,
Mostly the keyboard keys like "shift" or "ctrl" which  we use them as is. so for now i will leave them, i will start to translate again probably tomorrow.

[2015-09-18 15:59] JuliusSweetland commented on #73
@ninehundred1 "Fill Pie" means that the animation for selecting a key will fill a circle as if a pie is filling from 0 to 100% full. It's the orange animation on a key when you select it.

"Incomplete key fixation time to live (ms):" = the amount of time a partially complete key selection will live for if you move your attention away from the key. If that time period expires then the partial selec

[2015-09-18 16:31] willianfatec commented on #73
@AsafRub you can use the feature "copy original phrase" (on panel left side).  :D

[2015-09-18 17:15] Volluta commented on #73
@Gadal your turn ;)

[2015-09-18 17:57] stayn0ided commented on #73
@JuliusSweetland No Swedish on the transifex website

[2015-09-18 18:12] JuliusSweetland commented on #73
You can request it on the site

On Fri, 18 Sep 2015 18:57 D <notifications@github.com> wrote:

[2015-09-18 18:21] willianfatec commented on #73
Portuguese done!
Revision it's needed of course.

[2015-09-18 21:38] Pitou31 commented on #73
Hi Julius,French translation done. Jacques Soulé 

     Le Jeudi 17 septembre 2015 9h43, Julius <notifications@github.com> a écrit :

 User @Pitou31 has expressed an interest in helping with the French version in issue #99 (now closed)—
Reply to this email directly or view it on GitHub.

[2015-09-18 23:03] JuliusSweetland commented on #73
@stayn0ided Swedish added for you here (https://www.transifex.com/optikey/optikey/language/sv/)

@willianfatec, @Pitou31 - Fantastic. Great work. Really.

[2015-09-18 23:25] AsafRub commented on #73
@JuliusSweetland I noticed issues with translations in some of the sentences that contained the &#x0a; strings because there are Latin characters with non latin characters in the same line.
what should i do? i guess those strings replaced in the code, so i can't delete them, but can i just put them in different line?

[2015-09-19 02:27] Gadal commented on #73
@JuliusSweetland Any idea how to review translations/become a reviewer?  I can't find anything in my non-project-coordinator UI.  Do you have to press a "Move translation to review phase" button or something?

[2015-09-19 04:54] danielmoncada opened #110 "TextBox caret not updating position when using arrows (physical keys)"
The caret in the text field does not move if physical "arrow" keys are pressed. I.e., when typing in Notepad using OptiKey and pressing the "left arrow" under the "Physical Keys" section, the Notepad's caret movies left one position but does not update the OptiKey caret.

OS: Windows 10
Version: 2.0.9.0 (release)

[2015-09-19 05:42] evanschulte commented on #88
Any notes on how to reproduce this?  I can't imagine how the string startIndex could be less than 0 if the length of the string isn't null.

[2015-09-19 06:20] evanschulte commented on #107
From what I can gather, as I cannot reproduce, is that this occurs on windows XP machines when trying to load .ico files.  Here is a good thread on the issue.

https://social.msdn.microsoft.com/Forums/vstudio/en-US/9e723d51-0e26-4609-8fe1-5e0edcf7385b/setting-windowicon-to-vista-256x256-png-icon-causes-a-fileformatexception?forum=wpf

It appears that removing the compression on the 256x256 icon ma

[2015-09-19 08:21] JuliusSweetland commented on #73
@AsafRub Can you give me an example? I think you're referring to strings which contain "{0}", which is a placeholder for a string which is inserted at runtime, but I'm not sure.

@Gadal It looks like I have to give people a new role of Reviewer on a specific language. Could people let me know which of the complete languages (French, German, Portugese, and soon Dutch) they would like to review. I g

[2015-09-19 08:37] JuliusSweetland commented on #107
@evanschulte - excellent, thank you. Could you supply (pull request?) your attempt and I'll try to find a machine to try it on. Is the crash reproduceable, i.e. could I cause the crash, merge your change and try again and then potentially see it fixed immediately?

[2015-09-19 08:37] JuliusSweetland commented on #110
@danielmoncada This is not supported at the momnet, but I'll leave this issue here as an enhancement. There are a few assumptions in the code that the caret should remain at the end of the string. I need to do a little work to change this.

[2015-09-19 08:40] JuliusSweetland commented on #88
@evanschulte - Not at the moment. I've only seen this where the user's local language is German. I wonder if there are german characters that could possibly be counted as more than 1 character? Sounds odd, but I half remember from school that the 'ß' character is the equivalent of a double 's'. This might just be for pronunciation, but there may be something weird like that going on.

[2015-09-19 09:21] AsafRub commented on #73
@JuliusSweetland i meant to strings like this "ADD TO&#x0a;DICTIONARY"

[2015-09-19 09:33] JuliusSweetland commented on #73
I don't understand I'm afraid. Where would the Latin and non Latin
characters be in the translation of "ADD TO DICTIONARY"?

On Sat, 19 Sep 2015 10:21 AsafRub <notifications@github.com> wrote:

[2015-09-19 09:37] JuliusSweetland commented on #107
Thinking about this more I am happy to ignore the problem if they are
running 16 bit. It's not going to be common enough to bother supporting.

Regarding the icon compression here are two methods (this is to remind me
later);

1.In Axialis Icon Studio you can right click the icon and disable the
PNG-compression.
2.In IcoFx uncheck this: Tools->Preferences->Tools->Compress the images
256x256 for Wi

[2015-09-19 09:49] AsafRub commented on #73
can you see the "#x0a" string? this combination with my translation.

[2015-09-19 09:52] evanschulte commented on #107
I would tend to agree with that.  If they are running 16 bit, I imagine they may end up having more problems than just an icon anyhow.  Just a note, the latter (IcoFx) is what I used and it works well.

[2015-09-19 10:20] JuliusSweetland commented on #73
Ah I see. That's HEX for a new line (which is required inside XML files if
you're interested). That needs to be included in your translation where you
would break the sentence into two lines.

On Sat, 19 Sep 2015 10:49 AsafRub <notifications@github.com> wrote:

[2015-09-19 10:28] AsafRub commented on #73
so can i just break the sentence into two lines without adding it?
because when i am adding it, it's not in the right order
so it probably won't work either.

[2015-09-19 11:44] ninehundred1 commented on #73
I had similar issues if I understand correctly.

Say the original sentence is:
"Return to #x0aMainmenu"

Translation would be in the new language grammar:
"To #x0aMainmenu go back now"

Keeping the #x0a in front of the original word moves it somewhere completely else and is this messing up the format.

I used less than ideal grammar to keep it roughly in place like:
"go back #x0aMainmenu to".

Is

[2015-09-19 18:18] Gadal commented on #73
@AsafRub &#x0a; is the escape character for newline:
https://en.wikipedia.org/wiki/Escape_character

In this case, if Julius just used a plain newline, the XML file that lists all these strings would be cluttered up with weird spacing.  This way, everything neatly takes up one line.  (Or the XML would just blow up and not work.  I forget what the formatting rules are.)

@ninehundred1 Try and have

[2015-09-19 18:39] JuliusSweetland commented on #73
No it needs to be in the final string. If the website won't let you put it
in an appropriate place then I might have to add them later, but I'll need
to know where the new lines are missing.

On Sat, 19 Sep 2015 19:18 Dustin Gadal <notifications@github.com> wrote:

[2015-09-19 18:40] JuliusSweetland commented on #107
I've used IcoFx on three computers, but ask my trials have finished now. Do
you have a new version of the ico file I could use?

On Sat, 19 Sep 2015 10:53 evanschulte <notifications@github.com> wrote:

[2015-09-19 18:47] Gadal commented on #73
Is "it" "the newline escape character"?  Is the "final string" the translated string?  I wasn't advising taking the newline out, I was advising on where to put it in the string.

[2015-09-19 19:05] JuliusSweetland commented on #73
I understand the problem as "where do we put the new line character?". My
answer is wherever splits the line evenly.

On Sat, 19 Sep 2015 19:47 Dustin Gadal <notifications@github.com> wrote:

[2015-09-19 19:10] Gadal commented on #73
Ah, right, yes.

[2015-09-19 19:52] ninehundred1 commented on #73
Ok. Will review with this information

[2015-09-19 21:24] JuliusSweetland commented on #85
Testing on Windows 10 machine. Problem occurs. Installed Snoop to investigate, which installed .Net framework 3.0 and 3.5 (I think) = problem gone.

[2015-09-19 23:17] evanschulte commented on #107
Yes sir I do.  Here is a link to my gdrive folder which contains the
updated icons.

https://drive.google.com/folderview?id=0B2dSDxDo57bQTkR3dW9MQTdhU0U&usp=sharing

On Sat, Sep 19, 2015 at 1:40 PM, Julius <notifications@github.com> wrote:

[2015-09-20 16:22] AsafRub commented on #73
can we just put some kind of special key that you will know its the new line character
and then it will be replaced in the code?
otherwise its going to be really messy...

[2015-09-20 16:26] JuliusSweetland commented on #73
I'm not convinced it would be particularly meaningful to ask everyone to
use a different newline character (e.g. \n). Do you have concerns beyond
the thinking that the hex code is not obvious to non programmers?

On Sun, 20 Sep 2015 17:22 AsafRub <notifications@github.com> wrote:

[2015-09-20 16:30] AsafRub commented on #73
@JuliusSweetland no no..what i meant is that the text is messy at least in the hebrew translation..
if i put the hex code sometimes the word the located after the hex code become before the hex code
it look something like this just in hebrew :)
"NEW LINE# x0a"

[2015-09-20 16:33] JuliusSweetland commented on #73
I couldn't comment on whether this would make sense in Hebrew, but would it
not be possible, assuming there is still two or three words when NEW LINE
is translated into Hebrew, to put the new line between the words?

On Sun, 20 Sep 2015 17:31 AsafRub <notifications@github.com> wrote:

[2015-09-20 16:39] AsafRub commented on #73
sorry its hard to explain it, but its not from the side of the translation, its from the side of the code
because the hex code will be messy and when you will run it with wont be a new line it will be just gibberish hex code because it wont be in the right order...

[2015-09-20 16:46] JuliusSweetland commented on #73
Can you post an example of a sentence in hebrew that will be messy so I can see what you're talking about?

[2015-09-20 16:47] AsafRub commented on #73
yes of course,

שורה & #x0a; חדשה

[2015-09-20 16:51] JuliusSweetland commented on #107
@evanschulte - thank you. I'll use the new icons in the next release, but I
have realised that this problem isn't really worth fixing anyway as OptiKey
requires .Net 4.5 which is only available from Vista SP2 onwards (i.e. not
XP anyway)!

The other thing I've noticed is that git only thinks the management.ico
file has changed. I would have expected both to have changed?

On Sun, Sep 20, 2015 at 1

[2015-09-20 16:51] AsafRub commented on #73
on github comment system its just put the sentence in reverse order,
in Transifex its completely messy..

[2015-09-20 16:52] Gadal commented on #73
@AsafRub Is Transifex rendering something like the the things I wrote below?

Left-to-right (escaped):
    ABC\&#x0a;DEF

Left-to-right (as seen in the UI):
    ABC
    DEF

Right-to-left (translation, escaped):
    ZYX;a0x#\&WVU

Right-to-left (translation, as seen in the UI)
    ZYX;a0x#\&WVU

[2015-09-20 16:53] Gadal commented on #73
@AsafRub Could you take a screenshot, then upload the screenshot to a website like https://imgur.com/, and send us a link to that picture?

[2015-09-20 17:03] AsafRub commented on #73
![translation](https://cloud.githubusercontent.com/assets/14231850/9981888/ac1b7842-5fd2-11e5-9e69-a6574dbb06e3.jpg)

[2015-09-20 17:30] Gadal commented on #73
That looks fine.  So, the way it works internally is the machine is actually storing the text in memory and it has no direction.  When a program reads the text, it normally just assumes it's left-to-right, and draws it accordingly.  There is a special character called a "right-to-left mark" (U+200F).  When a program sees the RTL mark, it still reads the symbols as normal, but it displays them diff

[2015-09-20 17:40] AsafRub commented on #73
great!
so i will continue with the translation.

[2015-09-21 07:57] JuliusSweetland commented on #73
**All** FYI I will be demoing OptiKey tomorrow and have a pressing issue with OptiKey not displaying the management window on Windows 10 (issue #85) to resolve before I can begin work to use the translations that are already completed. When we begin I would like to start with French, as I believe it will be the most straightforward (I can read it, the keyboard is almost the same as the standard QW

[2015-09-21 08:44] Gadal commented on #85
Looks like the UIAccess flag gets ignored in some circumstances to prevent clickjacking.

Some things that you might try:
- Run OptiKey as an administrator.
- Move the executable to a trusted directory like /Program Files
- Digitally sign the executable (makecert + signtool)

[2015-09-21 08:49] JuliusSweetland commented on #85
Thanks Dustin. I've tried all of those things. UIAccess works in Windows
8.1, it's just somehow connected to the child manager window not being
rendered in Windows 10.

On Mon, 21 Sep 2015 09:44 Dustin Gadal <notifications@github.com> wrote:

[2015-09-21 09:06] Gadal commented on #85
It's probably the NSA's fault.

[2015-09-21 09:07] JuliusSweetland commented on #85
Probably, ha

On Mon, 21 Sep 2015 10:06 Dustin Gadal <notifications@github.com> wrote:

[2015-09-21 13:09] ninehundred1 commented on #73
Ok. good luck with the bug and the demo.
I will go through all the translations again tomorrow to make sure I am
fine with them.

Artur, is there anything you need me to do with the german keyboard?

Also, is there a way we can run the software without the use of a camera
(use a mouse instead?), that way I could probably run the translations and
keyboard in my forked repository and change the line

[2015-09-21 13:13] JuliusSweetland commented on #73
By default OptiKey is controlled with your mouse. I need to liase with
Arthur to get a localised version of OptiKey into the "localisa" branch and
then testing can start.

On Mon, 21 Sep 2015 14:09 Stephan Meyer <notifications@github.com> wrote:

[2015-09-21 13:23] Ar2rZ commented on #73
Hi  ninehundred1,
if you adjust the keyboard already is good, if not, i will do then by end of this week.
so, once localization mechanism will be implemented into code, we will test or all strings are proper length, ect.
then will be clear, do we need any adjustment or not.  but i did some testing in previous version of OptiKey in Russian it was no problem to display long strings on menu.

[2015-09-21 13:30] JuliusSweetland commented on #73
Menu is generally fine, but I have changed the UI a bit so strings are
displayed on normal keyboard keys when the key is current (active). These
are all the same size so will be as small as the longest text, which is why
it's important we check all of this so ensure the text is readable in each
new language.

On Mon, 21 Sep 2015 14:23 Ar2rZ <notifications@github.com> wrote:

[2015-09-21 17:29] Pitou31 commented on #73
Hi Julius,
Did you get my french translation? Can e expect something in French for tomorrow?
We probably have to check the menu tet because in French it could be too long, we will see.

[2015-09-21 17:44] JuliusSweetland commented on #73
@Pitou31 If you mean your translation on Transifex then yes, thank you. There is already a word list for french here https://github.com/JuliusSweetland/OptiKey/tree/localisa/src/Dictionaries/Candidates - this needs to be evaluated as it is 336k+ so a bit large.

I am not yet actively working on the source code changes to localise OptiKey. You should be able to see when work is beginning, as it wil

[2015-09-21 19:15] #107 closed

[2015-09-21 19:15] JuliusSweetland commented on #107
Fixed in v2.0.10

[2015-09-21 19:15] JuliusSweetland commented on #85
Fixed in v2.0.10

[2015-09-21 19:15] #85 closed

[2015-09-21 20:35] evanschulte commented on #107
@JuliusSweetland

Sorry for the delay in response, had a busy weekend.  Anyhow, I was having
a hard time getting git to recognize the change with Main.ico for some
reason. I tried renaming, deleting and re-adding, and a few other things
with no luck.  I was running a bit short on time so I sent that google
drive link instead of continuing to mess with git.  Still a bit new to
github, sorry about t

[2015-09-21 20:40] JuliusSweetland commented on #107
@evanschulte not at all - I appreciate your effort. I guess the file hasn't actually changed as git looks at the file's SHA (hash code). If it's the same it's almost impossible for the file to be different. Potentially I compressed one and not the other. Either way your new icon (management.ico) is included in the new release v2.0.10, so thank you again.

[2015-09-21 21:43] lucavice commented on #73
Hi Julius,
I can take care of the Italian translation. I will fill in the strings in Transifex and try to find a suitable dictionary (as far as I understood, about 50k words and no 1 char words). Not sure how to contribute with the keyboard layout, but I would say is low priority for italian, since it's just an english qwerty with some extra accents.

[2015-09-21 21:52] JuliusSweetland commented on #73
@Luca yes that's all correct. This is a candidate Italian layout;
http://images.ntwind.com/vistaswitcher/italian_layout-2.png

On Mon, 21 Sep 2015 22:43 Luca <notifications@github.com> wrote:

[2015-09-21 22:08] lucavice commented on #73
@Julius  I quickly checked the keyboard as it is currently implemented in Optikey, and I feel the layout can stay exactly the same for italian. The only difference would be to add Á á É é Í í Ó ó Ú ú in the diacritic layouts. Also, not sure if you were planning to discuss it here, but what about the wiki and README.md translations? As of now, the software is mostly usuable for an Italian speaker,

[2015-09-22 05:34] JuliusSweetland commented on #73
@Luca The plan it to convert the wiki to a full website and then translate
the whole thing.

On Mon, 21 Sep 2015 23:08 Luca <notifications@github.com> wrote:

[2015-09-22 17:02] ninehundred1 commented on #73
Arthur,
what do I do with the keyboard? Is there a file I need to look at, or just send you an image with a layout?

[2015-09-22 17:05] JuliusSweetland commented on #73
Can you post an image or link to an image on here with a few words telling
us what it shows.

On Tue, 22 Sep 2015 18:03 Stephan Meyer <notifications@github.com> wrote:

[2015-09-22 17:07] ninehundred1 commented on #73
I am a little confused, I want to work on the keyboard, but I don't know
what to do. Do I start the program? Is there an individual file out of all
files with a layout I open?

On Tue, Sep 22, 2015 at 1:05 PM, Julius <notifications@github.com> wrote:

[2015-09-22 17:08] Ar2rZ commented on #73
no worries, then, i will adjust the keyboard.

[2015-09-22 17:14] ninehundred1 commented on #73
I want to learn..
I get it though, probably quicker if you do it.

On Tue, Sep 22, 2015 at 1:09 PM, Ar2rZ <notifications@github.com> wrote:

[2015-09-22 17:33] JuliusSweetland commented on #73
Arthur are your changes in a fit state to merge into the "localisa" branch
for everyone to see and play with?

On Tue, 22 Sep 2015 18:15 Stephan Meyer <notifications@github.com> wrote:

[2015-09-22 17:38] lucavice commented on #105
Optikey seems closely tied to .Net, WPF and Rx, as well as all the Win32 magic to get the always-on-top split-screen behaviour. I guess that a port to linux/osx would be an almost complete rewrite.

[2015-09-22 17:41] Ar2rZ commented on #73
no, not yet. till end of this week i will give something. i had no time till now. this evening will do something, and then at week end will finish, unless at work wont be very busy. then will finish earlier.

[2015-09-22 17:47] JuliusSweetland commented on #73
@lucavice FYI I have rejected your request for Italian (Italy), but accepted Italian. I'm trying to stick to broad languages, rather than country specific languages, which we could address later, as required.

[2015-09-22 17:48] JuliusSweetland commented on #73
@Ar2rZ No problem - please take your time. I'd much rather you take longer, but enjoy working on this, than feel pressured and not want to continue.

[2015-09-22 17:49] JuliusSweetland commented on #105
@lucavice That is correct. There are projects like this http://grokys.github.io/perspex/perspex-alpha2/ but they won't cover even half of the funky stuff that's going on with Win32 calls etc.

[2015-09-22 17:54] JuliusSweetland commented on #73
Also devs on this thread - please can you take a look at this pull request that I've received from @feugy; https://github.com/JuliusSweetland/OptiKey/pull/112

It is a complete solution for french, BUT uses the standard resource string approach, rather than Arthur's XAML dictionary approach (which I slightly favour, although both are VERY similar in practise).

I would very much appreciate some in

[2015-09-22 19:12] Ar2rZ commented on #73
@fuegi nice job actually. quiet a lot was required to get this working.
my subjective view:
although Microsoft is recommending to use resx files for localization,
apart that could not get working without adding an effort, there was another reason why i dropped this method, as we all very busy people, i was thinking to create way which will not require much time to adjust the code, or do not adjust

[2015-09-22 20:04] JuliusSweetland commented on #73
From what I understand the only difference is that you need extra code (there is a NuGet package) to dynamically change resource strings used in UI controls.

Functionally the two methods are basically the same.

The pro for the resource files solution is that Transifex has support for these files.

I don't have a strong opinion either way, but someone's work will have to be adjusted to the other

[2015-09-22 20:41] Ar2rZ commented on #73
nice tip... as i created(copied and adopted) missing code for this my self..

[2015-09-23 06:04] feugy commented on #73
Hi everyone. Really I'm so sorry I haven't seen this branch and thread before starting.

To be honnest, extracting the language string is not the hard work.
What is difficult is:

1. To make a translation that takes context into account.

    For example TAB string can't translated to TABULATION in french because it won't fit in the keyboard.

2. To reuse string keys when possible, but only when r

[2015-09-23 08:12] JuliusSweetland commented on #73
@feugy I've tried to update the source file on Transifex before with new string keys (which it sounds like you are proposing) and it deleted all existing translations. As we have at least 4 complete languages I would really like to avoid this.

If you extract the resource file from Transifex you would be able to see if there are any strings that are missing that you have found. Can you let us know

[2015-09-23 08:14] JuliusSweetland commented on #73
My other concern is performance. Is one better than the other? If we are using DynamicResource bindings with the XAML dictionary approach then it may actually be slower?

[2015-09-23 09:13] Ar2rZ commented on #73
i will agree with everything what we will decide. as we doing same job- doing this app better.
about the performance i can't tell anything, as i am using quiet powerful pc, so, i did not see any differences, but i read that is some cases it may slow down.
so, we can go with fuegy changes, as those changes  fit better into code.
be honest i was thinking to try to use resx as well later. as we using

[2015-09-23 09:24] JuliusSweetland commented on #73
@Ar2rZ That's very good of you. You should know that I (and a lot of people here) MASSIVELY appreciate the work you are doing. You kicked off the effort to localise OptiKey and you should be proud of where we are currently as it wouldn't have happened without the work you've already done.

@feugy If you can compare the resources we already have on Transifex and report back we can add anything miss

[2015-09-23 12:50] ninehundred1 commented on #73
Once you guys start trying German, let me know, especially regarding the size of the dictionary and performance issues regarding that. I could start looking around for other ways to use a smaller dictionary, i am sure some old autocomplete systems on the old Nokias had a lot more restrictions.

[2015-09-23 12:56] JuliusSweetland commented on #73
@ninehundred1 There are 3 candidate german dictionaries here if you want to check them out ahead of time and see which you initially think might be suitable: https://github.com/JuliusSweetland/OptiKey/tree/localisa/src/Dictionaries/Candidates

[2015-09-23 15:22] delta003 commented on #106
Assuming there is a internet connection, we can just use Google TTS API
(e.g. http://translate.google.com/translate_tts?tl=en&q=Integrate%20text%20to%20speech)
It should be fast enough and I think it covers all languages as Google Translate

[2015-09-23 18:25] JuliusSweetland commented on #106
Thank you - do you have a link to read about the TTS API for C# (or whatever I can consume from C#)? That link just takes me to a sample audio clip.

[2015-09-23 20:02] JuliusSweetland commented on #22
Single eye blink could also be used, but this could also be used with mouse actions for left/right clicks? Just an idea.

[2015-09-23 20:15] JuliusSweetland commented on #104
Scheduled for inclusion in v3

[2015-09-23 20:28] delta003 commented on #106
No, the link is the example of HTTP request. You just make HTTP to translate.google.com/translate_tts setting tl=language (two letters shortcut for language) and query=what_do_you_want_to_say (make sure you escape this string). HTTP response have Content-Type:audio/mpeg so from response you can get audio file. Then you just pass that file to system to play it (I'm don't really know C# but this sho

[2015-09-23 20:40] JuliusSweetland commented on #106
Awesome, thanks. Hold off until you have a Windows machine again and then
we can pick this up when I have a bit more time to spend on it. I would
also like to split out the IAudioService as it's currently in breach of the
single responsibility principle. There should really be an interface and
class for playing sounds and an interface and multiple classes for speech.
Then I can just swap out one s

[2015-09-23 20:47] delta003 commented on #106
Yes, that would be the best option. Just keep this issue updated so I can pick it up eventually.

[2015-09-23 20:48] JuliusSweetland commented on #106
I'll leave it open. I'll only add to it if I have any interesting thoughts
on topic, otherwise it'll be here when you come back.

On Wed, 23 Sep 2015 21:47 Marko Bakovic <notifications@github.com> wrote:

[2015-09-23 21:15] ninehundred1 commented on #73
German.dic has too much unnecessary stuff (English names, all kind of
abbreviations). GermanShort1.dic with 70k is a little too short, missing
mainly the declarations of verbs, making it tricky to write correct
grammar.
GermanShort2.dic with 90k looks good, it has the most common verbs in the
different forms, but is lacking Noun combination (eg, Beerbottle), but that
is expected in the way German

[2015-09-23 21:30] JuliusSweetland commented on #73
@ninehundred1 Good feedback, thank you. Yes words can be added to the dictionary. This is currently manual (with a key in the top left to add words and phrases from the scratchpad). I have a task on my todo list to investigate automatically adding words. This would be relatively trivial as I already auto count word usages, but I didn't want to add it at the beginning as there's the danger of autom

[2015-09-23 22:25] ninehundred1 commented on #73
Completely agree. That dictionary should be fine, and matching what
you, as far as I can tell, get with todays smart phone keyboards.

On Sep 23, 2015, at 5:300PM, Julius wrote:

[2015-09-24 05:05] feugy commented on #73
@JuliusSweetland and @Ar2rZ, I'll do as you explained, starting this morning. I'll keep you updated if anything unexpected happens.

[2015-09-24 06:19] feugy commented on #73
Work in progress, but it's reeeeeeally slow.
Visual Studio allows to rename keys from resx files... but does not update xaml files.
So when I copied a dozen of keys from transifex to my local resx file, the project did not built anymore.

I'm forced to change one key at a time, perform a build, rename broken references, and go to next key.
Doing a massive search-and-replace on all files (resx, cs

[2015-09-24 06:48] JuliusSweetland commented on #73
Those ugly names are down to me, sorry. I've been working on a project at
work that uses uppercase resource names and forgot to context switch in my
head. Sorry it's a manual job. I can't think of any better way of doing it.
You could use find/replace for the XAML references as I presume the
bindings are all along the same pattern?

Anyway thank you for putting the hours in. We all appreciate it.

[2015-09-24 07:06] feugy commented on #73
Unfortunately, search and replace breaks more things than it helps.

I've reach the D letter (40/254), so I'll go on this way.
As I've extracted more keys (331), I'll rename them uppercase with underscore, and once the pullrequest will be accepted you'll be able to upload it on transifex for translations (I could provide french ones).

[2015-09-24 07:10] JuliusSweetland commented on #73
That sounds great. Maybe stick on a podcast - it sounds like an arduous
task.

On Thu, 24 Sep 2015 08:06 Damien <notifications@github.com> wrote:

[2015-09-24 08:51] Ar2rZ commented on #108
https://www.modeltalker.org/
this company creating customs voices for English only.

[2015-09-24 08:52] JuliusSweetland commented on #108
@Ar2rZ It should also be stated that this is what is known as "voice banking" and the service is completely free at the moment. It's excellent and the voices they provide work with OptiKey.

[2015-09-24 08:54] JuliusSweetland commented on #108
I am also looking into adding support for Google's online TTS API, but this would require an internet connection.

[2015-09-24 08:56] JuliusSweetland commented on #106
Closing this issue as this is covered by #108. I will re-post the info from here and link across.

[2015-09-24 08:56] #106 closed

[2015-09-24 08:57] JuliusSweetland commented on #108
Re-posting info from #106 (thanks @delta003):

Assuming there is a internet connection, we can just use Google TTS API
(e.g. http://translate.google.com/translate_tts?tl=en&q=Integrate%20text%20to%20speech)
It should be fast enough and I think it covers all languages as Google Translate

The link is the example of HTTP request. You just make HTTP to translate.google.com/translate_tts setting tl=la

[2015-09-24 09:20] Ar2rZ commented on #108
thing with google tts, i think they not allow to use there tts, i played around with those examples before started localization... there are more online voice engines, so, will do another research, once will finish with translations.

[2015-09-24 10:09] JuliusSweetland commented on #56
Closing - this doesn't affect anything materially.

[2015-09-24 10:09] #56 closed

[2015-09-24 10:11] JuliusSweetland commented on #51
I would like to investigate whether there are any potential roots which may be causing memory "leaks" (I know a true leak is not possible in a managed language, but rooted resources which should be garbage collected are).

Also if there are any performance improvements which could be made.

[2015-09-25 13:01] giandou commented on #73
Hi Julius, OptiKey is a really great Project! I'd like to help in translating into italian and maybe in bug-fixing and so on, does anyone have started a transiflex project?

[2015-09-25 13:19] JuliusSweetland commented on #73
@giandou It's here: https://www.transifex.com/optikey/

Italian is here: https://www.transifex.com/optikey/optikey/language/it/

[2015-09-25 13:58] Ar2rZ commented on #108
https://cloud.google.com/translate/docs
http://weston.ruter.net/2009/12/12/google-tts/

[2015-09-25 21:15] Ar2rZ commented on #108
https://msdn.microsoft.com/en-us/library/hh361572.aspx

[2015-09-26 09:27] JuliusSweetland commented on #73
@feugy - I've posted this on your comment about the restart message being split on the Transifex site, but I've given you the role of Manager on the Transifex project so you can update the source files. Transifex is *meant to* keep backups of the existing translations, but if you update the source English resource file there is a chance that translations could be lost. Here is the advice that Tran

[2015-09-26 13:27] JuliusSweetland commented on #73
FYI I don't necessarily think this is appropriate, but this is an interesting website which can compare various keyboard layouts based on some sample text: http://patorjk.com/keyboard-layout-analyzer

[2015-09-26 13:41] feugy commented on #73
Finally !

The [pull request](https://github.com/JuliusSweetland/OptiKey/pull/115) is ready to be merge :)

For all other translators, be warned that there is 80 new keys to be translated. I'll wait for Julius to validate my work before releasing anything on transifex.

I'll also use transifex forum to explain a little what is the purpose of added tags :)

[2015-09-26 13:54] JuliusSweetland commented on #73
@feugy From a cursory glance it looks great. I've got a couple of things to try and get done this weekend, but I'll merge this in now and check it asap and provide feedback on this issue. Thank you! You've put in a lot of work and it looks excellent.

[2015-09-26 15:13] JuliusSweetland commented on #73
@feugy Just given it a test run - awesome work. It's pretty close to a working release already. Really impressive. Here is my initial feedback:

* Hex symbols (e.g. &amp;) are NOT being converted as they are not directly in the XAML files anymore. Need to replace with actual symbols, new lines, etc.
* Related to the same thing, new lines are now missing from some of the translated strings, e.g. "P

[2015-09-27 08:39] feugy commented on #73
Thank you @JuliusSweetland for your support.
I've taken into account your remarks in https://github.com/JuliusSweetland/OptiKey/pull/116

- I've check the english and french files, only found one `&amp;amp;` (escaped &) and no `&#x0a;` (new line). Visual studio resx editor displays &, but be aware that the resx file itself (which is xml) encodes it as `&amp;`

- Done in French and English files. N

[2015-09-27 08:48] JuliusSweetland commented on #73
@feugy Hi Damian - Thanks for the quick reply. I think readbility is the main consideration here, so I'd like to stick with uppercase. I actually like the look of the camel casing, but like you say, it's not always as easy to read and that's important as user experience has to be the top priority for every decision.

Looking forward to seeing a new version.

[2015-09-27 09:22] JuliusSweetland commented on #73
@feugy I've merged in your latest pull request - the line breaks are working well. You'll notice that the symbols on some of the keyboard keys are now larger as the text was forcing them to resize.

The word list looks better. I have also removed the entries from the french word list that start with numbers. OptiKey doesn't attempt to match entries that don't start with a letter so these would nev

[2015-09-27 10:12] ninehundred1 commented on #73
Let me know by when you need me to update/check the German transifex file.

[2015-09-27 10:13] JuliusSweetland commented on #73
Thanks Stephan. I hope Transifex will send out a notification to everyone,
but someone will post on here either way.

On Sun, 27 Sep 2015 11:12 Stephan Meyer <notifications@github.com> wrote:

[2015-09-27 17:19] feugy commented on #73
@JuliusSweetland, I've pushed pull request https://github.com/JuliusSweetland/OptiKey/pull/117 with uppercased string.

I also thought that it would be nice to have the choice between Upper and Title case (.Net name used for "capitalization").
So I've added a new settings in "Visual" section (under font weight) to allow user to set the transformation.
By default, it's Uppercase.

Then I've hooked

[2015-09-27 20:35] andylamp commented on #73
@JuliusSweetland I will be done soon (in a couple of days) with the Greek translation; then I'll tackle the keyboard as well. Also as I said before Greek Dictionaries are quite large, we will need to look into that a bit.

[2015-09-27 21:07] JuliusSweetland commented on #73
@andylamp Great, thank you. If you submit a pull request when you're done (against the "localisa" branch) we can review. I am interested to see how my code handles non-latin characters as there are a few places where I call .Net functions that determine if a character is a letter or not - hopefully these work across all alphabets, but we'll see.

[2015-09-27 21:10] andylamp commented on #73
@JuliusSweetland cool that's not an issue; I am thinking though after we finish Greek the Japanese translation will probably be much harder... letters are a bit more complex to represent and their dictionary is enormous... but as you said we'll see.

[2015-09-28 10:00] giandou commented on #73
Hi all! The italian string translation is ready for reviews! How to work on italian dictionary? Is it possible to reuse other open source dictionary projects, as aspell?

[2015-09-28 10:07] giandou commented on #73
Hi all! The italian string translation is ready for reviews! How to work on italian dictionary? Is it possible to reuse other open source dictionary projects, as aspell?

[2015-09-28 10:19] JuliusSweetland commented on #73
@giandou Thanks very much. There may be some strings added today that were found by @feugy.

In terms of the word list - yes that sounds good. The basic guidelines are only:

1. The list should be about 50k words
2. No 1 char words (e.g. "a"), even if they are accented or special in some way
3. No entries which begin with numbers, symbols, or anything that isn't a letter

[2015-09-28 10:55] giandou commented on #73
@JuliusSweetland Thank You and to the people that are working on this great project! I've found this dic file, maybe I'll use it (http://www.winedt.org/Dict/). The licence file report the data as public.

[2015-09-28 11:03] JuliusSweetland commented on #73
**ALL** As part of the localisation to French (which is looking almost ready) Damien (@feugy) has added a load of new strings to the source (English) resource file. I have updated the project on Transifex, which is now showing all previously complete languages as incomplete. Could you please fill in the remaining strings and then we can launch French and move on to the next language.

N.B. Where t

[2015-09-28 12:14] JuliusSweetland commented on #73
**ALL** I have attempted to repair French, which still leaves 94 new phrases to translate. The process of copying the suggested values back in (the ones where the source phrase previously had the "&#x0a ;" character, but now has an actual line break) is fairly easy - just select the suggestion, delete the "&#x0a ;" symbol and break the phrase onto 2 or 3 lines as evenly as possible (you don't need

[2015-09-28 12:28] JuliusSweetland commented on #73
@giandou Good find, but I'm not sure how good those dictionary files are. I downloaded the UK English file and it contains a lot of nonsense. Lots of 1 letter words, and 2-4 letter words that looks generated from every combination. It's not terrible, but it's a bit noisy.

[2015-09-28 12:31] JuliusSweetland commented on #73
@feugy What would you like me to do about the 94 missing french strings on the Transifex site? I think they're all in the resource file currently on the "localisa" branch.

[2015-09-28 13:22] ninehundred1 commented on #73
So just to confirm, looking at the transifex file, there is now a little
arrow symbol (like on an enter key) in the original string where there was
the new-line code. That is where the line break is in the original, and in
what way we are splitting the translation, such as

ADD TO⏎ DICTIONARY

turns into
ADD
TO DICTIONARY

in the translation column (obviously in a different language), with no
extr

[2015-09-28 13:35] JuliusSweetland commented on #73
That is all correct. Where you break the line is up to you, just try to
keep the lines as even as possible and only split to two or three lines,
not more. The split string generally needs to fit inside a key on the
screen.

On Mon, 28 Sep 2015 14:22 Stephan Meyer <notifications@github.com> wrote:

[2015-09-28 14:07] giandou commented on #73
@JuliusSweetland Yes, I found that words of lenght minor of 4 char are generated with a sort of combinatory algorithm. I've reviewed all the words of until that lenght, because of that problem. From lenght 5 to the rest the words seems fine, but for the Italian the total set is of 651000 words. I'll try to load the full dic and a subset of max 7 len.

[2015-09-28 14:09] Volluta commented on #73
1 quick question: What is Gaze Tracker? is this a kind of software of is it kind of a eyetracker?

[2015-09-28 14:17] JuliusSweetland commented on #73
@Volluta I believe that string is a product name - the ITU Gaze Tracker application from the university of Copenhagen. You can leave it as is.

[2015-09-28 14:30] Volluta commented on #73
@JuliusSweetland Ok thanks!

[2015-09-28 14:40] Ar2rZ commented on #73
question-  what purpose has to translate languages names?
with every new language will be required to update rexs file.

[2015-09-28 14:42] giandou commented on #73
@Ar2rZ Yes, I've kept it untranslated for italian.

[2015-09-28 14:44] JuliusSweetland commented on #73
I also think language names, tracker company names, etc should be left out
of the translations so we fall through to the English version.

On Mon, 28 Sep 2015 15:42 GianlucaG <notifications@github.com> wrote:

[2015-09-28 14:45] Ar2rZ commented on #73
@JuliusSweetland  just was thinking to write this..

[2015-09-28 15:32] Ar2rZ commented on #73
as per my understanding, those strings should not be put into resx files. as they will be always in English.

[2015-09-28 15:36] JuliusSweetland commented on #73
Agreed. That's what I'll do.

On Mon, 28 Sep 2015 16:32 Ar2rZ <notifications@github.com> wrote:

[2015-09-28 18:45] lucavice commented on #73
Great job @giandou with the Italian translation. I was trying to find a function to just "review" the strings, but yet again when I clicked join on Transifex, it seems to have sent a new request to add Italian (Italy). Sorry @Julius, please deny the request again (it was a mistake the first time as well.

[2015-09-28 18:48] JuliusSweetland commented on #73
No problem.

On Mon, 28 Sep 2015 19:45 Luca <notifications@github.com> wrote:

[2015-09-28 18:48] feugy commented on #73
Hi everyone.
I was busy today so I did not check my email account...
To help everyone understand how to translate, I wrote [this post on transifex](https://www.transifex.com/optikey/teams/50798/discussions/) yesterday.

I naively though everyone will get a notification...

So regarding langage name and devices names, I suggest not to translate them, but not to hardcode them either.
It's easier to

[2015-09-28 18:52] JuliusSweetland commented on #73
So just leave them blank? Can they be excluded from the progress percentage
somehow, as otherwise all languages will be complete at something like 96%
instead of 100%.

On Mon, 28 Sep 2015 19:48 Damien <notifications@github.com> wrote:

[2015-09-28 19:11] feugy commented on #73
Effectively, I can't found any way to exclude keys from translation. So maybe we can hardcode them.

[2015-09-28 20:52] steinarxff commented on #88
If its German only it might be some unicode unicorns.

See:
http://csharpindepth.com/Articles/General/Strings.aspx - scroll down and read "Encoding" and "Culture and internationalization oddities"

consider this aswell

http://stackoverflow.com/a/7471047

Good luck, and I don't think you can reproduce without a german system.

[2015-09-28 21:07] JuliusSweetland commented on #88
Thank you. German localisation will be coming soon so I'll beef up the
logging around this and we can hopefully catch it quickly.

On Mon, 28 Sep 2015 21:52 steinarxff <notifications@github.com> wrote:

[2015-09-28 21:28] JuliusSweetland commented on #73
I just played with the idea of hardcoding them, but actually I like them being in the resource file. I can just manually remove them from each language's resource file when I download it from Transifex. I'll try and prepare the french pre-release now and I'll post a link on here if I complete it now.

[2015-09-28 22:13] JuliusSweetland commented on #73
This is the pre-release of v2.0.12 with support for french. Please read the release notes as OptiKey will ignore your customised dictionary and create a new one (as the language names have had to change). Any problems please post your feedback on this thread so we can tackle them collectively.

https://github.com/JuliusSweetland/OptiKey/releases/tag/v2.0.12_french_pre

[2015-09-28 22:17] JuliusSweetland commented on #73
**ALL** Also, French is now the poster boy for all other languages on Transifex, i.e. there **should be ** 10 strings that you leave untranslated, but don't worry if they are already translated. I can remove them as work is done to support each language individually.

Congratulations to everyone on your effort; OptiKey (barring any major problems that arise) is nearly bi-lingual, with 3 other lang

[2015-09-28 22:23] JuliusSweetland commented on #73
Lastly, for my own benefit really: when localising German I need to revisit this issue #88 as there may be a problem where a German character with an umlauts is converted into two characters. There is a link on that issue.

[2015-09-28 22:50] Ar2rZ commented on #73
on conversational layout, i think instead of "BACK" should be "MENU"...
as when default keyboard is selected conversational layout, there is no back as such, or i am missing something?

[2015-09-28 22:51] Gadal commented on #73
@JuliusSweetland Can you add me as a reviewer for French?  There were several translations that I think should be revisited, but I would rather not simply overwrite the other translators' work.

[2015-09-28 23:53] ninehundred1 commented on #73
I can look at the Umlaut issue. Also I did copy paste the don't translate strings, as that was the only way to get 100% as my competitors French and Dutch had. Will delete them tomorrow.

[2015-09-29 00:04] delta003 commented on #73
I see French language is in alpha testing. Is TTS for French implemented and how? Does Microsoft TTS (used in last version) support French?

[2015-09-29 06:00] JuliusSweetland commented on #73
@Ar2rZ I agree, but instead of having inconsistent translations ("BACK" in English, "MENU" in French) I am going to change the key completely as part of my "v3" changes.

@feugy Done. I had to remove you as a translator before it would allow me to add you back as a reviewer. Let me know if this causes you any problems.

@ninehundred1 It's not a big deal - they can stay in and I'll remove them when

[2015-09-29 06:04] JuliusSweetland commented on #73
**ALL** One question; how bad do you think it is that I've renamed the English languages in OptiKey which will cause any customised user dictionaries to be ignored and a new version created again? Do you think I need to address this issue with a work around in code, or just an explanation on the wiki, or can I just leave it?

[2015-09-29 08:25] Ar2rZ commented on #73
@feugy
 "I'm under Windows 7, so I've installed the Microsoft speech platform runtime and a localised voice (it includes a huge list of voices). It's pretty hard to make it working, but it's all due to Windows."

how you got working this(as on windows 7 installed languages are not visible for OptiKey, only English, as it default language on my system)? any links or instruction?
thanks.

[2015-09-29 08:31] Ar2rZ commented on #73
@JuliusSweetland  i think work around in the code.. not all people will be able to follow the instruction for manual change.

[2015-09-29 08:38] JuliusSweetland commented on #73
@Ar2rZ I'm on Windows 8.1 and 10, but the process may be similar; you have to install a new language pack. On Win 7 try going to Control Panel -> Clock, Language, and Region -> Install or uninstall display languages -> and install the French language pack. On windows 8.1 this adds the Hortense voice. Not sure about Windows 7, but I would expect the process to be roughly the same.

RE: Renaming the

[2015-09-29 09:21] Ar2rZ commented on #73
@JuliusSweetland  source code under this link does not have localisation - https://github.com/JuliusSweetland/OptiKey/releases/tag/v2.0.12_french_pre.

[2015-09-29 09:26] JuliusSweetland commented on #73
@Ar2rZ Good spot - I was very tired last night. I've updated the tag on the release to this https://github.com/JuliusSweetland/OptiKey/tree/v2.0.12_localisa_french

[2015-09-29 10:13] Ar2rZ commented on #73
@JuliusSweetland  do you have already Germany layout?

[2015-09-29 10:18] JuliusSweetland commented on #73
@Ar2rZ No. I have an image of a german keyboard, but that's it. Didn't you say you had done some work on this? I guess there are 4 new keys; ä, ö, ü, and ß?

[2015-09-29 10:23] Ar2rZ commented on #73
i did yesterday Russian layout, will do then Germany today.
will submit those two changes.
as i understood we will use four letters code for languages?

[2015-09-29 10:35] JuliusSweetland commented on #73
@Ar2rZ If you follow the pattern in the localisa branch as it is you should be good. Could we start with German first? I'm anticipating Russian to be complex and I think it should be in it's own set of commits.

[2015-09-29 10:37] Ar2rZ commented on #73
ok, will do.

[2015-09-29 10:58] Ar2rZ commented on #73
according to the french layout... there are another 5 letters which can be added to.....and there is enough space actually.  they do not want to have them all in main letters window?

[2015-09-29 11:04] JuliusSweetland commented on #73
@Ar2rZ Do you mean there are another 5 letters that we could add to the French layout, or 5 new German characters?

I've just thought that if we start adding letters with diacritical marks on them (accents, graves, etc) then I might need to change the way the auto-correct and multi-key selection work as it might ignore them for the moment.

[2015-09-29 11:16] Ar2rZ commented on #73
i mean French.
so, for Germany will behave same?(ignore those  ä, ö, ü, and ß)

[2015-09-29 11:23] JuliusSweetland commented on #73
@Ar2rZ Could you list out the proposed 5 extra french characters? I presume they are the alt characters on the 2, 7, 9, 0 and % keys here:

![image](https://cloud.githubusercontent.com/assets/4722561/10162686/d8607f82-66a4-11e5-85b0-6ecc4b802d27.png)

[2015-09-29 11:36] JuliusSweetland commented on #73
**ALL** Has anyone seen an issue with the new french pre-release where all auto-complete suggestions are in capitals and the auto-capitalise functionality is broken? I have a user in German reporting issues, but I cannot see any reason for it at the moment. Thanks.

[2015-09-29 11:37] Ar2rZ commented on #73
@JuliusSweetland  that's correct. but i don't know how often those diacritics are used in french..

[2015-09-29 11:39] Ar2rZ commented on #73
i have same issue on windows 8.1 English.

[2015-09-29 11:43] JuliusSweetland commented on #73
@Ar2rZ Thanks - I'll have to test, but it might have to be later this week as I'm pretty busy this week.

RE: French characters
I guess they're used enough for them to be alt characters on the main keyboard. Any French natives/speakers want to offer an opinion?

1. Would it be beneficial to include éèçàù on the main keyboard and treat them like normal letters (without accents etc) for the purposes

[2015-09-29 13:02] ninehundred1 commented on #73
For German, you only really need  ä, ö and  ü. The ß is not used anymore
after the spelling revolution of 2002 or something. Also, I don't think I
have seen any digital keyboard have that. People write ss now instead.
Also, as you probably know, the way those special characters are handled on
phones etc is to hold down the button and have another little pop up appear
with the options, as such

htt

[2015-09-29 13:04] Ar2rZ commented on #73
i just will add new keys to the keyboard. no alt key will be required to hold.

[2015-09-29 13:06] ninehundred1 commented on #73
Do you need any help with the german keyboard?

On Tue, Sep 29, 2015 at 9:04 AM, Ar2rZ <notifications@github.com> wrote:

[2015-09-29 13:07] Ar2rZ commented on #73
Nop. will be done by tonight, i presume.

[2015-09-29 13:07] JuliusSweetland commented on #73
@ninehundred1 Interesting idea. I'll have a think about that. I really like "power user" features like that, but I worry that they can confuse a lot of users. The multi-key select feature seems to confuse some users at the moment, hence why I added the ability to disable it completely. I'll give your idea some thought.

[2015-09-29 13:09] JuliusSweetland commented on #73
@ninehundred1 Also that's interesting about the ß - do you think it would still have some value to include it, as some German words in the dictionary will still use that character (presumably)? The only downside would be the potential issue #88 where the ß may be converted to 2 "s" characters when counted, but ß is on the DIACRITICS keyboard, so I'll have to solve that problem anyway.

[2015-09-29 13:19] ninehundred1 commented on #73
I don't think there is a value to include it. Especially in this case, it is easier to type ss than to go find the ß. I don't think it is even in most modern online type dictionaries anymore and I almost never see anybody use it in emails, on message boards, etc.
I found a few uses in the current dictionary we have (presumably GermanShort2) but I would replace those by ss which is the new spelling

[2015-09-29 13:22] JuliusSweetland commented on #73
@ninehundred1 That sounds reasonable to me. If you have time on the "localisa" branch would you;

1. Remove the other candidate German dictionaries
2. Rename GermanShort2.dic -> GermanGermany.dic
3. Replace all instances of ß with "ss"
4. Submit a pull request and I'll merge that back in

Then we'd have a solid candidate German dictionary.

[2015-09-29 13:23] Ar2rZ commented on #73
there is no problem to add one additional key... is just matter whether we include this or not. from my point of view is no harm if this letter will be there..

[2015-09-29 13:28] JuliusSweetland commented on #73
**RE: French**

Before we steam ahead with German we still have some outstanding tasks with French;

1. Find and fix the issue where auto-complete and multi-key selections are producing uppercase/incorrectly cased suggestions.

2. @feugy wanted to alter some of the translations in the resource file

3. Decide whether we want to include any special characters on the French keyboards, namely éèçàù.

[2015-09-29 13:32] JuliusSweetland commented on #73
But if the future of German keyboards and language is away from this
character I'd prefer to drop support for it.

On Tue, 29 Sep 2015 14:23 Ar2rZ <notifications@github.com> wrote:

[2015-09-29 13:47] JuliusSweetland commented on #73
From a quick glance over the code I think the auto-complete and multi-key selection matching will both ignore diacritic marks, so "e"/"é"/"è"/etc will be considered as "e" and match to anything that is based on e ("e"/"é"/"è"/etc). I would just need to make a small change to the multi-key selection logic so that a "capture" can begin on an accented character.

[2015-09-29 13:58] ninehundred1 commented on #73
I think people get away from using it online. If you want to be completely
correct, it still is used in certain cases, but online, it is not the norm.
There even is an official rule that states that if the key is not
available, ss is to be used instead. So it is the choice, we can include
it, and be 100% proper, or not, and be still correct.
The best way though would be if autocorrect corrects the

[2015-09-29 14:07] JuliusSweetland commented on #73
What do you guys think about NOT including special characters on the main keyboard? If I'm going to ignore the accent/grave/etc when matching them to the dictionary then the only time they will be useful is when the word is not in the dictionary and is being entered manually. I don't think it's unreasonable to expect the user to switch to the DIACRITIC keyboard to enter the special character (I am

[2015-09-29 14:12] ninehundred1 commented on #73
I would think that is better also.

On Tue, Sep 29, 2015 at 10:08 AM, Julius <notifications@github.com> wrote:

[2015-09-29 14:13] Ar2rZ commented on #73
that means no customized layout for Germany? it will be used English then..

[2015-09-29 14:17] JuliusSweetland commented on #73
@Ar2rZ The "Z" and "Y" keys are swapped. We could start simply and see how it feels? If it isn't right then we can add them in and address the questions about how auto-correct and multi-key selection should behave. I'm making some progress with my "v3" branch changes, which will include the ability to switch between keyboards much faster, so we could combine all this soon-ish and see if the soluti

[2015-09-29 14:25] Ar2rZ commented on #73
did not spotted that z and y is swapped... completely forgotten about his..

[2015-09-29 14:27] JuliusSweetland commented on #73
@Ar2rZ No problem - this is all new for me so I'm learning as I go.

[2015-09-29 14:39] ninehundred1 commented on #73
That looks good otherwise. I translated Ctrl to Strg, so that matches here
as well.

On Tue, Sep 29, 2015 at 10:27 AM, Julius <notifications@github.com> wrote:

[2015-09-29 14:55] JuliusSweetland commented on #73
@ninehundred1 I am a bit short on time this week, but I will take a look at your code as soon as I can and get back to you.

i am running from VS2013
sorry, see all suggestions in capital letters.
Auto capitalize - is new sentence starts after dot? if answer is "yes", then is same issue then.

@Ar2rZ I haven't seen this. The other use who saw this suggested that it went away when he stopped using

[2015-09-29 15:26] Ar2rZ commented on #73
@JuliusSweetland  will be able look at this more tomorrow..

[2015-09-29 15:34] JuliusSweetland commented on #73
@Ar2rZ Ok thanks. No rush. I'd rather we take our time and get each language out slowly, but correctly.

[2015-09-29 21:44] JuliusSweetland commented on #73
**ALL** New version of the French pre-release is here: https://github.com/JuliusSweetland/OptiKey/releases/tag/v2.0.12_localisa_french_2

Fixed:
1.Old user dictionaries are now auto-migrated to the new user dictionary names so nothing is lost.
2.Suggestions (auto-complete and multi-key select) are now cased correctly, rather than being uppercase.
3.Not a change, but I tested the behaviour of speci

[2015-09-30 05:28] feugy commented on #73
You are really incredible. I was off for only one day and you've done so many things in the meantim :)

@Gadal you are now a french reviewer. Are you able to launch Optiflex to see where strings are used ? It's the best way to check if anything is properly translated. If you can't, I'll do it once you've finished your suggestions.

@Ar2rZ I'm still struggling with Hortence on Windows 7 (Ultimate,

[2015-09-30 05:52] feugy commented on #73
@Ar2rZ, @JuliusSweetland I dropped Hortence, and installed [RealSpeak voices](https://www.freedomscientific.com/Downloads/synthesizers) named Sebastien and Virginie. Works like a charm, in windows AND in Optikey.

Just choose "Real speak Solo Direct" in the first combo.

[2015-09-30 06:00] JuliusSweetland commented on #73
@feugy I'll give you all a few days to play with the French version. I think you said somewhere (not in this thread) that some of the translations looked a bit odd so you wanted to take a look. I had to manually repair the ones broken with a newline after re-uploading the source english resource (to include the new strings you found) so perhaps I made some bad choices? Either way I'll wait until e

[2015-09-30 06:08] JuliusSweetland commented on #73
@feugy Did you have to install anything apart from the voice file to get the Real Speak voices to work with OptiKey? On Windows 8.1 I installed a couple of voices, but they are not available to me?

[2015-09-30 08:54] Gadal commented on #73
@feugy Sweet, thanks.  I'm on linux.  Optikey's currently only working on Windows, right?

[2015-09-30 08:54] Ar2rZ commented on #108
https://www.freedomscientific.com/Downloads/synthesizers

[2015-09-30 09:07] JuliusSweetland commented on #73
Only Windows at the moment. There would have to me major work to make it
cross platform.

On Wed, 30 Sep 2015 09:54 Dustin Gadal <notifications@github.com> wrote:

[2015-09-30 09:28] Ar2rZ commented on #73
RealSpeak voices does not working for windows 8.1

[2015-09-30 09:37] JuliusSweetland commented on #73
Ah ok. I need to add some info to the OptiKey wiki when I get a chance.

On Wed, 30 Sep 2015 10:28 Ar2rZ <notifications@github.com> wrote:

[2015-09-30 09:52] Ar2rZ commented on #73
probably wrong description - is not working for win 8.1 as per my tests.

[2015-09-30 13:55] ninehundred1 commented on #73
I delete all the German alternative dictionaries and fixed the 'short' one
where there were some letters showing as ?. I think it should be ready to
be used now. Created a pull request but there was some message about not
being able to merge automatically, etc.

On Wed, Sep 30, 2015 at 5:52 AM, Ar2rZ <notifications@github.com> wrote:

[2015-10-01 09:12] Ar2rZ commented on #73
Languages ISO table - https://msdn.microsoft.com/en-us/library/ee825488%28v=cs.20%29.aspx?f=255&MSPPError=-2147217396

[2015-10-01 09:30] Ar2rZ commented on #73
@JuliusSweetland  pull request done for German layout, but not sure whether is going into correct branch. can you check? thanks.

[2015-10-01 09:58] Ar2rZ commented on #73
looks like is in correct branch now.

[2015-10-01 10:01] JuliusSweetland commented on #73
Thanks. I'll try to find time to look at both pull requests this evening.

On Thu, 1 Oct 2015 10:58 Ar2rZ <notifications@github.com> wrote:

[2015-10-01 10:16] Ar2rZ commented on #73
the thing is - i probably synced  from your master branch, it will contain all changes made for french as well. need to learn how use GitHub properly.

[2015-10-01 10:19] JuliusSweetland commented on #73
I'll take a look and let you know. When you're on your fork of the localisa
branch you should pull before you commit. That updates your branch from
mine and allows you to resolve any merge problems before you submit the
whole lot.

On Thu, 1 Oct 2015 11:16 Ar2rZ <notifications@github.com> wrote:

[2015-10-01 10:21] Ar2rZ commented on #73
ok, i will play around it.

[2015-10-01 13:04] JuliusSweetland commented on #73
**ALL** So I can add something to the wiki soon how are people finding the Real Speak voices and has anyone worked out if they are Windows 7 only?

[2015-10-01 13:09] Ar2rZ commented on #73
so, RealSpeak is working for 8.1 but, OptiKey is not picking up the RealSpeak voices on Windows 8.1.

[2015-10-01 13:12] Ar2rZ commented on #73
additionally installed voices from Microsoft are not picked up by OptiKey on Windows 7.
will try today  install RealSpeak on windows 7 and see what's happening.

[2015-10-01 13:26] JuliusSweetland commented on #73
When I installed the Real Speak voices on Windows 8.1 I saw the same thing,
i.e. they were not recognised by Windows for use in the Windows narrator
etc, and do not available to OptiKey. However, if I install a new language
pack like French (not just changing my system language, but actually
downloading and installing the full language pack (about 150mb I think)
then new voices are installed in Wi

[2015-10-01 18:02] Ar2rZ commented on #73
@JuliusSweetland  you don't want to update localise branch with French updates on master?

[2015-10-01 18:08] JuliusSweetland commented on #73
Sorry yes you are right. I need to merge localisa to master and create a
new branch for German. I want to wait for more testing of the French pre
release before I merge it to master, so would it be ok for everyone to wait
a day or two?

**ALL** I need some feedback on the French pre release. Does it seem to
work? It looks ok to me, but I've not had time to really try it out.

On Thu, 1 Oct 2015 19

[2015-10-01 18:44] Ar2rZ commented on #73
another try, pull request is done.
but i think is again wrong, as all changes for French are already there..
i forked your localisa branch, but once i open the solution all changes from master are there as well..

[2015-10-01 18:48] Ar2rZ commented on #73
another point, you do not need to add new strings for languages names into rexs for other languages(no updates in Transifex needed) if you will keep then in English.
if string is missing for this language it will pick up from default rexs file.

[2015-10-01 18:55] Ar2rZ commented on #73
i am probably thinking wrong. the changes are in localisa branch, master does not have those French.

[2015-10-01 19:04] JuliusSweetland commented on #73
I have just created a new German branch here: https://github.com/JuliusSweetland/OptiKey/tree/German

Please fork and make your German changes to that.

[2015-10-01 19:07] JuliusSweetland commented on #73
@Ar2rZ @ninehundred1 I have a meeting now, but if you change your branches to track my new German branch and re-submit your pull requests then they will be on the new German branch. "German" and "localisa" are perfectly in line right now so there shouldn't be any messing about.

[2015-10-01 19:23] Ar2rZ commented on #73
ok, i did already..
but i think, you probably can accept those first pull requests on German branch and deny pull requests on localisa branch., or i am again wrong?

[2015-10-01 19:32] JuliusSweetland commented on #73
I'll try after dinner... bear with me.

[2015-10-01 19:35] Ar2rZ commented on #73
sure, enjoy your eve.

[2015-10-01 20:47] Ar2rZ commented on #73
one question about github - why once i open the project in VS 2013 it always creates another version of "Settings" with name "Settings1" ?

[2015-10-01 20:50] JuliusSweetland commented on #73
@Ar2rZ I get this sometimes. Open your JuliusSweetland.OptiKey.csproj file in a text editor and search for "Settings1" and revert it to "Settings". For some reason Visual Studio creates the new Settings1 file and then stores "Settings1" as the last generated settings file name in the csproj file, so it keeps doing it. Unload the project, make the change, and load it again. You should be good again

[2015-10-01 20:58] Ar2rZ commented on #73
ok, thanks

[2015-10-01 21:02] ninehundred1 commented on #73
Ok, I made a new pull request to the german branch, from my up to date
localisa branch with the fixed german dictionary. If that was wrong, let me
know.

On Thu, Oct 1, 2015 at 4:58 PM, Ar2rZ <notifications@github.com> wrote:

[2015-10-01 21:04] JuliusSweetland commented on #73
@ninehundred1 I saw it come in. Looks good. I'm just closing the "localisa" branch and then I'll merge the outstanding pull requests into the "German" branch. Thank you.

[2015-10-01 21:06] ninehundred1 commented on #73
Thank you, now go get beers.

On Thu, Oct 1, 2015 at 5:04 PM, Julius <notifications@github.com> wrote:

[2015-10-01 21:07] JuliusSweetland commented on #73
I'm biting the bullet. I've merged "localisa" into "master" and will release the new French support as v2.1.0.

[2015-10-01 21:13] Ar2rZ commented on #73
nice. well done. which language will be next after German?

[2015-10-01 21:15] JuliusSweetland commented on #73
No decision yet. There are a few languages on Transifex which are complete so we can choose one when German is looking ready to test. Let's leave the decision for a bit.

[2015-10-01 22:24] JuliusSweetland commented on #73
Germa branch all merged in and set up. I have added the German translations from Transifex. There are two current issues:

1.The dictionary is larger than it needs to be as multiple cased versions of words exist (e.g. below). I don't speak German, but almost all words should be lower case as OptiKey will case them according to whether the SHIFT key is down. Only proper nouns (names of people, thin

[2015-10-01 22:30] JuliusSweetland commented on #73
**ALL** So you all know I may be a bit absent over Friday and the weekend. I have a few OptiKey and personal engagements and need to take a short break if I can as I'm flagging a bit. I'll pick everything up again on Sunday/Monday though. Have a good weekend everyone, and congrats again on the French release (v2.1.0) and the fact that German is looking good already.

FYI If anyone testing German e

[2015-10-01 22:47] Ar2rZ commented on #73
ok, have good weekend.
i will test over weekend.

[2015-10-01 22:50] JuliusSweetland commented on #73
@Ar2rZ Thanks very much

[2015-10-01 22:51] Ar2rZ commented on #73
in German all nouns are in capital..

[2015-10-01 22:53] Ar2rZ commented on #73
how to reproduce this #88 issue?

[2015-10-01 22:58] JuliusSweetland commented on #73
I didn't know that - so is the lower case version required then?

No idea yet. I may need to add more logging around that method so when it crashes for someone I can see what happened. At the moment I'm guessing that the character count is too high/low due to a possible double count of letters such as ß - not sure though.

[2015-10-01 23:03] Ar2rZ commented on #73
i mean first letter is capital for all  nouns.
if i correct understood, then yes, while it will be two different words. but probably need to ask @ninehundred1 to confirm(but i am sure for 99%).

#88 ok, will play around it.

[2015-10-01 23:11] Ar2rZ commented on #73
and about "halt" and "hält" are as well two different words.those diacritics are not only to specify in this case it will "halt" and "holding" , depends where those words are used, can have completely different meaning.
but as well @ninehundred1 to confirm.

[2015-10-01 23:23] ninehundred1 commented on #73
I will reply to all tomorrow about the German issues. I'm doing what you guys should do, have a beer. Is it not 2am over there?

[2015-10-02 12:54] giandou commented on #73
Hi all! @JuliusSweetland the translation of the strings and the dictionary for italian is almost done, if I can port it into OptiKey! Sorry for the maybe repeated question, but how can I try them? There's a wiki page describing with the necessary steps?
Thank You all!

P.s. Maybe useful... Did You know MS Keyboard Layout Creator (http://go.microsoft.com/fwlink/?LinkId=82315&clcid=0x409)? It can be

[2015-10-02 12:58] ninehundred1 commented on #73
Ok, I changed the format to UTF8.

As for the words, there are 4 things that make a German dictionary larger than an English one and also is the big trouble learners of German face:

1. Capitalisation
Arthur has already pointed out, all nouns are capital, and words with the same spelling have different meanings For the ones you posted:

just, even

Grip, Stop

he/she holds

Stop

I am not sure thi

[2015-10-02 13:28] JuliusSweetland commented on #73
I've already done that - get latest from the "German" branch

[2015-10-02 13:49] JuliusSweetland commented on #73
@giandou The keyboard layout tool is a good resource - thank you. In terms of trying out a language you need to:

1.From the management console -> "Words" tab -> change the language
2.From the management console -> "Sounds" tab -> change the voice to a TTS voice for that language.

Step 2 is not strictly required, but if you don't do it it will sound like a non-native speaker trying to speak your

[2015-10-02 13:53] ninehundred1 commented on #73
I am still looking around. There are some weird words in there I have to
admit, that probably nobody ever uses. I can start to manually remove
those, but that might take some time. What is more important is if it
actually works for the common phrases. Maybe I just throw together a quick
autocorrect script and try it out typing some emails. I can then start to
manually remove the words I think are

[2015-10-02 13:54] JuliusSweetland commented on #73
That sounds like a plan.

On Fri, 2 Oct 2015 14:53 Stephan Meyer <notifications@github.com> wrote:

[2015-10-02 16:42] ninehundred1 commented on #73
I looked around for a bit and there is no dictionary that is what we want
around (50k, has all the verb forms etc), so I started to manually go
through all the entries and delete the ones I think are not needed. That
might take until mid/end next week (70k words), so while you can test run
the german version, you might need to wait for the actual release once that
is all done.
Or maybe somebody so

[2015-10-02 19:40] Ar2rZ commented on #73
@JuliusSweetland can you send me Russian resx file.

[2015-10-02 20:09] Ar2rZ commented on #73
@ibakaidov  will you review Russian translation on Transifex?

[2015-10-03 21:39] Ar2rZ commented on #73
There is no OptiKey visible when is clicked on start button on Windows 8.1. Or  you cant choose programs from start screen?

[2015-10-03 21:41] JuliusSweetland commented on #73
In Windows 8.1 you have to pin applications to the start screen. If the
start screen (the tile interface) opens and OptiKey is missing this is
normal as you have to manually pin it there. Is that what you mean?

On Sat, 3 Oct 2015 22:39 Ar2rZ <notifications@github.com> wrote:

[2015-10-03 22:08] Ar2rZ commented on #73
no no, a was expecting to see OptiKey dock over Start screen. or this just not supported?

[2015-10-03 22:10] JuliusSweetland commented on #73
Oh I see. Did you build OptiKey yourself, or is this with an official
release? If you built it yourself it don't hover above everything as
UIAccess will be off (as you need to sign the assembly).

On Sat, 3 Oct 2015 23:08 Ar2rZ <notifications@github.com> wrote:

[2015-10-03 22:11] Ar2rZ commented on #73
thats my build.

[2015-10-03 22:11] Ar2rZ commented on #73
thats explains.

[2015-10-03 22:44] Ar2rZ commented on #73
could not reproduce #88 ....

[2015-10-05 03:07] Yano93 opened #129 "Hi"
I can translate english,Norwegian, Japanese, give me some work to do! My email is ltachiailin@gmail.com

[2015-10-05 08:32] JuliusSweetland commented on #129
Hi, please join us. The localisation task is being discussed here:https://github.com/JuliusSweetland/OptiKey/issues/73
The actual translation is being done on this site: transifex.com/optikey/ - register as a translator for the languages you can speak and it'll give you a list of strings to translate.
Thank you and welcome aboard!

[2015-10-05 08:32] #129 closed

[2015-10-05 08:48] Ar2rZ commented on #73
Good morning ,
@JuliusSweetland
so, as i am understood - all changes made to the branch after #126  pull request are included into this pull request as well?!?

[2015-10-05 09:08] JuliusSweetland commented on #73
@Ar2rZ When you create a pull request it will include everything that diverges from the branch you are requesting to pull to. In this case you have added 3 commits (inlcuding some changes for Russian) so all 3 will be included. I have already made the changes from this commit https://github.com/Ar2rZ/OptiKey/commit/e090a4c4e42f3f732726e17115d686d2fdf131b7 but it looks like they didn't sync. I'll p

[2015-10-05 09:13] Ar2rZ commented on #73
ok. i'll do. thanks.

[2015-10-05 09:39] Ar2rZ commented on #73
for Lithuanian(probably Latvian as well) i will change a diacritics layouts keys sequence as well.. as there are some of them which are used very often in Lithuanian, but they are in second or third screen.

[2015-10-05 09:47] JuliusSweetland commented on #73
@Ar2rZ I have created "Lithuanian" and "Latvian" branches for you. If you could keep all changes on the correct branches that will make everything much easier to check and merge later. This approach is called the "Feature Branch Workflow" and gives us much more control of what and when we merge things into master for release.

In terms of changing the diacritics key ordering - that sounds like a g

[2015-10-05 10:03] Ar2rZ commented on #73
Russian, Lithuanian and Latvian branches are branched  from master?

[2015-10-05 10:05] JuliusSweetland commented on #73
That's correct. All language specific changes should be segregated. Master
includes all localisation changes up to the release of French, so should be
a stable platform to build upon.

On Mon, 5 Oct 2015 11:03 Ar2rZ <notifications@github.com> wrote:

[2015-10-05 11:18] drcpcreed opened #130 "Left Mouse Click"
Hello, I'm currently testing out the latest version (2.1.0.0) and the left-click doesn't seem to be working for me in mouse mode.

I've got an older version (1.3.5.0) working on a different laptop and it seems to be fine there.

Not sure if this is a common problem?

[2015-10-05 11:21] JuliusSweetland commented on #130
Can you provide more details about when left click is and is not working? thanks.

[2015-10-05 11:28] drcpcreed commented on #130
Yes, I’ve got the Chrome browser open and trying to select the username/password fields in Gmail to login. I’ve tried using both the magnifier + left click and a left click on its own, but neither place the cursor in the field (although the click sound is played). I’ve also just tried creating a new tab within the browser, but again I don’t think it’s registering the click.

The right click seems

[2015-10-05 11:38] drcpcreed commented on #130
A few more details – it seems like the left click moves the cursor to the location where you want to make a selection, but then is not actually performing the click. For example, if I look at the minimise icon in the web browser (with left click enabled), it highlights that icon (i.e. like it’s in a hover state), but the minimise action doesn’t happen.

The same also happens with applications in t

[2015-10-05 11:46] JuliusSweetland commented on #130
I'll try this evening. Which OS are you using and are you using the mouse
keyboard in a collapsed state (where there are only 6 or so available
actions), or the expanded state (where there are about 20 actions)?

On Mon, 5 Oct 2015 12:38 drcpcreed <notifications@github.com> wrote:

[2015-10-05 11:52] drcpcreed commented on #130
Great, thanks. Using Windows 8.1 – with the mouse in collapsed mode.

From: Julius [mailto:notifications@github.com]
Sent: 05 October 2015 12:46
To: JuliusSweetland/OptiKey
Cc: drcpcreed
Subject: Re: [OptiKey] Left Mouse Click (#130)

I'll try this evening. Which OS are you using and are you using the mouse
keyboard in a collapsed state (where there are only 6 or so available
actions), or the expa

[2015-10-05 12:59] ninehundred1 commented on #73
Is there a way to compare the performance of a 100k vs a 50k dictionary?

On Mon, Oct 5, 2015 at 6:05 AM, Julius <notifications@github.com> wrote:

[2015-10-05 13:02] JuliusSweetland commented on #73
There is no official way of measuring performance at the moment. Give it a
go though and see how it feels, but obviously factor in how quick your
machine is. If you're running OptiKey on a supercomputer and it still feels
quick then don't expect that will be true for the rest of us.

On Mon, 5 Oct 2015 13:59 Stephan Meyer <notifications@github.com> wrote:

[2015-10-05 13:25] drcpcreed commented on #130
Just a quick update – I think I’ve resolved this – it seems that the Mouse Warp feature for the Tobii EyeX may have been interfering. I’ve disabled it and everything seems to be working fine now.

From: Julius [mailto:notifications@github.com]
Sent: 05 October 2015 12:46
To: JuliusSweetland/OptiKey
Cc: drcpcreed
Subject: Re: [OptiKey] Left Mouse Click (#130)

I'll try this evening. Which OS are yo

[2015-10-05 13:30] JuliusSweetland commented on #130
Excellent - great catch. I suspect that other software will be hooking mouse events so running more than one at a time will cause unexpected behaviour. I'll keep this in mind should other people experience similar problems. Thanks for finding this. I'll close this issue now.

[2015-10-05 13:30] #130 closed

[2015-10-05 15:54] ninehundred1 commented on #73
Ok, I will try it out, what would you say is a comfortable upper limit you
feel good with? 50k, 70k?

On Mon, Oct 5, 2015 at 9:03 AM, Julius <notifications@github.com> wrote:

[2015-10-05 15:54] Ar2rZ commented on #73
What we decided to do with Languages names?
will we translate them in localized rsx file, or in default resx file?

[2015-10-05 16:00] danielmoncada commented on #51
I can start to look into this as well. Typical issues with WPF include not making specific UI elements 'Freezable' as well as not unsubscribing from events correctly. Lambda event handlers should probably be made into delegate methods so that a "-=" is allowed.

[2015-10-05 16:22] JuliusSweetland commented on #73
@ninehundred1 From memory English is about 50k, German about 75k. I'd guess 75k would be a good working upper limit.

@Ar2rZ The strings should be in the base resx file only. I am leaning towards these strings being a combination of english and local language, e.g.

"English (UK)"
"French (France) / Française (France)"
"German (Germany) / Deutsch (Deutschland)"

What do you think?

[2015-10-05 16:24] Ar2rZ commented on #73
yea, good idea.

[2015-10-05 16:25] JuliusSweetland commented on #51
@danielmoncada Thanks - although I wouldn't change lambda event handlers just for the sake of it as it's possible to unhook them. See here: https://github.com/JuliusSweetland/OptiKey/blob/master/src/UI/Controls/KeyboardHost.cs#L284
Otherwise yes, any help with performance improvement would be great. Thank you.

[2015-10-05 16:26] JuliusSweetland commented on #73
I'll change French on master this evening as I have to make a few other changes if I have a moment.

[2015-10-05 19:22] ninehundred1 commented on #73
I made a brand new 60k German dictionary by pooling three truncated
commonly used word lists and then to that adding basic German word lists.
So this should now include the mostly spoken words in most common
conjugations as well as the major words used. To keep it small, specialty
words are not included (as landing gear, HDMI cablet, etc).
I will try it out still.
Tried to merge it to the German b

[2015-10-05 20:43] JuliusSweetland commented on #73
I've updated the French resource string on master, then merged that change onto all other current language branches (German, Russian, Lithuanian, and Latvian) so everything is at the same point against master.

I'll look at some of the localisation related pull requests now.

@ninehundred1 Great stuff, thank you.

[2015-10-05 21:49] JuliusSweetland commented on #73
**ALL** I have merged in the relevent pull requests and brought each language branch into line. I've quickly tested to make sure the merges are stable and everything builds. I suggest you pull from whichever language branch you are on before you continue testing or development.

[2015-10-05 22:53] Ar2rZ commented on #73
i can create for Italian and Dutch as well. as translation for those languages seems to be ready..

[2015-10-06 02:15] chadkulesa commented on #14
I've created a test project with nunit, and wrote a couple unit tests.

The main project is directly under src, Do you want to keep the test project outside of src, or move the main project into a sub folder of src and have the test project be under src as well?

[2015-10-06 05:44] JuliusSweetland commented on #73
Let's hold off for the moment. We've got 4 in progress languages. It's more
work merging changes across all these branches to be honest. I'd like to
get German completed before we move on again.

On Mon, 5 Oct 2015 23:53 Ar2rZ <notifications@github.com> wrote:

[2015-10-06 05:45] JuliusSweetland commented on #14
Looking forward to seeing it. I think sub folders of src would be good.

On Tue, 6 Oct 2015 03:15 chadkulesa <notifications@github.com> wrote:

[2015-10-06 07:52] JuliusSweetland commented on #73
**German** I noticed from a quick test last night that when German is selected the icons shrink slightly, which is caused by the text on each key (the text that is shown when a key "is current"/"has focus") being a bit too long. A few keys have text that spans across the entire width of the key. It may not be possible, but is there any way to trim the longest text, or insert a line break in them?

[2015-10-06 08:31] kirstymcnaught opened #133 "Mouse control doesn't work from expanded dock"
Using Windows 8.1, bug present in (at least) v2.0.12 and v2.1.0.

Replication steps (v2.0.12)
- Launch OptiKey
- Click "Mouse"
- The small mouse control panel appears
- Click "Left Click"
- The mouse pointer is enlarged, and the next dwell outside the OptiKey panel results in a left click (correct behaviour)
- Click "Expand panel"
- The large mouse control panel appears
- Click "Left Click"
- Noth

[2015-10-06 09:09] Ar2rZ commented on #73
looks like shift button definition is a bit to long.

[2015-10-06 09:31] ninehundred1 commented on #73
Will do that when in office in 3 hours. Anything else you noticed?

[2015-10-06 09:33] JuliusSweetland commented on #73
I haven't tested thoroughly, just kicked the tires as I needed to get to
sleep, but it looked good.

On Tue, 6 Oct 2015 10:31 Stephan Meyer <notifications@github.com> wrote:

[2015-10-06 09:37] ninehundred1 commented on #73
Ok. I will try to run the thing. I suppose I do my own build from the current German branch? I need to look up how to do that but I'm sure there are plenty of instructions online for that

[2015-10-06 09:40] JuliusSweetland commented on #73
That's correct. I will build a German test candidate as soon as I get a
chance. Maybe tonight, but I've got a podcast recording to do also.

On Tue, 6 Oct 2015 10:37 Stephan Meyer <notifications@github.com> wrote:

[2015-10-06 09:45] Ar2rZ commented on #73
looks like those buttons definitions are a bit to long
sleep
shift button
add to dictionary - on all screens where is available
re-calibrate - on menu screen and on conversational keyboard

need to look at this ALPHA  string, this is related to Physical keys screen,but i can't determine which string is causing shrinking.

[2015-10-06 10:06] ninehundred1 commented on #73
Will fix those. Arthur would your build run on my windows 7?

[2015-10-06 10:07] Ar2rZ commented on #73
yop.

[2015-10-06 10:07] ninehundred1 commented on #73
Actually I will figure out how to do that so I can just build it again after each change without the need to bother you guys.

[2015-10-06 10:08] JuliusSweetland commented on #73
It should yes. The only difference between my builds and anyone else
building from source is that I sign my assemblies and turn on UIAccess,
which allows OptiKey to hover over everything, including the start menu
screen in Windows 8/8.1.

On Tue, 6 Oct 2015 11:06 Stephan Meyer <notifications@github.com> wrote:

[2015-10-06 10:08] Ar2rZ commented on #73
just change string in German resource file , build it and run.

[2015-10-06 10:18] JuliusSweetland commented on #133
@kirstymcnaught Thanks for reporting this (and excellent information! I wish everyone supplied videos). The issue is that you are selecting left mouse click AT CURRENT LOCATION.

I maybe need to think about how to make this clearer, but the top set of actions on the expanded mouse screen, under "Do at current location..." perform the mouse action wherever the cursor is currently. As you are contro

[2015-10-06 10:18] #133 closed

[2015-10-06 10:39] kirstymcnaught opened #134 "Confusing mental model for docking/window position"
I've played about with OptiKey for a while, and I can't figure out how to switch between 'Docked' and 'Floating' mode, and how the user is supposed to understand the difference. In the code, there's a concept of 'Docked' window state, vs. 'Floating' window state. In my mental model, this is the difference between being snapped to somewhere specific, vs. floating at an arbitrary position. However,

[2015-10-06 10:46] kirstymcnaught commented on #133
Thanks for the clarification, I'll have a play with the EyeTribe as input. One of the things that I think contributed to my confusion is that I'd been using it in the minimised dock mode, and then when I expanded it, the icons were in a different place but my eye snapped to the closest ones (which happen to be "do at current location") and expected them to behave like the ones in the minimised doc

[2015-10-06 10:50] JuliusSweetland commented on #133
@kirstymcnaught Absolutely. I now have to decide if it's a good idea to swap them over and risk confusing users who are used to their current locations! Hmm.

[2015-10-06 11:11] kirstymcnaught commented on #133
I just tried out the 'move to point' then 'click at point' workflow with an EyeTribe, and, wow, that's a very different way to do mouse control. I hadn't come across that workflow before, otherwise I might have been more likely to understand the two different paradigms. How likely is it that a user will frequently switch between the two methods? Having duplicate icons on the same view feels a bit

[2015-10-06 12:23] JuliusSweetland commented on #133
@kirstymcnaught I can't really say how likely it is for a user to want to perform "At current location" actions, but I chose to include them as it facilitates actions which otherwise would be extremely difficult or impossible to perform, such as very precise drag actions, or precisely targeted click actions.

I think that most people won't need any of these extra mouse actions, which is why the mo

[2015-10-06 12:28] JuliusSweetland commented on #134
@kirstymcnaught I think the biggest issue here is my lack of accurate documentation (either on the wiki or instructional videos). These will follow, I've just been extremely busy recently.

When you start OptiKey it is docked to the top edge by default. Go to the menu and then the "Size & Position" keyboard and use the "Move" arrows to move OptiKey away from the docked edge. It should break away f

[2015-10-06 13:07] ninehundred1 commented on #73
i tried to build it using

msbuild
 C:\Users\Meyer\Documents\GitHub\OptiKey_german\OptiKey\src\JuliusSweetland.OptiKey.csproj

and it fails with the error:
The tag 'ChangePropertyAction' does not exist in XML namespace.
Line 31 position 26

On Tue, Oct 6, 2015 at 6:08 AM, Julius <notifications@github.com> wrote:

[2015-10-06 13:14] JuliusSweetland commented on #73
I'll prepare a pre-release build of the German branch this evening. I'm not sure why msbuild is giving you errors, but there are other things that may need setting up, e.g. the NuGet package manager.

[2015-10-06 13:21] ninehundred1 commented on #73
Ok, no rush, I fixed the strings in the german resource and will make a
pull request. Generally, are all those strings all capital?

On Tue, Oct 6, 2015 at 9:15 AM, Julius <notifications@github.com> wrote:

[2015-10-06 13:22] JuliusSweetland commented on #73
Strings used on keys are uppercase, yes. If you follow the pattern in the
English source resource file you'll be correct.

On Tue, 6 Oct 2015 14:21 Stephan Meyer <notifications@github.com> wrote:

[2015-10-06 13:46] kirstymcnaught opened #135 ""Magnetic cursor" doesn't respect sleep mode."
Reported for OptiKey v2.1.0, Windows 8.1, using EyeTribe as input.

Use case - wanting to close OptiKey with the mouse while using a very badly calibrated Eye Tracker.

- Launch OptiKey
- Go to "Mouse"
- Turn on "Magnetic Cursor"
- "Back"
- "Sleep"

OptiKey is now in sleep mode, but the cursor is still being controlled by the EyeGaze.

[2015-10-06 14:18] Ar2rZ commented on #73
Do't we need "Apply" button on settings?

[2015-10-06 14:23] JuliusSweetland commented on #73
I've never understood the point of that. I prefer the user to accept their
charges (ok = apply and close the settings screen), or cancel out. What
does it mean to apply the changes, but stay in the settings screen?
Especially if some changes require a restart anyway.

On Tue, 6 Oct 2015 15:18 Ar2rZ <notifications@github.com> wrote:

[2015-10-06 14:28] ninehundred1 commented on #73
I think it gives the user the feeling he actually changed things. Even in
Windows, some places have an apply buttons, others don't. So when clicking
Ok only without the option of Apply, it quite doesn't feel as good as
clicking apply, when the window you just clicked had an apply button.

Otherwise the only other reason I can think of if the setting change in
between. Say you want to change settin

[2015-10-06 14:33] Ar2rZ commented on #73
as i am understood, if settings are up, you can't use OptiKey any way?
it good for visuals and language changes. i just try to look from ordinary(not advanced) PC user point of view.
for translation testing, i add to my testing environment apply button, as it not very comfortable to open settings again after language is applied.

[2015-10-06 14:40] JuliusSweetland commented on #73
That's fine. I need to think about how I can make some settings available to the users. At the moment the management console can only really be accessed and changed by someone acting as a "carer".

[2015-10-06 20:28] JuliusSweetland commented on #73
I have created a German pre-release from the "German" branch for testing: https://github.com/JuliusSweetland/OptiKey/releases/tag/v2.1.0_German_prebuild_1

[2015-10-06 20:42] JuliusSweetland commented on #135
Fixed with commit 71a3121c2fc7b51b71d94854ff978da000a2d9fb

[2015-10-06 20:42] #135 closed

[2015-10-06 20:54] ninehundred1 commented on #73
I installed the version you sent in deutsch, but it uses the english
dictionary. Do I need to change that somewhere?

On Tue, Oct 6, 2015 at 4:28 PM, Julius <notifications@github.com> wrote:

[2015-10-06 20:55] JuliusSweetland commented on #73
@ninehundred1 Yes - open the management console (ALT+M) then switch to the WORDS tab and change the language there.

[2015-10-06 20:58] ninehundred1 commented on #73
..using the keys or the OptiKey mouse holding input?

On Tue, Oct 6, 2015 at 4:55 PM, Julius <notifications@github.com> wrote:

[2015-10-06 21:02] ninehundred1 commented on #73
got it

On Tue, Oct 6, 2015 at 4:58 PM, Stephan Meyer <meyernsen@gmail.com> wrote:

[2015-10-06 21:16] ninehundred1 commented on #73
Ok, it looks good already. A few things though i would like to change
regarding the keyboard strings for clarity, now that i can see what they
do. Can i fork this now and build it myself? Otherwise I can change strings
again and send a pull request. I think it might take 2 or 3 iterations for
it to be good, so if you are fine rebuilding it those times, that would
work also. It is mainly the key st

[2015-10-06 21:32] JuliusSweetland commented on #73
@ninehundred1 You can build locally OR just make changes and submit pull requests - I don't mind really. I am happy to make builds - it takes 5 minutes.

Abbreviations - yes - if you remove them they will not appear in the auto-correct, BUT you will need to delete your user dictionaries which are stored here:

C:\Users\**YOUR_USER_NAME**\AppData\Roaming\JuliusSweetland\OptiKey\Dictionaries

[2015-10-06 22:35] Ar2rZ commented on #73
@JuliusSweetland  for building you are using bamboo?

[2015-10-06 23:29] fabioemcaldas commented on #73
Hello!

I want to join the portuguese translation team, can someone help me with this? I'm not being able to find how in transifex!

[2015-10-07 06:08] JuliusSweetland commented on #73
No, I build manually with visual studio and then package using InnoSetup
with some hand written scripts to sign the assemblies and installer file.

On Tue, 6 Oct 2015 23:35 Ar2rZ <notifications@github.com> wrote:

[2015-10-07 06:10] JuliusSweetland commented on #73
Hi Fabio. The Transifex website was down for a period of time last night.
Is it working now?

On Wed, 7 Oct 2015 00:29 fabioemcaldas <notifications@github.com> wrote:

[2015-10-07 07:51] IBRainbowFlavored commented on #73
Hello everybody!
If available, I would like to help with a Japanese translation, although I do not believe I can do this alone as I don't know anything about coding... if someone could point me in the right direction, I'd be happy to help to my best abilities! Thank you.

[2015-10-07 08:01] JuliusSweetland commented on #73
@IBRainbowFlavored You did the correct thing by requesting to join the Japanese translation - I have just accepted you so you can begin whenever you are ready. No rush at all.

[2015-10-07 09:42] ninehundred1 commented on #73
Arthur, is bamboo easier to use for a build?

[2015-10-07 09:48] Ar2rZ commented on #73
bamboo is a automated deployment tool. is used to create releases. (is not free)
more info here if interested - https://www.atlassian.com/software/bamboo

[2015-10-07 18:06] kamrch commented on #73
Hello!

I just wanted to say great job and i would like to try my best and help this project grow! I have requested to join in transifex and I'm not sure if I've done what is needed to participate.

[2015-10-07 18:28] JuliusSweetland commented on #73
@kamrch You've done the right thing. I'll accept your request this evening.
My laptop is just playing up. Welcome to the team.

On Wed, 7 Oct 2015 19:06 kamrch <notifications@github.com> wrote:

[2015-10-07 18:32] ninehundred1 commented on #73
Julius, I should get you the updated strings etc for German in a few hours,
some stuff I need to finish at work first.

On Wed, Oct 7, 2015 at 2:28 PM, Julius <notifications@github.com> wrote:

[2015-10-07 18:54] JuliusSweetland commented on #73
@ninehundred1 No rush - my laptop is broken so I'll be offline in about 3 minutes when my broken battery dies.

[2015-10-07 18:57] JuliusSweetland commented on #73
@kamrch I rejected your request for Chinese (Hong Kong) as we are only
targeting languages at the moment, rather than country specific languages.
If you request to join Chinese (which is already a language in this
project) I will accept you asap.

On Wed, 7 Oct 2015 19:32 Stephan Meyer <notifications@github.com> wrote:

[2015-10-08 00:53] kamrch commented on #73
Hi Julius
Thanks for accepting me, I will do my best in the team. However I have some suggestions before I begin.
I hope you understand that there are huge differences between "different Chinese", which is why there are always the (at least) 2 options of Chinese Traditional and Chinese Simplified when it comes to localization. I am just suggesting that simply putting 1 option of " Chinese" may not

[2015-10-08 07:46] JuliusSweetland commented on #73
@kamrch Good insight, thanks. Transifex has "Chinese", "Chinese Simplified" and "Chinese Traditional". I have added "Chinese Simplified". Do you think we should proceed with:

"Chinese" = traditional Chinese
"Chinese Simplified" = simplified Chinese

Does that seem reasonable to you?

[2015-10-08 09:33] kamrch commented on #73
Hey Julius
I don't mean to be too picky or anything but it is best not to simply label either of them as "Chinese" to minimize confusion (or maybe even trouble).

[2015-10-08 09:36] JuliusSweetland commented on #73
I can add "Chinese Traditional", but we would then need a process to copy existing translations from "Chinese" to either "Chinese Traditional" or "Chinese Simplified" and then delete "Chinese". Could you do that?

[2015-10-08 09:36] JuliusSweetland commented on #73
^^^ Ignore the close - I clicked the wrong button

[2015-10-08 09:44] kamrch commented on #73
Ya I can do that in the weekend if that isn't too late for you.

[2015-10-08 09:46] JuliusSweetland commented on #73
No that would be great. I'll add Chinese Traditional in the next hour and
invite all existing translators to both.

On Thu, 8 Oct 2015 10:44 kamrch <notifications@github.com> wrote:

[2015-10-08 11:04] Ar2rZ commented on #73
@JuliusSweetland any small bugs found, while testing, has to be submitted into master branch?

[2015-10-08 11:33] JuliusSweetland commented on #73
That's correct. One bug fix per pull request so they're easy to check and
merge individually. Thanks.

On Thu, 8 Oct 2015 12:04 Ar2rZ <notifications@github.com> wrote:

[2015-10-08 12:45] JuliusSweetland commented on #73
**Chinese announcement** (repost from Transifex announcement I just posted)

I have today added "Chinese Simplified" and "Chinese Traditional" after being alerted to the fact that the existing language "Chinese" was not specific enough. I have invited the existing translators from "Chinese" to both "Chinese Simplified" and "Chinese Traditional" and kamrch (Ryan Kam) is going to take a look this we

[2015-10-08 12:46] JuliusSweetland commented on #73
@kamrch We can do this within OptiKey - on Transifex I think it's important to split out simplified from traditional and complete them both correctly. We can then present them however we want when they are released in OptiKey.

[2015-10-08 13:00] Yano93 commented on #73
Hi Julius! How do I get started? I dont know how to programmatic, but I can
translate into Norwegian and Japanese?

2015-10-08 21:45 GMT+09:00 Julius <notifications@github.com>:

--
Atentamente

[2015-10-08 13:03] JuliusSweetland commented on #73
@Yano93 Currently the translation team discusses everything on this
thread and performs the actual translation on this site:
https://www.transifex.com/optikey/optikey/

If you register on Transifex (it's free) you can request to join as a
translator for whichever language(s) you like. Any and all help is
appreciated. French has just been released and we are currently working on
German before we mo

[2015-10-08 21:23] JuliusSweetland commented on #73
@ninehundred1 How are you doing on the new German strings? No rush, just wondering as the next item on my todo list is a new pre-release of the German branch, with a view to merging German into the main branch and releasing it as part of a full v2.2.0 release (with a few other things).

[2015-10-08 21:28] fabioemcaldas commented on #73
Can someone send me a tutorial on the tools to translate? I can't find the
code I need to simulate the instructions, like enter.

Em qui, 8 de out de 2015 às 22:24, Julius <notifications@github.com>
escreveu:

[2015-10-08 21:32] Ar2rZ commented on #73
@fabioemcaldas as i understood correctly , you are looking something like this?
https://github.com/JuliusSweetland/OptiKey/wiki
at the right hand side is link Download.
if not, just ask more specific question.
thanks.

[2015-10-08 21:39] fabioemcaldas commented on #73
Unfortunatelly I have a Macbook, so I can't open exe files. I was talking
about the code that we should use to make the same effect than
"COLLAPSE_DOCK_SPLIT_WITH_NEWLINE".
Do we have to right that code, or is there any other way? And if it is the
code, can someone give me a file with the codes?

Em qui, 8 de out de 2015 às 22:33, Ar2rZ <notifications@github.com>
escreveu:

[2015-10-08 21:47] Ar2rZ commented on #73
@fabioemcaldas source code you can find here -
https://github.com/JuliusSweetland/OptiKey

[2015-10-08 21:49] JuliusSweetland commented on #73
@fabioemcaldas if what you're really asking is "I don't understand this
string or the context of a string" post an issue against it on Transifex
and I'll go through and write an explanation for each one you want a
clarification on tomorrow.

On Thu, 8 Oct 2015 22:47 Ar2rZ <notifications@github.com> wrote:

[2015-10-08 21:50] fabioemcaldas commented on #73
I think I am not explaining myself properly. What I mean, is how can I do this, but in portuguese. How do I code the Enter key.
http://s4.postimg.org/6obmm7l21/Captura_de_ecr_2015_10_08_s_22_48_54.png

[2015-10-08 21:58] JuliusSweetland commented on #73
Oh, the new line character (looks like an Enter key symbol)? Just put your
translation over two lines. One word on the first line, then hit your enter
key, and put the second word on the next line. Transifex is just showing
you that there is a line break there by displaying a special symbol.

On Thu, 8 Oct 2015 22:50 fabioemcaldas <notifications@github.com> wrote:

[2015-10-08 23:27] ninehundred1 commented on #73
Julius, it should all be done tomorrow, I had a busy day at work, but I
allocate time tomorrow morning to get all the strings updated. I want you
to only have to rebuild the thing once, so I want to make sure all changes
are as close to what we want as possible.
Sorry for the delay...

On Thu, Oct 8, 2015 at 5:24 PM, Julius <notifications@github.com> wrote:

[2015-10-09 05:56] JuliusSweetland commented on #73
@ninehundred1 thanks Stephan, but there's really no rush if you're busy.
Your work should come first.

On Fri, 9 Oct 2015 00:27 Stephan Meyer <notifications@github.com> wrote:

[2015-10-09 08:47] Ar2rZ commented on #73
@JuliusSweetland can you get a look on Russian, if there is something what you don't like, i will fix/change, or we can discuss about raised issues.

[2015-10-09 08:54] JuliusSweetland commented on #73
@Ar2rZ Is there a pull request of your work (against the Russian branch)?

[2015-10-09 08:58] Ar2rZ commented on #73
no new changes made. unless i have update resx file?

[2015-10-09 09:13] JuliusSweetland commented on #73
Are you talking about the Russian translation on Transifex? Are there
issues you'd like me to look at, or is it complete? I cannot comment on the
quality of the Russian translations I'm afraid.

On Fri, 9 Oct 2015 09:58 Ar2rZ <notifications@github.com> wrote:

[2015-10-09 09:17] Ar2rZ commented on #73
no, not about Russian translations, just your opinion about the layout.

[2015-10-09 09:18] Ar2rZ commented on #73
i will ask somebody to review my translations.

[2015-10-09 09:22] Ar2rZ commented on #73
previously you said, you like to check something how OptiKey behave with non-latin characters.

[2015-10-09 09:31] JuliusSweetland commented on #73
I will look over the weekend, but if auto complete and multi key selections
are working as you expect with Russian then that's all we really need to
know. Are they working ok?

On Fri, 9 Oct 2015 10:22 Ar2rZ <notifications@github.com> wrote:

[2015-10-09 10:01] Ar2rZ commented on #73
multi-key does not work.

[2015-10-09 10:11] JuliusSweetland commented on #73
Could you step through the matching algorithm and see where it might be
failing? I will find time to help if you can give me your initial thoughts.

On Fri, 9 Oct 2015 11:01 Ar2rZ <notifications@github.com> wrote:

[2015-10-09 10:16] Ar2rZ commented on #73
ok, will give you thoughts later today, or by weekend. depends on my free time.

[2015-10-09 10:17] JuliusSweetland commented on #73
Sounds good

On Fri, 9 Oct 2015 11:16 Ar2rZ <notifications@github.com> wrote:

[2015-10-09 12:36] ninehundred1 commented on #73
Can somebody quickly explain what is going on in the mouse menu? Move by 50
pixel, scroll to left by 5 klicks, etc.
It might be clear from reading the manual, which i didn't. I am just
thinking if there is a need to look at those strings again.

On Fri, Oct 9, 2015 at 6:17 AM, Julius <notifications@github.com> wrote:

[2015-10-09 12:59] Ar2rZ commented on #73
it is wort to look at the OptiKey wiki and review  the translation.
move by .. is by how many pixels you like to move a one move,
scroll by.. by how many click you like to scroll at once.

[2015-10-09 13:15] ninehundred1 commented on #73
so this means that you can control the mouse cursor by fixating on the left
arrow key within optikey, which would move the cursor that might be
somewhere else on the screen 10 pixels to the left?

On Fri, Oct 9, 2015 at 8:59 AM, Ar2rZ <notifications@github.com> wrote:

[2015-10-09 13:18] JuliusSweetland commented on #73
Correct. The top half of the screen performs mouse actions where the cursor
currently is (at current point), while the bottom half lets you choose the
point at which to take the action using the large cursor that you can move
around.

On Fri, 9 Oct 2015 14:15 Stephan Meyer <notifications@github.com> wrote:

[2015-10-09 14:23] ninehundred1 commented on #73
Ok, I changed the strings and also remove 2000 or so 2 and 3 letter entries
in the dictionary. I made a pull request.

One other thing I noticed, it might be implemented already, but when you
type a word, followed by a period to end a sentence, there is no auto space
after the period, which makes autocomplete search for a word that is the
last word followed by period and the first letter of the ne

[2015-10-09 14:53] kamrch commented on #73
Hi Julius
After taking a close look at what we have currently in Chinese, I realized that there aren't actually any mixture of both Simplified and Traditional, but instead they are all in Simplified already. Is it possible to rename an entry? If not then I can move everything in the current Chinese entry to Chinese simplified manually, otherwise you can delete the new Simplified one and rename the

[2015-10-09 14:54] JuliusSweetland commented on #73
No problem. I'll take a look this evening.

On Fri, 9 Oct 2015 15:53 kamrch <notifications@github.com> wrote:

[2015-10-09 19:13] JuliusSweetland commented on #73
**Chinese notice** "Chinese Simplified" has replaced "Chinese" on Transifex (and I've removed "Chinese Traditional" for now). I have copied over the translated strings and set up the same translators so nothing should be different, just the name. Thanks, Julius

[2015-10-09 19:20] JuliusSweetland commented on #73
@ninehundred1 I'll take a look at your pull request now. Re your other feedback:

type a word, followed by a period to end a sentence, there is no auto space
after the period

This is actually by design. We can talk about whether we want to change this behaviour, but this is how my favourite swiping keyboard on my phone works so I felt comfortable with that behaviour.

autocomplete word option to

[2015-10-09 19:33] ninehundred1 commented on #73
Just to make myself clear, have the time shorter to gaze (keep looking) a
word suggestion. Say somebody types 't' then 'r' then 'e' and then already
sees 'tree' up there the field is larger than the letters, so it might be
more fluent to select that quicker, as there are only 4 or so words up
there, which is less confusing than the keys on the keyboard.
I suppose you could just have a setting %tim

[2015-10-09 20:41] JuliusSweetland commented on #135
@kirstymcnaught The fix for this has just been released in v2.1.1

[2015-10-09 21:33] JuliusSweetland commented on #73
**French/German change** I made a design change in the latest release (v2.1.1) and the latest German pre-release (available here: https://github.com/JuliusSweetland/OptiKey/releases/tag/v2.1.1_German_alpha_1) - I now customise the diacritic keyboards so that the first section of the first page of special characters is customised to the current language; e.g. for German the first section starts äöü

[2015-10-09 23:33] Gadal commented on #105
I wonder if we could use Wine.  If so, I think we'd also get OS X, FreeBSD, and Solaris for free.

[2015-10-10 06:54] kirstymcnaught commented on #135
@JuliusSweetland Thanks for the quick work!

[2015-10-10 06:58] JuliusSweetland commented on #105
@Luca you're right. OptiKey is very tightly bound to Windows. Makes the
talk much harder, but obviously not impossible.

On Sat, 10 Oct 2015 00:33 Dustin Gadal <notifications@github.com> wrote:

[2015-10-10 09:04] JuliusSweetland commented on #73
**German** I have just merged in a few more minor changes from @ninehundred1 and modified a couple of strings myself. New pre-release here: https://github.com/JuliusSweetland/OptiKey/releases/tag/v2.1.1_German_alpha_2

[2015-10-10 09:39] JuliusSweetland commented on #73
**ALL** The solutions on 'master' branch has just been split to add a unit test project. This is going to cause you all sorts of merging fun. Drop me an email if you have problems.

[2015-10-10 10:05] ninehundred1 commented on #73
I can run it tomorrow, I'm pretty much out all day today. Should I try the speech as well, or are there no issues with that?

[2015-10-10 12:15] JuliusSweetland commented on #73
There shouldn't be any charge to the speech, but all testing is useful. I'm
out today also so I'll take a look tomorrow.

On Sat, 10 Oct 2015 11:05 Stephan Meyer <notifications@github.com> wrote:

[2015-10-11 10:19] Ar2rZ commented on #73
i found issue with multikey function with Russian, probably it will require to adjust to other languages which are using diacritics. will submit the change, once my repo is clean..

[2015-10-11 10:49] Ar2rZ commented on #73
@JuliusSweetland  can you sync Lithuanian branch with master? it will be less work later to merge the changes.

[2015-10-11 11:19] JuliusSweetland commented on #73
What is the actual problem? Currently I strip off all accents etc and
compare words on the base letters. I presume this is incorrect behaviour
with Russian?

Also yes, I will try to find time this evening to update from master.

On Sun, 11 Oct 2015 11:49 Ar2rZ <notifications@github.com> wrote:

[2015-10-11 11:22] Ar2rZ commented on #73
in class KeyValues is method MultiKeySelectionKeys, which decides which letters are accepted for multikey selection, was required to add chars in Russian.
i did pull request for this fix just a moment ago.

[2015-10-11 12:05] JuliusSweetland commented on #73
Sounds good. I have a broader solution that I'll implement soon, but this
is a good interim solution.

Is anything happening on the Lithuanian and Latvian branches? If not can I
delete them for the minute and we can bring them back when they're relevant
as it's work to keep all these branches up to date.

On Sun, 11 Oct 2015 12:22 Ar2rZ <notifications@github.com> wrote:

[2015-10-11 12:11] Ar2rZ commented on #73
not yet, just was starting remake payout for Lithuanian, but it can be easy added once you update the branch.

[2015-10-11 12:31] JuliusSweetland commented on #73
I'll leave Lithuanian then. I'll remove Latvian if that's ok with you.

On Sun, 11 Oct 2015 13:12 Ar2rZ <notifications@github.com> wrote:

[2015-10-11 12:34] Ar2rZ commented on #73
remove Lithuanian as well. it want harm to my work any way.

[2015-10-11 12:48] JuliusSweetland commented on #73
Great thanks

On Sun, 11 Oct 2015 13:34 Ar2rZ <notifications@github.com> wrote:

[2015-10-11 15:20] Yano93 commented on #129
hi again, Where is the Norwegian group?

[2015-10-11 16:31] JuliusSweetland commented on #129
There is no specific task ("issue") on GitHub for Norwegian. I might start splitting creating an issue per language as the work starts on each one. In the mean time you can register, request Norwegian, and start translating on this website: www.transifex.com/optikey/

All general localisation discussion is here: https://github.com/JuliusSweetland/OptiKey/issues/73

[2015-10-11 18:15] Yano93 commented on #129
okay,
thanks!!

[2015-10-12 21:53] JuliusSweetland commented on #73
**German** New pre-release available here: https://github.com/JuliusSweetland/OptiKey/releases/tag/v2.2.0_German_alpha_1

Includes a few more spelling and string corrections, plus a slight re-ordering of diacritic characters and the ability to move between all keyboards without having to go to the menu. Please test and let me know.

[2015-10-12 21:54] JuliusSweetland commented on #73
@Ar2rZ FYI I will update the Russian branch tomorrow evening if I can. The solution has been moved around a bit so can you make sure your latest changes are in, and then I'll merge everything and you can then fork a new cleaned up version of the whole branch. It's a bit fiddly otherwise.

[2015-10-12 22:40] Ar2rZ commented on #73
![issue_1](https://cloud.githubusercontent.com/assets/14283948/10440835/861f8682-713a-11e5-9cc7-bc7f53954c3e.png)

[2015-10-12 22:40] Ar2rZ commented on #73
![issue_2](https://cloud.githubusercontent.com/assets/14283948/10440844/96ce6ade-713a-11e5-882b-8bdb1a63ed6e.png)

[2015-10-12 22:55] Ar2rZ commented on #73
and i think on the alpha keyboard should be conversation button instead of alpha.(you probably just missed that)

[2015-10-12 22:57] Ar2rZ commented on #73
@JuliusSweetland  Yop, the latest changes are in.

[2015-10-13 08:38] JuliusSweetland commented on #73
@Ar2rZ Good feedback...

https://cloud.githubusercontent.com/assets/14283948/10440835/861f8682-713a-11e5-9cc7-bc7f53954c3e.png
^^^ This is a temporary problem. I want to add another keyboard and remove the key for the current keyboard, which will solve this problem. I've just not created the new keyboard yet.

https://cloud.githubusercontent.com/assets/14283948/10440844/96ce6ade-713a-11e5-882b-8bd

[2015-10-13 08:46] Ar2rZ commented on #73
https://cloud.githubusercontent.com/assets/14283948/10440844/96ce6ade-713a-11e5-882b-8bdb1a63ed6e.png
^^^ Are you highlighting that these are the same character? I am pretty sure they are separate characters that have meaning in engineering, or a field like that, but I can double check. Are you seeing them as standard English/Russian letters?

i am highlighting while, i think those chars not suppo

[2015-10-13 09:28] JuliusSweetland commented on #73
I see. I'll take a look. I think you are right.

On Tue, 13 Oct 2015 09:46 Ar2rZ <notifications@github.com> wrote:

[2015-10-13 15:35] ninehundred1 commented on #73
Two things I noted:

-if you select the NUM SYM keyboard, then go to next (1 of 3), next again,
and again, at 3 of 3 the pie fills at where you point, but a second pie
fills at NUM SYM a few keys below that.

-in the alt m menu under Point & Selecting , does this string need the ':'

  <data name="MOUSE_POSITION" xml:space="preserve">
    <value>Mausposition:</value>
  </data>

because it is the o

[2015-10-13 16:50] JuliusSweetland commented on #73
Good feedback. The double key selection can be ignored. It'll be rectified
when I find time to add a new keyboard (for web browsing). The colon should
not be on mouse position. I'll remove it as I've had a few other pieces of
feedback I need to fix. Lastly the magnified area has two settings which
combine: the source is the size of the area to be magnified, and the
destination is the size of the m

[2015-10-13 17:00] ninehundred1 commented on #73
I fixed all and I think that should be all. I had to do two pushs. Now the
pull request can't automatically merge anymore, should I clone again and
change the file and then create a pull request, or is there something
different now with your German branch?

On Tue, Oct 13, 2015 at 12:50 PM, Julius <notifications@github.com> wrote:

[2015-10-13 17:07] JuliusSweetland commented on #73
Yes the whole solution has been restructured so the merge can't happen
automatically. It might be better to pull a completely fresh copy and make
your charges again. By the way there is no need to fix the fact that two
keyboard keys animate in a few instances (your first piece of feedback).

On Tue, 13 Oct 2015 18:00 Stephan Meyer <notifications@github.com> wrote:

[2015-10-13 19:48] JuliusSweetland commented on #73
@ninehundred1 Can you hold off on the pull requests. I'm going to try and get all remaining changes done tonight and merge the 'German' branch into the 'master' branch. Then we can do final testing.

[2015-10-13 20:16] ninehundred1 commented on #73
Ok, let me know when. I think, from what I have seen and double checked,
there should be no further corrections necessary with the German strings,
etc.

On Tue, Oct 13, 2015 at 3:48 PM, Julius <notifications@github.com> wrote:

[2015-10-13 20:24] JuliusSweetland commented on #73
Will do.

On Tue, Oct 13, 2015 at 9:16 PM Stephan Meyer <notifications@github.com>
wrote:

[2015-10-13 21:25] ninehundred1 commented on #73
One thing, I think you are in the current builds using the old dictionary,
is is possible to compile with the current one GermanGermany.dic from the
German branch?
A lot of words get suggested that i wouldn't want to get suggested (but
they are all from the old version of the dictionary), so I can see if I
need to do some more work on the dictionary.
Thanks

On Tue, Oct 13, 2015 at 4:24 PM, Julius

[2015-10-13 21:28] Ar2rZ commented on #73
probably you have to clean your previous version from here
C:\Users\[YourUser]\AppData\Roaming\JuliusSweetland\OptiKey\Dictionaries
then start app again, it will create new version of Germany dictionary

[2015-10-13 21:41] ninehundred1 commented on #73
nice, there is a counter too..
I deleted it but it didn't create a new one by restarting, I can look into
that more tomorrow.

On Tue, Oct 13, 2015 at 5:28 PM, Ar2rZ <notifications@github.com> wrote:

[2015-10-13 21:45] JuliusSweetland commented on #73
@ninehundred1 It's a bug I found today. Fix on the way...

[2015-10-13 22:24] fabioemcaldas commented on #73
@JuliusSweetland The Portuguese translation is complete! When you have the possibility to publish it let me know so I can start testing it!

[2015-10-13 22:28] JuliusSweetland commented on #73
@fabioemcaldas Thank you - I have (2 minutes ago) added 5 new strings if you have a moment to populate those.

**ALL** There are 5 new strings that I have added to the source file on Transifex. They concern the ability to set the level of processing that happens when you connect a Tobii eye tracker (using the EyeX engine). The options are None, Low, Medium, and High. I have used Google translate t

[2015-10-13 22:39] fabioemcaldas commented on #73
As for french, it depends on the subject that you are defining. If it is male, than you have "Haut", "Bas", "Moyen" and "Aucun". If the subject is female, than it is the words that you wrote. But I am not native French!

[2015-10-13 22:43] JuliusSweetland commented on #73
@fabioemcaldas It refers to the level of processing that will be applied to the position data stream (the feed of x,y co-ordinates coming from an eye tracker)

[2015-10-13 22:44] JuliusSweetland commented on #73
**ALL** There is a new pre-release of German available here - all German changes have now been merged into the 'master' branch and this is a release candidate: https://github.com/JuliusSweetland/OptiKey/releases/tag/v2.2.0_master_pre_release_2

Please let me know what you think and if you encounter any problems. I will fix the new strings in French/German (2 comments above) if I can get some feedb

[2015-10-13 22:45] JuliusSweetland commented on #73
@Ar2rZ Tonight has been hectic. I have meetings tomorrow night also, but I will aim to update the Russian branch for you.

[2015-10-14 00:29] ninehundred1 commented on #73
there is still an outstanding pull request i have not yet made from
earlier today regarding the two or three things ( the ':' sign and the
magnification level), which I would like to include, I can then also
include the new strings, so that needs to get into the release i am
afraid. can I made a pull request to master instead of german?

On Oct 13, 2015, at 6:440PM, Julius wrote:

[2015-10-14 06:35] JuliusSweetland commented on #73
Hi Stephan. Yes you can. Just make sure you get the latest version of
master before you apply your changes and create a pull request. I'll look
out for it.

On Wed, 14 Oct 2015 01:29 Stephan Meyer <notifications@github.com> wrote:

[2015-10-14 08:09] fabioemcaldas commented on #73
In that case is male @JuliusSweetland!

[2015-10-14 09:16] Ar2rZ commented on #73
@JuliusSweetland no worries. Russian keyboard will difficult to merge with your changes.. it was already add two column.. i was thinking - may be is better to add/hide the additional functionality by adding another row underneath main layout?

[2015-10-14 09:20] JuliusSweetland commented on #73
@Ar2rZ I was actually thinking about that yesterday. Adding columns can start to look ugly (e.g. the French keyboard has some unused space on it due to the uneven number of keys on each row), but the big advantage of adding columns rather than rows is that the keys remain large. Adding a new row decreases the height over every key, which has more of a knock on effect on how easy a key is to select

[2015-10-14 09:26] JuliusSweetland commented on #73
@fabioemcaldas So I need to change the new French strings to "Haut", "Bas", "Moyen" and "Aucun" right?

[2015-10-14 12:59] Ar2rZ commented on #73
any proper guides to set up Tobii EyeX ??
as i can't set up...

[2015-10-14 13:06] JuliusSweetland commented on #73
Send me a email so we can take the discussion away from this thread.
optikeyfeedback@gmail.com

On Wed, 14 Oct 2015 13:59 Ar2rZ <notifications@github.com> wrote:

[2015-10-14 13:12] Ar2rZ commented on #73
ok.

[2015-10-14 14:01] ninehundred1 commented on #73
For the transparency fix, did you swap the translations around? Should
decrease be translated as increase, of as decrease? In the previous version
is was the same, in the one I just forked it is swapped. Which should I use?

On Wed, Oct 14, 2015 at 9:12 AM, Ar2rZ <notifications@github.com> wrote: