[2018-07-06 10:07] JuliusSweetland commented on #471
I think it would be a good idea to replace the current menu keyboard, but
would it be possible to replicate the different layouts for horizontal and
vertical orientation? I guess not so another option would be to add a
setting to replace the menu with a dynamic menu?

On Fri, 6 Jul 2018, 11:03 kmcnaught, <notifications@github.com> wrote:

[2018-07-06 21:16] annakirkpatrick commented on #471
@JuliusSweetland thank you for that explanation regarding the case of labels displayed on the keys. I do think I understand what is going on now.  My inclination is to use the first strategy you presented and to include a true shift key on the keyboard.  The potential issue here, of course, is your comment

@kmcnaught, I would really appreciate your input on this. I have been looking through some

[2018-07-06 21:30] JuliusSweetland commented on #471
I like either the idea of replacing the menu sleep key, or splitting the
opacity key. We could support both via a new setting alongside the existing
dynamic settings.

On Fri, 6 Jul 2018, 22:16 Anna Kirkpatrick, <notifications@github.com>
wrote:

[2018-07-08 20:06] JuliusSweetland opened #473 "Add alphabetical and simplified keyboard layouts for German"

[2018-07-09 02:04] annakirkpatrick commented on #471
@kmcnaught @JuliusSweetland @maxieds I've got shift working on dynamic keyboards! I made the changes Julius described to add support for the additional properties in the XML file and then set the corresponding properties of the Key object correctly, and it works.

At the moment, all I have is a minimal example. Just a keyboard with 2 keys: shift and A.

I see no reason that this won't work with a

[2018-07-09 10:40] kmcnaught commented on #471
@annakirkpatrick great news - sorry I haven't had time to contribute. I took a quick look at shift behaviour myself before I saw this and agree with you that there's no reason this won't work.

@JuliusSweetland, @maxieds, @annakirkpatrick I don't see any reason why a dynamic 'Menu' keyboard couldn't support both vertical and horizontal formats, and from my perspective would be a lot cleaner than h

[2018-07-09 10:43] JuliusSweetland commented on #471
The replacement menu as a dynamic keyboard which supports horizontal and
vertical layout sounds good to me. It could be used only when dynamic
keyboards are enabled in the settings so most users are unaffected.

On Mon, 9 Jul 2018, 11:40 kmcnaught, <notifications@github.com> wrote:

[2018-07-10 02:57] annakirkpatrick commented on #471
Just a quick note to let everyone know that I have my" hacker" keyboard layout up and running. I have posted the XML and a screenshot over in my fork if anyone is curious.

XML: https://github.com/annakirkpatrick/OptiKey/blob/master/keyboards/BigHackerKeyboard.xml
screenshot: https://github.com/annakirkpatrick/OptiKey/blob/master/keyboards/screenshots/BigHackerKeyboard.png

(The layout is based on

[2018-07-10 19:20] JuliusSweetland commented on #471
@annakirkpatrick Thank you for the PR - that is now merged

[2018-07-11 00:03] maxieds commented on #471
@JuliusSweetland

Do you need me to take some work off your plate and write the user documentation for these features?

[2018-07-11 02:05] JuliusSweetland commented on #471
That would be REALLY helpful. Thank you.

On Wed, 11 Jul 2018, 01:03 Maxie D. Schmidt, <notifications@github.com>
wrote:

[2018-07-11 02:22] annakirkpatrick commented on #471
@maxieds @JuliusSweetland  I can also help with user documentation on how to create XML keyboards.

[2018-07-12 01:34] maxieds commented on #471
@JuliusSweetland @annakirkpatrick

I have written my first draft of the custom XML keyboard layouts documentation [here](https://github.com/annakirkpatrick/OptiKey/wiki/Home----Supplementary-Documentation-for-OptiKey) (Wiki page on Anna's forked repo). Please let me know what you think and if this will do it for the documentation we were after here. It's a little long but should be plenty of detai

[2018-07-12 02:00] annakirkpatrick commented on #471
@maxieds @JuliusSweetland I've taken a look at the wiki page that Maxie drafted, and I do think it covers all of the important points. I made one edit to clarify some of the more detailed behavior, but there are a couple more places where I think adding another sentence or two could be helpful. It is getting late, so I will make those edits tomorrow.

@JuliusSweetland  I saw that you moved my keyb

[2018-07-12 02:24] annakirkpatrick opened #475 "Dynamic keyboard validation"
Dynamic keyboards allow users to create custom keyboards by providing an XML file. A significant amount of input validation is done by the libraries used to parse the XML, and OptiKey already includes an error keyboard to display those errors.

If you attempt to use an XML file in which two distinct keys have the same row and column numbers, the error keyboard is not triggered and instead OptiKey

[2018-07-12 06:50] JuliusSweetland commented on #471
Hi Anna,

You could either email me the markup directly or post the new markup I'm an
issue?

Regards
Julius

On Thu, 12 Jul 2018, 00:25 Anna Kirkpatrick, <notifications@github.com>
wrote:

[2018-07-12 15:55] annakirkpatrick commented on #412
I want to document another reason why this functionality would be very useful.  In addition to the fact that Windows key combinations do not work with the keyboard key trigger mechanism (and using a mouseclick as trigger mechanism has the potential to unintentionally change the focus and cause all sorts of confusion), there is the issue of the target application trying to interpret the keypress th

[2018-07-12 16:09] JuliusSweetland commented on #412
Thanks Anna. That's really useful. This feature is on my todo list at some
point.

On Thu, Jul 12, 2018 at 4:55 PM Anna Kirkpatrick <notifications@github.com>
wrote:

[2018-07-12 16:31] annakirkpatrick opened #477 "Auto capitalization on dynamic keyboards"
As referenced in [this issue](https://github.com/OptiKey/OptiKey/issues/471), I have a custom dynamic keyboard up and running (XML source for that keyboard [here](https://github.com/OptiKey/OptiKey/blob/master/src/JuliusSweetland.OptiKey/Resources/DynamicKeyboards/BigHackerKeyboard.xml)). It's awesome, but it seems I'm now finding all the little bugs. :-)

With the default keyboards, OptiKey's def

[2018-07-12 16:34] annakirkpatrick commented on #471
@JuliusSweetland that sounds good regarding the documentation. For the moment, @maxieds and I are doing some collaborative editing on a wiki page in my fork. One of us will get you the markup when we are both satisfied.

[2018-07-12 16:36] JuliusSweetland commented on #471
Sounds great. If it's easier you can just point me at the wiki pages you
create and I'll manually copy the contents across?

On Thu, 12 Jul 2018, 17:34 Anna Kirkpatrick, <notifications@github.com>
wrote:

[2018-07-16 01:38] maxieds commented on #471
@JuliusSweetland

Anna and I have edited some new points documenting these features on her fork [here](https://github.com/annakirkpatrick/OptiKey/wiki/Creating-and-Using-Dynamic-Keyboards). I think that it's finally at the point where you can move it to the main wiki. I'm attaching the full text for the markdown commands used to create this wiki page.

[CreatingandUsingDynamicKeyboards.txt](https:

[2018-07-16 11:40] JuliusSweetland commented on #475
@kmcnaught This is an interesting bug

[2018-07-16 11:49] JuliusSweetland commented on #471
@maxieds Hi Anna - I have copied over the dynamic keyboards guide here: https://github.com/OptiKey/OptiKey/wiki/Creating-and-Using-Dynamic-Keyboards

Thank you very much! If possible could you fork my gh-pages branch, add your images, and create a new PR. I can then switch the image references over to my repo. No rush on this - it just means my wiki doesn't have a dependency on your repo.

Thanks

[2018-07-16 16:23] annakirkpatrick commented on #471
@JuliusSweetland I'll take care of that.

[2018-07-16 16:30] JuliusSweetland commented on #473
Excellent, thanks Anna. The existing German keyboards will give you all of
the expected keys and diacritical marks.

On Mon, 16 Jul 2018, 17:27 Anna Kirkpatrick, <notifications@github.com>
wrote:

[2018-07-17 10:48] JuliusSweetland commented on #457
@TheSchultz Thanks for the update. The user @joshlcampbell seems to have deleted his account, so I'm not sure when this work could be completed.

[2018-07-18 05:53] JuliusSweetland commented on #457
Yes please

On Wed, 18 Jul 2018, 01:09 TheSchultz, <notifications@github.com> wrote:

[2018-07-19 23:22] annakirkpatrick commented on #473
Regarding the alphabetic layout, there is a question about where to position the "extra" keys (that is, those that don't occur in the English alphabet).

I'm guessing one of the main applications of the alphabetic layouts is for children, so I asked one of my contacts how German children learn the alphabet. He grew up in Germany, and he told me that the "extra" letters are learned as part of the a

[2018-07-20 06:11] JuliusSweetland commented on #473
Hi Anna. No there is no reason for not including all keys explicitly. I
tend to lean towards fewer keys so the remaining keys can be as large as
possible, but when there are only 3 or 4 extra keys it doesn't really make
a difference. In this instance I would lean towards including all keys
explicitly. Thanks.

On Fri, Jul 20, 2018 at 12:22 AM Anna Kirkpatrick <notifications@github.com>
wrote:

[2018-07-22 05:48] smartiptv opened #478 "steps to add a new language"
Hi Guys,

Special thanks to JuliusSweetland,

I am Arabian and I want to know what is the steps and the way how to add a new keyboard layout for Arabic language?

Thanks for all and big efforts,

Mohammad Saeed

[2018-07-23 09:36] JuliusSweetland commented on #478
Hi @smartiptv Please find the localisation guide here: https://github.com/OptiKey/OptiKey/blob/master/docs/Localize.md

I'll close this issue now, but feel free to open another if you have more questions.

[2018-07-23 09:36] #478 closed

[2018-07-23 19:08] annakirkpatrick commented on #473
I've got the alphabetic layout up and running. Nothing too tricky there.

With the simplified layout, though, I've run into some problems with the umlaut.

I decided to include umlaut as a modifier, as is done on the default German keyboard.  (The alternative is to separately include the three vowels with umlauts. This would require some nontrivial reorganization of the keyboard layout, which I ca

[2018-07-23 19:25] annakirkpatrick opened #479 "Backspace on Simplified Keyboards"
I've been doing some work on adding a simplified keyboard layout for German (see [issue 473](https://github.com/OptiKey/OptiKey/issues/473)).

While working on that, I have been using the simplified layout as I'm writing code and interacting with Power Shell (as a way of testing/debugging).

I have been absolutely infuriated by the lack of a backspace key. In the current English language simplifie

[2018-07-23 21:08] JuliusSweetland commented on #473
Hi Anna,

If there are 3 letters which can be modified with the umlaut, why not
replace the content of the 3 letter keys when the umlaut is down to the
associated keys, and revert back if umlaut is released without selection?

On Mon, 23 Jul 2018, 20:08 Anna Kirkpatrick, <notifications@github.com>
wrote:

[2018-07-23 21:40] annakirkpatrick commented on #473
@JuliusSweetland That make complete sense.  I'll work on it.

[2018-07-23 21:41] JuliusSweetland commented on #473
Great! Thanks very much.

On Mon, 23 Jul 2018, 22:40 Anna Kirkpatrick, <notifications@github.com>
wrote:

[2018-07-24 08:31] JuliusSweetland commented on #479
Hi @annakirkpatrick - that sounds like a legitimate bug. Thank you for finding it. I agree that re-calibrate is accessible from the menu, so replacing that key with a back key sounds like a great solution.

[2018-07-24 11:42] smartiptv commented on #478
Thanks JuliusSweetland 👍

[2018-07-24 17:57] annakirkpatrick commented on #479
@JuliusSweetland Thanks for your input. I will make that edit to the English simplified layout, as well as modifying the German layout that I am currently working on.

Two follow-up questions:
1. Do we think it is worth the space to include both the 'back one' and 'back word' keys? (This would probably require splitting a key.)  In my testing I found no need for the back word option, but I was doi

[2018-07-24 18:56] JuliusSweetland commented on #479
Hi Anna.

1. No back one should be sufficient. If you select a suggestion you can
actually delete the whole word with back one anyway.

2. Turkish.

Regards,
Julius

On Tue, 24 Jul 2018, 18:57 Anna Kirkpatrick, <notifications@github.com>
wrote:

[2018-07-24 19:34] annakirkpatrick commented on #479
Hi @JuliusSweetland

1. Thanks for pointing that fact out. Makes it clear that we only need one key. (Can you tell I basically never use word completion?) I've made the change on the English simplified keyboard and will include that in a PR with the German keyboards. (The English simplified conversation keyboard already has a backspace key.)

2. I will take a look at Turkish, too.

[2018-07-24 19:39] JuliusSweetland commented on #479
Great thank you

On Tue, 24 Jul 2018, 20:34 Anna Kirkpatrick, <notifications@github.com>
wrote:

[2018-07-24 23:09] annakirkpatrick opened #480 "Confusing highlighting when multiple keys have the same target"
On some keyboards, such as the simplified keyboard layouts, there are multiple keys that perform the same action. In this case, when the user looks at one of those keys, all of them will be highlighted (outlined in orange).

As an example, take a look at this screenshot:
![image](https://user-images.githubusercontent.com/33188271/43170456-2dde638a-8f73-11e8-8c09-630efe4b1eb7.png)

(Yes, this is in

[2018-07-25 09:22] JuliusSweetland commented on #480
@annakirkpatrick Yes I agree that when two keys start animating at the same time it can draw your attention away. Unfortunately this isn't an easy thing to overcome as the key progress (and animations) are stored against the key values - if two keys have the same underlying value then they will both react to show their current selection progress. The only way around this (with the current implemen

[2018-07-26 01:45] annakirkpatrick commented on #480
@JuliusSweetland I understand.

The only place this really occurs is on the simplified keyboards. Unfortunately I don't see an easy way to eliminate the duplicated key values while maintaining the overall organization of the keyboard, so I suppose we will let it be.

The good news is that this definitely is something you can get used to. I've been working with the simplified keyboards for just a c

[2018-07-26 06:03] JuliusSweetland commented on #480
There is a potential workaround: create a new function key value to
represent Simplified keyboard home (or similar) and change the home key to
that, but leave the back key as it is. You can then add handling for the
new function key to set us back to the top simplified keyboard level.

Essentially pointless, but it would prevent this issue.

On Thu, 26 Jul 2018, 02:45 Anna Kirkpatrick, <notificati

[2018-07-27 01:20] annakirkpatrick commented on #480
Well, I admit, I'm too much of a perfectionist to point out the issue and then not implement the workaround.

I created function key SimplifiedKeyboardHome and made appropriate changes in the English and German simplified and simplified conversation keyboards. (The Turkish simplified layout uses what would be the home button for more characters and so doesn't have the same problem.)

I will keep t

[2018-07-27 17:08] annakirkpatrick commented on #480
@JuliusSweetland Cool. I finished putting together a pull request last night. It has this workaround, backspace for simplified keyboards, and the German layouts.

[2018-07-27 19:17] annakirkpatrick commented on #427
@sheeva700 Do you think that the fact that the alphabetic lines are curved is important here? If straight rows would work, then I think this should be pretty easy to put together using the new(-ish) dynamic keyboard feature.

If I put together such a keyboard, would you be interested in testing?

[2018-07-27 19:28] annakirkpatrick opened #482 "Calibrating tobii gaming eye trackers no longer requires manual intervention"
When you activate the recalibrate key, OptiKey presents a message stating that "manual intervention e.g. having to use a mouse mouse" is required to complete calibration and asks the user if they want to continue with calibration.

I don't know whether or not this message varies depending on which type of eye tracker you're using.

With the tobii eye trackers (EyeX, Steelseries Sentry), calibratio

[2018-07-27 19:51] annakirkpatrick commented on #471
@JuliusSweetland I have created that pull request in the gh-pages branch with the new images for the dynamic keyboard documentation. I think all of the images are there, but let me know if you need anything else.

[2018-07-28 07:33] JuliusSweetland commented on #482
@annakirkpatrick That sounds like a valid change. I haven't tested the latest version, but I know that the EyeX, 4C, etc (all modern Tobii trackers) run on the same engine, so this should be true for all of them.

[2018-07-28 07:49] #473 closed

[2018-07-28 07:49] #479 closed

[2018-07-28 07:49] #480 closed

[2018-07-28 07:55] JuliusSweetland commented on #471
https://github.com/OptiKey/OptiKey/wiki/Creating-and-Using-Dynamic-Keyboards

[2018-07-28 07:55] #471 closed

[2018-07-29 23:59] annakirkpatrick commented on #482
@JuliusSweetland Cool. I made the change and I will create a pull request.

[2018-07-30 00:30] annakirkpatrick opened #486 "Would more documentation on external switches be helpful?"
OptiKey gives users the option to select keys with a mouseclick or keyboard key press. This feature allows the use of many access switches as a trigger mechanism. (The switches get lots of different names: access switches, adaptive switches, accessibility switches, and probably some I'm forgetting.) I have personally found this to be a really useful feature. Using an external switch (instead of th

[2018-07-30 06:10] JuliusSweetland commented on #486
Hi Anna. That would definitely be a welcome change. The more documenting we
have the better. As you say finding good info can be very difficult and
makes a huge amount of difference.

On Mon, 30 Jul 2018, 01:30 Anna Kirkpatrick, <notifications@github.com>
wrote:

[2018-07-30 15:16] #482 closed

[2018-08-01 20:12] jcamp0x2a commented on #457
I apologize for leaving you guys in the lurch. I should have given you a heads up that I wouldn't be able to continue working on this issue or OptiKey in general _before_ deleting the account, but I messed up the order of operations a tiny bit. Having a GitHub account may still be of limited use going forward, so I wanted to drop in real quick and, again, apologize for that.

Best of luck in all y

[2018-08-16 15:02] kmcnaught commented on #475
I'll look into this

[2018-08-16 15:07] JuliusSweetland commented on #486
@annakirkpatrick Hi Anna - nothing to do with this issue, but you might be interested to know that I'm adding a (test) API endpoint to OptiKey which allows you to give OptiKey instructions. Initially it will just let you set the suggestions. The use case is for a Visual Studio to generate a set of Intellisense suggestions and have a VS addin push these back to OptiKey to replace the dictionary sug

[2018-08-16 19:12] annakirkpatrick commented on #486
@JuliusSweetland Thanks for letting me know about the project.

Your use case does sound quite useful. I regularly do use the suggestions generated by several different IDEs when using OptiKey, but it would definitely be more efficient to be able to view and select suggestions in OptiKey (as opposed to needing to press tab, arrow keys, enter, etc.). The visual distance can also be an aggravating f

[2018-08-17 16:47] JuliusSweetland opened #488 "Add support for Georgian"
Add new keyboard layout and dictionary for Georgian.

[2018-08-17 16:47] #488 closed

[2018-09-16 08:58] maartee commented on #453
Thanks for your feedback!
FYI: There is a primitive maual workaround, that I have started to use :
write a special char, like quote, bracket, etc.
clear the scratchpad
start typing your word, and the prediction words show up

It's often much faster than typing all the letters  :)

[2018-09-16 09:42] maartee opened #489 "Magnified screen area position"
Hi there!
If a mouse magnifier is used often, there is a lot of eye movements, that could be spared, in my opinion.
This would be accomplished by positioning the magnified rectangle area around the original point of click, and not in the center of the screen.
This could be optional, in case somebody still prefers positioning in the center of the screen.
I believe, that on smaller screens, or with

[2018-09-28 00:48] JorgeMattos commented on #460
Thank you very much.

[2018-09-30 01:07] annakirkpatrick opened #490 "Mouse position incorrect for multi-screen configurations with main monitor on the right"
I know the OptiKey wiki says that multiscreen configurations are not supported, but hear me out on this, because I think this is actually a really simple bug, and this type of configuration can actually be really useful for a subset of users. (And OptiKey as it currently exists comes really close to being able to do this!)

From personal experience, OptiKey works fine on a multiscreen system with

[2018-10-01 01:43] rschiefer opened #491 "CI/CD Pipelines?"
I found your project (VERY COOL) through Hacktoberfest and was looking for how I could help.

Are you happy with your current CI/CD process?  I have experience setting up CI/CD pipelines in Azure Pipelines (previously VSTS).  Microsoft recently made Pipelines for public repos free so I could setup a modern CI/CD process for you if it would be helpful.

Just let me know.

[2018-10-01 03:17] JorgeMattos opened #492 "Dynamic keyboard options, Dynamic mouse."
Dynamic keyboard options, Dynamic mouse To achieve desired result.
Creating a smaller mouse bar and middle keyboard.
Read latest posts, accent solution!

Native Mouse Expanded Dock
![8](https://user-images.githubusercontent.com/39384525/50548077-b9b1a700-0c2d-11e9-9ad9-dcad66f912dc.jpg)

[2018-10-01 10:50] JorgeMattos commented on #460
In version 2.17?

[2018-10-01 11:09] JorgeMattos opened #494 "bug fit size and position."
Bug in Version 2.16 adjust the size of the keyboard and when restarting computer resets to the old size. To save we have to close Optikey and reopen, then yes get saved the configuration of size and position.

[2018-10-01 11:28] JorgeMattos opened #495 "Optikey restart key"
Improvement, add an Optikey restart key.
Currently it is possible to give restart if it enters the console and change the time of any key and when saving Optikey of the restart. But no one knows how to enter the console.

[2018-10-01 11:38] JuliusSweetland commented on #490
@annakirkpatrick I'll open this up to hacktoberfest

[2018-10-01 11:41] JuliusSweetland commented on #491
@rschiefer Hi there. Thanks for your interest. I have quite a manual deployment process at the moment as it involves signing using a usb token, packaging the project manually using Inno Setup Script, and signing again.

I have basic CI using appveyor, but if you think any of this can be improved then yes, great!

[2018-10-01 11:43] JuliusSweetland commented on #494
@JorgeMattos Could this be that OptiKey is not shut down nicely when the computer is rebooted? If the OptiKey process is torn down it may not have a chance to exit gracefully, and settings may not be saved properly.

[2018-10-01 11:43] JuliusSweetland commented on #495
@JorgeMattos Out of interest why do you need to restart OptiKey?

[2018-10-01 12:32] rschiefer commented on #491
Cool.  I'll start with a new CI build and if you like it we can go from there.

[2018-10-01 15:44] kaylangan commented on #491
I'm a Program Manager on Azure Pipelines. Let me know if you have any questions or suggestions. I'm happy to help!

[2018-10-01 16:52] JuliusSweetland commented on #491
@rschiefer @kaylangan Great stuff, thanks guys.

[2018-10-01 19:42] rschiefer commented on #491
Here is the initial CI pipeline - https://chief7.visualstudio.com/OptiKey/OptiKey%20Team/_build/results?buildId=63&view=logs

What else do you want added to the CI build?

Once the CI build is done, we can look at the release pipeline.

[2018-10-01 20:15] JuliusSweetland commented on #491
@rschiefer Thanks, that looks promising. I presume this will monitor all branches and run builds when changes are detected? If so how do you think it compares to appveyor?

[2018-10-01 20:18] rschiefer commented on #491
Yes, after merging to master and configuring it will kick off a build for any branch.  I don’t have any experience with AppVeyor but Azure Pipelines appears to give much more information (logs, analysis, test results, etc) than AppVeyor.

From: Julius <notifications@github.com>
Sent: Monday, October 1, 2018 3:16 PM
To: OptiKey/OptiKey <OptiKey@noreply.github.com>
Cc: Robb Schiefer <rschiefer@live.

[2018-10-02 02:05] JorgeMattos commented on #495
When you connect Windows to an external smart TV or Bluetoofh device, sometimes you run out of Optikey, or if tobii calls after Optikey, it makes it easier for the caretaker to restart Optikey.

[2018-10-02 02:19] JorgeMattos commented on #492
This automatic translator is not so good. In most of the Site when you move the mouse open other options, but this the magnetic mouse function does, but not the time to clinic because when we take our eyes to click it it disappears, so with the light key to the point it will not disappear and then we can click the sub menu.

[2018-10-02 02:29] JorgeMattos commented on #494
Yes it may be, let's see if at 2.17 it will continue. Let's save. Thank you very much.

[2018-10-04 09:52] aihamhasan04 commented on #489
you could choose to simply slide the magnified area "inwards" towards the center of the screen just far enough so that the entire magnified area fits on the screen. This solves the literal problem, but I think it might be disorienting as a user.

[2018-10-04 16:17] rschiefer commented on #491
I have setup an official Azure Devops account for Optikey and sent you an invite to be an admin.  I think I need to be added as a Collaborator to the optikey GitHub repo to properly setup the pipeline OR I can give you the steps to create the pipeline.

[2018-10-04 16:37] JuliusSweetland commented on #491
@rschiefer Hey Robb - I've added you to the CI team - does that work?

[2018-10-04 16:41] rschiefer commented on #491
Yes, that got me further and was able to request access on behalf of Azure DevOps.  As the owner, you should receive a request for Org access from Azure Devops.

From: Julius <notifications@github.com>
Sent: Thursday, October 4, 2018 11:38 AM
To: OptiKey/OptiKey <OptiKey@noreply.github.com>
Cc: Robb Schiefer <rschiefer@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [OptiKey/OptiKey]

[2018-10-04 16:42] JuliusSweetland commented on #491
@rschiefer Approved

[2018-10-05 05:13] mbise1993 commented on #477
Hi! I discovered this project through Hacktoberfest and I'd love to make some contributions. After looking through the code a bit, this seems like a good issue to start with. I was able to reproduce the problem and have a really basic fix working on my local copy by adding a call to the `KeyboardView` base class constructor from here: https://github.com/OptiKey/OptiKey/blob/86a871f50e8ba79c6f5b1a6

[2018-10-05 09:18] JuliusSweetland commented on #477
@mbise1993 Hi and welcome. I think a new option in the dynamic keyboard xml would be best.

[2018-10-05 09:19] JuliusSweetland opened #504 "Multi-key selection stays active when changing from normal to simplified keyboard"
In a normal alpha keyboard enable multikey select (lock it down for ease) and then switch to a simplified keyboard - multi key selection will still be enabled and make typing very difficult.

[2018-10-06 13:42] xan2622 commented on #453
ust to let you know, I added a $15 (usd) bounty on this issue.
Thanks to Bountysource.com, your followers/fans/contributors/whoever... can give you donations, in exchange to fixed/completed Github issues.

That means that as soon as you have finished working on this Github Issue, you will be able to claim the bounty and the money will become yours. This is a way to thank developers for their work

[2018-10-06 15:13] JuliusSweetland commented on #453
That's great! I'll mark the issue as having a bounty

On Sat, Oct 6, 2018 at 2:42 PM xan2622 <notifications@github.com> wrote:

[2018-10-07 11:13] LauraLaureus commented on #495
@JuliusSweetland  is this issue available for hacktoberfest?

[2018-10-07 11:39] LauraLaureus commented on #495
Great!! Do you want a Key on OpiKey Keyword or on physical key? @JuliusSweetland @JorgeMattos

[2018-10-07 12:13] JuliusSweetland commented on #495
I'm not particularly familiar with the use case so perhaps just a context
menu item for now (when the user physically right clicks on optikey)

On Sun, 7 Oct 2018, 12:39 Laura del Pino Díaz, <notifications@github.com>
wrote:

[2018-10-07 16:39] SSidharth1505 commented on #489
Hi all!
I liked the concept! What about adding more features so that we can indulge AI in the program?

[2018-10-07 17:41] JorgeMattos commented on #495
An option in Optikey, I do not know where I could have this option to restarter. Maybe next to the option to leave or to restarter?

[2018-10-07 18:30] JuliusSweetland commented on #495
Yes above QUIT sounds good

On Sun, 7 Oct 2018, 18:41 Jorge Mattos, <notifications@github.com> wrote:

[2018-10-07 18:47] LauraLaureus commented on #495
Okey, I'll work on it as part of hacktoberfest  :D . @JuliusSweetland if you have other issues you think  can be done within this month I'll be pleased to help, I like the project it has a similar goal to one the company I work for did with neuroski system.

[2018-10-07 20:04] LauraLaureus commented on #495
Also, @JuliusSweetland  can you provide me a new icon for the refresh button ?

[2018-10-08 17:50] annakirkpatrick commented on #492
@JorgeMattos I have also experienced the limitation you are describing. Since I know English is not your native language (and it sounds like you're using an automatic translator), hopefully it's okay if I give a second explanation of this problem for people who don't use assistive tech all the time and haven't encountered this problem.

On a fair number of websites (the original poster is mentioni

[2018-10-08 18:35] JorgeMattos commented on #492
You - This move-to-point function is already included in the expanded mouse panel, along with other tools that make it easier to handle these mouse over menus (such as the move by X pixels keys that let you move straight down)

I understand your opinion! The problem is not the tool to move the mouse to a point without click and yes when you maximize the mouse bar some disappears from the screen th

[2018-10-08 18:54] Chopinsky commented on #504
Would you think it's sufficient if we simply toggle off the multi-selection lock if switching to a simplified keyboard? Or should it be better to guard the behavior behind a setting?

[2018-10-08 20:22] JuliusSweetland commented on #504
It would be sufficient if multi-key selection were released when switching
to a keyboard which doesn't support it

On Mon, Oct 8, 2018 at 7:54 PM Jacob Zuo <notifications@github.com> wrote:

[2018-10-08 21:15] annakirkpatrick commented on #492
@JorgeMattos Thanks for the work you're doing to make OptiKey documentation available in Portuguese!

I also really appreciate that this suggestion came from feedback that you received from multiple users. That certainly says to me that it is a problem that we should think about and discuss.

I want to make sure I really understand exactly what problem you're trying to solve. From understanding co

[2018-10-08 21:35] annakirkpatrick commented on #492
@JorgeMattos I spent a couple more minutes looking at the current behavior of the expanded mouse keyboard in OptiKey when it comes to mouse over menus, and now I'm actually really puzzled as to what's going on. I was able to get the desired behavior (clicking on the menu item) sometimes by using first the move to point tool and then the left click tool, but other times the menu closed before I cou

[2018-10-08 21:45] annakirkpatrick commented on #495
@JuliusSweetland I'm aware that this thread has moved on, but you did ask why a restart button would be useful. I actually have thought to myself "I wish there was a restart option in addition to quit" many times.

Usually I'm thinking this because OptiKey is running slowly or in some other way malfunctioning and I want to restart it. (Not unlike the way one decides to reboot Windows when somethin

[2018-10-08 22:05] JuliusSweetland commented on #495
Understood. If you are seeing degrading performance over time can you check
the memory usage of OptiKey before you restart it? I would be interested to
hear about any more potential memory leaks.

On Mon, Oct 8, 2018 at 10:45 PM Anna Kirkpatrick <notifications@github.com>
wrote:

[2018-10-08 22:09] LauraLaureus commented on #495
Just for updating, I have to fix the button icon and proper confirm the restart as the main quit button does. Sorry about being so slow but I'm employed and I have some duties :)

[2018-10-08 22:16] JuliusSweetland commented on #495
No rush at all. Take your time.

On Mon, Oct 8, 2018 at 11:09 PM Laura del Pino Díaz <
notifications@github.com> wrote:

[2018-10-09 08:27] JorgeMattos commented on #492
@annakirkpatrick Great this site https://math.gatech.edu/news-and-events for demonstration lab. Tomorrow I will make a video demonstration of the options you currently have to open these sub menu. A video image speaks more than a thousand words kkkk Portuguese dictation I think you will not understand English.

[2018-10-09 08:37] JuliusSweetland commented on #492
Thanks Jorge. I don't know why some of the menus behave differently - I
would guess that it's a rendering thing in the browser. Does this behaviour
exist using other browsers?

On Tue, Oct 9, 2018 at 9:27 AM Jorge Mattos <notifications@github.com>
wrote:

[2018-10-09 23:12] JorgeMattos commented on #492
`<iframe width="560" height="315" src="https://www.youtube.com/embed/237vz_nFtZQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>`

[2018-10-09 23:20] JorgeMattos commented on #492
I thank Julius Sweetland. Using all in one  24v570: 8g Windows 10 home, Chrome. My browser has a bug. Before I clicked.
https://youtu.be/237vz_nFtZQ

[2018-10-09 23:47] JorgeMattos commented on #492
Using edge

https://youtu.be/SNqKzTb4Xzw

[2018-10-10 00:28] JorgeMattos commented on #492
Using fire fox
https://youtu.be/1u-ePGf2Fv0

[2018-10-10 00:29] annakirkpatrick commented on #492
@JorgeMattos Can you clarify for me the problem with using the expanded mouse keyboard? Is it just too big?

[2018-10-10 00:40] JorgeMattos commented on #492
@annakirkpatrick     Yes it is very large and occupies half the screen. Change things in place.

Tomorrow I'll delete the videos, show content.

Thank you, thank you, thank you....

[2018-10-10 01:56] annakirkpatrick commented on #492
Okay, setting aside for the moment the strange behavior we saw on Georgia Tech's website and returning to the actual question at hand, here's what I'm thinking.

For some users, like Jorge and the Portuguese users he has been helping, there is a desire to have more advanced mouse functionality without using all of the screen space required by the expanded mouse keyboard. (This includes the move to

[2018-10-10 07:47] JuliusSweetland commented on #492
Hi Anna,

Yes I agree that an intermediate keyboard would be a good idea. Perhaps we
could have a setting to enable it (which would be a simple check box in the
management console) and then the expand/collapse keys on the mouse keyboard
go through 3 states: collapsed <-> intermediate <-> expanded. Thoughts?

I also think the issue with the menu *may* be related to the way the mouse
cursor just jum

[2018-10-10 22:07] JorgeMattos commented on #492
@annakirkpatrick @JuliusSweetland    I tested three computers, each hardware had a different behavior.
I'm thinking of removing my proposal for change.
Optikey is great.
Can I remove my change proposal?

[2018-10-10 22:17] #494 closed

[2018-10-11 17:03] annakirkpatrick commented on #492
@JorgeMattos just to be clear, you saw that three different computers each had different behaviors using the same web browser, same version of OptiKey, same website. Right?

That surprises me a little, as my own experiments showed the same behavior as your videos. (I got the same results as you did in all 3 browsers. And on both webpages.)

I think you have pointed out an important issue. It just

[2018-10-11 17:16] annakirkpatrick commented on #495
@JuliusSweetland I haven't seen behavior that looks like a memory leak recently. I think these issues were resolved when the fix for the cursor-related memory leak made it into a stable release. I'll keep my eyes out, though, and let you know if I run into anything.

[2018-10-11 17:38] annakirkpatrick commented on #453
I don't use OptiKey's predictions very much any more. (I instead use the prediction and completion utilities in my terminal or editor using tab, arrow keys, and enter.) But I did want to chime in here and say that the issue presented here is very much a real thing and something that annoyed me a lot when I started using OptiKey and was trying to use the built-in prediction and completion tools.

I

[2018-10-11 17:53] JorgeMattos commented on #495
My Optikey stays on 24 hours and has no memory leak problem, this has already been resolved. Memory consumption stays 100mb.

The option to restart for when the tobii calls after the Optikey.
![add restart](https://user-images.githubusercontent.com/39384525/46823765-70a43200-cd65-11e8-926b-6dc2c421881b.JPG)

[2018-10-11 18:19] JorgeMattos commented on #492
You -  I've worked on keyboard layouts for Optikey before, so it should be pretty easy for me to make a prototype that allows the user to collapse the mouse keyboard in stages. This is what Julius proposes above as an option. Would you like to try such a prototype? (I would try using it, too.

Yes accepted.

This question I have shown is very complicated, every web site has a different html, the b

[2018-10-11 19:44] JuliusSweetland commented on #495
Great news guys, thanks.

[2018-10-12 10:55] LauraLaureus commented on #495
Hi!! I have just seen the screen shot provided by @JorgeMattos .
I was developing a button inside the menu with the refresh option, but I seen you want it also in the context menu.
@JuliusSweetland do you want both options or should I revert my changes and only create the button in the context menu?

[2018-10-12 20:50] JorgeMattos commented on #495
both options, would be wonderful, if not a lot of work?

[2018-10-12 20:55] LauraLaureus commented on #495
I have already done the menu one, I'm searching the file to do the context one :) I hope this weekend I can finish it :D

[2018-10-12 21:10] JorgeMattos commented on #495
@LauraLaureus
You are awesome!
You're the best!

[2018-10-13 18:59] annakirkpatrick commented on #492
@JorgeMattos Cool. I will put together a sample so that you and I (and anyone else who wants to) can do some testing and evaluate how useful this intermediate complexity mouse keyboard would be.

@JuliusSweetland Any updates on the project to pull the IntelliSense suggestions into OptiKey's suggestion selection mechanism? (or is there another repository or project page I should be following for th

[2018-10-13 20:41] JuliusSweetland commented on #492
You can push suggestions to OptiKey on the Brandt which includes support
for that (Lee me know if you can't find it)

On Sat, 13 Oct 2018, 20:59 Anna Kirkpatrick, <notifications@github.com>
wrote:

[2018-10-14 08:33] Teltez50 commented on #489
Here's a thought: Why not think outside the box(square); When magnifying at the edge of the screen the screen could slide and expand left, right, up or down and even diagonally while it is being magnified and follow track, in movement, with the magnified area.
I believe this would be possible if the edges were fuzzy areas in code, pliable if you like and not fixed points.
This would only work whil

[2018-10-14 09:12] MauroCoppola opened #512 "Documentation: Convert .txt to .md files"
Hi, I saw that the [docs](https://github.com/OptiKey/OptiKey/tree/master/docs) directory contains .txt files to describe some tasks/aspects of the project, but I think converting them to Markdown files might improve readability (remove horizontal scrollbars, for example). I can work on that if you agree.

[2018-10-15 05:49] JuliusSweetland commented on #492
That's correct. I'm not sure where the other user is with developing this
functionality. It may have stalled.

The only issue with the endpoint is that you have to run OptiKey with admin
privilege, which would be a change.

Regards
Julius

On Sun, 14 Oct 2018, 20:26 Anna Kirkpatrick, <notifications@github.com>
wrote:

[2018-10-16 23:07] JuliusSweetland commented on #512
@MauroCoppola sounds good, yes please

[2018-10-16 23:10] #429 closed

[2018-10-17 16:31] hugodahl commented on #512
I'd also be glad to help out with this effort, while I get a bit more familiar with the code and functionality, to contribute from that perspective.

[2018-10-22 11:25] #512 closed

[2018-10-25 08:05] JuliusSweetland commented on #504
Included in 2.0.17

[2018-10-25 08:05] #504 closed

[2018-10-25 08:23] JuliusSweetland opened #515 "Add support for Chinese - BOUNTY OF $100"
Add new keyboard(s) with the constituent symbols for Chinese, plus the logic to combine symbols (as required), and solve any other Chinese specific challenges (e.g. new logic to handle how symbols combine/break apart when backspacing, etc).

I am unfamiliar with the writing styles, so someone who knows how Chinese is more commonly captured and spoken (via text to speech) would be required.

[2018-10-27 02:30] AntonioCaroppos opened #516 "Window size not correct anymore after starting OptiKey and then closing it (and even restarting Windows)."
I've run the source code in VS2017 on Windows 10.

After I quit Visual Studio, all my windows were half the screen height, as if OptiKey was still running.

I have even restarted Windows, and if I maximize a window and then normalize it, the window becomes half the screen height.

How can I set the window size back to normal?

This height issue affects all windows (my browser, text files, etc.).

[2018-10-27 07:15] JuliusSweetland commented on #516
@AntonioCaroppos When OptiKey starts and is docked to a screen edge (which is the default) then it registers with Windows as a toolbar (just like the taskbar at the bottom). This causes Windows to resize the desktop, moving all the icons etc while OptiKey is open. If you close OptiKey gracefully (using the QUIT item in the context menu, or by pressing ALT+F4, or by closing the task in the task bar

[2018-10-28 11:11] #495 closed

[2018-10-29 09:57] #516 closed

[2018-10-29 14:00] JorgeMattos commented on #495
I agree! Do not change the menu. I found a problem in (it can also be used in dynamic keyboards) I spoke to Ronaldo Santos.

Look https://youtu.be/3NsFCC4BZS4

[2018-10-29 14:13] JuliusSweetland commented on #495
@JorgeMattos Thanks for your video. I presume the issue you are showing is that the Dynamic Keyboards key leads you into a keyboard from which you cannot return? If that's the case then I've emailed Ronaldo with a proposed solution - to replace the QUIT key with a MENU key to allow you to return to the main menu. You can then restart/quit from the menu if required, or move back into the Dynamic Ke

[2018-10-29 14:31] JorgeMattos commented on #495
Yes and also do not set a time for the new option in the menu. Very fast speed. There is no option on the console to set the speed of this new option.

Thank you very much. Sorry for the problem I caused with the restart suggestion.

[2018-10-29 14:54] hmcomer opened #517 "When typing characters with accents, 'back one' key not working correctly"
# How OptiKey was being used

I regulary use Optikey to write in Turkish. In Turkish, there're characters like ş, ğ, ç, etc,... and when I type them and then try to erase one of these characters, first optikey gets rid of the accent and then the whole character.

# What the user expected to happen

I think it would be more logical to have the whole character erased when pressing 'back one'.

# Wha

[2018-10-29 15:19] JuliusSweetland commented on #495
Oh right, good point. I will make the dynamic keyboard key selection
configurable.

On Mon, 29 Oct 2018, 14:31 Jorge Mattos, <notifications@github.com> wrote:

[2018-10-29 15:48] JuliusSweetland commented on #517
@hmcomer Thanks for your report. I'll have to think about how to fix this. The current behaviour is intended for languages such as Korean where characters combine. By breaking them apart before the backspace is applied it allows users to remove part of their combined symbols. With languages such as Turkish you instead get the behaviour you describe.

When you are working across multiple applicatio

[2018-10-29 17:16] hmcomer commented on #517
Yes, clearing the scratchpad is definitly a solution. Even if I work in only one application I hit the clear scratchpad button quite frequently when writing in Turkish.

Would it be an easy solution to bypass the scratchpad completely, with a 'raw imput' mode?

[2018-10-29 17:41] JuliusSweetland commented on #517
@hmcomer What would the benefit of the raw input mode be? It might instead be better to have a setting which makes the BackOne key always delete one character, not one part of the last character?

[2018-10-29 19:17] OutsourcedGuru commented on #427
Rather than creating another issue, I decided to post here. Apologies if my take on this runs differently than the existing model or from the suggestions above.

The standard QWERTY keyboard design was based upon the concept of a (right-handed) two-handed typist. I learned how to type on an old Underwood typewriter in high school, btw. Honestly, though, this new concept of OptiKey should divorce i

[2018-10-30 10:02] maartee commented on #517
Hi, I also have this issues when using Czech layout. I  think clearing scratchpad when changing app doesn't help much.
When you
1) write some word with diacritics, not finish it with space
2) then navigate to another place in the same text to repair some typos
3) hit backspace/back-one-word
4) see what happens - a messed up text appears when I try

However, I don't know whether raw input solves th

[2018-10-30 10:13] JuliusSweetland commented on #517
OptiKey relies on its memory of what has been typed (shown in the
scratchpad) to figure out what a backspace, for example, should do. If you
navigate the cursor somewhere else OptiKey is not aware of this and thinks
you are continuing to type from where you left things, so the output can be
confused.

On Tue, 30 Oct 2018, 10:02 Martin Ovsenak, <notifications@github.com> wrote:

[2018-10-30 13:54] maartee commented on #517
For some reason, the issue only shows with diacritics, English works as I expect, backspace not adding any characters.

I think OptiKey is aware of cursor positioning- on a second thought:
 what if OptiKey 'forgets' the word after any positioning key(arrows, home, end, pgdn, pgup, tab) is pressed, or left mouse click is performed. After these events, the  continuation of previous word is highly im

[2018-10-30 17:22] annakirkpatrick commented on #427
@OutsourcedGuru This isn't a bad idea, though it would be tricky to implement with the current code. Right now, everything is constrained to be on a grid.

I actually have designed a keyboard (subject to that grid constraint) that puts most frequent characters closest to the center of the screen (note that the keyboard won't generally cover the whole screen). My "hacker keyboard" was designed for

[2018-10-30 17:48] JuliusSweetland commented on #517
I think there could be two new settings:

1. Reset scratchpad after cursor move (arrow keys and mouse clicks). This
would be off by default as a mouse click doesn't necessarily change the
cursor position (eg the user clicks on the Italic button in word while
typing).

2. Always backspace one whole character - which would bypass decomposing
the last character before deleting the last character.

On

[2018-11-05 19:07] Larkailya opened #520 "Ukrainian localization"
Hey everyone. I with my friend @darinakulish want to make the Ukrainian localization for OptiKey. We are pleased that there is such a project and people care about people with disabilities. We would like to make the support of the Ukrainian language for this application, so that people in Ukraine can use this application.

We have sent a request for access to the Ukrainian language on transifex. M

[2018-11-05 19:18] JuliusSweetland commented on #520
Granted on Transifex. In addition to doing the translation we also need
customised keyboards for Ukrainian and to also possibly make any little
changes to handle Ukrainian specific behaviours that are needed. There's a
localisation document here:
https://github.com/OptiKey/OptiKey/blob/master/docs/Localize.md

On Mon, 5 Nov 2018, 19:07 Ilya, <notifications@github.com> wrote:

[2018-11-06 09:51] Larkailya commented on #520
Hi, @JuliusSweetland !
We have finished translating into transifex everything that applies to the Ukrainian language.

Can we continue and start integrating the language into the application?

[2018-11-06 10:11] JuliusSweetland commented on #520
Absolutely. You may be able to download the Ukrainian resx file yourself
and continue. If not let me know what I'll download and share it.

On Tue, 6 Nov 2018, 09:51 Ilya, <notifications@github.com> wrote:

[2018-11-07 12:01] darinakulish opened #522 "UI localization not working on all languages"
# How OptiKey was being used

We did Ukrainian translation with Larka Ilya, and while running the application keyboard and dictionary translation run successfully, UI interface is not translated in all languages (stays English).

# What the user expected to happen

When language is switched, buttons have to also change language.

# What the user actually experienced

Keyboard and dictionary are tr

[2018-11-07 12:11] dreua commented on #522
I don't know if this is intended behavior or a bug, but as a workaround you can set the UI Language in the Management Console. (Open it via Alt+M or Right-Click menu)

[2018-11-07 13:04] darinakulish commented on #522
Thank you, found it. Basically it's not obvious for user (that buttons are changed not where keyboard is changed), but if it was intended to be so it's ok:)

[2018-11-07 13:10] #522 closed

[2018-11-07 22:35] JuliusSweetland commented on #522
@darinakulish Thank you Darina for explaining where the UI Language is set.
@dreua Hi David - basically the UI language is *your* main language, so for me that would be English. I might want to start typing in English, but then switch to Ukrainian to type something in Ukrainian. I can do this either by changing the Keyboard language in the Management Console, or via the Languages keyboard from the

[2018-11-10 02:37] mamuso opened #523 "Wiki - Azure Pipelines Badge"
The Azure Pipelines badge [in the footer of the wiki](https://github.com/OptiKey/OptiKey/wiki#wiki-footer) seems to be pointing to the wrong place and shows as "set up now".

![image](https://user-images.githubusercontent.com/3992/48296633-08249f80-e44e-11e8-8f14-b881b71196b2.png)

[2018-11-11 09:02] JuliusSweetland commented on #491
@rschiefer Hi Robb. My Azure badge seems to be broken? It's prompting me to set up the pipe again? Any chance you could help me figure out what's happened?

There's an issue to discuss this here: https://github.com/OptiKey/OptiKey/issues/523

[2018-11-11 09:03] JuliusSweetland commented on #520
@Larkailya Released! v2.20.0

Thank you very much! Any more contributions from you would be very well received - your changes were very good.

[2018-11-11 09:03] #520 closed

[2018-11-11 18:31] dreua commented on #523
The footer currently displays this:
`[![Build status](https://dev.azure.com/optikey/optikey/_apis/build/status/optikey-CI)](https://dev.azure.com/optikey/optikey/_build/latest?definitionId=-1)`
[![Build status](https://dev.azure.com/optikey/optikey/_apis/build/status/optikey-CI)](https://dev.azure.com/optikey/optikey/_build/latest?definitionId=-1)

I think `optikey-CI` is not a valid target (any m

[2018-11-12 07:06] JuliusSweetland commented on #523
@dreua Thanks David! All working again. I appreciate your help.

[2018-11-12 07:06] #523 closed

[2018-11-12 07:07] JuliusSweetland commented on #491
@rschiefer All good now. I followed the instructions on this issue: https://github.com/OptiKey/OptiKey/issues/523

[2018-11-12 07:07] JuliusSweetland commented on #491
@rschiefer Thanks!

[2018-11-14 20:44] annakirkpatrick opened #524 "Manual mode does not work properly when keyboard key trigger mechanism is used"
# How OptiKey was being used

Version 2.20 had just been installed. An able-bodied helper was attempting to help me with configuration. I instructed him to enable manual mode by right clicking on Optikey and selecting manual mode. Manual mode was successfully enabled.

# What the user expected to happen

I expected that my helper would be able to activate keys by clicking on them.

# What the user

[2018-11-14 22:37] JuliusSweetland commented on #524
@annakirkpatrick Hi Anna. Please try the 2.21.0 pre-release here and let me know if that fixes this issue: https://github.com/OptiKey/OptiKey/releases

[2018-11-15 16:25] #477 closed

[2018-11-15 16:26] #457 closed

[2018-11-15 21:15] JuliusSweetland commented on #463
@PopeSpaceous Hi. Rather than using the SharedSizeGroup (which is an attached property from the Grid class and is only used with sizing), you can instead bind to the Key's HasSymbol property with something like this:

`Binding="{Binding Path=HasSymbol, RelativeSource={RelativeSource AncestorType={x:Type controls:Key}}}" `

I would make the change in the KeyBorderStyle (in a new theme that is desig

[2018-11-20 16:39] seichris commented on #515
@JuliusSweetland great project you are building!

I think I can help you with the logic a bit here - Been studying Chinese for some years now and been to China a couple of times. I am not sure if I can help you to implement though.

So , most Chinese write in English letters, to type what they hear. The romanized Chinese - PinYin. So they simply use the English keyboard.

Using the google pinyin i

[2018-11-20 16:58] seichris commented on #515
The library mdbg.net uses is https://cc-cedict.org/wiki/
This should be the most comprehensive library for ENG - CN. There is also sister projects for [German](https://handedict.zydeo.net/de), [French](https://chine.in/mandarin/dictionnaire/), [Hungarian](https://chdict.zydeo.net/en/) - CN

[2018-11-20 17:09] JuliusSweetland commented on #515
Hi @seichris - glad to have some help on Chinese! So am I correct in understanding that the latin alphabet approximation of the Chinese symbols is called "Pinyin"? A conversion from Pinyin to Chinese loyograms would then be performed and a number of Chinese logograms would then be presented to the user. When they select one it would replace the current word. Sound correct?

If so this article has

[2018-11-20 17:19] seichris commented on #515
Correct!

In that case, using the microsoft library sounds most straight forward. Or would that affect the OptiKey GPL license?

Anyway, I guess from here on, I cannot help much.

[2018-11-20 17:35] JuliusSweetland commented on #515
@seichris Thanks Chris.

[2018-11-20 22:19] JuliusSweetland opened #525 "Issue loading presage database from zip file"
@zelmon64 Hi William. A user is experiencing crashes when using the latest version of OptiKey. Two things happen:

1.This line throws a (caught) exception: https://github.com/OptiKey/OptiKey/blob/master/src/JuliusSweetland.OptiKey/App.xaml.cs#L352

[code]

2.This line then throws an uncaught exception which crashes OptiKey: https://github.com/OptiKey/OptiKey/blob/master/src/JuliusSweetland.OptiKey

[2018-12-02 20:43] annakirkpatrick commented on #524
@JuliusSweetland I downloaded the prerelease that you linked to above, and I saw the exact same behavior as I described in the original bug report. I did turn on debugging mode and save a log, in case that contains any clues.
In this log file:
1. Launch OptiKey.
2. From the dynamic keyboard menu (my start screen) use gaze and switch to select my custom dynamic keyboard.
3. Right click on OptiKey t

[2018-12-08 18:09] annakirkpatrick commented on #492
@JorgeMattos using dynamic keyboards (XML) to get the exact mouse keyboard you want is a good idea!

The reason that your SCROLL BY 3 CLICKS text does not appear is actually pretty simple. For all of your other keys, you are using icons, which are defined here: https://github.com/OptiKey/OptiKey/blob/master/src/JuliusSweetland.OptiKey/Resources/Icons/KeySymbols.xaml

If you look through that file,

[2018-12-08 18:31] JorgeMattos commented on #492
@annakirkpatrick  So it's impossible to put together this dynamic keyboard draft?
![teclado dinamico compacto com sugestao](https://user-images.githubusercontent.com/39384525/49689324-b3d11600-fb06-11e8-9a8e-5f32b96cd5d3.JPG)

[2018-12-08 19:08] annakirkpatrick commented on #492
@JorgeMattos I think all of the functionality in that draft should be possible, but I don't think it's possible to rearrange the text entry and suggestion elements to create the top row that you have drafted here. My understanding is that your only real options are
[code]
or
[code]
in the file preamble. If you want more control than that, I think you will have to edit source code.

PS. my friend a

[2018-12-09 08:53] JuliusSweetland commented on #148
Hi Andrej,

Thank you for your email. I've also received your pull request. Is it
complete? If so I'll aim to test it ASAP. Might not be for a few days as
I'm a bit busy today.

Regards,
Julius

On Fri, 7 Dec 2018, 15:23 drejkamikaza, <notifications@github.com> wrote:

[2018-12-09 17:43] annakirkpatrick commented on #492
@JorgeMattos I'm glad the tutorial is helpful, and also glad that the show output panel option does what you need!

Automatic translation is challenging, but I think we are communicating okay. Your screenshots and videos are very helpful!

I think accent icons should be doable on dynamic keyboards, as should proper behavior of accents. (I'm not sure if we can accomplish the "vowel lock" behavior,

[2018-12-09 17:50] annakirkpatrick commented on #492
@JorgeMattos here's the issue thread where auto capitalization has been discussed before with respect to dynamic keyboards: https://github.com/OptiKey/OptiKey/issues/477

I think adding
[code]
to the file preamble should solve the problem.

[2018-12-10 01:32] ryan-shea commented on #515
Hey @seichris, what's the latest here? Ryan from Gitcoin here.

[2018-12-10 01:39] JorgeMattos commented on #492
@annakirkpatrick '   This code resolved in part to give auto SHIF after pressing ENTER and after a point type (.) Would have to have two function:
ENTER + ClearScratchpad then yes would have the native keyboard behavior.
Just giving clean it back to capital letters.
Look at my dynamic mouse show! You were right, do not look nice with 11 columns.
Good week. Thank you very much.

[Keyboard + mouse.z

[2018-12-10 08:38] JuliusSweetland commented on #515
I'd like to reorder the bounty of possible to try and attract more interest.

On Mon, 10 Dec 2018, 08:29 Chris Seifert, <notifications@github.com> wrote:

[2018-12-11 20:59] johnnyasantoss opened #528 "Why this project doesn't have tags to help people find it?"
I mean this project is awesome and you guys deserve the credit of doing this awesome piece of code! Seriously

I forgot the name of the project and spent 15mins just trying to find something related to eye tracking and seems that this projec **don't have tags** to make it more visible to searches!

Look here, a good tag to put this software in https://github.com/topics/eye-tracking?l=c%23&o=asc&s=

[2018-12-11 21:20] JuliusSweetland commented on #528
@johnnyasantoss Great idea. Done:

![image](https://user-images.githubusercontent.com/4722561/49830945-81374f80-fd8a-11e8-8b6c-1f817f99dcd9.png)

[2018-12-11 21:20] #528 closed

[2018-12-13 14:35] JorgeMattos commented on #492
@annakirkpatrick Project almost ready! Only missing accent code, automatic shift code after giving enter.

[Dynamic keyboard, mouse dynamic, menu dynamic.zip](https://github.com/OptiKey/OptiKey/files/2676411/Dynamic.keyboard.mouse.dynamic.menu.dynamic.zip)
![diagrama](https://user-images.githubusercontent.com/39384525/49945239-910e7b00-fed3-11e8-9868-d1cd2059669f.jpg)

[2018-12-13 15:46] JorgeMattos commented on #492
These are the rules of Portuguese

   //Acute accent: Áá éÉ íÍ óÓ úÚ
                    if (keyStateService.KeyDownStates[KeyValues.CombiningAcuteAccentKey].Value.IsDownOrLockedDown())
                    {
                        return keyValue == KeyValues.CombiningAcuteAccentKey //Allow the acute accent to be manually released
                            || keyValue == new KeyValue("a")

[2018-12-15 17:55] OneBadNinja commented on #331
Hi Julius, could you please re-open this? I would like to give it another shot. Thanks!

[2018-12-15 19:37] JuliusSweetland commented on #331
@OneBadNinja done

[2018-12-16 19:01] OneBadNinja commented on #331
Thank you Julius! We have now updated the Georgian localisation on Transifex, could this please be reviewed and the Georgian branch created?

Thanks!

[2018-12-16 22:12] ryan-shea commented on #515
@JuliusSweetland, reopened the bounty to the community

[2018-12-17 16:01] JorgeMattos commented on #492
A dynamic keyboard option for the wearer on the side.

![numeros lateral](https://user-images.githubusercontent.com/39384525/50098961-1fe90380-0204-11e9-9f77-0f6d1e0d5433.JPG)
![teclado lateral](https://user-images.githubusercontent.com/39384525/50098979-2d05f280-0204-11e9-85f6-06b9fed271ef.JPG)

[2018-12-17 16:31] #460 closed

[2018-12-17 17:25] JorgeMattos opened #530 "Upgrade standalone"
improvements.

An option in the installer for the patient himself can update Optikey without losing control. Automatic restart at the end.

![cmd do optikey instalador](https://user-images.githubusercontent.com/39384525/50103853-bd960000-020f-11e9-9823-ea28c4263aa6.JPG)
![opcoes do instalador](https://user-images.githubusercontent.com/39384525/50103878-ca1a5880-020f-11e9-8d5f-1848668e3f42.JPG)
![i

[2018-12-22 18:07] OneBadNinja commented on #331
Thank you Julius! I can't seem to find an option for generating the .resx file, is this to be done by you? Cheers!

[2018-12-22 19:42] JuliusSweetland commented on #331
Here you go (I downloaded the resource file from Transifex and zipped it up). You will need to extract the file and add it to the solution in the Properties directory.
[Resources.ka-GE.zip](https://github.com/OptiKey/OptiKey/files/2705488/Resources.ka-GE.zip)

[2018-12-24 20:31] JorgeMattos commented on #492
@annakirkpatrick  Using &#10; Not &#13 BigHackerKeyboard for ENTER,  Automatic SHIFT after ENTER
Keyboard Pattern ABNT2 ASCII

        <TextKey>
            <Symbol>EnterIcon</Symbol>
            <Text>&#10;</Text>
            <Row>3</Row>
            <Col>10</Col>
        </TextKey>

Merry Christmas.... :-))

[2018-12-26 13:42] enginnerFrankLiu commented on #515
@JuliusSweetland   Have you ever get solution for this issue ?

[2018-12-26 21:13] JorgeMattos commented on #492
@annakirkpatrick   An adaptation for accent lock! To have the same behavior as the native Optikey keyboard would have to be two function on the same key. One type the vowel and return to the previous screen.
[Teclado dinâmico.zip](https://github.com/OptiKey/OptiKey/files/2710869/Teclado.dinamico.zip)

![1](https://user-images.githubusercontent.com/39384525/50457391-43b5f300-0942-11e9-9634-2be95fbe

[2018-12-28 16:38] illialarka commented on #458
Happy New Year, @JuliusSweetland ! 🎁

[2018-12-29 19:08] JorgeMattos commented on #492
@annakirkpatrick Sorted out! Accent lock on the dynamic keyboard vowel.

        <TextKey>
            <Label>&#x25CC;&#x0301;</Label>
            <Text>&#x0301;</Text>
            <Row>3</Row>
            <Col>0</Col>
        </TextKey>

[2018-12-29 21:31] JorgeMattos commented on #492
![capturar](https://user-images.githubusercontent.com/39384525/50542257-57f72b80-0ba0-11e9-8ad1-c1054ecc64ac.JPG)

<Keyboard>
    <Name>TECLADO</Name>
    <IsShiftAware>True</IsShiftAware>
    <ShowOutputPanel>False</ShowOutputPanel>
    <Height>50</Height>
    <SymbolMargin>0</SymbolMargin>
    <BorderThickness>1,1,1,1</BorderThickness>
    <Grid>
        <Rows>4</Rows>
        <Cols>12</Cols>

[2018-12-29 21:34] JorgeMattos commented on #492
@annakirkpatrick
<Keyboard>
    <Name>TECLADO</Name>
    <IsShiftAware>True</IsShiftAware>
    <ShowOutputPanel>False</ShowOutputPanel>
    <Height>50</Height>
    <SymbolMargin>0</SymbolMargin>
    <BorderThickness>1,1,1,1</BorderThickness>
    <Grid>
        <Rows>4</Rows>
        <Cols>12</Cols>
    </Grid>
    <Keys>
        <ActionKey>
            <Action>Attention</Action>
            <Symbo

[2018-12-29 21:36] JorgeMattos commented on #492
`<Keyboard>
    <Name>TECLADO</Name>
    <IsShiftAware>True</IsShiftAware>
    <ShowOutputPanel>False</ShowOutputPanel>
    <Height>50</Height>
    <SymbolMargin>0</SymbolMargin>
    <BorderThickness>1,1,1,1</BorderThickness>
    <Grid>
        <Rows>4</Rows>
        <Cols>12</Cols>
    </Grid>
    <Keys>
        <ActionKey>
            <Action>Attention</Action>
            <Symbol>AlarmIcon</Sym

[2018-12-29 21:39] JorgeMattos commented on #492
<Keyboard>
    <Name>TECLADO</Name>
    <IsShiftAware>True</IsShiftAware>
    <ShowOutputPanel>False</ShowOutputPanel>
    <Height>50</Height>
    <SymbolMargin>0</SymbolMargin>
    <BorderThickness>1,1,1,1</BorderThickness>
    <Grid>
        <Rows>4</Rows>
        <Cols>12</Cols>
    </Grid>
    <Keys>
        <ActionKey>
            <Action>Attention</Action>
            <Symbol>AlarmIcon</Symb

[2018-12-29 21:41] JorgeMattos commented on #492
<Keyboard>
    <Name>TECLADO</Name>
    <IsShiftAware>True</IsShiftAware>
    <ShowOutputPanel>False</ShowOutputPanel>
    <Height>50</Height>
    <SymbolMargin>0</SymbolMargin>
    <BorderThickness>1,1,1,1</BorderThickness>
    <Grid>
        <Rows>4</Rows>
        <Cols>12</Cols>
    </Grid>
    <Keys>
        <ActionKey>
            <Action>Attention</Action>
            <Symbol>AlarmIcon</Symb

[2018-12-29 21:43] JorgeMattos commented on #492
<ActionKey>
            <Action>Attention</Action>
            <Symbol>AlarmIcon</Symbol>
            <Row>0</Row>
            <Col>0</Col>
        </ActionKey>
        <TextKey>
            <ShiftDownLabel>Q</ShiftDownLabel>
            <ShiftUpLabel>q</ShiftUpLabel>
            <Text>q</Text>
            <Row>0</Row>
            <Col>1</Col>
        </TextKey>
        <TextKey>
            <Shif

[2018-12-29 21:51] JorgeMattos commented on #492
<Keyboard>
    <Name>TECLADO</Name>
    <IsShiftAware>True</IsShiftAware>
    <ShowOutputPanel>False</ShowOutputPanel>
    <Height>50</Height>
    <SymbolMargin>0</SymbolMargin>
    <BorderThickness>1,1,1,1</BorderThickness>
    <Grid>
        <Rows>4</Rows>
        <Cols>12</Cols>
    </Grid>
    <Keys>
        <ActionKey>
            <Action>Attention</Action>
            <Symbol>AlarmIcon</Symb

[2018-12-30 04:08] JorgeMattos opened #531 "Wrong value?"
# How OptiKey was being used
      https://github.com/OptiKey/OptiKey/blob/41864c936ec113d2c7461b3a350ffb23ae86115f/src/JuliusSweetland.OptiKey/UI/Views/Keyboards/Portuguese/Alpha1.xaml#L290      WidthSpan="4"

# Version
 - Operating system and version: [e.g. Windows 10]
 - OptiKey version [e.g. v2.21.0]

the correct value is?
https://github.com/OptiKey/OptiKey/blob/41864c936ec113d2c7461b3a350ffb2

[2018-12-30 11:24] JorgeMattos opened #532 "Improvement ConversationAlpha1 Portuguese"
OptiKey/src/JuliusSweetland.OptiKey/UI/Views/Keyboards/Portuguese/ConversationAlpha1.xam

Current
![conversationalpha1 portuguese](https://user-images.githubusercontent.com/39384525/50546772-7bf45480-0c14-11e9-8733-3f060d1792ca.JPG)

New
![new](https://user-images.githubusercontent.com/39384525/50546908-31c0a280-0c17-11e9-862a-fb2a29f78edf.JPG)

![edit1](https://user-images.githubusercontent.com/3

[2019-01-02 23:40] JorgeMattos commented on #492
@annakirkpatrick @JuliusSweetland    Another dynamic keyboard option.
[Teclado dinâmico.zip](https://github.com/OptiKey/OptiKey/files/2722365/Teclado.dinamico.zip)

![dinamico parecido1](https://user-images.githubusercontent.com/39384525/50617957-f522ce80-0ed6-11e9-8cdb-abc44fe87ba1.JPG)
![dinamico parecido2](https://user-images.githubusercontent.com/39384525/50617963-fc49dc80-0ed6-11e9-9bc7-90d93

[2019-01-03 23:14] pacamara commented on #515
@JuliusSweetland Hi. my application to work on this project got approved today, but then the approval was almost immediately revoked! Was that intentional?

[2019-01-04 06:17] JuliusSweetland commented on #515
Not intentional. I'll take a look.

On Fri, 4 Jan 2019, 01:14 pacamara, <notifications@github.com> wrote:

[2019-01-04 06:52] enginnerFrankLiu commented on #515
@JuliusSweetland

  Firstly I really appreciate you create this project and plan to extend language package for Chinese people; it actually help Chinese als patient to express themself;so please keep coding and improving;I am c# developer(mainly on web) from china,so I will  support you from following point

  1.I will keep searching some library/tool/api for "pinyin convert characters",If I get s

[2019-01-04 07:01] #458 closed

[2019-01-04 07:07] JuliusSweetland commented on #531
@JorgeMattos slightly confusingly there are 2 properties related to the key width: Grid.ColumnSpan (which is the actual width and is expressed as 2xthe number of actual keys. In this specific example it is 4, which is 2 keys wide) and ColumnSpan, which controls how the key's contents (label or symbol) is sized. This is 2 as the key spans 2 keyboard keys.

[2019-01-04 07:09] JuliusSweetland commented on #515
@pacamara could you please try and apply again? I didn't get a notification last time. Thanks. https://gitcoin.co/issue/OptiKey/OptiKey/515/1702

[2019-01-04 07:11] JuliusSweetland commented on #515
@enginnerFrankLiu hi, that all sounds great. Please can you apply for the bounty and I will approve when i am notified. If you don't hear anything please let me know as i don't seem to be receiving all notifications.

[2019-01-04 07:22] enginnerFrankLiu commented on #515
@JuliusSweetland   thanks, there is no need to pay me; I am free of charge;  some of my friends get this bad disease (damn it);I hope I can do some to help OptiKey;OptiKey help my friend~

[2019-01-04 07:34] enginnerFrankLiu commented on #515
@JuliusSweetland
 1.spend one week to searching some library/tool/api for you;
 2.if I cannot find; I will write small library demo for you; to make sure whether it is what you want; or you can tell me the detail what should I do about library or something else;

[2019-01-04 07:39] JuliusSweetland commented on #515
That sounds great. Looking forward to seeing what you find.

On Fri, 4 Jan 2019, 09:34 假日机长PRO, <notifications@github.com> wrote:

[2019-01-04 07:52] pacamara commented on #515
@JuliusSweetland Ah, last time I applied, gitcoin did not update the OptiKey github page. This time it has :)

[2019-01-04 07:53] JuliusSweetland commented on #515
@ryan-shea could you please approve pacamara to work on this bounty? I am not the founder so I cannot approve. Thanks.

[2019-01-04 07:57] pacamara commented on #515
@JuliusSweetland Awesome, thanks! 🍻

[2019-01-04 08:02] enginnerFrankLiu commented on #515
well; great; it seems that someone start working  on this issue;
hope get good solution

[2019-01-04 08:54] enginnerFrankLiu commented on #515
I am so sorry; @pacamara  I am not familiar with wpf, I am mainly focus on web dev;  I am sorry that I  could not help you~

[2019-01-04 10:06] pacamara commented on #515
@enginnerFrankLiu No worries :)

[2019-01-04 13:44] JorgeMattos commented on #531
@JuliusSweetland Is this why the legend (SPACE) was smaller than the others? *_*

[2019-01-04 13:50] JuliusSweetland commented on #531
Yes, you'll need to make room for it if you wish to make the space key
larger

On Fri, 4 Jan 2019, 15:44 Jorge Mattos, <notifications@github.com> wrote:

[2019-01-07 07:02] enginnerFrankLiu commented on #515
@pacamara  what's going on your plan?

@JuliusSweetland  there is no need to write "pinyin convert" library; I find these two library that could meet you requirements; you asked in stackoverflow;

"It works great but I'd like to customize it for my WPF application. (Especially the candidate list"

https://github.com/yannickmahe/HanziList

http://hanzidb.org/character-list/by-frequency

[2019-01-07 09:43] pacamara commented on #515
Hi @enginnerFrankLiu , I'm working on the PinyinIME .so to DLL conversion, going good so far. Hope to check in code this week. Note this is not a rewrite or anything, it's just a mechanical conversion from one type of C++ library to another (.so to .dll).

The problem with those resources you mention, is they only give frequencies for *individual* hanzi. This means an input method based on them wo

[2019-01-07 10:45] pacamara commented on #515
However... from that stackoverflow thread:

 https://stackoverflow.com/questions/9535408/how-to-convert-a-pinyin-string-to-chinese-in-c-sharp#comment12326308_9663563

@JuliusSweetland Is there any licensing issue with including `CHSPinyinConv.msi` in OptiKey, or requring users to install it? If not then `ChineseChar.GetChars` this should be the way to go, it would make converting the PinyinIME cod

[2019-01-07 11:31] JuliusSweetland commented on #515
What does CHSPinyinConv.msi install? Is it a library or a service or what?
And how would it be called by OptiKey?

I'm not sure about licensing until I have a chance to look. It should be
ok. Worst case we just ask users to also install it.

On Mon, 7 Jan 2019, 12:45 pacamara, <notifications@github.com> wrote:

[2019-01-07 16:21] pacamara commented on #515
OK, `CHSPinYinConv.msi` is in Microsoft Visual Studio International Pack 1.0 SR1 ( https://www.microsoft.com/en-us/download/details.aspx?displaylang=en&id=15251 ). C# demo, to run add `ChnCharInfo.dll` in Visual Studio References (browse to the International Pack install dir to find this):
[code]

But `ChineseChar.GetChars` only does conversion of a single pinyin syllable at a time. So no use for

[2019-01-07 19:22] JorgeMattos commented on #530
@JuliusSweetland    Which compiler and installer do you use to compile Optikey? Is Inno Setup Compiler? Do you have the script?
I wanted to do some testing on my machine before posting any suggestions for improvement, so I believe I can contribute more to the project.
I'm new to programming, just moving my eyes, I have a lot of time. I really enjoy contributing to Optikey.

Thank you very much for

[2019-01-07 20:07] pacamara commented on #515
@JuliusSweetland Yes, I believe that's correct, no other dependencies. And the **_BIG_** benefit is same code will support other East Asian languages (Korean, Japanese). They are Windows APIs.

Demo code for `ImmSetCompositionString` with Japanese/VB at http://www.atmarkit.co.jp/bbs/phpBB/viewtopic.php?topic=3823&forum=7 .
Sample C# bindings at http://www.geocities.co.jp/NatureLand/2023/reference/

[2019-01-08 09:30] JuliusSweetland commented on #530
Yes it's INNO. If you give me an email address I can send over the
deployment scripts. Unfortunately the sign scripts can't be shared as I
can't share the certificates, but everything else will be there.

On Mon, 7 Jan 2019, 21:22 Jorge Mattos, <notifications@github.com> wrote:

[2019-01-08 12:06] #532 closed

[2019-01-08 12:08] JuliusSweetland commented on #515
@pacamara Korean and Japanese are currently already supported implicitly within OptiKey, using custom logic. I like the sound of using official Windows libraries for Chinese support. Can you see any down side to this approach, such as these libraries only being available on a few versions of Windows, or anything like that?

If not let's try it...

[2019-01-08 13:05] pacamara commented on #515
@JuliusSweetland The only downside I can think of is a lack of controllability of the UI, potentially. I haven't seen any examples of a Windows app programmatically controlling the IME like this so I don't know exactly what the end result looks like. Should be ok though and seems worth trying in the first instance.

Windows versions should not be a problem: there are version-specific notes going b

[2019-01-08 13:06] JorgeMattos commented on #530
@JuliusSweetland   Yes, I understand, jorgedimattos@hotmail.com

Question # 531 Can I open a Pull requests? Or is it not right to change the value to WidthSpan = "2"?

[2019-01-08 13:19] JuliusSweetland commented on #515
@pacamara Thank you! I'm slightly confused by your comment about not being able to control the UI - is this not a Win32 call where we ask for the predictions and receive back an array of strings (or similar)? Or does this Win32 call instead open a new UI window (the IME) which displays predictions for the user to select? If it's the latter then it won't work I'm afraid - OptiKey can easily cover t

[2019-01-08 13:22] JuliusSweetland commented on #530
@JorgeMattos I've forwarded you a zipped file of the deployment INNO scripts. I'll reply on the other issue to your other question.

[2019-01-08 13:24] JuliusSweetland commented on #531
@JorgeMattos Replying to your question about creating a PR - yes please go ahead...

[2019-01-12 18:00] JorgeMattos commented on #530
@JuliusSweetland Something went wrong with your file!
I tested some codes in INNO. Look cool a dynamic keyboard with installer.

[Teclado dinâmico Optikey Português M1.zip](https://github.com/OptiKey/OptiKey/files/2752350/Teclado.dinamico.Optikey.Portugues.M1.zip)

deployment.zip
![capturar](https://user-images.githubusercontent.com/39384525/51076715-322f5380-1683-11e9-9c92-75b4063a6031.JPG)

[2019-01-12 18:02] JuliusSweetland commented on #530
I'll have to rebuild this and send this to you at three end of next week as
I don't have access right now I'm afraid...

On Sat, 12 Jan 2019, 20:00 Jorge Mattos, <notifications@github.com> wrote:

[2019-01-13 17:30] pacamara commented on #515
Hi Gitcoin Core, yes I am. Note at this point the agreement with @JuliusSweetland is to submit a C# demo of invoking the IMM api gratis, then leave it for him to implement. So the bounty would be revoked. I'm making progress and expect to submit it (probably as a gist) soon.

[2019-01-13 17:35] JuliusSweetland commented on #515
Sounds great, no rush. Thanks

On Sun, 13 Jan 2019, 19:30 pacamara, <notifications@github.com> wrote:

[2019-01-14 17:52] JorgeMattos commented on #530
@JuliusSweetland Hello friend, I believe you do not need to put update option, only modify [run] in INNO to start automatic after installation.
The installer will not ask to click to start Optikey, will open Optikey automatically after installation.
Watch the video.
https://youtu.be/OVJzwCb4DJM

[Run]
Filename: {app}\{#MyAppExeName}; Description: {cm:LaunchProgram,{#StringChange(MyAppName, '&', '&

[2019-01-14 19:39] JuliusSweetland commented on #530
Hello. That video looks good, but what happens to the running instance of
optikey when the installer creates a new instance? Does it get closed down
automatically, or are there two running instances of optikey?

On Mon, 14 Jan 2019, 19:52 Jorge Mattos, <notifications@github.com> wrote:

[2019-01-14 20:32] JorgeMattos commented on #530
@JuliusSweetland The instance is closed by the installer, after installation the installer opens a new instance.
Do not stay two instances at the same time. Now New video with task manager.

https://youtu.be/mY7EOQa62r8

[2019-01-14 20:34] JuliusSweetland commented on #530
Good stuff. I'll make the change for the next release. Thank you

On Mon, 14 Jan 2019, 22:32 Jorge Mattos, <notifications@github.com> wrote:

[2019-01-14 20:53] JorgeMattos commented on #530
You are awesome!
Thank you very much.

[2019-01-21 16:37] JuliusSweetland commented on #515
@gitcoinbot @pacamara This is still being worked on afaik. As I am not the funder I cannot snooze this warning.

[2019-01-21 19:36] #531 closed

[2019-01-22 18:40] pacamara commented on #515
Found the fix for ImmGetCandidateList. Subclassing was not so hard , so have a pure C# solution that works now. Will post a repo soon.

[2019-01-22 18:53] JuliusSweetland commented on #515
Very nice, thanks!

On Tue, 22 Jan 2019, 18:41 pacamara, <notifications@github.com> wrote:

[2019-01-25 21:48] JuliusSweetland commented on #530
Added to 2.0.22 and released. Thank you @JorgeMattos

[2019-01-25 21:49] #530 closed

[2019-01-25 22:58] JorgeMattos commented on #530
Auto start option was great!
Portuguese conversation layout was great!

Something wrong with version 2.22
I'll carry print screen

[2019-01-25 23:02] JuliusSweetland commented on #530
@JorgeMattos uh oh? Yes, please upload a screenshot so I know whether to roll back. Thanks.

[2019-01-25 23:22] JorgeMattos commented on #530
@JuliusSweetland  Also when clicking on Windows window the Optikey click stops working.

![capturar2](https://user-images.githubusercontent.com/39384525/51778101-3c236e80-20e7-11e9-90b9-ff2e90622fbf.JPG)

[2019-01-25 23:43] JuliusSweetland commented on #530
@JorgeMattos Please can you download and reinstall version 2.22.0 again (I've updated the installer). It should fix the missing NEXT SUGGESTION button in the top right.  The taskbar being visible is odd. I cannot replicate this. If you click on the taskbar (or press the windows key) then the taskbar WILL be visible - you have to click on OptiKey again to cover it back up. That is standard Windows

[2019-01-25 23:54] JorgeMattos commented on #530
Now it's good. :+1:  :-)

I'll make a video of the previous one to study.

[2019-01-25 23:55] JuliusSweetland commented on #530
Phew! Thanks again

On Fri, 25 Jan 2019, 23:54 Jorge Mattos, <notifications@github.com> wrote:

[2019-01-26 17:42] JorgeMattos commented on #530
@JuliusSweetland   The last corrected version was great.

I made a video for study.
https://youtu.be/Ky17ejygBso

Thank you very much, my friend.

[2019-01-26 18:44] JuliusSweetland commented on #530
Very helpful video. I must have built the first, buggy, version without
UIAccess which is why you can't click on the start menu, installer, etc.

I'm glad everything is working now.

Thanks again for your contribution to OptiKey - really helpful enhancement
that I wouldn't have thought to add.

On Sat, 26 Jan 2019, 17:42 Jorge Mattos, <notifications@github.com> wrote:

[2019-01-29 16:03] pacamara commented on #515
Update: I was hasty declaring victory there: I had not checked carefully enough the contents of the `CANDIDATELIST` struct I'm getting back. Nearly all its fields match the `CANDIDATELIST` got by `ImeApps`, e.g. `CANDIDATELIST.dwCount` is the correct number of candidates. But it's missing the strings which should follow the fields, and the required size returned in the initial sizing call to `ImmG

[2019-01-29 16:20] JuliusSweetland commented on #515
Thanks for the update

On Tue, 29 Jan 2019, 16:03 pacamara, <notifications@github.com> wrote:

[2019-01-29 21:13] #492 closed

[2019-01-29 21:41] JorgeMattos opened #536 "Possibility of creating a Dynamic keyboard for the conversation mod?"
Dynamic keyboard full screen?

When set (100 Height) Optikey locking in tests.

    <Keyboard>
    <Name>My Keyboard</Name>
    <IsShiftAware>True</IsShiftAware>
    <ShowOutputPanel>True</ShowOutputPanel>
    <Height>100</Height>
    <SymbolMargin>10</SymbolMargin>
    <BorderThickness>1,1,1,1</BorderThickness>
    <Grid>
        <Rows>4</Rows>
        <Cols>12</Cols>
    </Grid>
    <Keys>

[2019-01-30 12:37] JuliusSweetland commented on #536
@JorgeMattos Thanks for reporting the bug. What do you mean by locking?

[2019-01-31 02:50] JorgeMattos commented on #536
@JuliusSweetland sorry for the delay, it gets very slow and it locks for 20 seconds, when you go to the mouse or go back.
The toolbar is visible.

[2019-01-31 17:17] JuliusSweetland commented on #536
@JorgeMattos Ok I can replicate. The problem is that we are instructing Windows to allow a taskbar (OptiKey registers itself as a taskbar if docked, which it is by default) to take up 100% of the screen. This is going to cause Windows problems as this shouldn't be allowed.

I will attempt to create a fix which will allow the keyboard to be maximised, which is achieved by making the Window a fullsc

[2019-01-31 18:22] JorgeMattos commented on #536
@JuliusSweetland I understood, I believe that it is not a bug behavior that I reported, the design of this dynamic keyboard does not have that goal of 100% of the window.
I believe that if you have a fullscrin option in xml it would be perfect for creating dynamic conversation.
All the dynamic keyboards I created worked perfectly.

[2019-01-31 19:16] pacamara commented on #515
@JuliusSweetland @enginnerFrankLiu @gitcoinbot Here it is: https://github.com/pacamara/ImmGetCandidateListDemo

Note one significant workaround! Couldn't get `ImmSetCompositionString` to work, so am using hacky `SendKeys` to set the composing string. Have included my attempt at using `ImmSetCompositionString`, perhaps with more eyes we can figure it. Anyway the program works, you can get the candi

[2019-01-31 20:52] JuliusSweetland commented on #515
@pacamara Thanks! I've taken a look at the main class here: https://github.com/pacamara/ImmGetCandidateListDemo/blob/master/ImmGetCandidateListDemo/ImmForm.cs

Is there any chance you could describe the steps that are occurring, i.e. I start with the string "nihao", then exactly what is called and why? It's difficult to follow the Win32 calls and special handling for different versions of Windows.

[2019-01-31 21:15] #475 closed

[2019-01-31 21:20] JuliusSweetland commented on #536
@JorgeMattos I have pushed code to handle dynamic keyboards which attempt to use more than 95% of the screen height as it can cause Windows to hang.

@annakirkpatrick Do you have any desire to attempt to support full screen dynamic keyboards? The change would need to recognise that the keyboard height was 100% (here: https://github.com/OptiKey/OptiKey/blob/v2.23.0_pre-release-2/src/JuliusSweetland

[2019-01-31 22:22] pacamara commented on #515
@JuliusSweetland You're more than welcome! No problem, flow is:

* Swap the text edit control's `WndProc` for a custom one, to receive IME events
* On initialization, the text edit gets a `WM_IME_SETCONTEXT`: trap this in `ImmEnabledTextEditWndProc` to clear the `ISC_SHOWUICANDIDATEWINDOW` flag, otherwise `ImmGetCandidateList` won't work on Vista or above.
* Wait for button press
* Use `SendKeys`

[2019-02-01 16:15] pacamara commented on #515
@JuliusSweetland Wasn't aware of that extra complication. The codeproject.com solution seems a non-starter since you won't be able to access the control's window handle? So hosting the Forms control per the 2nd answer on msdn link is better? I also see https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/walkthrough-hosting-a-windows-forms-control-in-wpf

[2019-02-01 20:56] JuliusSweetland commented on #515
@pacamara Solution 3 in the codeproject link you mean? Not sure yet, possibly!

I'll have to do some experimenting. I'll try to find time as soon as possible.

[2019-02-01 22:03] JuliusSweetland commented on #515
@pacamara Is this line (https://github.com/pacamara/ImmGetCandidateListDemo/blob/4616c90acd654d28b92972bf30008c2296da5129/ImmGetCandidateListDemo/ImmForm.cs#L49) preventing the IME popup window from showing?

[2019-02-01 22:07] JuliusSweetland commented on #515
@pacamara And this line (https://github.com/pacamara/ImmGetCandidateListDemo/blob/4616c90acd654d28b92972bf30008c2296da5129/ImmGetCandidateListDemo/ImmForm.cs#L108) is this workaround just attempting to simulate typing the pinyin string into the textbox, which then triggers Windows to generate candidates in which can be detected in the callback function (and in the IME if it were not suppressed by

[2019-02-01 22:09] JuliusSweetland commented on #515
@pacamara This WPF specific approach sounds interesting: https://stackoverflow.com/questions/9535408/how-to-convert-a-pinyin-string-to-chinese-in-c-sharp

[2019-02-01 22:14] JuliusSweetland commented on #515
@pacamara Last question from me for tonight; I've looked through these NuGet packages (https://www.nuget.org/packages?q=pinyin) but they all seem to be converting Chinese symbols to pinyin, not the other way around. Or am I wrong?

Why would you even want pinyin from Chinese symbols?

[2019-02-01 22:19] JuliusSweetland commented on #515
Traditional Chinese <-> Simplified Chinese conversion library (might be useful): https://www.nuget.org/packages/ChineseConverter/

[2019-02-01 23:19] pacamara commented on #515
@JuliusSweetland:

Yes.

Correct. And on >=Vista that's required to make `ImmGetCandidateList` work.

Also correct. As noted, it would be better to use the `ImmSetCompositionString` api. But `SendKeys` works.

I tested and rejected `ChineseChar.GetChars(string pinyin)` in `CHSPinyinConv.msi` early on, because it only knows how to convert individual syllables to individual hanzi. Will attach the co

[2019-02-01 23:30] pacamara commented on #515
Here's the test code I wrote a few weeks back for `CHSPinyinConv.msi`. It's in Visual Studio International Pack 1.0.
[code]

[2019-02-01 23:33] JuliusSweetland commented on #515
@pacamara Thanks for your details answer. I'm still amazed that there is no pinyin -> symbols library. I guess, as you mention, that would require a large frequency table, which is not commonly available. Who knows?!

I'll do some experimentation around your code soon. Thanks again.

[2019-02-01 23:34] pacamara commented on #515
@JuliusSweetland It's a pleasure :)

[2019-02-03 01:14] OneBadNinja commented on #331
Hi Julius! Apologies for taking my time, I've had to focus on exams. I have now completed Georgian localisation... it works brilliantly! This is such an incredible project, thank you for everything!

I've had to trim down the Alpha1 keyboard a bit (conversation keyboard was fine) to make space for the extra letters. The compact version looks like this (mouse icon leading to mouse menu for mouse bu

[2019-02-04 10:38] JuliusSweetland commented on #331
@OneBadNinja No problem. The screenshots look really good. I suspect the text is small as it will all scale together so that all key text is the same size. Do you have a key with a long string on it that is forcing down the size of all keys? (this sizing is only specific to a single keyboard, so a long Text string in the Alpha keyboard would not be impacting the Text strings in the Menu, for examp

[2019-02-07 13:00] OneBadNinja commented on #331
Hi Julius! Thank you, I'll let you know how I progress with the SimplifiedKeyboard. I have just checked and can confirm I had a long string for "multi-key selection" which I have now shortened on Transifex (the one with the linebreak after multi-key if I'm correct). If you could please send over the new .resx file I can simply update and create the pull-request with the text-size taken care of.

T

[2019-02-07 13:17] JuliusSweetland commented on #331
@OneBadNinja here you go. N.b. you'll have to rename the file and extension...

[for_use_optikey_english-strings-from-resourceresx_ka.resx.txt](https://github.com/OptiKey/OptiKey/files/2840951/for_use_optikey_english-strings-from-resourceresx_ka.resx.txt)

[2019-02-07 13:20] OneBadNinja commented on #331
Thank you Julius! I just realized I could edit it directly in a text editor so I did that but they should be the exact same! Created the pull request now :)

[2019-02-09 21:01] pacamara commented on #515
@gitcoinbot I'm done working on this, have supplied @JuliusSweetland gratis with a demo C# implementation of programatically converting pinyin->hanzi. Not looking to be paid.

[2019-02-11 14:36] OneBadNinja commented on #331
Hi Julius. I've run into some issues implementing the simplified keyboard which I hope you could clarify. I've attempted this on the Alpha keyboard for now. I have chosen to include a 4th block to preserve a 3-step process, and to make it easier for myself - I am not familiar with Csharp, but learning as I go along with your tutorials and reading the code. The fourth block has some symbols to pres

[2019-02-11 20:59] JuliusSweetland commented on #331
@OneBadNinja I think the only thing you are missing are handlers for your new key values. Try adding your level 4 handlers under here: https://github.com/OptiKey/OptiKey/blob/75932cbda2e0004ad9cefeed052b73b59dd23c2d/src/JuliusSweetland.OptiKey/Services/KeyboardOutputService.cs#L327

To display the keyboard layouts in the Words tab I think you will need to add Georgian here: https://github.com/Opti

[2019-02-13 03:13] OneBadNinja commented on #331
Hi Julius! It is all ready and working fine! I couldn't thank you enough! Submitted the pull request now! Here is what the keyboards look like:

Simplified Alpha:
https://ibin.co/4WphlJVB0uw6.png

Simplified Conversation:
https://ibin.co/4Wphqca09Wz4.png

For simplifed conversation I removed the calibrate button to preserve certain parts of the layout but it should be accessible from the menu eith

[2019-02-13 21:46] JuliusSweetland commented on #331
@OneBadNinja Excellent! Thank you. I've merged in all your changes and created a pre-release here: https://github.com/OptiKey/OptiKey/releases/tag/v2.23.0_pre-release-4

Could you please test it and let me know if everything works as expected. I will then release it.

After that is there any chance you could help promote OptiKey in Georgia? It would be great to help as many people as possible ther

[2019-02-14 23:15] OneBadNinja commented on #331
Hi Julius! That's great! I can now confirm that everything works correctly, correct letters menus etc. The ESpeak voice is also working well! This is awesome! You may proceed with releasing it!

Of course I would like to help promote it. Quite a few patients in the hospitals according to our nurses so there would be a good start. I'm currently in the UK and can also promote it more proactively whe

[2019-02-15 22:53] JuliusSweetland commented on #331
@OneBadNinja Released as 2.23.0. Thanks again Joey.

[2019-02-15 22:53] #331 closed

[2019-02-22 10:20] JuliusSweetland opened #540 "Localisation: Urdu"
Potential keyboard layouts:

1.Full layout - UZT (Urdu Zabta Takhti)
![image](https://user-images.githubusercontent.com/4722561/53235918-e5c83200-368a-11e9-9dc4-3e0c01297b5c.png)

2.Phonetic layout
![image](https://user-images.githubusercontent.com/4722561/53235965-085a4b00-368b-11e9-81b0-15888b778442.png)

3.Various simplified phone layouts:
![image](https://user-images.githubusercontent.com/4722

[2019-02-22 10:24] JuliusSweetland commented on #540
Transifex page for translation (currently about 85% translated): https://www.transifex.com/optikey/optikey/translate/#ur/english-strings-from-resourceresx/61036264

[2019-02-22 10:28] JuliusSweetland commented on #540
As Urdu may require a 4 row layout (compared with the standard 3 row layout of most other languages), here is the Japanese layout to demonstrate a comparable layout:
![image](https://user-images.githubusercontent.com/4722561/53236621-a4388680-368c-11e9-8447-ff808a03345a.png)

[2019-02-22 10:40] JuliusSweetland commented on #540
Online Urdu keyboard: https://www.branah.com/urdu

[2019-02-23 00:30] wmacchi opened #541 "Adding a Setting for a string key with a special character (e.g. TAB) fails to save properly"
# How OptiKey was being used

A setting was need to change the fixation time for the TAB key.

# What the user expected to happen

Adding the TAB key setting the settings file should stay valid after the settings is saved by the program, but because the XML saving uses writer.WriteString() instead of writer.WriteCData() the special characters are not saved.

# What the user actually experienced

C

[2019-02-25 09:25] JuliusSweetland opened #542 "Localisation: Norwegian"
1.Keyboard layout

2.Word list/dictionary (about 100,000 entries)

3.Nuances, e.g. diacritical marks (e.g. accent), or behaviours of the characters or language.

4.Translate string on Transifex: https://www.transifex.com/optikey/optikey/language/no/

5.Programming changes to project

6.Test & release

[2019-02-26 09:50] JuliusSweetland commented on #541
@wmacchi This looks like a legitimate bug - thank you. I'll look this week and aim to fix in the next release. Would you be able to create a pull request with these 2 fixes? Thanks!

[2019-02-27 21:15] #541 closed

[2019-03-01 17:14] annakirkpatrick commented on #536
@JuliusSweetland sorry for the delayed response. I just saw this.

I don't have any personal need for a full-screen dynamic keyboard, but I would be willing to take a look at the code and see if I can implement what is needed.

I probably would not be able to get to it until after my thesis proposal defense at the end of the month (that is, until sometime in April).

[2019-03-01 17:21] JuliusSweetland commented on #536
Perfect, thanks. Best of luck for your thesis defence.

On Fri, 1 Mar 2019, 18:14 Anna Kirkpatrick, <notifications@github.com>
wrote:

[2019-03-01 17:27] annakirkpatrick commented on #412
Dropping back in to this thread to document another reason why joystick/gamepad as trigger mechanism would be useful.

My research group uses Slack for communication. Though I often fall back to keyboard-only navigation, Slack's keyboard navigation is downright terrible, and so I've been using Optikey's mouse emulation tools.

It is impossible for me to highlight and copy text. I can highlight tex

[2019-03-01 20:32] JorgeMattos commented on #536
@annakirkpatrick
Best of luck for your thesis defence.
Thank you very much.

[2019-03-04 11:10] JuliusSweetland opened #544 "Info for all contributors to the OptiKey project"
@zelmon64,@kmcnaught,@Chopinsky,@annakirkpatrick,@illialarka,@samgled,@mostlyjason,@alexandre-mbm,@hugodahl,@danpadmore,@SamPlusPlus,@ninehundred1,@petermorlion,@rschiefer,@PeterOeClausen,@Ar2rZ,@andylamp,@LeeCampbell,@feugy,@ervacaninb,@alandbm,@A01221624,@dptucunduva,@TheGreenAirplane,@utacub,@baljakbratislav,@vdjerek,@JorgeMattos,@mbise1993,@EmilBasiaga,@bswearingen,@mark-poscablo,@LauraLaureus

[2019-03-04 11:16] vdjerek commented on #544
You have my approval for the transfer of the copyright which I may hold for
the parts of the OptiKey project to the OPTIKEY LTD.

Vedran Đerek

Thanks for all that you did, you helped a lot of people!

Best wishes,

Vedran

On Mon, 4 Mar 2019 at 12:10, Julius <notifications@github.com> wrote:

--
 Vedran Djerek <vdjerek@gmail.com>
 Web: http://vdjerek.net

"Science is a way of thinking much more t

[2019-03-04 11:25] TheGreenAirplane commented on #544
Hi Julius,

you have my approval.

Robin

On Mon, Mar 4, 2019 at 12:10 PM Julius <notifications@github.com> wrote:

[2019-03-04 11:27] PopeSpaceous commented on #544
Hi,
You have my approval.
Thanks for all your hard work and helping those in need.
Nate

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Julius <notifications@github.com>
Sent: Monday, March 4, 2019 6:10:53 AM
To: OptiKey/OptiKey
Cc: PopeSpaceous; Mention
Subject: [OptiKey/OptiKey] Info for all contributors to the OptiKey project (#544)

@zelmon64<https://git

[2019-03-04 11:27] adolfosilva commented on #544
Hello Julius,

You have my approval for the transfer of the copyright which I may hold for the parts of the OptiKey project to the OPTIKEY LTD.

Thank you for your hard work.

[2019-03-04 11:27] suvjunmd commented on #544
Hey Julius,

You have my approval.

Dmitri

пн, 4 мар. 2019 г. в 13:10, Julius <notifications@github.com>:

[2019-03-04 11:29] Kokan commented on #544
Hello,

Approve, but I did not change/add any code only github issue template. So there was no conflict there in the first place :)

[2019-03-04 11:32] EmilBasiaga commented on #544
If the code will always be free, you have my permission to transfer the
copyrights to OPTIKEY LTD. Thank you

pon., 4 mar 2019 o 12:10 Julius <notifications@github.com> napisał(a):

--

Pozdrawiam,
Emiliusz Basiaga

[2019-03-04 11:40] JuliusSweetland commented on #544
@dabbertorres Please see my original message at the top - for some reason GitHub is not highlighting your username so I can not be sure you saw this...

[2019-03-04 11:45] zelmon64 commented on #544
Hi Julius,

Thanks for considering this and implementing a solution.

I approve for you to transfer the copyright of the code base to the new company OPTIKEY LTD.

Best,
William

[2019-03-04 11:59] danpadmore commented on #544
Approved! :)

[2019-03-04 12:03] JorgeMattos commented on #544
You have my approval, Thank you for helping us patients of Amyotrophic Lateral Sclerosis.

[2019-03-04 12:12] Ar2rZ commented on #544
Approved!

Thanks form our family for your excellent idea and work done on OptiKey.

On Mon, 4 Mar 2019 at 12:03, Jorge Mattos <notifications@github.com> wrote:

--
Thanks & Regards,
Arthur

[2019-03-04 12:30] illialarka commented on #544
Hey Julius,

You have my approval.

Best regards!

[2019-03-04 12:36] samgled commented on #544
Hi Julius,

You have my approval.

Kind regards,
Sam Gledhill

On Monday, March 4, 2019, Julius <notifications@github.com> wrote:

@zelmon64,@kmcnaught,@Chopinsky,@annakirkpatrick,@illialarka,@samgled,@mostlyjason,@alexandre-mbm,@hugodahl,@danpadmore,@SamPlusPlus,@ninehundred1,@petermorlion,@rschiefer,@PeterOeClausen,@Ar2rZ,@andylamp,@LeeCampbell,@feugy,@ervacaninb,@alandbm,@A01221624,@dptucunduva

[2019-03-04 13:18] rschiefer commented on #544
Approved.

[2019-03-04 13:22] ninehundred1 commented on #544
Of course from me too.
By the way is there some kind of statistics or info of how much this is
being used now? Its a great product for sure, would be nice for many to use
it.
Stephan

On Mon, Mar 4, 2019 at 8:18 AM Robb Schiefer <notifications@github.com>
wrote:

[2019-03-04 13:24] JuliusSweetland commented on #544
Thanks. I'm afraid not. I never built telemetry into OptiKey as I didn't want to leak info from the users. However, based on download counts over the many releases that have gone out I estimate that there are roughly 2,000 regular users. I will be working to get this number up, but I am pretty with it considering that's all word of mouth.

[2019-03-04 13:25] mark-poscablo commented on #544
Hi @JuliusSweetland , this is my written approval of consent for you to transfer the copyright of the OptiKey codebase (https://github.com/OptiKey/OptiKey) to OPTIKEY LTD.

I've always been in awe of the roots of this project and your response - which became OptiKey. I wish you all the best and no harm to fall on you.

[2019-03-04 13:31] feugy commented on #544
Hi @JuliusSweetland, this is my written consent for you to transfer copyright to OPTIKEY LTD.

I'm thrilled to see Optikey have more users and more advanced features now! This is really changing people's lives.

Best of luck!

[2019-03-04 13:44] mbise1993 commented on #544
Hi Julius,

You have my approval as well. Thank you for all your hard work on this
project that has genuinely improved lives and I wish you the best of luck
going forward!

Matt

On Mon, Mar 4, 2019 at 6:10 AM Julius <notifications@github.com> wrote:

[2019-03-04 14:08] hugodahl commented on #544
Julius,

You have my unconditional approval to transfer the copyright of the OptiKey
code base to OPTIKEY LTD.

Hugo

On Mon, Mar 4, 2019 at 5:10 AM Julius <notifications@github.com> wrote:

[2019-03-04 14:50] SamPlusPlus commented on #544
Hi Julius,

You have my approval for the transfer of the copyright which I may hold for
the parts of the OptiKey project to the OPTIKEY LTD.

Thanks again for all your hard work on this amazing project.

Regards,
Samuel Haddad

On Mon, Mar 4, 2019 at 6:10 AM Julius <notifications@github.com> wrote:

[2019-03-04 15:39] Razzeee commented on #544
To be honest I'm really confused by this, isn't this what the license is for? https://github.com/OptiKey/OptiKey/blob/master/LICENSE.txt#L602-L610
What event prompted you to do this?

[2019-03-04 15:46] andylamp commented on #544
Hi Julius,

 I fully agree on this - as it is for not only protecting the project but also its contributors.

Thanks

[2019-03-04 16:03] JuliusSweetland commented on #544
@Razzeee Fair question. Ensuring that we are all protected has been on my todo list for a LONG time. Recently I was spurred to finally address this after I saw videos of people using dynamic keyboards in OptiKey to control physical things. I know from previous discussions that I have had that there is a legal grey area when it comes to people hurting themselves in situations such as these. Althoug

[2019-03-04 16:05] JuliusSweetland commented on #544
@Razzeee Also worth considering is this part of the license text:
IN NO EVENT *UNLESS REQUIRED BY APPLICABLE LAW* OR AGREED TO IN WRITING
WILL ANY COPYRIGHT HOLDER, OR ANY OTHER PARTY WHO MODIFIES AND/OR CONVEYS
THE PROGRAM AS PERMITTED ABOVE, BE LIABLE TO YOU FOR DAMAGES

[2019-03-04 16:08] edorado93 commented on #544
Hi Julius
You have my approval

Regards
Sachin

On Mon, Mar 4, 2019, 3:10 AM Julius <notifications@github.com> wrote:

[2019-03-04 16:16] PeterOeClausen commented on #544
Hi Julius.

You have my approval as well.

Thank you for all the great work you've done.

Best, Peter from research project GazeIT.

On Mon, Mar 4, 2019, 12:10 Julius <notifications@github.com> wrote:

[2019-03-04 17:17] dabbertorres commented on #544
@JuliusSweetland
You have my approval!

Glad to see this project going forward!

[2019-03-04 17:38] A01221624 commented on #544
Hi Julius,

You have my approval as well.

Best regards!

[2019-03-04 18:43] wmacchi commented on #544
@JuliusSweetland, this is my written consent for the transfer of copyright to OPTIKEY LTD.

Thank you for all you do. You (and the OptiKey community) make a BIG positive impact in the lives of many people.

Warren

[2019-03-04 18:54] mockingjamie commented on #544
Hi Julius!

You have my approval. Thanks for everything you’ve done and keep up the good work!

Shannon

[2019-03-04 19:14] mostlyjason commented on #544
You have my approval

[2019-03-04 19:23] LauraLaureus commented on #544
You have my approval

[2019-03-04 20:32] utacub commented on #544
You have our team approval

[2019-03-04 22:12] NikitasKotsolakos commented on #544
You have my approval as well, although my contribution has been minimal.
Just wanted to say thank you for all your hard work, and I hope you can keep up and ensure that this remains truly free software despite the copyright transfer.

[2019-03-04 22:35] bswearingen commented on #544
My contribution was small, but you have my approval.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Nikitas Kotsolakos <notifications@github.com>
Sent: Monday, March 4, 2019 5:12:43 PM
To: OptiKey/OptiKey
Cc: Ben Swearingen; Mention
Subject: Re: [OptiKey/OptiKey] Info for all contributors to the OptiKey project (#544)

You have my approval as well, although

[2019-03-05 00:53] dptucunduva commented on #544
Hi Julius.

You have my approval.

Thanks a lot for you work. And thanks to all of you that also contributed.

Best Regards,
Daniel.

On Mon, Mar 4, 2019, 8:10 AM Julius <notifications@github.com> wrote:

[2019-03-05 08:20] tbafna commented on #544
Thanks for considering us too, however small the contribution.
You have my approval.

On Mon, 4 Mar 2019 at 12:10, Julius <notifications@github.com> wrote:

[2019-03-05 12:14] JorgeMattos commented on #536
@JuliusSweetland  Is the work here github going to continue?

[2019-03-05 12:16] JuliusSweetland commented on #536
@JorgeMattos Are you asking in response to this: https://github.com/OptiKey/OptiKey/issues/544 ?

Yes, the project isn't moving. It isn't changing. It isn't going away. It isn't being monetised. Everything continues as it was. All that is changing is that the copyright will be transferred into a limited company.

[2019-03-05 12:24] JorgeMattos commented on #536
Great! I love this project.
Thank you very much, my friend.  :—)

[2019-03-05 12:26] JuliusSweetland commented on #536
And thank you!

On Tue, 5 Mar 2019, 12:24 Jorge Mattos, <notifications@github.com> wrote:

[2019-03-05 16:34] Razzeee commented on #544
You have my approval, please make sure the source code stays available online in any case.

And thanks for doing this.

[2019-03-05 16:37] JuliusSweetland commented on #544
@Razzeee "please make sure the source code stays available online in any case." - of course. This repo is not moving or going away. Thank you.

[2019-03-05 17:17] JuliusSweetland commented on #544
@kmcnaught, @Chopinsky, @annakirkpatrick, @alexandre-mbm, @petermorlion, @LeeCampbell, @ervacaninb, @alandbm, @baljakbratislav, @hiwye, @Gadal, @jblang94, @eulercamposbarros, @Simyu, @mrpmorris, @hsson Hi all, no rush on your response. Just checking if you've seen this or it's been lost in your inboxes. I would very much appreciate 2 minutes of your time to read this post if you can. Thanks, Juliu

[2019-03-05 17:48] SamPlusPlus commented on #517
@JuliusSweetland is this language dependent? I don't know much about this, could we have a setting on languages, where for example Turkish would delete the whole letter, and Korean would know that its combining letters? Or are their languages that experience it both ways?

[2019-03-05 17:55] JuliusSweetland commented on #517
@SamPlusPlus Hi Sam. I don't think the technical implementation will be language specific. It's more a preference thing. I'm thinking of it like this:
a)Your language does not combine diacritic marks with letters, or letters together to form new symbols. This setting would not impact you at all.
b)Your language combines one or both of the above. By default BackOne would allow you to deconstruct ch

[2019-03-06 01:33] annakirkpatrick commented on #544
You have my approval. (And you are correct that my inbox is pretty much a black hole.)

[2019-03-06 04:47] Gadal commented on #544
Approved. Curious that this would be a legal liability in that way, but I
guess this is Earth.

On Tue, Mar 5, 2019, 8:34 PM Anna Kirkpatrick <notifications@github.com>
wrote:

[2019-03-06 05:14] Chopinsky commented on #544
Approved and good luck!

[2019-03-06 07:31] mrpmorris commented on #544
Fine with me.
I don't know if it would apply here or not, but owners of Ltd are only financially limited, and can still be convicted of corporate manslaughter.

I'd recommend discussing this with a solicitor. You'll either need an "at your own risk" clause in the licence (which also covers you against adding a bug) or outright deny permission.

[2019-03-06 09:21] JuliusSweetland commented on #544
@mrpmorris Thanks Peter. Yes I've discussed this with lawyers. The advice was that any protection is better than no protection, and that there are certain circumstances which need to be considered, but could never be completely defended against. I am following all advice to make us all as safe as possible.

[2019-03-06 16:40] kmcnaught commented on #544
You have my approval.

[2019-03-06 16:56] jblang94 commented on #544
You have my approval

On Mon, Mar 4, 2019 at 03:10 Julius <notifications@github.com> wrote:

--
Cheers, Jackie

[2019-03-06 19:16] hmcomer opened #545 "'Collapsed dock thickness' setting keeps resetting."
At seemingly random times, the 'Collapsed dock thickness' setting keeps resetting to 20%. Unfortunately I can't see what triggers this exactly. It happens sporadic when I reopen Optikey from the minimized status.

[2019-03-06 21:00] hsson commented on #544
You have my approval!

[2019-03-06 23:13] JuliusSweetland commented on #545
@hmcomer When you sat "when I reopen Optikey from the minimized status" do you mean minimised completely out of view to the taskbar, so all you can see is the icon in the taskbar at the bottom? Or are you referring to the height of the collapsed dock? Thanks

[2019-03-07 09:28] JuliusSweetland commented on #544
@alexandre-mbm, @petermorlion, @LeeCampbell, @ervacaninb, @alandbm, @baljakbratislav, @hiwye, @eulercamposbarros, @Simyu Hopefully these alerts are not getting buried in your inboxes? I'd very much appreciate your input on this. Apologies for hounding you - I know a few people whose alerts go straight in the bin!

[2019-03-07 12:35] hmcomer commented on #545
Yes, I mean the height of the collapsed dock. See screenshots.
I'm certain that something triggers this, but I don't know what that is yet.

I've had this issue for some time now but recently it happens more frequently, like multiple times per day.

Thank you...

<img width="1918" alt="opti1" src="https://user-images.githubusercontent.com/33103260/53956730-b7137800-40dc-11e9-9e32-c4d64128142a.PNG"

[2019-03-07 13:22] JuliusSweetland commented on #545
@hmcomer Understood. Could you find a set of instructions that I can follow to replicate this? That might not be possible and I might have to play around, but for example:

1.Open OptiKey, open Management Console and set collapsed dock thickness to 10%.
2.Navigate to menu and collapse OptiKey
3.Expand OptiKey using collapsed key
4.Collapse Optikey again from menu
5.Observe that the size of the col

[2019-03-07 13:24] JuliusSweetland commented on #540
After meeting in person to discuss: this page covers a lot of what I learned - https://r12a.github.io/scripts/arabic/index

Also this simplified keyboard might be a good starting point, as UZT might need too many keys (as most keys in the screenshot have 2 symbols and so we'd need either to use the shift key, have 2 pages, or show about 60 keys):
![image](https://user-images.githubusercontent.com/

[2019-03-07 13:47] hmcomer commented on #545
The steps that you've written are correct, I can't say more because I don't
know what triggers it.

So here is how I would written the steps:

1. Go to Management Console and set collapsed dock thickness to 10%
2. Collapse Optikey via menu
3. Expand Optikey
4. Collapse Optikey again and observe that collapsed icon is back to 20%

I just tried a bunch of things (like watching Youtube full screen, p

[2019-03-07 13:49] JuliusSweetland commented on #540
Unicode notes on arabic and combining: http://www.unicode.org/L2/L2018/18151-utr53-2-draft.pdf

[2019-03-08 14:00] JorgeMattos commented on #545
@hmcomer Do you use dynamic keyboard as well? Or just the Optikey keyboard?

Does this happen when the Optikey or the computer is turned off?

[2019-03-08 14:49] hmcomer commented on #545
I don't use dynamic keyboards (because I don't know how design my own) but I've installed the 'big hacker keyboard' and I see now that that is what triggers this bug. Thank you @JorgeMattos!

It happens when I accidentally open the dynamic keyboard and restart Optikey afterwards, though this doesn't happen every time for some reason.
Here's how you can replicate the bug:

1. Make sure you have ins

[2019-03-08 14:51] JuliusSweetland commented on #545
Thanks. What happens if you do this:

Make sure you have installed a dynamic keyboard and check if collapsed dock
thickness is 10%
Navigate to that dynamic keyboard
Go back to menu
Minimize OptiKey

Is the restart of OptiKey significant?

On Fri, 8 Mar 2019, 14:49 hmcomer, <notifications@github.com> wrote:

[2019-03-08 14:59] hmcomer commented on #545
Yes, restarting is significant it seems. I've now tried without restarting multiple times, but it didn't happen. When I restarted, then it did go back to 20%.

[2019-03-08 15:00] JuliusSweetland commented on #545
Ok. I'll investigate as soon as I can.

On Fri, 8 Mar 2019, 14:59 hmcomer, <notifications@github.com> wrote:

[2019-03-08 15:04] hmcomer commented on #545
Thank you very much!

Though in my case I can easily solve it by empting the folder containing the dynamic keyboards.

[2019-03-08 15:06] JuliusSweetland commented on #545
True, but you shouldn't have to do I'll fix it!

On Fri, 8 Mar 2019, 15:04 hmcomer, <notifications@github.com> wrote:

[2019-03-08 15:14] JorgeMattos commented on #545
That's right, for some reason the height of the dynamic changes the height of the Optikey keyboard.

[2019-03-08 15:15] JuliusSweetland commented on #545
It must persist a height directly to the settings somewhere, or corrupt
them somehow.

On Fri, 8 Mar 2019, 15:14 Jorge Mattos, <notifications@github.com> wrote:

[2019-03-08 15:22] JorgeMattos commented on #545
I'll note if the change occurs in the User.config file in% appdata% Julius Sweetland

[2019-03-08 15:23] JuliusSweetland commented on #545
Thanks

On Fri, 8 Mar 2019, 15:22 Jorge Mattos, <notifications@github.com> wrote:

[2019-03-08 16:02] petermorlion commented on #544
Hi @JuliusSweetland, sorry for the late reply, but I was on holiday.

You have my approval for the transfer of the copyright of the codebase to OPTIKEY LTD.

[2019-03-09 15:09] JorgeMattos commented on #545
@hmcomer What version of Optikey are you using?
I can not replicate the bug.

[2019-03-09 21:17] JuliusSweetland commented on #540
https://www.branah.com/urdu Keyboard 1:
![image](https://user-images.githubusercontent.com/4722561/54077248-cac20880-42ad-11e9-8426-50d866297068.png)

ط ص ھ د ٹ پ ت ب ج ح (back to front vs the keyboard layout)
0637 0635 06be 062f 0679 067e 062a 0628 062c 062d (back to front vs letters above: 0637=ط)
م و ر ن ل ہ ا ک ی ؛  (back to front vs the keyboard layout)
0645 0648 0631 0646 0644 06c1 0627 06a9

[2019-03-09 21:22] JuliusSweetland commented on #540
Keyboard 2 (Phonetic keyboard):
![image](https://user-images.githubusercontent.com/4722561/54077501-56896400-42b1-11e9-98da-7d19dfe8b5d2.png)

Shift brings alternate keyboard:
![image](https://user-images.githubusercontent.com/4722561/54077508-686b0700-42b1-11e9-8e55-fab70080f0ab.png)

[2019-03-09 21:33] JuliusSweetland commented on #540
Sample word to try and combine:
BARF (برف)
ب ر ف

[2019-03-09 22:29] JuliusSweetland commented on #545
@hmcomer @JorgeMattos I've not had a chance to prove this, but from reading over the dynamickeyboard.cs code I believe it's caused by line 100, which (if an override height is specified on the dynamic keyboard) changes the setting value of the full docked height. If you subsequently caused OptiKey to persist this setting to disk (e.g. by changing the state to Collapsed), then this might override y

[2019-03-10 14:28] hmcomer commented on #545
@JorgeMattos I use version 2.23.

[2019-03-11 11:32] JuliusSweetland commented on #540
https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/bidirectional-features-in-wpf-overview

[2019-03-16 20:54] JuliusSweetland opened #546 "Improve/automate voice selection based on culture"
https://docs.microsoft.com/en-us/previous-versions/office/developer/speech-technologies/dd167624(v%3Doffice.14)

Also check that only Enabled voices are included

[2019-03-16 23:15] JuliusSweetland commented on #540
Other considerations:

1. Flow direction needs to be set on all toast notifications and other screens (e.g. Management Console)?
2. Number flow in scratchpad vs output application

[2019-03-17 21:40] JuliusSweetland commented on #540
Keyboard 1:
![image](https://user-images.githubusercontent.com/4722561/54498282-43077a00-48fd-11e9-81ab-5e6ea0ab3ab1.png)

Keyboard 2:
![image](https://user-images.githubusercontent.com/4722561/54498279-3551f480-48fd-11e9-9a8d-d1d72ffc5aa5.png)

[2019-03-20 22:12] JuliusSweetland commented on #540
https://r12a.github.io/app-charuse/?language=ur

Letters:
ء آ ؤ ئ ا ب ت ث ج ح خ د ذ ر ز س ش ص ض ط ظ ع غ ف ق ل م ن ه و ي ٹ پ چ
ڈ ڑ ژ ک گ ں ھ ہ ۂ ی ے

Marks:
 ِ  ً  ُ  ٰ  َ  ّ  ٔ  ٓ

Punctuation:
 ،  ؍  ٫  ٬  ؛  ؟  ۔  ”  “  ؁  ٪

Numbers:
۰  ۱  ۲  ۳  ۴  ۵  ۶  ۷  ۸  ۹

Infrequents:
ۃ  ٻ  ٺ  ټ  ٽ  ي ؃

[2019-03-20 22:13] JuliusSweetland commented on #540
General info about Urdu: https://r12a.github.io/scripts/arabic/urdu

And about the Arabic script: https://r12a.github.io/scripts/arabic/block

[2019-03-20 22:27] JuliusSweetland commented on #540
![image](https://user-images.githubusercontent.com/4722561/54723394-57e34800-4b5f-11e9-9488-b95273e1d288.png)

[2019-03-20 22:36] JuliusSweetland commented on #540
Good list of all letters and diacritics: http://www.islamsource.info/host.aspx?Page=quranwords

[2019-03-20 22:57] JuliusSweetland commented on #540
With more diacritics added:
![image](https://user-images.githubusercontent.com/4722561/54724544-806d4100-4b63-11e9-9f0c-a393d1400184.png)
![image](https://user-images.githubusercontent.com/4722561/54724548-86fbb880-4b63-11e9-84ad-759c70c6b469.png)

[2019-03-20 23:07] JuliusSweetland commented on #540
Conversation keyboard (without extra combining diacritics):
![image](https://user-images.githubusercontent.com/4722561/54724878-d2fb2d00-4b64-11e9-99b5-5dad0884c0a8.png)
![image](https://user-images.githubusercontent.com/4722561/54724888-dc849500-4b64-11e9-8112-83337afa933a.png)

[2019-03-29 13:21] JuliusSweetland commented on #540
Sakib feedback:
Create custom numbers keyboard (1 and 2?): ۰  ۱  ۲  ۳  ۴  ۵  ٦  ۷  ۸  ۹

Shadd (Shaddah in Arabic) (https://www.compart.com/en/unicode/U+0651) ◌ّ and the 3 accents (as in baraf, biraf and buraf) for short vowels -> can appear on any letter.
	3 accents:
	Kasra (https://www.compart.com/en/unicode/U+0650) ◌ِ
	Damma (https://www.compart.com/en/unicode/U+064F) ◌ُ
	Fatha (https://www.com

[2019-03-30 22:21] JuliusSweetland commented on #540
After Sakib's changes:

![image](https://user-images.githubusercontent.com/4722561/55282335-25450680-533a-11e9-861d-d31154c2c334.png)

![image](https://user-images.githubusercontent.com/4722561/55282342-2e35d800-533a-11e9-8532-d1a32c33c166.png)

[2019-03-30 22:30] JuliusSweetland commented on #540
Numeric keyboards before redesign:

![image](https://user-images.githubusercontent.com/4722561/55282416-5540d980-533b-11e9-8f24-f95de9ca8150.png)

![image](https://user-images.githubusercontent.com/4722561/55282419-5d007e00-533b-11e9-9238-a0a3e4ca680b.png)

![image](https://user-images.githubusercontent.com/4722561/55282422-64c02280-533b-11e9-8fc6-221214cb96b5.png)

[2019-04-02 15:05] JuliusSweetland commented on #536
@JorgeMattos I'm going to re-open this issue as @annakirkpatrick said she may be able to look into this when she is next free.

[2019-04-02 15:41] JorgeMattos commented on #536
@JuliusSweetland Excuse me. I'm thinking of writing a simplified Portuguese keyboard, I believe it's the best way to optimize Optikey for those who have not been able to use conversation.
Thank you very much.

[2019-04-02 15:50] JuliusSweetland commented on #536
Sounds like a great idea

On Tue, 2 Apr 2019, 16:41 Jorge Mattos, <notifications@github.com> wrote:

[2019-04-02 20:23] JuliusSweetland commented on #540
Urdu numbers: https://r12a.github.io/scripts/arabic/urdu#numbers

![image](https://user-images.githubusercontent.com/4722561/55433558-7d277b80-558d-11e9-979b-bff498323fa2.png)

![image](https://user-images.githubusercontent.com/4722561/55433594-8b759780-558d-11e9-89e7-724463763b52.png)

[2019-04-02 21:10] JuliusSweetland commented on #540
Latest layouts:
![image](https://user-images.githubusercontent.com/4722561/55436371-0641b100-5594-11e9-8924-c0e9d1d889d8.png)
![image](https://user-images.githubusercontent.com/4722561/55436384-0e015580-5594-11e9-84a8-653d2457a69e.png)

[2019-04-03 22:28] JuliusSweetland commented on #540
After some more suggestions from Sakib:
![image](https://user-images.githubusercontent.com/4722561/55517308-f4314280-5667-11e9-88dd-0d3cd460358f.png)
![image](https://user-images.githubusercontent.com/4722561/55517351-0f9c4d80-5668-11e9-88cb-5fdfe0611fc4.png)

![image](https://user-images.githubusercontent.com/4722561/55517320-fc897d80-5667-11e9-853e-56875f272f51.png)
![image](https://user-images.

[2019-04-03 23:02] JuliusSweetland commented on #540
Urdu numeric keyboards:
![image](https://user-images.githubusercontent.com/4722561/55518664-d4504d80-566c-11e9-9c33-899a85178dab.png)

![image](https://user-images.githubusercontent.com/4722561/55518681-de724c00-566c-11e9-8f11-9442197fe95f.png)

![image](https://user-images.githubusercontent.com/4722561/55518691-e7fbb400-566c-11e9-85fb-0ebc5923fb43.png)

[2019-04-08 13:24] LeeCampbell commented on #544
approved

Lee Campbell

E: Lee.Ryan.Campbell@gmail.com

On Mon, 4 Mar 2019 at 19:10, Julius <notifications@github.com> wrote:

[2019-04-08 19:44] JuliusSweetland commented on #540
Urdu numeric 1 fixed to use Urdu compatible font:
![image](https://user-images.githubusercontent.com/4722561/55752124-29aaa700-5a3f-11e9-9951-649a6a2e5c51.png)

[2019-04-08 19:46] JuliusSweetland commented on #540
Explanation of Arabic and Urdu numbers:

![image](https://user-images.githubusercontent.com/4722561/55752168-4050fe00-5a3f-11e9-9fa4-0f5fee745161.png)

![image](https://user-images.githubusercontent.com/4722561/55752203-58288200-5a3f-11e9-8adc-d8f7d359c20e.png)

[2019-04-09 10:20] kmcnaught commented on #544
Hi @JuliusSweetland,

If you haven't already, it would be worth adding a license declaration as a required check in the pull request workflow, to make sure you capture permissions on any new code that gets contributed.

K

[2019-04-09 10:38] JuliusSweetland commented on #544
@kmcnaught Thanks Kirsty. I've received different opinions on CLAs, e.g. "there is some movement towards not having folks contributing sign a seperate CLA but state clearly in your contributing.md file that all contributions are under the same terms as the project license (see https://opensource.com/article/19/2/cla-problems).".

I have, I believe, clearly outlined the terms of contribution in my

[2019-04-15 05:11] Trung0246 commented on #515
I wonder is this can be used?

https://github.com/LingDong-/rrpl

[2019-04-18 08:19] kmcnaught commented on #546
I just made some changes to a speech recognition app that does exactly this (querying locale's installed voices using the API you linked to. Might be a handy reference (though there's not much more to it that the example in your link!)
[gavpi-settings.cs](https://github.com/baykovr/AVPI/blob/f93b43ebb798cff93bc9ae918a4370f8e2c3e77e/GAVPI/GAVPI/Core/Engine/Settings.cs)

[2019-04-18 08:28] JuliusSweetland commented on #546
@kmcnaught Thanks, that's helpful.

[2019-04-18 08:42] kmcnaught opened #547 "Magnetic cursor behaving erratically after 15 minutes"
# How OptiKey was being used
I was using the magnetic mouse only to control the mouse cursor using a PCEyeMini (to test an webapp that requires gaze-controlled-cursor as input). I was also recording the desktop with useloom via Chrome (video available on request but I'm not sure it helps)

# What the user experienced
After 10-15 minutes, the cursor started behaving erratically. Jumping around, and

[2019-04-18 09:16] JuliusSweetland commented on #547
@kmcnaught Hi Kirsty. This is the source code behind that exception:
https://github.com/michaelnoonan/inputsimulator/blob/244bbf211601438408c9d0ff8c008d0ba0aad4c9/WindowsInput/WindowsInputMessageDispatcher.cs#L25

Under the hood this is trying to call this:
https://github.com/michaelnoonan/inputsimulator/blob/244bbf211601438408c9d0ff8c008d0ba0aad4c9/WindowsInput/Native/NativeMethods.cs#L91

I pres

[2019-04-19 08:25] kmcnaught commented on #547
Okay, that's helpful. Indeed it will have been an unsigned version, so that's a likely culprit. However, I'm struggling to think what the circumstances could have been that caused the problem - seeing as I'd been using it fine for a while, and as far as I'm aware I didn't do anything differently. I'll try to replicate, and then test against a signed version of Optikey.

I'll also look at inserting

[2019-04-19 08:42] JuliusSweetland commented on #547
New lines would be great. I'd imagine with the auto don't sizing it was
pretty small!

On Fri, 19 Apr 2019, 09:25 kmcnaught, <notifications@github.com> wrote:

[2019-04-21 21:42] pacamara commented on #515
@Trung0246 The problem with a radical-based input method is there are 214 radicals. So you'd need 214 keys in your onscreen keyboard. Not practical. That looks like a cool library though.

[2019-05-07 11:02] #463 closed

[2019-05-07 11:05] JuliusSweetland commented on #544
Thank you all. I will archive this issue for now, but feel free to reopen if you want to discuss anything about this topic.

[2019-05-07 11:05] #544 closed

[2019-05-07 11:06] #547 closed

[2019-05-11 10:19] kmcnaught opened #548 "Rename manual mode -> mouse mode."

[2019-05-11 10:23] kmcnaught opened #549 "Audit translation resources"
There are new strings that haven't been translated, since features etc have been added with only English strings.

We need to call in some help from translators to get up to date - probably worth waiting until we have an installer script to internationalise at the same time.

[2019-05-11 10:24] kmcnaught opened #550 "Cursory clean up/reorder of the management console before it gets split out."
When we split to different OptiKey apps (mouse only, conversation only etc) we'll want slimmed down Settings for each of them. Now's a good time to review what we've currently got and clean up / structure better while we're there.

[2019-05-11 10:26] kmcnaught opened #551 "Remove extra half-keys from main app"
- Remove half key to take you to the symbols keyboard
- Remove half key to take you to the yes no keyboard.

You should be able to start and stay in these modes from the pro version settings, or by using the new stand alone versions.

(this should be on a feature branch so as not to lose the features until the new stand alone apps are available)

[2019-05-11 10:27] kmcnaught opened #552 "Dump out settings in log file (full xml if in Debug mode)."
(useful for debugging).

[2019-05-11 10:32] kmcnaught opened #553 "Create language and version specific projects, applications, installers."
There's a few interlinked things here:

- Make sure website has landing pages for specific apps (so someone wanting 'OptiKey Symbols' isn't need to be overwhelmed with information about 'OptiKey Pro')
- Make sure installation process is internationalised, and OptiKey's language is set during installation
- Streamline the selection of eye tracker via installer or simple first-time setup wizard. (pr

[2019-05-11 10:33] kmcnaught opened #554 "Presage / TTS downloads"
Scope to download custom Presage database later (if available for language).                Scope to download and install TTS languages later.

[2019-05-11 10:33] kmcnaught opened #555 "Separate mouse bar"
Setting to split mouse keyboard out into separate bar. Position, size, transparency needs to be customised separately.

[2019-05-11 10:34] kmcnaught opened #556 "Support switches/joystick/touch"
Joystick input for switches.
Switch scanning.
Touch input – always available (+ new setting to disable if not wanted).

[2019-05-11 10:36] kmcnaught opened #557 "Explore new mouse click UX"
Explore new zoom/interaction methods for clicking (gradual zoom?, reticle?, other inspiration).

[2019-05-11 10:37] kmcnaught opened #558 "Add factory reset for Settings"
Management Console – “reset all settings to default” button – rename user settings file so it is not used, but could be recovered if required.

[2019-05-11 10:38] kmcnaught commented on #558
If some settings are set during installation (e.g. language, eye tracker) we need to think about whether user's expect 'reset to default' to mean 'universal default' or 'installed state'. If the latter, we'll need to make sure installer-specified settings are cached to support this.

[2019-05-11 10:39] kmcnaught opened #559 "OptiKey startup wizard"
OptiKey startup wizard -present appropriate setting choices like look to zoom over click scrolling.

- also perhaps eye tracker choice (if not in installer), and eye tracker connection validation / diagnostics.

[2019-05-11 10:40] kmcnaught commented on #559
- dwell or click would be important to include here, lots of EyeMine users assume that dwell is non-negotiable...

[2019-05-11 10:40] kmcnaught opened #560 "Crash emails not working?"
Crash emails – not working? Needs testing.

[2019-05-11 10:42] kmcnaught opened #561 "Rebrand Communikate references to OBF?"
Presumably the Communikate additions should support generic OBF files, in which case we should rename references, and just bundle CK as a suggested board, but with support for other OBF boards too.

[2019-05-12 20:52] dreua commented on #556
Is this a duplicate of  #412 or do you mean something else?

[2019-05-13 13:30] JuliusSweetland commented on #556
@dreua Yes this overlaps, but this issue includes touch support and general switch support. We'll keep both issues until we can disambiguate them.

[2019-05-13 13:57] kmcnaught opened #562 "Discuss naming of some features"
Discuss naming of new OptiKey apps, currently thinking of:

1. Full computer control and communication – “PRO”
2. Full screen conversation only mode – "CHAT". Customise in installer?
	- full
	- maxi (larger, simplified buttons)
	- yes/no
	- future enhancements: T9? dasher?
3. Symbol based conversation only mode – “SYMBOL CHAT"
	- CommuniKate
	- other bundled boards? (choose from a range of complex

[2019-05-13 13:59] kmcnaught opened #563 "Converters to obf from SmartBox format, etc"

[2019-05-13 14:00] kmcnaught opened #564 "Language translation tools for missing strings and installer text:"
https://cloud.google.com/translate/docs/batch-translation                https://www.sitepoint.com/translation-text-speech-microsoft-translator/

Automatically translate missing strings initially, but leave up on transifex for human input when available.

[2019-05-13 14:01] kmcnaught opened #565 "Add support for RelayKeys"
RelayKeys – full screen keyboard (dynamic keys) which sends keystrokes to listening service via onscreen control which will need to be focussed, presumable? Mouse movement keys also useful.

https://acecentre.github.io/RelayKeys/getting-started/introduction.html

[2019-05-13 14:22] kmcnaught opened #566 "New installer ready for multiple apps"
For v3 (with split out apps) we'll want better onboarding via the installer (e.g. select language/eye tracker at installation time? or pick type of Chat keyboard) and we'll also want full internationalisation.

To make this easier, we'll create an AdvancedInstaller project to do everything to the current app does, + internationalisation + modify initial user settings + scope for onboarding-type sc

[2019-05-20 16:12] JuliusSweetland commented on #556
Switch input should have multiple selection/progression methods:
1.Auto scanning with switch selection. Touching the screen should be a valid switch input method.
2.Two switches: one to advance, the other to select.
3.One switch - press to advance, hold to select.

[2019-06-06 20:08] siamakmu commented on #148
Hi Julius,
I have completed the translate for Persian (fa) language in transifex.com.
please check and tell me next step. please cooperate for adding this language to OptilKey asap.
--
Best Regards,
Siamak.

[2019-06-06 20:33] JuliusSweetland commented on #148
Hi Siamak,

That's great, thank you. This issue describes what is required to add a new
language: https://github.com/OptiKey/OptiKey/issues/148

Recently I have completed work to add Urdu, so hopefully I have already
tackled most of the issues we will have. The Urdu thread is here if you
want to see what was done (screenshots at the bottom of that page show
something close to the final keyboard la

[2019-06-06 20:35] JuliusSweetland commented on #148
@siamakmu Also if you want to try the (unreleased) Urdu keyboards you can install this version of Optikey: https://github.com/OptiKey/OptiKey/releases/download/v2.24.0_pre-release-10/OptiKeySetup-2.24.0-UrduPakistan.exe

[2019-06-06 20:59] siamakmu commented on #148
Thanks for your fast reply.
Actually it has different with Persian language.
Please check these file.

[Persian fa characters.xlsx](https://github.com/OptiKey/OptiKey/files/3263463/Persian.fa.characters.xlsx)

[2019-06-06 21:10] JuliusSweetland commented on #148
@siamakmu Thank you for that. Can you explain a bit more about the green/red/white characters? Are you saying all are needed, but green are most common and red are uncommon?

What I need to understand really is which letters should be on the main keyboard, which are less common and can be placed on a 2nd keyboard (equivalent to pressing SHIFT to get to another set of characters), and which diacrit

[2019-06-06 22:05] siamakmu commented on #148
Persian language has more letters than English (32 main letters). so usually in Persian keyboards they have to put 6 character in main keys. so they put 5 of them (That I made them green in this excel file) for these keys:
[ = ج
] = چ
\ = پ
; = ک
' = گ
![image](https://user-images.githubusercontent.com/51283486/59067866-ee561880-88c7-11e9-9f2a-712a61cc389c.png)
The default OptiKey keyboard doesn't

[2019-06-06 23:05] JuliusSweetland commented on #148
@siamakmu Keyboard layout is going to be the most difficult thing to solve. I think I understand that the letter on the 'm' key is not important as it can be created using the base character+the diacritic (Hamza?). Can you answer which diacritics we will need on the 1st and 2nd keyboards? If you think we need all 32 (or 31 without ئ) then we have space for 1 (or 2) diacritics on the first keyboard

[2019-06-07 05:50] siamakmu commented on #148
Sorry Julius, I thought the keyboard must made as English with 26 letter. I checked the Russian Keyboard and it's number of letters is almost near to Persian. now I understand we can have all 32 main letters can be on the main keyboard layout.
I will make and image from Optikey and put all characters on its true position to better understand.

[2019-06-07 09:07] JuliusSweetland commented on #148
Perfect thank you. Please note that we CAN put all keys, including
diacritic marks, on one keyboard, but it makes the size of the keys
smaller. If some of the characters are used less frequently we could put
them on a second keyboard like I have done with Urdu. This means we would
have fewer keys on each keyboard and so the keys would be slightly larger.
Let me know what you think.

On Fri, 7 Jun

[2019-06-07 11:29] JuliusSweetland opened #568 "Localisation: Farsi (Persian)"
Potential keyboard layouts:

1.Full layout
![image](https://user-images.githubusercontent.com/4722561/59100988-8e8b5c00-891f-11e9-91fe-3f420be3e602.png)

2.Online keyboards:
https://www.branah.com/farsi2
https://www.101languages.net/farsi/keyboard/

3.Transifex: https://www.transifex.com/optikey/optikey/language/fa/

4.Breakdown of required characters: https://github.com/OptiKey/OptiKey/files/3263

[2019-06-07 11:29] JuliusSweetland commented on #568
Some comments on general localisation thread:
https://github.com/OptiKey/OptiKey/issues/148#issuecomment-499647900
https://github.com/OptiKey/OptiKey/issues/148#issuecomment-499685393

[2019-06-07 11:30] JuliusSweetland commented on #148
@siamakmu Please continue discussion on this issue: https://github.com/OptiKey/OptiKey/issues/568

[2019-06-07 21:11] siamakmu commented on #568
Hi,
I designed best (in my opinion) useful Persian keyboard according users need from OptiKey. I can review it better after a beta release or a developer version.

Please remember Farsi language has a right to left writing.
I updated the Persian fa characters files. the number of row in excel file is same as I write on photos in red or blue color.
[Persian fa characters - Update.xlsx](https://gith

[2019-06-07 21:39] JuliusSweetland commented on #568
@siamakmu That's excellent, thank you. I have a few suggestions:

1.I think the multi-key selection key should be on all keyboards
2.Could we remove all non-Farsi specific characters from either keyboard, except . (fullstop) and , (comma). The Urdu keyboards include commonly Urdu specific characters, as well as commonly used English punctuation.
3.We *could* add 2 more keys on each rows if you thi

[2019-06-07 22:31] siamakmu commented on #568
1. but I checked Japanese keyboard too and it doesn't have "MULTI-KEY SELECTION" key too!
Why you don't think about a very big change in Optikey in long term? except default keyboard, users can set type (put keys order as they want). this will be very useful and most user friendly condition for a keyboard. Anyway how about we start beta version without this key in main page and if we get good reac

[2019-06-07 22:44] JuliusSweetland commented on #568
@siamakmu Ok I'll try to find some time to work on this.

I want to bring the multi-key selection key back onto the main keyboard - it can greatly speed up typing. It is not included in the Japanese keyboard as they don't combine symbols in the same way. Can you recommend 3 letters from the 2nd keyboard that I can add to the first keyboard (and where you think they should go - one key in the 1st r

[2019-06-07 22:46] JuliusSweetland commented on #568
@siamakmu Numbers will also need a bit of thought. Is this accurate for Persian:

![image](https://user-images.githubusercontent.com/4722561/59137199-667f1580-897e-11e9-9fde-2a1f39c36a1e.png)

[2019-06-07 22:55] JuliusSweetland commented on #568
@siamakmu I've listed some Iranian/Farsi fonts above - can you test, or recommend, a font. The way numbers work with Urdu is that they display incorrectly until you use an Urdu specific font. From memory the numbers may display in the Persian forms by default, but ideally we need a Farsi compatible font anyway so everything displays correctly. Take a look at the table in this web page (plus the im

[2019-06-07 23:02] JuliusSweetland commented on #568
Ah, mainly for my benefit: this article https://stackoverflow.com/questions/1676460/in-unicode-why-are-there-two-representations-for-the-arabic-digits explains that there are two sets of unicode points for Arabic numbers:
U+066n: ٠١٢٣٤٥٦٧٨٩
U+06Fn: ۰۱۲۳۴۵۶۷۸۹

My understanding is that the first set are Arabic. The second set are a mixture of Persian and Urdu.

U+06F4 - 'different glyphs in Persian

[2019-06-08 09:15] siamakmu commented on #568
Hi,
ok I think you want something like this. right?
now one key added to each row. I try my best to put characters on their standard positions that we usually see in most standards Persian Keyboards.
Please check the [Persian fa characters - Update 2.xlsx](https://github.com/OptiKey/OptiKey/files/3268372/Persian.fa.characters.-.Update.2.xlsx) new file.
Column A first page
Column B Shift down page

[2019-06-08 09:44] JuliusSweetland commented on #568
Yes that looks great. There are still some characters on the second
keyboard ([]<>{} double angle brackets, /) that could be replaced with
Farsi characters. Is there anything else you think would work well?

New design looks great though

On Sat, 8 Jun 2019, 10:15 siamakmu, <notifications@github.com> wrote:

[2019-06-08 10:21] siamakmu commented on #568
Yes. Persian numbers is exactly same as you shown in middle image. but our people can read and write English numbers. some Persian fonts use English numbers and some other Farsi numbers.
About the font, I always prefer and use Titr Bold font. but now I check it just has a little problem with one of secondary characters. Any way I checked Nazli Bold font it's seems 95% same as Titr Bold but thinner

[2019-06-08 10:32] siamakmu commented on #568
U+06Fn: ۰۱۲۳۴۵۶۷۸۹  is Persian numbers but if you use same "nazlib" font you don't need to change the numbers unicode. it's very beautiful Persian font also numbers are ok and users are more easy while web browsing cause most of Farsi websites use English numbers unicode behind the scene but with show Persian number font style to users. our people like Persian fonts more than Arabic. I suggest cha

[2019-06-08 10:34] JuliusSweetland commented on #568
@siamakmu Thanks. The numbers keyboard will allow the user to select from either the Farsi numbers, or English numbers. I'll see what the Farsi font does with both of these.

[2019-06-08 10:37] siamakmu commented on #568
There is no more Persian characters! thats why I prefer these characters to empty key. You mean we use empty keys or repeat some characters?

[2019-06-08 10:41] JuliusSweetland commented on #568
@siamakmu I believe there are 10 characters that we could remove. How about adding in 0-9 Persian numbers if they can be arranged to be together?

[2019-06-08 10:49] siamakmu commented on #568
Does it possible for you to use an English font for English numbers?
I checked now that "nazlib" show U+06Fn: ۰۱۲۳۴۵۶۷۸۹ truly .

[2019-06-08 10:53] siamakmu commented on #568
Good Idea. please show me which characters you want to delete?

[2019-06-08 10:58] JuliusSweetland commented on #568
Correct me if I'm wrong, but I think we can remove these ones:
[
]
{
}
»
«
<

"
I'm not sure about the 10th character. One possibility it so remove the multi-key selection key from the second keyboard as it doesn't have a lot of use on that keyboard.

[2019-06-08 12:26] siamakmu commented on #568
Are you talking about second keyboard page (like some other language in OptiKey) or Shift On page?
Please check this. removed some abolished characters and add a small numpad?

![image](https://user-images.githubusercontent.com/51283486/59147233-56167b80-8a0e-11e9-96af-e9a3e197f02a.png)

[2019-06-08 14:28] JuliusSweetland commented on #568
Yes exactly like that.

As I did for Urdu, for Farsi I will take away the shift key and add a key
to switch between Farsi keyboard 1 and Farsi keyboard 2.

One last change: can we move the characters on the left of the bottom row
and instead put the 3rd and 4th diacritic marks on the second row down?
That way all the diacritic keys are on the left of the rows and together.
What do you think?

Coul

[2019-06-08 15:39] siamakmu commented on #568
I really didn't understand. can you show me by an image (for exam show change by an arrow)?
lets't send excel file after last change you want.

[2019-06-09 12:28] siamakmu commented on #568
Also do I need to change CONVERSATION page too?

[2019-06-09 12:39] JuliusSweetland commented on #568
I think these two keys should move down like this:
![image](https://user-images.githubusercontent.com/4722561/59159037-e5c63380-8abb-11e9-962b-c9e3cb698683.png)

The two characters on those keys need to move somewhere - can you find a good new location for them?

And yes, can you update the conversation keyboards to match?

Thanks

[2019-06-09 15:15] siamakmu commented on #568
in all standard keyboard these keys are in same position. but if you want there is no problem cause most of these characters are not so usable. many years ago people used these character. also these are useful for learning to children.
anyway please update me with your decision.
Yes, sure, I will update conversation keyboards too.

[2019-06-09 15:28] JuliusSweetland commented on #568
Thank you. It is your choice if you think it better to leave the keys as
they are. I am just thinking all diacritic keys would be together down the
left of the keyboard. Ultimately you know much more about Farsi keyboard
layouts so I will leave the final decision to you.

On Sun, Jun 9, 2019 at 4:15 PM siamakmu <notifications@github.com> wrote:

[2019-06-09 15:58] siamakmu commented on #568
I checked a few standard keyboards again and it's same as I told.
This is On-Screen Keyboard windows 10
![image](https://user-images.githubusercontent.com/51283486/59161174-889aa400-8af4-11e9-9317-2f9281a97143.png)
with your permission I prefer leave it at their standard positions.

[2019-06-09 20:55] siamakmu commented on #568
![image](https://user-images.githubusercontent.com/51283486/59164060-b1835f00-8b1d-11e9-9728-5358d0fd8c79.png)
![image](https://user-images.githubusercontent.com/51283486/59164063-bba55d80-8b1d-11e9-9abd-ae2985c50a67.png)
![image](https://user-images.githubusercontent.com/51283486/59164069-cb24a680-8b1d-11e9-8458-2677fe5540b8.png)
![image](https://user-images.githubusercontent.com/51283486/5916407

[2019-06-10 06:08] siamakmu commented on #568
Do I need to do something else?

[2019-06-10 06:10] JuliusSweetland commented on #568
No that's great. I need to take a look now. Wednesday is the earliest I can
make a start on this.

On Mon, 10 Jun 2019, 07:08 siamakmu, <notifications@github.com> wrote:

[2019-06-12 06:34] rolivella commented on #148
Hi Julius,

Thank you for this very nice project, my father is using it and is working fine.

I work as bioinformatician and I would like to finish the Catalan and Spanish translations. I've checked Transifex (new to me) and Catalan is at 83.8% and Spanish at 69%. Could you guide me on how to complete them? Thank you.

Roger

[2019-06-12 09:42] JuliusSweetland commented on #148
@rolivella Hi Roger. That's great, thanks for letting me know. Yes, any help to complete Catalan and Spanish would be very much appreciated. Have a look at the location guide here: https://github.com/OptiKey/OptiKey/blob/master/docs/Localize.md

The section you want is at the top titled "UI Translation" and describes how to sign up to Transifex.com and translate the remaining strings.

If you see

[2019-06-12 12:29] rolivella commented on #148
@JuliusSweetland great! I'll work on it and let you know ASAP when finished.

[2019-06-12 12:35] JuliusSweetland commented on #148
Thanks Roger

On Wed, 12 Jun 2019, 13:29 Roger Olivella, <notifications@github.com> wrote:

[2019-06-12 15:54] Ar2rZ opened #569 "Allow user to choice audio output."
- Allow user to choose audio output source. would be great if Optikey has this feature.. other ways is required to use some third party software to achieve that.

[2019-06-12 16:02] Ar2rZ commented on #569
i think only speech and "attention" need to be configured to other audio source...

[2019-06-15 11:38] siamakmu commented on #568
Hi,
Any update? how many days need for first preview?

[2019-06-15 21:08] JuliusSweetland commented on #568
Farsi fonts:
![image](https://user-images.githubusercontent.com/4722561/59556412-0c073a00-8fba-11e9-807e-c34a717f65ac.png)

[2019-06-15 21:08] JuliusSweetland commented on #568
@siamakmu I've not had a chance this week. Working on it now. I won't complete the first draft tonight. I will get a pre-release version to you asap.

[2019-06-15 21:57] siamakmu commented on #568
Thank you so much.
Nazli Bold and Titr are formal and so good.
after these, Roya Bold and Terafik Bold are fine too.

[2019-06-15 21:59] JuliusSweetland commented on #568
I went with Terafik as the default, but all are available. I think I've
done everything except put the keyboard together from your images and
spreadsheet. Shouldn't take too long, I just need to find time. Possibly
Monday evening.

Is a Farsi TTS voice available?

On Sat, 15 Jun 2019, 22:57 siamakmu, <notifications@github.com> wrote:

[2019-06-15 22:04] JuliusSweetland commented on #568
@siamakmu Also, would Nazli be a better choice instead of Terafik? I liked Terafik as it looked cleaner and easier to read, but I don't know what it looks like to someone who can read Farsi.

[2019-06-15 22:08] siamakmu commented on #568
Thanks again for your time.

Do you mean open source TTS with API?
I know a good one but it's not free.
is there any open source project for making a new TTS?

About font, actually most of formal written things like books, newspapers and etc are very similar to Nazli . but it doesn't mean Terafik isn't popular. is there any problem with Nazli?

[2019-06-15 22:18] JuliusSweetland commented on #568
I did mean free voices, yes. Does Microsoft bundle one with a Windows
language pack?

Creating a new voice will be difficult - I wouldn't recommend going down
that route.

I will switch the default font to Nazli. There's no problem with it.

On Sat, 15 Jun 2019, 23:08 siamakmu, <notifications@github.com> wrote:

[2019-06-15 22:43] siamakmu commented on #568
No, Microsoft doesn't release any Farsi TTS.
I tested a few TTS demo already. the best free one is Ariana. it has 199 character limit but the problem is it's in their website also with CAPTCHA.
 they has a telegram robot https://telegram.me/agparianabot too.
also a wordpress plugin available. I call them an ask for a solution. what I have to tell them?

[2019-06-15 22:45] JuliusSweetland commented on #568
To work with OptiKey (without further development) the voice needs to
either be SAPI compliant, or compatible with MaryTTS.

On Sat, 15 Jun 2019, 23:43 siamakmu, <notifications@github.com> wrote:

[2019-06-15 22:48] JuliusSweetland commented on #568
Fyi we don't NEED a voice for OptiKey. I can leave it to the end users to
buy one that suits them. I am mainly asking so I can test the speech works

On Sat, 15 Jun 2019, 23:45 Julius Sweetland, <juliussweetland@gmail.com>
wrote:

[2019-06-16 11:29] JuliusSweetland commented on #568
Unicode Arabic characters:

![image](https://user-images.githubusercontent.com/4722561/59563453-7065e000-9032-11e9-9dd7-99e1643363fb.png)

[2019-06-16 12:53] JuliusSweetland commented on #568
@siamakmu Few questions for you:

On keyboard 1: is that a standard fullstop in position 34?
On keyboard 2: is that a standard colon in position 4?
On keyboard 2: is that a standard comma in position 7?
On keyboard 2: is that a standard forward slash in position 8?
On keyboard 2: is that a standard equals in position 12?

The above all appear to be western characters. Is that correct? I may have m

[2019-06-16 19:46] JuliusSweetland commented on #568
@siamakmu The Urdu keyboard contains this character: ؟

Do we need this?

[2019-06-16 20:24] siamakmu commented on #568
Yes.
Yes.
Yes.
Yes.
Yes.

Also yes for ؟ cause Persian is rtl and the question mark must be reverse.

[2019-06-16 21:17] JuliusSweetland commented on #568
@siamakmu Ok thank you. I have replaced the fullstop on Alpha2 and ConversationAlpha2 (character 34) with ؟

[2019-06-16 21:29] JuliusSweetland commented on #568
@siamakmu Ok, I have a pre-release version ready for you. Please download it from here: https://github.com/OptiKey/OptiKey/releases/download/v2.24.0_pre-release-10/OptiKeySetup-2.24.0.exe

When you run it you'll need to change the Keyboard language to "Persian (Iran)". You should also change the UI Language to Persian, and the font to one of the Persian fonts. If you forget to change the last two

[2019-06-17 21:55] siamakmu commented on #568
Dear Julius,
Many Thanks for done this. I was testing it in past 24 hr.
1. Where can I change the UI Language?
2. Where can I change the Font?
3. The default font is not Nazli, it doesn't seems good.
4. The numbers in "123+!=" are not Farsi numbers but in Keyboard 2 is true.
5. Is it possible typed letters and words start from right to left?
6. In Conversation mode when I go to keyboard 2 I can't

[2019-06-18 11:16] JuliusSweetland commented on #568
@siamakmu Here are my answers:

From the Management Console - with OptiKey focussed press ALT + M, or right click on OptiKey and select "Management Console". Once open navigate to the "Words" tab and change both the Keyboard and UI language to "Persian (Iran)".

Also in the Management Console.  From memory this is in the "Visuals" tab.

I don't think the font has been changed as I suspect you sele

[2019-06-18 20:51] siamakmu commented on #568
LOL! I don't know why I didn't saw Management Console with many various options! anyway thank you so much. All fonts are ok just Nazli is not Nazli and show another font style.

Thanks for explain. in that Image I sent with 7 character with blue highlight, Just 3 up letters (1, 2, 3) can type after "ا" (letter number 18) and usually at the end of the word so it need to type space after it. but num

[2019-06-18 22:00] JuliusSweetland commented on #568
Glad it's working better.

1.When you say that diacritics 13 (Fatha), 14 (Damma), 15 (Kasra), 16 (Shadda) can be used on any letter this is the set I am currently using: آض ص ث ق ف غ ع ه خ ح ج چ ش س ی ب ل ا ت ن م ک گ ظ ط ژ ز ر ذ د و پ
a)I believe some of these already have Diacritic marks on them - can I combine diacritics 13, 14, 15 with all of these?
b)Am I missing any other letters from the fir

[2019-06-19 08:22] siamakmu commented on #568
1.
a) Yes these can use after all of these except " آ ". maybe you ask what is these. it's a few years people don't use these anymore in 99% but it use to show the voice especially for new words or special and hard words. for exam "Bag" word is Persian (without translate) is " بگ ". So B=ب and g=گ but where is the "a"??? for common words people know what is the left letters (like "a" in this exam)

[2019-06-19 22:37] JuliusSweetland commented on #568
@siamakmu Thanks.

1.I have removed the ability to apply the first 4 diacritics to the "آ" key.

2.Regarding the font - I have found a problem why this wasn't displaying correctly. OptiKey was falling back to a default font. I have corrected this now:
![image](https://user-images.githubusercontent.com/4722561/59804069-40923300-92e5-11e9-86e4-38efe9dc118e.png)

3.Regarding re-calibrate - yes this o

[2019-06-20 09:13] siamakmu commented on #568
Please check this test for GazePointer. I record a video of GazePointer performance. I think it's very cool just with a camera. I use a 720P webcam. befor it I used a low quality webcam and after using a 720p webcam I feel the difference more accuracy. so I think it even can be better with 1080P or more webcam.
As GazePointer is free I think it worth you work on it to increase its performance.
[Re

[2019-06-20 09:44] JuliusSweetland commented on #568
I will certainly try it out.

OptiKey can be controlled by the mouse cursor, and it also has "magnetic
cursor" to move the mouse cursor where you are looking.

On Thu, 20 Jun 2019, 10:13 siamakmu, <notifications@github.com> wrote:

[2019-06-20 09:45] JuliusSweetland commented on #568
How is the latest version of OptiKey? Let me know if there is anything
remaining to fix and I'll try to get it completed this weekend.

On Thu, 20 Jun 2019, 10:44 Julius Sweetland, <juliussweetland@gmail.com>
wrote:

[2019-06-20 11:52] siamakmu commented on #568
Nazli font is ok now.
just there is one thing, as I told the true way in Persian typing is:
typing letter at first then type its diacritic but OptiKey is inverse.

for magnetic cursor do you mean I have to use third party software? Can you explain more?

[2019-06-20 14:45] JuliusSweetland commented on #568
@siamakmu Answers:

1.Regarding the order you type diacritics and letters - this can be switched by turning on the 'Type diacritic marks after letters' setting. I am working to change OptiKey so that you will select the main language in the OptiKey installer, which for Farsi and Urdu will set 'Type diacritic marks after letters' to true. I will also change the way the Management Studio works so th

[2019-06-20 20:18] siamakmu commented on #568
1. Thanks, it's good.
2. Clear, thank you so much.

I translate all words but I don't know why this is empty.
![image](https://user-images.githubusercontent.com/51283486/59876747-a3ed9500-93b9-11e9-9c7f-de0db5323c77.png)

I checked the transifex and I already translated it.
![image](https://user-images.githubusercontent.com/51283486/59878630-09dc1b80-93be-11e9-8e3f-da80725bbd20.png)

Also I saw a

[2019-06-23 12:08] JuliusSweetland commented on #568
@siamakmu I think the translation is a bit wrong. The formatting needs to be exactly the same as the english string, i.e. a singular version of the sentence, followed by the bar (|), followed by the plural version of the sentence:

Adjust by {0} pixel|Adjust by {0} pixels

Could you please post the corrected string here. The current one is:
{0} پکسل سے  بڑا /چھوٹا کریںl {0} پکسل سے ٹھیک کریں

[2019-06-23 12:17] JuliusSweetland commented on #568
@siamakmu A question: is Persian the same in Afghanistan? I understand it is called Dari. Are there any significant differences, or can I use your keyboards and translations for Dari also?

[2019-06-24 17:08] siamakmu commented on #568
I revised it. thanks.

Some keyboards use "ی" and some other use it's Arabic style "ي". but in some
non-smart search like notepad search or Microsoft office or browser search (not search engines) can't join both of these and I use both of this myself for better result. do you have any offer for changing it?

Their dialect are difference in their country. some places is Afghanistan speak near Persi

[2019-06-24 17:12] JuliusSweetland commented on #568
I would go with the more correct spelling. OptiKey should be able to
display it correctly as I'm using a Farsi font. Please let me know when
it's available and I'll create a new version for testing.

Have you tested OptiKey with your patient yet? I'd be very interested to
know how testing goes.

On Mon, 24 Jun 2019, 18:08 siamakmu, <notifications@github.com> wrote:

[2019-06-24 21:19] JuliusSweetland commented on #568
@siamakmu New version available here: https://github.com/OptiKey/OptiKey/releases/download/v2.24.0_pre-release-11/OptiKeySetup-2.24.0.exe

Please let me know if there are any further questions.

[2019-06-25 13:43] siamakmu commented on #568
Thank you so much for new release and everything,
I had a problem with .NET Framework install for for OptiKey on our patient's laptop. also GazePointer didn't detect the webcam on his laptop!
As you know already I installed GazePointer on my pc with windows 10 to test it and it runs correctly but when I Install it on my patient laptop (windows 8 ) it stack on "Please wait, Camera initialization...

[2019-06-25 13:51] JuliusSweetland commented on #568
@siamakmu I'm sorry to hear that. No, I don't know how to fix the problem with GazePointer. Would the patient be able to use an eye tracking device? A low cost one such as the Tobii 4C works very well.

[2019-06-26 20:41] siamakmu commented on #568
unfortunately there is no Tobii products in our country.
I solved the GazePointer "Please wait, Camera initialization..." problem . I had to install "Microsoft Visual C++ Redistributable Package (x86)".
our patient were in hospital today. I will test for him when he come back to home will and update you.

I found a open source project (PyGaze) but it seems it doesn't work with webcam too. you are

[2019-06-26 20:57] JuliusSweetland commented on #568
@siamakmu Where exactly are you and what is your position and relationship to the patient? If I understand a bit more I may be able to ask Tobii to let you buy directly from them.

[2019-06-26 21:11] siamakmu commented on #568
I live in Iran (Tehran).
he is one of my relatives.

[2019-06-26 21:31] JuliusSweetland commented on #568
@siamakmu please try to order from here: https://gaming.tobii.com/product/tobii-eye-tracker-4c/

When I tried to buy the Tobii 4C it seems to allow ordering to Tehran.

[2019-06-26 21:40] siamakmu commented on #568
Nice and good. Thank you so much Julius.
Does Tobii 4C have nice result or cause it was cheapest you offer to me?

[2019-06-26 21:42] JuliusSweetland commented on #568
The 4C is excellent for the price. There are other more expensive options,
but I don't see any improvement. The 4C is what you want.

On Wed, 26 Jun 2019, 22:40 siamakmu, <notifications@github.com> wrote:

[2019-06-26 21:54] siamakmu commented on #568
ok Thank you so much for everything.

[2019-06-26 21:56] JuliusSweetland commented on #568
No problem at all. I'd be really interested to hear how your relative finds
OptiKey and also if you find any Persian voices that I could share with
other users?

Are you happy that Persian is complete then?

On Wed, 26 Jun 2019, 22:54 siamakmu, <notifications@github.com> wrote:

[2019-06-27 10:22] siamakmu commented on #568
Actually I found OptiKey from GazePointer page. it was in recommended applications in GazePointer applications SourceForge page.
About Persian voice, if you mean TTS, there is just one company that has acceptable result after convert text to speech. it is [Ariana Persian Text To Speech](http://www.farsireader.com/english/). I don't how much they want to share their API with you. please give me som

[2019-06-27 11:41] JuliusSweetland commented on #568
@siamakmu Thank you for the TTS voice. It looks to be an online/locally installed API service, so I don't believe you can use this with OptiKey I'm afraid.

Let me know if you update the Transifex translations and I will integrate your changes into OptiKey.

Thanks again for all your help! I will release this new version asap.

[2019-06-28 18:42] JuliusSweetland commented on #566
https://social.msdn.microsoft.com/Forums/vstudio/en-US/7b365595-a425-4c06-830d-31cfa6c91b20/is-this-a-bug-or-by-design-settings-declared-internal-when-autogenerated?forum=csharpgeneral

The setting classes will get it's values from (in order):
- local user.config file
- roaming user.config file
- application.config file
- machine.config file
- DefaultSettingsValue attribute on the setting itself.

[2019-06-29 09:29] JuliusSweetland commented on #566
@kmcnaught FYI I have checked in a small change on master to include the app.config file. This allows us to change the default setting values from the installer. I have tested changing values before packaging the files into an installer and it works as expected.

[2019-07-01 10:02] siamakmu commented on #568
Hi Julius,
Sorry for my absent.
I fixed Transifex translations.
I called for TTS. he told our service is cloud you can check our free samples [here](http://www.farsireader.com/connection/). he told please check these at first then we can talk more. also I asked for offline without any character limit and he told it's around $100.
Anyway if you think there a way to use this TTS in OptiKey and coope

[2019-07-01 15:02] siamakmu commented on #568
Do you have Tobii 4C yourself?
if yes can you please install and test GazePointer with a good webcam then tell me if there is better performance with Tobii 4C?

[2019-07-02 21:32] hmcomer commented on #517
Hi @JuliusSweetland, I just updated to version 2.24. You implemented a setting to type the accents before or after the letter (if I understood it correctly). Does this relate to this issue?

If this is the case, I don't think this solved this issue. In Turkish it doesn't seem to 'back one' the whole character, if that setting is on or off.

[2019-07-02 21:40] JuliusSweetland commented on #517
Hi. No that setting only relates to how diacritics are added to letters.

On Tue, 2 Jul 2019, 22:32 hmcomer, <notifications@github.com> wrote:

[2019-07-03 12:26] JuliusSweetland commented on #568
@siamakmu I've tried to use the GazePointer app with a webcam, but I can't see how to calibrate or control it. I only get this message:

![image](https://user-images.githubusercontent.com/4722561/60591307-1a18d100-9d96-11e9-8eeb-64cf0a134e8b.png)

[2019-07-03 15:17] lsaranto commented on #148
I would like to translate the finnish language. I've requested the language and it's been accepted. When I go to join the team Finnish is not on the list.

[2019-07-03 20:29] JuliusSweetland commented on #148
@Isaranto Hi - I have accepted this request again. Please try now and email me if you have any questions, or when you are finished translating and we can discuss the next steps, i.e keyboard layouts, word lists, etc.

[2019-07-03 21:15] siamakmu commented on #568
It's so strange indeed! you don't have "Start Gaze Calibration" and setting gear icon!
![image](https://user-images.githubusercontent.com/51283486/60623876-0bafd100-9df9-11e9-8816-b34e61fb7e5e.png)
As you know I had problem with running GazePointer on a fresh windows and finally it solved with installing Microsoft Visual C++ Redistributable Package (x86) (I don't remember with year version but I t

[2019-07-03 21:28] JuliusSweetland commented on #568
@siamakmu I will try installing C++ package and trying again - thanks.

I'm really glad your patient liked OptiKey. Hello to him! He is very welcome.

I know the 4C works with patients using a napkin as I have seen videos of a user in Poland using OptiKey with the 4C who also uses a napkin to keep her mouth from drying out. I think you will find the performance of the 4C much better than a webcam,

[2019-07-03 21:39] JuliusSweetland commented on #568
@siamakmu I'm afraid reinstalling the C++ redistributable package did not improve anything with GazePointer.

[2019-07-04 05:07] siamakmu commented on #568
ok, thanks for your try to run GazePointer, thanks for your info about patient that used a napkin, it was a useful information for us, thanks for everything great man.

[2019-07-10 20:22] JuliusSweetland commented on #568
@siamakmu I'm afraid reinstalling the C++ redistributable package did not improve anything with GazePointer.

[2019-07-10 20:22] #568 closed

[2019-07-10 20:22] #540 closed

[2019-07-12 09:58] JuliusSweetland commented on #148
@Isaranto Hi, I can see the Finnish translation on Transifex is complete. Please let me know if you are available to continue working to create the keyboard(s) etc?

[2019-07-12 10:28] isaranto commented on #148
Hi! You have the wrong email address! I think you are looking for LSARANTO
while my starts with an i (isaranto).

On Fri, Jul 12, 2019, 12:59 Julius <notifications@github.com> wrote:

[2019-07-12 10:30] JuliusSweetland commented on #148
@isaranto Ah apologies. Thanks for letting me know!
@lsaranto Hi, I can see the Finnish translation on Transifex is complete. Please let me know if you are available to continue working to create the keyboard(s) etc?

[2019-07-12 21:02] lsaranto commented on #148
@JuliusSweetland Yes, I just finished fixing some mistakes I realised I had made. The translation is now finished and ready. I can try to do the rest of the steps, too.

[2019-07-12 23:19] JuliusSweetland commented on #148
Sounds great. Please let me know if you have any questions.

On Fri, 12 Jul 2019, 22:02 lsaranto, <notifications@github.com> wrote:

[2019-07-13 20:48] lsaranto commented on #148
@JuliusSweetland First a question about the needed word list. Is this ok [http://kaino.kotus.fi/sanat/nykysuomi/](http://kaino.kotus.fi/sanat/nykysuomi/) ? I don't know anything about licenses.

The Institute for The Languages of Finland publishes a glossary of contemporary Finnish words supplemented with spelling information. The word list is not an exhaustive or authoritative list of Finnish wor

[2019-07-15 08:16] JuliusSweetland commented on #148
@lsaranto That word list looks great, but we'd need to extract just the words - one per line. Reading the details a bit it sounds like there is some meta information about each entry: can you check if all the words are complete on their own, or if this list gives enough information so that a user can recreate a much larger word list from the stems + endings (for example)?

And yes, the licenses ar

[2019-07-16 12:29] lsaranto commented on #148
@JuliusSweetland Yes, I have extracted just the words from the list. The words in the list are in their basic form. I don't know if you are familiar with the Finnish language, but the Finnish language doesn't use for example prepositions. Instead, endings are added to the basic form of the word. So decoding the meta information to each word would make the list extremely large. Also, the given key

[2019-07-16 12:44] JuliusSweetland commented on #148
@lsaranto Ok I have created the new branch (you wouldn't have been able to do this on my repository): https://github.com/OptiKey/OptiKey/tree/Finnish

Would it be easier to email me the files and I'll add them to the solution and then check it back into the new Finnish branch. After that I'll let you know and you can clone my branch to complete the other steps? You can email them to me at julius@o

[2019-07-17 15:57] lsaranto commented on #148
I've made the changes and now trying to push. For some reason I get an error:

Remote: Permission to OptiKey/OptiKey.git denied to lsaranto.
Error encountered while pushing to the remote repository: Git failed with a fatal error.
unable to access 'https://github.com/OptiKey/OptiKey.git/': The requested URL returned error: 403
Pushing to https://github.com/OptiKey/OptiKey.git

Sorry for being such

[2019-07-17 18:07] JuliusSweetland commented on #148
No problem at all. So that error like like you've cloned MY repo (the first
OptiKey in that URL is my team name, the second is the repo name), made
changes, and more are trying to push your changes back to MY repo. That's
not allowed as I own that repo. Instead you need to:

A) physically copy the files on your computer to a different location so
you won't lose your changes
B) FORK my project. It

[2019-07-21 18:36] amywhays commented on #412
I'm just started using Gopher360 with an Xbox one controller on a Windows 10 Pro PC.   It seems to work well with OptiKey so far.    I set OptiKey to accept the mouse position and mouse button for the Pointer Device Source and Key Selection Source respectively in the Management Console.  I don't have an eye tracker yet.

Gopher360: https://github.com/Tylemagne/Gopher360

[2019-07-24 19:50] lsaranto opened #574 "Dynamic keyboard font size"
I wanted a stripped version of the default alpha keyboard so I made a dynamic keyboard. Why isn't the font size on the keys as big as it is on the default keyboard? The keys on my dynamic keyboard are big enough for the letters to fit properly. It's just a visual thing, but still.

A few additional questions, if you don't mind. What are BorderThickness and SymbolMargin tags? How exactly does the H

[2019-07-26 13:04] JuliusSweetland commented on #574
Hi Lsaranto,

1.Text size on keys is determined automatically. Keys are grouped into 3 sets: keys with symbols and text, keys with symbols only, and keys with text only. Keys which span more than one row or column are split out and treated separately. Now within each group a font size is determined so all keys have the same font size. Essentially this means you need to look for keys with long text

[2019-07-26 13:30] JuliusSweetland commented on #148
@lsaranto Please could you test the pre-release of v2.25.0 to see if Finnish works as expected: https://github.com/OptiKey/OptiKey/releases

[2019-07-26 15:43] lsaranto commented on #574
1. Ok, I get the logic.

Just for reference, here's the default keyboard on my screen.

![OptiKey_2019-07-24_18-32-19](https://user-images.githubusercontent.com/52409168/61962508-51b01d00-afd2-11e9-9e34-3b5d97ee3587.png)

And here's the dynamic keyboard I've made. The cells are all 1 high and 2 wide.

![OptiKey_2019-07-26_17-52-50](https://user-images.githubusercontent.com/52409168/61962709-caaf74

[2019-07-28 13:23] JuliusSweetland commented on #574
@lsaranto Thanks for pointing this out. I've just made a change to the way the SharedSizeGroup is determined. It now renders single characters on keys much larger. I'll create an installer later today once I've finished looking at another issue.

Regarding the labels on symbol keys - this does work. Just set a "<Label>TEXT</Label>" on an action key.

[2019-07-28 14:52] lsaranto commented on #148
@JuliusSweetland Yes, it's ok.

[2019-07-30 08:23] lsaranto commented on #574
Going back to the Height tag. You said: "by default this is the docked height". So do you mean I can change it somehow? If not, would you consider
 changing the code so that the Height tag has an effect also when Optikey is not docked? Or maybe add another tag?

[2019-07-30 10:40] JuliusSweetland commented on #574
@lsaranto Yes, the height tag in a dynamic keyboard only currently effects the docked height. I can possibly take a look into making this work when floating as well, but it requires a bit of work

[2019-07-30 18:20] JuliusSweetland commented on #148
@lsaranto Thanks. I'll release it asap.

[2019-07-31 04:27] JorgeMattos commented on #574
This is because ctrl ends up decreasing the others, puts ct below rl, or uses one and a half key for ctrl. Look at the sprint.
![Capturar](https://user-images.githubusercontent.com/39384525/62183919-607c3400-b332-11e9-844f-0921a8c8b2ea.JPG)

[2019-07-31 10:14] JuliusSweetland commented on #574
Hi Jorge. It partly is that, but it was mainly because keys with a single
character and keys with multiple characters (eg CTRL) were being grouped
together for sizing purposes. I have split them out and now single
characters are being rendered much larger.

On Wed, 31 Jul 2019, 05:27 Jorge Mattos, <notifications@github.com> wrote:

[2019-08-04 08:44] Ishaan28malik commented on #560
Can you point out exactly which file might be creating the problem ? @kmcnaught

[2019-08-04 08:45] Ishaan28malik commented on #557
Do you want to include the mouse overs or just another zoom-in option ?
@kmcnaught

[2019-08-04 08:46] Ishaan28malik commented on #548
Can you please add a description to this issue so that I can work upon this?
@kmcnaught

[2019-08-04 09:31] JuliusSweetland commented on #560
If you look in app.xaml.cs you'll see code to set up handling of crashes. I
use an external library to display the crash message, gather logs and a
crash dump, and then email them in next startup. This has worked for a long
time, but recently I switched to a Google SMTP server, which I believe it's
blocking these emails. The problem you'll face is that the settings are
encrypted.

I would be open

[2019-08-04 18:15] JorgeMattos commented on #574
Sorry I'm absent, I'm writing a Technical site about Optikey + tobii in Portuguese.
I really wanted an interview from you Julius Sweetland?
The Site will be called Voice ALS.
https://vozela.org

[2019-08-05 06:28] JuliusSweetland commented on #574
Hi Jorge. Sure that will be fine. When would you like to do that?

On Sun, 4 Aug 2019, 19:15 Jorge Mattos, <notifications@github.com> wrote:

[2019-08-05 11:49] JuliusSweetland commented on #548
@Ishaan28malik This is a simple rename to change the "MANUAL MODE" to a "MOUSE CONTROL MODE" or similar.

[2019-08-05 11:51] JuliusSweetland commented on #557
@Ishaan28malik Kirsty to clarify, but I believe this issue is to add a new click method where a zoom in effect is animated, which also allows the user to fine tune where the click is effected by allowing the user to adjust as the screen zooms in. This is similar to how clicks can be performed in Tobii software.

[2019-08-06 04:06] Ishaan28malik commented on #548
Oh I see , let me work on this issue then

[2019-08-07 15:56] JorgeMattos commented on #574
I am creating a form with the questions.
When you're done I'll send the link,
Thank you so much for everything you have done for us impatiently from ALS.
We love you...

[2019-08-07 17:13] JuliusSweetland commented on #574
You're welcome. Looking forward to the website.

On Wed, 7 Aug 2019, 18:09 Jorge Mattos, <notifications@github.com> wrote:

[2019-08-12 07:59] Ishaan28malik commented on #560
I feel this is the best option we got, let me have a look at the file , else we can implement the Firebase to get crash email alerts .

[2019-08-12 08:00] JuliusSweetland commented on #560
Sounds good thanks

On Mon, 12 Aug 2019, 08:59 Championrunner, <notifications@github.com> wrote:

[2019-08-12 08:09] Ishaan28malik commented on #548
I am not able to find any keyname as MANUAL MODE ....

[2019-08-12 08:13] JuliusSweetland commented on #548
If you do a text search you would find it in the English resource file.

On Mon, 12 Aug 2019, 09:09 Championrunner, <notifications@github.com> wrote:

[2019-08-12 08:56] Ishaan28malik commented on #557
Ok let me check on the Tobii software files first

[2019-08-12 09:06] JuliusSweetland commented on #557
You might be able to see an example of how it works on YouTube

On Mon, 12 Aug 2019, 09:56 Championrunner, <notifications@github.com> wrote:

[2019-08-14 10:57] #548 closed

[2019-08-15 19:15] annakirkpatrick opened #581 "Incorrect expand/collapse dock icons on mouse keyboard when docked to bottom on screen"
This is a really minor issue, but hopefully will also be an easy fix.

Because of recent physical workspace set up changes, I've been experimenting with docking Optikey to the bottom of my screen (rather than the top, as has been my preference in the past).

With Optikey set up this way (docked to the bottom), the expand dock and collapse dock icons on the mouse keyboard appear to be drawn for a k

[2019-08-19 12:29] kmcnaught commented on #581
Hi Anna,

It looks like the symbols are the same, but with an orientation applied in this code:
[src/JuliusSweetland.OptiKey.Core/UI/ValueConverters/MinimiseAndDockPositionToSymbolOrientation.cs](https://github.com/OptiKey/OptiKey/blob/master/src/JuliusSweetland.OptiKey.Core/UI/ValueConverters/MinimiseAndDockPositionToSymbolOrientation.cs)

You can see where the converter is used in the xaml here,

[2019-08-21 10:28] JuliusSweetland commented on #581
@annakirkpatrick You could add logging to the converter to see which values are passed in:

https://github.com/OptiKey/OptiKey/blob/master/src/JuliusSweetland.OptiKey.Core/UI/ValueConverters/MinimiseAndDockPositionToSymbolOrientation.cs

The way it works is that the key is defined like this:

`<controls:Key Grid.Row="8" Grid.Column="6" Grid.RowSpan="2"
              SymbolGeometry="{StaticResource

[2019-08-26 14:23] AblingerOscar opened #583 "Update contribution guide"
First up, I just found this project and think it's amazing.
When searching on how to contribute (mainly to add it to our [new awesome list](https://github.com/awesome-global-contributions/awesome-global-contributions)), I noticed that the contributing.md is lacking any tutorial on how to do this.

Might i suggest at least adding a link to https://github.com/OptiKey/OptiKey/wiki/Contribute? I could

[2019-08-28 14:03] JuliusSweetland commented on #583
@AblingerOscar Hi. Thanks for your suggestions. There is currently a link from the wiki (right at the bottom) to the contributing page (see below), but I will definitely add it to the contributing.md file.

The solution project architecture is being changed quite dramatically at the moment, but when that is complete I will definitely look to enhance the contributing guide(s).

Will OptiKey be feat

[2019-08-28 14:10] JuliusSweetland commented on #583
This time with more screenshots:

![image](https://user-images.githubusercontent.com/4722561/63863366-052b7900-c9a6-11e9-80ce-6b7e59b3eb20.png)

[2019-08-28 14:59] AblingerOscar commented on #583
Hey @JuliusSweetland, I'm aware of that link, but it's not somewhere, where I'd search for a contribution guide ^^
I searcher 1) README 2) CONTRIBUTING 3) Start of Wiki 4) Google
Maybe I'm the outlier, but it definitely doesn't hurt having a link in the Contribution file :)

And, yes, we'd like to feature this project to that list.

[2019-08-28 15:32] JuliusSweetland commented on #583
@AblingerOscar Great, thanks very much!

[2019-08-29 17:27] Ishaan28malik commented on #560
This I think will be updated if we update the database in Firebase or any other service, they have an inbuilt function for the same

[2019-08-29 17:29] Ishaan28malik commented on #559
So is this startup wizard being prepared or is it still pending? @kmcnaught  @JuliusSweetland

[2019-08-29 17:30] Ishaan28malik commented on #546
Is it still pending or it's done?

[2019-08-29 18:52] JuliusSweetland commented on #546
Still pending

On Thu, 29 Aug 2019, 18:30 Championrunner, <notifications@github.com> wrote:

[2019-08-29 18:52] JuliusSweetland commented on #560
I'm happy to change the emailing mechanism

On Thu, 29 Aug 2019, 18:27 Championrunner, <notifications@github.com> wrote:

[2019-08-29 18:53] JuliusSweetland commented on #559
Pending, but I would wait. OptiKey is currently being split into 4 versions

On Thu, 29 Aug 2019, 18:29 Championrunner, <notifications@github.com> wrote:

[2019-08-29 19:02] Ishaan28malik commented on #560
oh ok, sounds great

[2019-08-29 19:03] Ishaan28malik commented on #559
Oh that's new

[2019-09-03 13:31] AdamRoden opened #584 "Program Selectively Ignoring Keystrokes from Optikey"
# How OptiKey was being used
Using Optikey as my keyboard, I open a phone mirroring application called Scrcpy. Once the program is open, I try to type, but the only characters Scrcpy responds to are numbers.

# What the user expected to happen
Scrcpy does work normally with other on-screen keyboards, so I expect the alphabet and navigation keys to be recognized.

# What the user actually experienc

[2019-09-03 14:58] JuliusSweetland commented on #584
@AdamRoden By default OptiKey uses methods to work out how to publish the correct virtual key code, which corresponds to the key position of the character you are trying to type. Simply put if you are using an English UK keyboard layout in Windows and type the "t" key, then OptiKey publishes a press event for the 5th key in the top row (or wherever "t" is located).

3 questions/ideas:

1.Are you u

[2019-09-05 14:12] adrianocruz86 commented on #569
https://www.howtogeek.com/352787/how-to-set-per-app-sound-outputs-in-windows-10/

Windows 10 now lets you choose which sound output and input devices individual apps use. So you can set optikey to your wired speakers and set a bluetooth speaker as the main audio (for other apps and windows). And it's nice that the main volume only affects the main audio output, so you can keep optikey with 100% vo

[2019-09-05 14:16] adrianocruz86 commented on #569
The only problem is that the attention key (for some reason) keeps using the main audio output.

[2019-09-06 12:39] JuliusSweetland commented on #569
@adrianocruz86 I'm confused by this. All sound effects (key selection sounds, error sounds, the attention key, etc) all use the same method (audioService.PlaySound) to play their sound effect. Are you sure only the Attention sound is coming out of a different device?

[2019-09-06 13:07] adrianocruz86 commented on #569
@JuliusSweetland Not only the attention key, all sound effects are coming out from the Windows main audio output. Only speech can be set to a different output.
So when I navigate to Settings > System > Sound > “App Volume And Device Preferences” and set Optikey app to use a different output device and different volume, that only works for speech.

[2019-09-06 20:31] AdamRoden commented on #584
None of the 3 ideas led to a solution.

My guess is Scrcpy not utilizing the language keyboard defined in Windows or something with the way the Android Debug Bridge works.

I am able to work around the issue by using AutoHotkey to intercept and resubmit the keystrokes.

[2019-09-07 13:40] AdamRoden commented on #489
Let's bring this back to life:
Here are more thoughts regarding how I would like the magnifier should function:

1. In the first step have the cursor be a large window frame with a transparent center representing the area to be magnified.
2. In the second step, (after locking onto a region), expand the window frame to magnify the area, switch to a dot or cross hair cursor, and proceed to click.
3.

[2019-09-07 15:39] AdamRoden opened #588 "Dynamic Keyboard Enhancement - Size, Position, and Docking"
In the current XML, you can define a keyboard's height as a percentage of the screen. If omitted the size does not change from the previous value.

This enhancement is to expand on that logic and incorporate the following:
1. Width expressed as either an absolute value or percentage of screen. Examples: [1920|100%]
2. Height expressed as either an absolute value or percentage of screen. Examples:

[2019-09-07 16:34] AdamRoden opened #589 "Dynamic Keyboard Enhancement - Allow Key to Trigger Multiple Actions"
This enhancement is to make it possible for a key to trigger a sequence of actions.

Examples:
1. A key that minimizes the keyboard, turns the magnifier on, executes a left click, turns the magnifier back off, and then expands the keyboard.
2. A key that turns on control lock and then jumps to another keyboard.
3. A key that sends a a keystroke, turns off control lock, and then jumps to another ke

[2019-09-07 17:08] AdamRoden opened #590 "Dynamic Keyboard Enhancement - Custom Styles, Icons, Images"
This enhancement is to be make it possible to set various attributes of each key on a keyboard.
1. Font Name
2. Font Size
3. Font Weight
4. Foreground Color
5. Background Color
6. Style (Encompassing 1-5)
7. Opacity
8. Path for a custom icon/image
9. Dwell settings

[2019-09-07 17:19] AdamRoden opened #591 "Dynamic Keyboard Enhancement - Keys to Display & Alter System Settings"
This enhancement is to add two new features.
1. The ability to retrieve a value, such as the "Adjust by pixel" amount and display it in a key's label.
2. The ability to submit a change to a system setting, such as the "Adjust by pixel" amount.

[2019-09-07 20:50] AdamRoden opened #592 "OptiKey does not close gracefully when done via right-clicking the Windows Taskbar icon"
Using version 2.24 of OptiKey, the following behavior can be observed in Windows Task Manager. When attempting to close OptiKey from the Windows taskbar, the application ends,  and the window disappears, but a new background process is created, and the background process continues to function as an invisible keyboard tracking your eyes and submitting keystrokes.

Steps to reproduce:
1. Start OptiK

[2019-09-08 08:48] alexandre-mbm commented on #589
I would to want the Conversatiton keyboard jumping to the Writing keyboard
when copying the typed text. My father is needing the keyboard in full
screen.

Em sáb, 7 de set de 2019 1:34 PM, AdamRoden <notifications@github.com>
escreveu:

[2019-09-08 09:18] alexandre-mbm commented on #590
"Dwell settings" — very good!

[2019-09-09 11:20] JuliusSweetland commented on #590
@AdamRoden Dwell settings = time to select?

[2019-09-09 11:22] JuliusSweetland commented on #591
@AdamRoden I think submitting a direct change to a setting could lead to users changing the OptiKey settings to unexpected values, potentially causing problems. I would prefer for changes to be handled by new function key values which toggle or cycle predictable values.

[2019-09-09 13:11] AdamRoden commented on #591
@JuliusSweetland I can agree with you on that. Although, it inspires another idea that might be worth exploring. Here is potential new workflow:
1. User starts on the Size and Position keyboard
2. User activates the "Adjust by pixel" key
3. Instead of changing the value, this key triggers a jump to a new keyboard with a set of keys listing the valid options to set the "Adjust by pixel" value.
4. W

[2019-09-09 13:15] AdamRoden commented on #590
Correct.

[2019-09-09 13:16] JuliusSweetland commented on #591
@AdamRoden That's a good idea. If it were also a dynamic keyboard it would allow it to be reused for any numeric setting.

I guess we'd need a new type of key (or two types of key):

1.Just a label to display what the setting is.
2.Display a setting value (with format) and also link to another keyboard.

Worth noting that the new keyboard would also need a context so it knows how to get back to th

[2019-09-13 08:46] JuliusSweetland commented on #588
@AdamRoden Understood. Let's keep in touch as you implement this so we can discuss the placement parameters as you go.

Regarding 3: I don't believe eye trackers typically output any co-ordinates outside of the calibrated screen dimensions, so this may not be possible.

[2019-09-13 12:03] AdamRoden commented on #588
@JuliusSweetland After looking into the code, I've found some pieces to re-use, like the enums for MoveToDirections and WindowStates, so I will base my XML values off of those.

Regarding 3:  If true, that is a bit disappointing. I only know that it has worked for me with my Tobii 4C, even in OptiKey. If I use another program to force my keyboard outside my screen, OptiKey still activates the corr

[2019-09-13 12:28] JuliusSweetland commented on #588
Ah then from your experience it sounds like I am wrong. Ignore me.

On Fri, 13 Sep 2019, 13:03 AdamRoden, <notifications@github.com> wrote:

[2019-09-14 07:30] AdamRoden commented on #588
Julius,
The code is starting to come together quite nicely now.
At this point I'm testing my new code for xml elements tentatively named
'WindowState', 'MoveToDirection', 'Height', 'Width', 'HorizontalOffset',
and 'VerticalOffset. At this point, valid element combinations are as
follows:

   1. WindowState = Maximised
   2. WindowState = Docked
      - MoveToDirection = [Top|Bottom]
         - Hei

[2019-09-14 18:52] JuliusSweetland commented on #588
This all looks good. Could you expand on 3 a bit more. I presume the user
would select a key which would change OptiKey to be floating, but then what
would it mean for the key to also move to top by x (for example). The
movement is relative to what?

On Sat, 14 Sep 2019, 08:30 AdamRoden, <notifications@github.com> wrote:

[2019-09-14 20:30] AdamRoden commented on #588
@JuliusSweetland Good questions. I guess using "MoveToDirection" as the label might be confusing when really it is more like where to set the origin point. Conceptually, what would happen is the top center of the keyboard would jump to the top center of the screen as if it were being docked, but we are not docking. Then, the offset values get applied to set the final position of the keyboard.

[2019-09-14 20:36] JuliusSweetland commented on #588
Ah that makes sense. Thanks for clarifying.

On Sat, 14 Sep 2019, 21:30 AdamRoden, <notifications@github.com> wrote:

[2019-09-16 14:45] AdamRoden opened #595 "Keyboard Enhancement - Alt, Ctrl, Shift, Win"
I have my keyboard running at a  pretty fast rate. Key fixation to lock on is 250 ms, and time to complete is 50 ms. With these settings I can get a nice typing rhythm.

One thing that I have been getting frustrated by is the behavior of the Ctrl, Alt, and Shift keys. I do like them to activate at the same speed as all my other keys, but it is sometimes challenging to get them into the state I wan

[2019-09-17 21:28] AdamRoden commented on #595
Attached is a note regarding 2 and sample code to change the new behavior.
[PreventModifierRelease.txt](https://github.com/OptiKey/OptiKey/files/3623514/PreventModifierRelease.txt)

[2019-09-20 14:48] Ar2rZ commented on #569
@adrianocruz86  does not work correctly for me.. it setts to PC small speaker.. can not set to particular device.. only whether default device or PC speaker...

[2019-09-20 14:50] Ar2rZ commented on #569
@JuliusSweetland  as @adrianocruz86  mentioned for some reason speech only goes to other device - in my case small PC speaker, other sounds are in default device- in my case is Bluetooth speakers. So, we still need improvement.

[2019-09-20 15:32] Ar2rZ commented on #490
@JuliusSweetland @annakirkpatrick there is proposed fix a while ago..... https://github.com/OptiKey/OptiKey/issues/175

[2019-09-21 13:17] JuliusSweetland commented on #595
@AdamRoden Hi Adam. All good suggestions.

1.Adding support for different press down and lock down timing is possible. Might get confusing, but we can definitely look into this.

2.This is how a key which is locked down currently behaves. After pressing another (non-modifier) key the modifier keys (which are not locked down) are automatically released.

3.I like this. We can modify the themes to s

[2019-09-23 15:38] AdamRoden commented on #595
@JuliusSweetland Hi Julius. Here are some further thoughts/explanation.

1. In regard to when to activate shift-down, vs shift-lock, vs shift-up. Assuming a dwell time of 500 ms, the logic could be:
if (dwell on key for 500)
{
  if (Up) {trigger Down}
  if (Down && time since activating Down < 500) {trigger LockedDown}
  if (Down && time since activating Down > 500) {trigger Up}
  if (LockedDown)

[2019-09-23 15:47] JuliusSweetland commented on #595
@AdamRoden
1.The complexity is that the current framework expects an exact value on how long the users selects the key. We could change this so keys which can have 3 states can allow you to progress through 2 states in one selection, but really this could be achieved by making two concurrent selections on the same key. I get what you're aiming for, but I am struggling to think how to achieve this,

[2019-09-23 16:11] AdamRoden commented on #589
@JuliusSweetland I've got a functioning version of this in place, but I'm not exactly happy about what I had to do to pull it off. I started out thinking I would make it all xml, but for simplicity I ended up using a string of name value pairs using "|" as delimiter and "=" as the link between name and value.
Here's an example of the xml:
\<MacroKey>\<Row>1\</Row>\<Col>5\</Col>\<Macro>Text=Hello W

[2019-09-23 20:17] JuliusSweetland commented on #589
@AdamRoden I don't have an issue with a pipe separated set of values, no. What are the available Actions and other values that can be used in the Macro tag?

[2019-09-23 22:33] AdamRoden commented on #589
@JuliusSweetland If you don't see any red flags with this approach, then I might stick with it. Currently, you can have as many commands as you want in any order you want from 3 categories: Text key, Action key, Change Keyboard key. It is open to all the same actions as a standard Dynamic keyboard Action key. I didn't include plug-ins, but that might change if you think it would be valuable. Lastl

[2019-09-24 09:35] JuliusSweetland commented on #589
Understood. Sounds good. We can grow the functionality as use cases become
apparent.

On Mon, Sep 23, 2019 at 11:33 PM AdamRoden <notifications@github.com> wrote:

[2019-09-24 14:48] JorgeMattos commented on #574
Something went wrong with the dynamic keyboard version 2.25.0
I'm making a video, and I will upload the files here ok?
There were a lot of dynamic keyboard changes, I couldn't keep up with all of them, I'm reading ...

[2019-09-24 15:05] AdamRoden commented on #574
@JorgeMattos If you are referring to the back and forth between myself and Julius about dynamic keyboards, don't worry about any of that. It's all conceptual, and none of it is in version 2.25.0.

Otherwise, can you share your dynamic keyboard file along with explaining what's wrong?

[2019-09-24 15:15] JuliusSweetland commented on #574
@JorgeMattos @AdamRoden There was one commit in this release which impacts the Dynamic Keyboard logic, but I believe the change fixes something which was wrong. You may be seeing a different rendering of your dynamic keyboard(s), so if you could give us some more details we can take a look.

The commit is this one: https://github.com/OptiKey/OptiKey/commit/53e2a2e7d62327a21385d56273a465445f6be5be

[2019-09-24 15:18] JuliusSweetland commented on #574
The two logic changes in that class are:

https://github.com/OptiKey/OptiKey/commit/53e2a2e7d62327a21385d56273a465445f6be5be#diff-c4f634b466d36bb22813b911af03a5c9R167

and

https://github.com/OptiKey/OptiKey/commit/53e2a2e7d62327a21385d56273a465445f6be5be#diff-c4f634b466d36bb22813b911af03a5c9R173

[2019-09-24 15:49] JorgeMattos commented on #574
@AdamRoden  Let's take it easy. Excuse me!
I wasn't referring to you.
There is a problem with the font size.
Has problem with dynamic keyboard height below 50%.
It ignores the height value dow dynamic keyboard.
Already post the video and files.

[2019-09-24 16:03] JuliusSweetland commented on #574
@JorgeMattos I cannot see the video and files - where are please?

[2019-09-24 16:05] JorgeMattos commented on #574
I'm going up to YouTube.